 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5488_c0_seq0|m.24223 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">109 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c56 Domain"
      style="left:  11.927%;
              width: 69.725%;"
      title="Domain 14 - 89" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c56 Domain caption_puce"></span>14 - 89
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002912">ACT domain</a><span> (IPR002912)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.174%;" title="10"></span>
                    <span class="grade" style="left:18.349%;" title="20"></span>
                    <span class="grade" style="left:27.523%;" title="30"></span>
                    <span class="grade" style="left:36.697%;" title="40"></span>
                    <span class="grade" style="left:45.872%;" title="50"></span>
                    <span class="grade" style="left:55.046%;" title="60"></span>
                    <span class="grade" style="left:64.22%;" title="70"></span>
                    <span class="grade" style="left:73.394%;" title="80"></span>
                    <span class="grade" style="left:82.569%;" title="90"></span>
                    <span class="grade" style="left:91.743%;" title="100"></span>
                    <span class="grade" style="left:100%;" title="109"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.174%;"
                                  title="10"></span>
                                <span class="scale_numb"
                                      style="left:9.174%;">10</span>
                            <span class="scale_bar" style="left:18.349%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:18.349%;">20</span>
                            <span class="scale_bar" style="left:27.523%;"
                                  title="30"></span>
                                <span class="scale_numb"
                                      style="left:27.523%;">30</span>
                            <span class="scale_bar" style="left:36.697%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:36.697%;">40</span>
                            <span class="scale_bar" style="left:45.872%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:45.872%;">50</span>
                            <span class="scale_bar" style="left:55.046%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:55.046%;">60</span>
                            <span class="scale_bar" style="left:64.22%;"
                                  title="70"></span>
                                <span class="scale_numb"
                                      style="left:64.22%;">70</span>
                            <span class="scale_bar" style="left:73.394%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:73.394%;">80</span>
                            <span class="scale_bar" style="left:82.569%;"
                                  title="90"></span>
                                <span class="scale_numb"
                                      style="left:82.569%;">90</span>
                            <span class="scale_bar" style="left:91.743%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:91.743%;">100</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="109"></span>
                                <span class="scale_numb"
                                      style="left:100%;">109</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002912">IPR002912</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002912"
                                                         class="neutral">ACT domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002912-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51671" title="PS51671 (ACT)"
       class="neutral">
        PS51671
</a>

                <span>(ACT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51671-span-1"
      class="match prosite-profiles c56 Domain"
      style="left:  11.927%;
              width: 69.725%;"
      title="PS51671 14 - 89" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51671-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c56 Domain caption_puce"></span>14 - 89</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51671' class="ext">PS51671 </a>
            <span>(ACT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.174%;" title="10"></span>
            <span class="grade" style="left:18.349%;" title="20"></span>
            <span class="grade" style="left:27.523%;" title="30"></span>
            <span class="grade" style="left:36.697%;" title="40"></span>
            <span class="grade" style="left:45.872%;" title="50"></span>
            <span class="grade" style="left:55.046%;" title="60"></span>
            <span class="grade" style="left:64.22%;" title="70"></span>
            <span class="grade" style="left:73.394%;" title="80"></span>
            <span class="grade" style="left:82.569%;" title="90"></span>
            <span class="grade" style="left:91.743%;" title="100"></span>
            <span class="grade" style="left:100%;" title="109"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55021" title="SSF55021 (ACT-like)"
       class="neutral">
        SSF55021
</a>

                <span>(ACT-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55021-span-2"
      class="match superfamily uni"
      style="left:  11.009%;
              width: 62.385%;"
      title="SSF55021 13 - 80" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55021-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>13 - 80</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55021' class="ext">SSF55021 </a>
            <span>(ACT-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.174%;" title="10"></span>
            <span class="grade" style="left:18.349%;" title="20"></span>
            <span class="grade" style="left:27.523%;" title="30"></span>
            <span class="grade" style="left:36.697%;" title="40"></span>
            <span class="grade" style="left:45.872%;" title="50"></span>
            <span class="grade" style="left:55.046%;" title="60"></span>
            <span class="grade" style="left:64.22%;" title="70"></span>
            <span class="grade" style="left:73.394%;" title="80"></span>
            <span class="grade" style="left:82.569%;" title="90"></span>
            <span class="grade" style="left:91.743%;" title="100"></span>
            <span class="grade" style="left:100%;" title="109"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008152"
                   class="ext">GO:0008152</a> metabolic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016597"
                   class="ext">GO:0016597</a> amino acid binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
