 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4134_c0_seq4|m.18701 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">792 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c34 Domain"
      style="left:  5.682%;
              width: 4.293%;"
      title="Domain 46 - 79" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c34 Domain caption_puce"></span>46 - 79
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001876">Zinc finger, RanBP2-type</a><span> (IPR001876)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c45 Domain"
      style="left:  10.985%;
              width: 13.258%;"
      title="Domain 88 - 192" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c45 Domain caption_puce"></span>88 - 192
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR012677">Nucleotide-binding alpha-beta plait domain</a><span> (IPR012677)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000504">RNA recognition motif domain</a><span> (IPR000504)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c39 Domain"
      style="left:  89.899%;
              width: 6.187%;"
      title="Domain 713 - 761" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c39 Domain caption_puce"></span>713 - 761
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000467">G-patch domain</a><span> (IPR000467)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.626%;" title="100"></span>
                    <span class="grade" style="left:25.253%;" title="200"></span>
                    <span class="grade" style="left:37.879%;" title="300"></span>
                    <span class="grade" style="left:50.505%;" title="400"></span>
                    <span class="grade" style="left:63.131%;" title="500"></span>
                    <span class="grade" style="left:75.758%;" title="600"></span>
                    <span class="grade" style="left:88.384%;" title="700"></span>
                    <span class="grade" style="left:100%;" title="792"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.626%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:12.626%;">100</span>
                            <span class="scale_bar" style="left:25.253%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:25.253%;">200</span>
                            <span class="scale_bar" style="left:37.879%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:37.879%;">300</span>
                            <span class="scale_bar" style="left:50.505%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:50.505%;">400</span>
                            <span class="scale_bar" style="left:63.131%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:63.131%;">500</span>
                            <span class="scale_bar" style="left:75.758%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:75.758%;">600</span>
                            <span class="scale_bar" style="left:88.384%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:88.384%;">700</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="792"></span>
                                <span class="scale_numb"
                                      style="left:100%;">792</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001876">IPR001876</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001876"
                                                         class="neutral">Zinc finger, RanBP2-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001876-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90209" title="SSF90209 (Ran binding protein zinc finger-like)"
       class="neutral">
        SSF90209
</a>

            <span>(Ran bindi...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF90209-span-1"
      class="match superfamily c34 Domain"
      style="left:  6.061%;
              width: 3.914%;"
      title="SSF90209 49 - 79" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF90209-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c34 Domain caption_puce"></span>49 - 79</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90209' class="ext">SSF90209 </a>
            <span>(Ran binding protein zinc finger-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001876-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/4.10.1060.10" title="G3DSA:4.10.1060.10"
           class="neutral">
    G3DSA:4.10.10...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA410106010-span-2"
      class="match gene3d c34 Domain"
      style="left:  6.313%;
              width: 3.662%;"
      title="G3DSA:4.10.1060.10 51 - 79" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA410106010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c34 Domain caption_puce"></span>51 - 79</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/4.10.1060.10' class="ext">G3DSA:4.10.1060.10 </a>
            <span>(G3DSA:4.10.1060.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001876-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS01358" title="PS01358 (ZF_RANBP2_1)"
       class="neutral">
        PS01358
</a>

                <span>(ZF_RANBP2_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS01358-span-3"
      class="match prosite-patterns c34 Domain"
      style="left:  6.566%;
              width: 2.525%;"
      title="PS01358 53 - 72" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS01358-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns c34 Domain caption_puce"></span>53 - 72</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS01358' class="ext">PS01358 </a>
            <span>(ZF_RANBP2_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001876-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50199" title="PS50199 (ZF_RANBP2_2)"
       class="neutral">
        PS50199
</a>

                <span>(ZF_RANBP2_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50199-span-4"
      class="match prosite-profiles c34 Domain"
      style="left:  5.682%;
              width: 4.167%;"
      title="PS50199 46 - 78" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50199-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c34 Domain caption_puce"></span>46 - 78</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50199' class="ext">PS50199 </a>
            <span>(ZF_RANBP2_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001876-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00547&amp;BLAST=DUMMY" title="SM00547 (ZnF_RBZ)"
       class="neutral">
        SM00547
</a>

                <span>(ZnF_RBZ)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00547-span-5"
      class="match smart c34 Domain"
      style="left:  6.313%;
              width: 3.157%;"
      title="SM00547 51 - 75" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00547-popup-5" style="display: none;">

        <div class="popup_topl"><span class="smart c34 Domain caption_puce"></span>51 - 75</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00547&amp;BLAST=DUMMY' class="ext">SM00547 </a>
            <span>(ZnF_RBZ)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR012677">IPR012677</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR012677"
                                                         class="neutral">Nucleotide-binding alpha-beta plait domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR012677-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.330" title="G3DSA:3.30.70.330"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070330-span-6"
      class="match gene3d c45 Domain"
      style="left:  10.985%;
              width: 13.258%;"
      title="G3DSA:3.30.70.330 88 - 192" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070330-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d c45 Domain caption_puce"></span>88 - 192</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.330' class="ext">G3DSA:3.30.70.330 </a>
            <span>(G3DSA:3.30.70.330)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR012677-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54928" title="SSF54928 (RNA-binding domain, RBD)"
       class="neutral">
        SSF54928
</a>

            <span>(RNA-bindi...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF54928-span-7"
      class="match superfamily c45 Domain"
      style="left:  12.626%;
              width: 11.49%;"
      title="SSF54928 101 - 191" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF54928-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily c45 Domain caption_puce"></span>101 - 191</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54928' class="ext">SSF54928 </a>
            <span>(RNA-binding domain, RBD)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000504">IPR000504</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000504"
                                                         class="neutral">RNA recognition motif domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000504-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00076" title="PF00076 (RRM_1)"
       class="neutral">
        PF00076
</a>

                <span>(RRM_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00076-span-8"
      class="match pfam c45 Domain"
      style="left:  13.384%;
              width: 8.333%;"
      title="PF00076 107 - 172" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00076-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c45 Domain caption_puce"></span>107 - 172</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00076' class="ext">PF00076 </a>
            <span>(RRM_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000504-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00360&amp;BLAST=DUMMY" title="SM00360 (RRM)"
       class="neutral">
        SM00360
</a>

                <span>(RRM)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00360-span-9"
      class="match smart c45 Domain"
      style="left:  13.258%;
              width: 9.596%;"
      title="SM00360 106 - 181" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00360-popup-9" style="display: none;">

        <div class="popup_topl"><span class="smart c45 Domain caption_puce"></span>106 - 181</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00360&amp;BLAST=DUMMY' class="ext">SM00360 </a>
            <span>(RRM)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000504-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50102" title="PS50102 (RRM)"
       class="neutral">
        PS50102
</a>

                <span>(RRM)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50102-span-10"
      class="match prosite-profiles c45 Domain"
      style="left:  13.131%;
              width: 10.227%;"
      title="PS50102 105 - 185" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50102-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c45 Domain caption_puce"></span>105 - 185</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50102' class="ext">PS50102 </a>
            <span>(RRM)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000467">IPR000467</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000467"
                                                         class="neutral">G-patch domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000467-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01585" title="PF01585 (G-patch)"
       class="neutral">
        PF01585
</a>

                <span>(G-patch)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01585-span-11"
      class="match pfam c39 Domain"
      style="left:  90.278%;
              width: 5.303%;"
      title="PF01585 716 - 757" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01585-popup-11" style="display: none;">

        <div class="popup_topl"><span class="pfam c39 Domain caption_puce"></span>716 - 757</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01585' class="ext">PF01585 </a>
            <span>(G-patch)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000467-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50174" title="PS50174 (G_PATCH)"
       class="neutral">
        PS50174
</a>

                <span>(G_PATCH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50174-span-12"
      class="match prosite-profiles c39 Domain"
      style="left:  90.152%;
              width: 5.934%;"
      title="PS50174 715 - 761" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50174-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c39 Domain caption_puce"></span>715 - 761</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50174' class="ext">PS50174 </a>
            <span>(G_PATCH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000467-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00443&amp;BLAST=DUMMY" title="SM00443 (G_patch)"
       class="neutral">
        SM00443
</a>

                <span>(G_patch)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00443-span-13"
      class="match smart c39 Domain"
      style="left:  89.899%;
              width: 5.934%;"
      title="SM00443 713 - 759" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00443-popup-13" style="display: none;">

        <div class="popup_topl"><span class="smart c39 Domain caption_puce"></span>713 - 759</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00443&amp;BLAST=DUMMY' class="ext">SM00443 </a>
            <span>(G_patch)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-14"
      class="match coils uni"
      style="left:  51.641%;
              width: 3.03%;"
      title="Coil 410 - 433" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-14" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>410 - 433</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.626%;" title="100"></span>
            <span class="grade" style="left:25.253%;" title="200"></span>
            <span class="grade" style="left:37.879%;" title="300"></span>
            <span class="grade" style="left:50.505%;" title="400"></span>
            <span class="grade" style="left:63.131%;" title="500"></span>
            <span class="grade" style="left:75.758%;" title="600"></span>
            <span class="grade" style="left:88.384%;" title="700"></span>
            <span class="grade" style="left:100%;" title="792"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000166"
                   class="ext">GO:0000166</a> nucleotide binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003676"
                   class="ext">GO:0003676</a> nucleic acid binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008270"
                   class="ext">GO:0008270</a> zinc ion binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
