 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5414_c0_seq1|m.23954 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,106 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c56 Domain"
      style="left:  5.335%;
              width: 15.19%;"
      title="Domain 60 - 227" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c56 Domain caption_puce"></span>60 - 227
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029149">Creatinase/Aminopeptidase P/Spt16, N-terminal</a><span> (IPR029149)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR029148">FACT complex subunit Spt16, N-terminal lobe domain</a><span> (IPR029148)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c22 Domain"
      style="left:  20.615%;
              width: 24.322%;"
      title="Domain 229 - 497" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>229 - 497
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000994">Peptidase M24, structural domain</a><span> (IPR000994)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c20 Domain"
      style="left:  53.617%;
              width: 13.743%;"
      title="Domain 594 - 745" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c20 Domain caption_puce"></span>594 - 745
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013953">FACT complex subunit Spt16p/Cdc68p</a><span> (IPR013953)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c33 Domain"
      style="left:  79.024%;
              width: 7.595%;"
      title="Domain 875 - 958" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c33 Domain caption_puce"></span>875 - 958
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013719">Domain of unknown function DUF1747</a><span> (IPR013719)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:18.083%;" title="200"></span>
                    <span class="grade" style="left:36.166%;" title="400"></span>
                    <span class="grade" style="left:54.25%;" title="600"></span>
                    <span class="grade" style="left:72.333%;" title="800"></span>
                    <span class="grade" style="left:90.416%;" title="1000"></span>
                    <span class="grade" style="left:100%;" title="1106"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:18.083%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:18.083%;">200</span>
                            <span class="scale_bar" style="left:36.166%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:36.166%;">400</span>
                            <span class="scale_bar" style="left:54.25%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:54.25%;">600</span>
                            <span class="scale_bar" style="left:72.333%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:72.333%;">800</span>
                            <span class="scale_bar" style="left:90.416%;"
                                  title="1000"></span>
                                <span class="scale_numb"
                                      style="left:90.416%;">1000</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="1106"></span>
                                <span class="scale_numb"
                                      style="left:100%;">1106</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029149">IPR029149</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029149"
                                                         class="neutral">Creatinase/Aminopeptidase P/Spt16, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029149-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.350.10" title="G3DSA:3.40.350.10"
           class="neutral">
    G3DSA:3.40.35...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34035010-span-1"
      class="match gene3d c56 Domain"
      style="left:  5.335%;
              width: 15.19%;"
      title="G3DSA:3.40.350.10 60 - 227" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34035010-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c56 Domain caption_puce"></span>60 - 227</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.350.10' class="ext">G3DSA:3.40.350.10 </a>
            <span>(G3DSA:3.40.350.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029148">IPR029148</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029148"
                                                         class="neutral">FACT complex subunit Spt16, N-terminal lobe domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029148-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14826" title="PF14826 (FACT-Spt16_Nlob)"
       class="neutral">
        PF14826
</a>

            <span>(FACT-Spt16...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14826-span-2"
      class="match pfam c56 Domain"
      style="left:  5.515%;
              width: 14.557%;"
      title="PF14826 62 - 222" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14826-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c56 Domain caption_puce"></span>62 - 222</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14826' class="ext">PF14826 </a>
            <span>(FACT-Spt16_Nlob)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000994">IPR000994</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000994"
                                                         class="neutral">Peptidase M24, structural domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000994-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.90.230.10" title="G3DSA:3.90.230.10"
           class="neutral">
    G3DSA:3.90.23...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA39023010-span-3"
      class="match gene3d c22 Domain"
      style="left:  20.615%;
              width: 24.051%;"
      title="G3DSA:3.90.230.10 229 - 494" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA39023010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c22 Domain caption_puce"></span>229 - 494</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.90.230.10' class="ext">G3DSA:3.90.230.10 </a>
            <span>(G3DSA:3.90.230.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000994-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00557" title="PF00557 (Peptidase_M24)"
       class="neutral">
        PF00557
</a>

                <span>(Peptidase_M24)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00557-span-4"
      class="match pfam c22 Domain"
      style="left:  25.949%;
              width: 16.637%;"
      title="PF00557 288 - 471" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00557-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c22 Domain caption_puce"></span>288 - 471</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00557' class="ext">PF00557 </a>
            <span>(Peptidase_M24)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000994-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55920" title="SSF55920 (Creatinase/aminopeptidase)"
       class="neutral">
        SSF55920
</a>

            <span>(Creatinas...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55920-span-5"
      class="match superfamily c22 Domain"
      style="left:  20.886%;
              width: 24.051%;"
      title="SSF55920 232 - 497" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55920-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c22 Domain caption_puce"></span>232 - 497</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55920' class="ext">SSF55920 </a>
            <span>(Creatinase/aminopeptidase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013953">IPR013953</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013953"
                                                         class="neutral">FACT complex subunit Spt16p/Cdc68p</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013953-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF08644" title="PF08644 (SPT16)"
       class="neutral">
        PF08644
</a>

                <span>(SPT16)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF08644-span-6"
      class="match pfam c20 Domain"
      style="left:  53.617%;
              width: 13.743%;"
      title="PF08644 594 - 745" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF08644-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c20 Domain caption_puce"></span>594 - 745</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF08644' class="ext">PF08644 </a>
            <span>(SPT16)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013719">IPR013719</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013719"
                                                         class="neutral">Domain of unknown function DUF1747</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013719-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF08512" title="PF08512 (Rtt106)"
       class="neutral">
        PF08512
</a>

                <span>(Rtt106)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF08512-span-7"
      class="match pfam c33 Domain"
      style="left:  79.024%;
              width: 7.595%;"
      title="PF08512 875 - 958" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF08512-popup-7" style="display: none;">

        <div class="popup_topl"><span class="pfam c33 Domain caption_puce"></span>875 - 958</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF08512' class="ext">PF08512 </a>
            <span>(Rtt106)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-8"
      class="match coils uni"
      style="left:  48.192%;
              width: 1.899%;"
      title="Coil 534 - 554" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-8" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>534 - 554</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.083%;" title="200"></span>
            <span class="grade" style="left:36.166%;" title="400"></span>
            <span class="grade" style="left:54.25%;" title="600"></span>
            <span class="grade" style="left:72.333%;" title="800"></span>
            <span class="grade" style="left:90.416%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1106"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 4);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
