 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1473_c0_seq1|m.6464 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">740 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c49 Domain"
      style="left:  42.162%;
              width: 9.73%;"
      title="Domain 313 - 384" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c49 Domain caption_puce"></span>313 - 384
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR012340">Nucleic acid-binding, OB-fold</a><span> (IPR012340)</span><ul><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR003029">S1 domain</a><span> (IPR003029)</span></li></ul></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:13.514%;" title="100"></span>
                    <span class="grade" style="left:27.027%;" title="200"></span>
                    <span class="grade" style="left:40.541%;" title="300"></span>
                    <span class="grade" style="left:54.054%;" title="400"></span>
                    <span class="grade" style="left:67.568%;" title="500"></span>
                    <span class="grade" style="left:81.081%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="740"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:13.514%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:13.514%;">100</span>
                            <span class="scale_bar" style="left:27.027%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:27.027%;">200</span>
                            <span class="scale_bar" style="left:40.541%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:40.541%;">300</span>
                            <span class="scale_bar" style="left:54.054%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:54.054%;">400</span>
                            <span class="scale_bar" style="left:67.568%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:67.568%;">500</span>
                            <span class="scale_bar" style="left:81.081%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:81.081%;">600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="740"></span>
                                <span class="scale_numb"
                                      style="left:100%;">740</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR012340">IPR012340</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR012340"
                                                         class="neutral">Nucleic acid-binding, OB-fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR012340-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50249" title="SSF50249 (Nucleic acid-binding proteins)"
       class="neutral">
        SSF50249
</a>

            <span>(Nucleic a...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50249-span-1"
      class="match superfamily c49 Domain"
      style="left:  42.162%;
              width: 7.973%;"
      title="SSF50249 313 - 371" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50249-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c49 Domain caption_puce"></span>313 - 371</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50249' class="ext">SSF50249 </a>
            <span>(Nucleic acid-binding proteins)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.514%;" title="100"></span>
            <span class="grade" style="left:27.027%;" title="200"></span>
            <span class="grade" style="left:40.541%;" title="300"></span>
            <span class="grade" style="left:54.054%;" title="400"></span>
            <span class="grade" style="left:67.568%;" title="500"></span>
            <span class="grade" style="left:81.081%;" title="600"></span>
            <span class="grade" style="left:100%;" title="740"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR012340-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.40.50.140" title="G3DSA:2.40.50.140"
           class="neutral">
    G3DSA:2.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA24050140-span-2"
      class="match gene3d c49 Domain"
      style="left:  42.432%;
              width: 8.784%;"
      title="G3DSA:2.40.50.140 315 - 379" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24050140-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c49 Domain caption_puce"></span>315 - 379</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.50.140' class="ext">G3DSA:2.40.50.140 </a>
            <span>(G3DSA:2.40.50.140)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.514%;" title="100"></span>
            <span class="grade" style="left:27.027%;" title="200"></span>
            <span class="grade" style="left:40.541%;" title="300"></span>
            <span class="grade" style="left:54.054%;" title="400"></span>
            <span class="grade" style="left:67.568%;" title="500"></span>
            <span class="grade" style="left:81.081%;" title="600"></span>
            <span class="grade" style="left:100%;" title="740"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR003029">IPR003029</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR003029"
                                                         class="neutral">S1 domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR003029-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50126" title="PS50126 (S1)"
       class="neutral">
        PS50126
</a>

                <span>(S1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50126-span-3"
      class="match prosite-profiles c49 Domain"
      style="left:  42.568%;
              width: 9.324%;"
      title="PS50126 316 - 384" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50126-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c49 Domain caption_puce"></span>316 - 384</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50126' class="ext">PS50126 </a>
            <span>(S1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.514%;" title="100"></span>
            <span class="grade" style="left:27.027%;" title="200"></span>
            <span class="grade" style="left:40.541%;" title="300"></span>
            <span class="grade" style="left:54.054%;" title="400"></span>
            <span class="grade" style="left:67.568%;" title="500"></span>
            <span class="grade" style="left:81.081%;" title="600"></span>
            <span class="grade" style="left:100%;" title="740"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-4"
      class="match coils uni"
      style="left:  70.27%;
              width: 2.838%;"
      title="Coil 521 - 541" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-4" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>521 - 541</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-5"
      class="match coils uni"
      style="left:  36.486%;
              width: 2.838%;"
      title="Coil 271 - 291" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-5" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>271 - 291</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.514%;" title="100"></span>
            <span class="grade" style="left:27.027%;" title="200"></span>
            <span class="grade" style="left:40.541%;" title="300"></span>
            <span class="grade" style="left:54.054%;" title="400"></span>
            <span class="grade" style="left:67.568%;" title="500"></span>
            <span class="grade" style="left:81.081%;" title="600"></span>
            <span class="grade" style="left:100%;" title="740"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003676"
                   class="ext">GO:0003676</a> nucleic acid binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
