 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp627_c0_seq1|m.2409 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">453 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c7 Domain"
      style="left:  2.87%;
              width: 72.848%;"
      title="Domain 14 - 343" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c7 Domain caption_puce"></span>14 - 343
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007701">Interferon-related developmental regulator, N-terminal</a><span> (IPR007701)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.038%;" title="50"></span>
                    <span class="grade" style="left:22.075%;" title="100"></span>
                    <span class="grade" style="left:33.113%;" title="150"></span>
                    <span class="grade" style="left:44.15%;" title="200"></span>
                    <span class="grade" style="left:55.188%;" title="250"></span>
                    <span class="grade" style="left:66.225%;" title="300"></span>
                    <span class="grade" style="left:77.263%;" title="350"></span>
                    <span class="grade" style="left:88.3%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="453"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c46 Domain"
      style="left:  9.934%;
              width: 52.539%;"
      title="Domain 46 - 283" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>46 - 283
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR011989">Armadillo-like helical</a><span> (IPR011989)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c12 Domain"
      style="left:  85.651%;
              width: 10.596%;"
      title="Domain 389 - 436" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c12 Domain caption_puce"></span>389 - 436
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR006921">Interferon-related developmental regulator, C-terminal</a><span> (IPR006921)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.038%;" title="50"></span>
                    <span class="grade" style="left:22.075%;" title="100"></span>
                    <span class="grade" style="left:33.113%;" title="150"></span>
                    <span class="grade" style="left:44.15%;" title="200"></span>
                    <span class="grade" style="left:55.188%;" title="250"></span>
                    <span class="grade" style="left:66.225%;" title="300"></span>
                    <span class="grade" style="left:77.263%;" title="350"></span>
                    <span class="grade" style="left:88.3%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="453"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.038%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:11.038%;">50</span>
                            <span class="scale_bar" style="left:22.075%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:22.075%;">100</span>
                            <span class="scale_bar" style="left:33.113%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:33.113%;">150</span>
                            <span class="scale_bar" style="left:44.15%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:44.15%;">200</span>
                            <span class="scale_bar" style="left:55.188%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:55.188%;">250</span>
                            <span class="scale_bar" style="left:66.225%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:66.225%;">300</span>
                            <span class="scale_bar" style="left:77.263%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:77.263%;">350</span>
                            <span class="scale_bar" style="left:88.3%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:88.3%;">400</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="453"></span>
                                <span class="scale_numb"
                                      style="left:100%;">453</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007701">IPR007701</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007701"
                                                         class="neutral">Interferon-related developmental regulator, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007701-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF05004" title="PF05004 (IFRD)"
       class="neutral">
        PF05004
</a>

                <span>(IFRD)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF05004-span-1"
      class="match pfam c7 Domain"
      style="left:  2.87%;
              width: 72.848%;"
      title="PF05004 14 - 343" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF05004-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c7 Domain caption_puce"></span>14 - 343</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF05004' class="ext">PF05004 </a>
            <span>(IFRD)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="50"></span>
            <span class="grade" style="left:22.075%;" title="100"></span>
            <span class="grade" style="left:33.113%;" title="150"></span>
            <span class="grade" style="left:44.15%;" title="200"></span>
            <span class="grade" style="left:55.188%;" title="250"></span>
            <span class="grade" style="left:66.225%;" title="300"></span>
            <span class="grade" style="left:77.263%;" title="350"></span>
            <span class="grade" style="left:88.3%;" title="400"></span>
            <span class="grade" style="left:100%;" title="453"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016024">IPR016024</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024"
                                                         class="neutral">Armadillo-type fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016024-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371" title="SSF48371 (ARM repeat)"
       class="neutral">
        SSF48371
</a>

                <span>(ARM repeat)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48371-span-2"
      class="match superfamily c46 Domain"
      style="left:  9.934%;
              width: 47.903%;"
      title="SSF48371 46 - 262" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>46 - 262</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="50"></span>
            <span class="grade" style="left:22.075%;" title="100"></span>
            <span class="grade" style="left:33.113%;" title="150"></span>
            <span class="grade" style="left:44.15%;" title="200"></span>
            <span class="grade" style="left:55.188%;" title="250"></span>
            <span class="grade" style="left:66.225%;" title="300"></span>
            <span class="grade" style="left:77.263%;" title="350"></span>
            <span class="grade" style="left:88.3%;" title="400"></span>
            <span class="grade" style="left:100%;" title="453"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011989">IPR011989</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011989"
                                                         class="neutral">Armadillo-like helical</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011989-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.25.10.10" title="G3DSA:1.25.10.10"
           class="neutral">
        G3DSA:1.25.10.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1251010-span-3"
      class="match gene3d c46 Domain"
      style="left:  10.155%;
              width: 35.762%;"
      title="G3DSA:1.25.10.10 47 - 208" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1251010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c46 Domain caption_puce"></span>47 - 208</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.10.10' class="ext">G3DSA:1.25.10.10 </a>
            <span>(G3DSA:1.25.10.10)</span>
        </div>
    </div>


<span id="G3DSA1251010-span-4"
      class="match gene3d c46 Domain"
      style="left:  45.916%;
              width: 16.556%;"
      title="G3DSA:1.25.10.10 209 - 283" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1251010-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c46 Domain caption_puce"></span>209 - 283</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.10.10' class="ext">G3DSA:1.25.10.10 </a>
            <span>(G3DSA:1.25.10.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="50"></span>
            <span class="grade" style="left:22.075%;" title="100"></span>
            <span class="grade" style="left:33.113%;" title="150"></span>
            <span class="grade" style="left:44.15%;" title="200"></span>
            <span class="grade" style="left:55.188%;" title="250"></span>
            <span class="grade" style="left:66.225%;" title="300"></span>
            <span class="grade" style="left:77.263%;" title="350"></span>
            <span class="grade" style="left:88.3%;" title="400"></span>
            <span class="grade" style="left:100%;" title="453"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006921">IPR006921</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006921"
                                                         class="neutral">Interferon-related developmental regulator, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006921-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04836" title="PF04836 (IFRD_C)"
       class="neutral">
        PF04836
</a>

                <span>(IFRD_C)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04836-span-5"
      class="match pfam c12 Domain"
      style="left:  85.651%;
              width: 10.596%;"
      title="PF04836 389 - 436" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04836-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c12 Domain caption_puce"></span>389 - 436</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04836' class="ext">PF04836 </a>
            <span>(IFRD_C)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="50"></span>
            <span class="grade" style="left:22.075%;" title="100"></span>
            <span class="grade" style="left:33.113%;" title="150"></span>
            <span class="grade" style="left:44.15%;" title="200"></span>
            <span class="grade" style="left:55.188%;" title="250"></span>
            <span class="grade" style="left:66.225%;" title="300"></span>
            <span class="grade" style="left:77.263%;" title="350"></span>
            <span class="grade" style="left:88.3%;" title="400"></span>
            <span class="grade" style="left:100%;" title="453"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005488"
                   class="ext">GO:0005488</a> binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
