 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1587_c0_seq1|m.6957 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">101 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c11 Domain"
      style="left:  29.703%;
              width: 63.366%;"
      title="Domain 31 - 94" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c11 Domain caption_puce"></span>31 - 94
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR015943">WD40/YVTN repeat-like-containing domain</a><span> (IPR015943)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR017986">WD40-repeat-containing domain</a><span> (IPR017986)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.901%;" title="10"></span>
                    <span class="grade" style="left:19.802%;" title="20"></span>
                    <span class="grade" style="left:29.703%;" title="30"></span>
                    <span class="grade" style="left:39.604%;" title="40"></span>
                    <span class="grade" style="left:49.505%;" title="50"></span>
                    <span class="grade" style="left:59.406%;" title="60"></span>
                    <span class="grade" style="left:69.307%;" title="70"></span>
                    <span class="grade" style="left:79.208%;" title="80"></span>
                    <span class="grade" style="left:89.109%;" title="90"></span>
                    <span class="grade" style="left:100%;" title="101"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.901%;"
                                  title="10"></span>
                                <span class="scale_numb"
                                      style="left:9.901%;">10</span>
                            <span class="scale_bar" style="left:19.802%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:19.802%;">20</span>
                            <span class="scale_bar" style="left:29.703%;"
                                  title="30"></span>
                                <span class="scale_numb"
                                      style="left:29.703%;">30</span>
                            <span class="scale_bar" style="left:39.604%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:39.604%;">40</span>
                            <span class="scale_bar" style="left:49.505%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:49.505%;">50</span>
                            <span class="scale_bar" style="left:59.406%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:59.406%;">60</span>
                            <span class="scale_bar" style="left:69.307%;"
                                  title="70"></span>
                                <span class="scale_numb"
                                      style="left:69.307%;">70</span>
                            <span class="scale_bar" style="left:79.208%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:79.208%;">80</span>
                            <span class="scale_bar" style="left:89.109%;"
                                  title="90"></span>
                                <span class="scale_numb"
                                      style="left:89.109%;">90</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="101"></span>
                                <span class="scale_numb"
                                      style="left:100%;">101</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR015943">IPR015943</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR015943"
                                                         class="neutral">WD40/YVTN repeat-like-containing domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR015943-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.130.10.10" title="G3DSA:2.130.10.10"
           class="neutral">
    G3DSA:2.130.1...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA21301010-span-1"
      class="match gene3d c11 Domain"
      style="left:  29.703%;
              width: 60.396%;"
      title="G3DSA:2.130.10.10 31 - 91" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA21301010-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c11 Domain caption_puce"></span>31 - 91</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.130.10.10' class="ext">G3DSA:2.130.10.10 </a>
            <span>(G3DSA:2.130.10.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.901%;" title="10"></span>
            <span class="grade" style="left:19.802%;" title="20"></span>
            <span class="grade" style="left:29.703%;" title="30"></span>
            <span class="grade" style="left:39.604%;" title="40"></span>
            <span class="grade" style="left:49.505%;" title="50"></span>
            <span class="grade" style="left:59.406%;" title="60"></span>
            <span class="grade" style="left:69.307%;" title="70"></span>
            <span class="grade" style="left:79.208%;" title="80"></span>
            <span class="grade" style="left:89.109%;" title="90"></span>
            <span class="grade" style="left:100%;" title="101"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR017986">IPR017986</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR017986"
                                                         class="neutral">WD40-repeat-containing domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR017986-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50978" title="SSF50978 (WD40 repeat-like)"
       class="neutral">
        SSF50978
</a>

            <span>(WD40 repe...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50978-span-2"
      class="match superfamily c11 Domain"
      style="left:  31.683%;
              width: 61.386%;"
      title="SSF50978 33 - 94" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50978-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c11 Domain caption_puce"></span>33 - 94</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50978' class="ext">SSF50978 </a>
            <span>(WD40 repeat-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.901%;" title="10"></span>
            <span class="grade" style="left:19.802%;" title="20"></span>
            <span class="grade" style="left:29.703%;" title="30"></span>
            <span class="grade" style="left:39.604%;" title="40"></span>
            <span class="grade" style="left:49.505%;" title="50"></span>
            <span class="grade" style="left:59.406%;" title="60"></span>
            <span class="grade" style="left:69.307%;" title="70"></span>
            <span class="grade" style="left:79.208%;" title="80"></span>
            <span class="grade" style="left:89.109%;" title="90"></span>
            <span class="grade" style="left:100%;" title="101"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
