 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3955_c0_seq1|m.17763 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,020 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c3 Domain"
      style="left:  1.569%;
              width: 28.627%;"
      title="Domain 17 - 308" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c3 Domain caption_puce"></span>17 - 308
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR028091">FAM91, N-terminal domain</a><span> (IPR028091)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c41 Domain"
      style="left:  35.686%;
              width: 7.843%;"
      title="Domain 365 - 444" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c41 Domain caption_puce"></span>365 - 444
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR028097">FAM91, C-terminal domain</a><span> (IPR028097)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c41 Domain"
      style="left:  54.216%;
              width: 23.529%;"
      title="Domain 554 - 793" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c41 Domain caption_puce"></span>554 - 793
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR028097">FAM91, C-terminal domain</a><span> (IPR028097)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c41 Domain"
      style="left:  78.333%;
              width: 6.078%;"
      title="Domain 800 - 861" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c41 Domain caption_puce"></span>800 - 861
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR028097">FAM91, C-terminal domain</a><span> (IPR028097)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.804%;" title="100"></span>
                    <span class="grade" style="left:19.608%;" title="200"></span>
                    <span class="grade" style="left:29.412%;" title="300"></span>
                    <span class="grade" style="left:39.216%;" title="400"></span>
                    <span class="grade" style="left:49.02%;" title="500"></span>
                    <span class="grade" style="left:58.824%;" title="600"></span>
                    <span class="grade" style="left:68.627%;" title="700"></span>
                    <span class="grade" style="left:78.431%;" title="800"></span>
                    <span class="grade" style="left:88.235%;" title="900"></span>
                    <span class="grade" style="left:100%;" title="1020"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.804%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:9.804%;">100</span>
                            <span class="scale_bar" style="left:19.608%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:19.608%;">200</span>
                            <span class="scale_bar" style="left:29.412%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:29.412%;">300</span>
                            <span class="scale_bar" style="left:39.216%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:39.216%;">400</span>
                            <span class="scale_bar" style="left:49.02%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:49.02%;">500</span>
                            <span class="scale_bar" style="left:58.824%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:58.824%;">600</span>
                            <span class="scale_bar" style="left:68.627%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:68.627%;">700</span>
                            <span class="scale_bar" style="left:78.431%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:78.431%;">800</span>
                            <span class="scale_bar" style="left:88.235%;"
                                  title="900"></span>
                                <span class="scale_numb"
                                      style="left:88.235%;">900</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="1020"></span>
                                <span class="scale_numb"
                                      style="left:100%;">1020</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR028091">IPR028091</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR028091"
                                                         class="neutral">FAM91, N-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR028091-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14647" title="PF14647 (FAM91_N)"
       class="neutral">
        PF14647
</a>

                <span>(FAM91_N)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14647-span-1"
      class="match pfam c3 Domain"
      style="left:  1.569%;
              width: 28.627%;"
      title="PF14647 17 - 308" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14647-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c3 Domain caption_puce"></span>17 - 308</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14647' class="ext">PF14647 </a>
            <span>(FAM91_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.804%;" title="100"></span>
            <span class="grade" style="left:19.608%;" title="200"></span>
            <span class="grade" style="left:29.412%;" title="300"></span>
            <span class="grade" style="left:39.216%;" title="400"></span>
            <span class="grade" style="left:49.02%;" title="500"></span>
            <span class="grade" style="left:58.824%;" title="600"></span>
            <span class="grade" style="left:68.627%;" title="700"></span>
            <span class="grade" style="left:78.431%;" title="800"></span>
            <span class="grade" style="left:88.235%;" title="900"></span>
            <span class="grade" style="left:100%;" title="1020"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR028097">IPR028097</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR028097"
                                                         class="neutral">FAM91, C-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR028097-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14648" title="PF14648 (FAM91_C)"
       class="neutral">
        PF14648
</a>

                <span>(FAM91_C)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14648-span-2"
      class="match pfam c41 Domain"
      style="left:  54.216%;
              width: 23.529%;"
      title="PF14648 554 - 793" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14648-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c41 Domain caption_puce"></span>554 - 793</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14648' class="ext">PF14648 </a>
            <span>(FAM91_C)</span>
        </div>
    </div>


<span id="PF14648-span-3"
      class="match pfam c41 Domain"
      style="left:  35.686%;
              width: 7.843%;"
      title="PF14648 365 - 444" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14648-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c41 Domain caption_puce"></span>365 - 444</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14648' class="ext">PF14648 </a>
            <span>(FAM91_C)</span>
        </div>
    </div>


<span id="PF14648-span-4"
      class="match pfam c41 Domain"
      style="left:  78.333%;
              width: 6.078%;"
      title="PF14648 800 - 861" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14648-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c41 Domain caption_puce"></span>800 - 861</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14648' class="ext">PF14648 </a>
            <span>(FAM91_C)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.804%;" title="100"></span>
            <span class="grade" style="left:19.608%;" title="200"></span>
            <span class="grade" style="left:29.412%;" title="300"></span>
            <span class="grade" style="left:39.216%;" title="400"></span>
            <span class="grade" style="left:49.02%;" title="500"></span>
            <span class="grade" style="left:58.824%;" title="600"></span>
            <span class="grade" style="left:68.627%;" title="700"></span>
            <span class="grade" style="left:78.431%;" title="800"></span>
            <span class="grade" style="left:88.235%;" title="900"></span>
            <span class="grade" style="left:100%;" title="1020"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-5"
      class="match coils uni"
      style="left:  27.549%;
              width: 2.059%;"
      title="Coil 282 - 302" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-5" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>282 - 302</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.804%;" title="100"></span>
            <span class="grade" style="left:19.608%;" title="200"></span>
            <span class="grade" style="left:29.412%;" title="300"></span>
            <span class="grade" style="left:39.216%;" title="400"></span>
            <span class="grade" style="left:49.02%;" title="500"></span>
            <span class="grade" style="left:58.824%;" title="600"></span>
            <span class="grade" style="left:68.627%;" title="700"></span>
            <span class="grade" style="left:78.431%;" title="800"></span>
            <span class="grade" style="left:88.235%;" title="900"></span>
            <span class="grade" style="left:100%;" title="1020"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 4);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
