 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp11427_c0_seq0|m.40480 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">175 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR010743">Methionine biosynthesis MetW</a><span> (IPR010743)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c57 Domain"
      style="left:  13.714%;
              width: 73.143%;"
      title="Domain 25 - 152" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>25 - 152
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029063">S-adenosyl-L-methionine-dependent methyltransferase</a><span> (IPR029063)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.429%;" title="20"></span>
                    <span class="grade" style="left:22.857%;" title="40"></span>
                    <span class="grade" style="left:34.286%;" title="60"></span>
                    <span class="grade" style="left:45.714%;" title="80"></span>
                    <span class="grade" style="left:57.143%;" title="100"></span>
                    <span class="grade" style="left:68.571%;" title="120"></span>
                    <span class="grade" style="left:80%;" title="140"></span>
                    <span class="grade" style="left:91.429%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="175"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.429%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:11.429%;">20</span>
                            <span class="scale_bar" style="left:22.857%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:22.857%;">40</span>
                            <span class="scale_bar" style="left:34.286%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:34.286%;">60</span>
                            <span class="scale_bar" style="left:45.714%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:45.714%;">80</span>
                            <span class="scale_bar" style="left:57.143%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:57.143%;">100</span>
                            <span class="scale_bar" style="left:68.571%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:68.571%;">120</span>
                            <span class="scale_bar" style="left:80%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:80%;">140</span>
                            <span class="scale_bar" style="left:91.429%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:91.429%;">160</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="175"></span>
                                <span class="scale_numb"
                                      style="left:100%;">175</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR010743">IPR010743</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR010743"
                                                         class="neutral">Methionine biosynthesis MetW</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR010743-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF07021" title="PF07021 (MetW)"
       class="neutral">
        PF07021
</a>

                <span>(MetW)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF07021-span-1"
      class="match pfam Family"
      style="left:  25.143%;
              width: 30.286%;"
      title="PF07021 45 - 97" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF07021-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>45 - 97</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF07021' class="ext">PF07021 </a>
            <span>(MetW)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029063">IPR029063</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029063"
                                                         class="neutral">S-adenosyl-L-methionine-dependent methyltransferase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029063-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53335" title="SSF53335 (S-adenosyl-L-methionine-dependent methyltransferases)"
       class="neutral">
        SSF53335
</a>

            <span>(S-adenosy...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53335-span-2"
      class="match superfamily c57 Domain"
      style="left:  13.714%;
              width: 73.143%;"
      title="SSF53335 25 - 152" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53335-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>25 - 152</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53335' class="ext">SSF53335 </a>
            <span>(S-adenosyl-L-methionine-dependent methyltransferases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029063-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.150" title="G3DSA:3.40.50.150"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050150-span-3"
      class="match gene3d c57 Domain"
      style="left:  19.429%;
              width: 67.429%;"
      title="G3DSA:3.40.50.150 35 - 152" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050150-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>35 - 152</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.150' class="ext">G3DSA:3.40.50.150 </a>
            <span>(G3DSA:3.40.50.150)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
