 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp2262_c0_seq0|m.10039 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">910 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c23 Domain"
      style="left:  2.308%;
              width: 9.341%;"
      title="Domain 22 - 106" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>22 - 106
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c23 Domain"
      style="left:  18.352%;
              width: 6.813%;"
      title="Domain 168 - 229" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>168 - 229
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c23 Domain"
      style="left:  38.571%;
              width: 16.374%;"
      title="Domain 352 - 500" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>352 - 500
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c23 Domain"
      style="left:  91.538%;
              width: 6.923%;"
      title="Domain 834 - 896" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>834 - 896
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.989%;" title="100"></span>
                    <span class="grade" style="left:21.978%;" title="200"></span>
                    <span class="grade" style="left:32.967%;" title="300"></span>
                    <span class="grade" style="left:43.956%;" title="400"></span>
                    <span class="grade" style="left:54.945%;" title="500"></span>
                    <span class="grade" style="left:65.934%;" title="600"></span>
                    <span class="grade" style="left:76.923%;" title="700"></span>
                    <span class="grade" style="left:87.912%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="910"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-5"
      class="match c37 Domain"
      style="left:  45.714%;
              width: 3.736%;"
      title="Domain 417 - 450" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c37 Domain caption_puce"></span>417 - 450
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013026">Tetratricopeptide repeat-containing domain</a><span> (IPR013026)</span></li></ul></div>
    </div>




<span id="supermatch-span-6"
      class="match c37 Domain"
      style="left:  91.538%;
              width: 3.736%;"
      title="Domain 834 - 867" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c37 Domain caption_puce"></span>834 - 867
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013026">Tetratricopeptide repeat-containing domain</a><span> (IPR013026)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.989%;" title="100"></span>
                    <span class="grade" style="left:21.978%;" title="200"></span>
                    <span class="grade" style="left:32.967%;" title="300"></span>
                    <span class="grade" style="left:43.956%;" title="400"></span>
                    <span class="grade" style="left:54.945%;" title="500"></span>
                    <span class="grade" style="left:65.934%;" title="600"></span>
                    <span class="grade" style="left:76.923%;" title="700"></span>
                    <span class="grade" style="left:87.912%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="910"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-7"
      class="match c3 Repeat"
      style="left:  3.736%;
              width: 3.736%;"
      title="Repeat 35 - 68" >
</span>
        <div id="supermatch-popup-7" style="display: none;">
        <div class="popup_topl">
            <span class="c3 Repeat caption_puce"></span>35 - 68
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR019734">Tetratricopeptide repeat</a><span> (IPR019734)</span></li></ul></div>
    </div>




<span id="supermatch-span-8"
      class="match c3 Repeat"
      style="left:  45.714%;
              width: 3.736%;"
      title="Repeat 417 - 450" >
</span>
        <div id="supermatch-popup-8" style="display: none;">
        <div class="popup_topl">
            <span class="c3 Repeat caption_puce"></span>417 - 450
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR019734">Tetratricopeptide repeat</a><span> (IPR019734)</span></li></ul></div>
    </div>




<span id="supermatch-span-9"
      class="match c3 Repeat"
      style="left:  91.538%;
              width: 3.736%;"
      title="Repeat 834 - 867" >
</span>
        <div id="supermatch-popup-9" style="display: none;">
        <div class="popup_topl">
            <span class="c3 Repeat caption_puce"></span>834 - 867
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR019734">Tetratricopeptide repeat</a><span> (IPR019734)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.989%;" title="100"></span>
                    <span class="grade" style="left:21.978%;" title="200"></span>
                    <span class="grade" style="left:32.967%;" title="300"></span>
                    <span class="grade" style="left:43.956%;" title="400"></span>
                    <span class="grade" style="left:54.945%;" title="500"></span>
                    <span class="grade" style="left:65.934%;" title="600"></span>
                    <span class="grade" style="left:76.923%;" title="700"></span>
                    <span class="grade" style="left:87.912%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="910"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-10"
      class="match c3 Repeat"
      style="left:  45.714%;
              width: 3.077%;"
      title="Repeat 417 - 444" >
</span>
        <div id="supermatch-popup-10" style="display: none;">
        <div class="popup_topl">
            <span class="c3 Repeat caption_puce"></span>417 - 444
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013105">Tetratricopeptide repeat 2</a><span> (IPR013105)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.989%;" title="100"></span>
                    <span class="grade" style="left:21.978%;" title="200"></span>
                    <span class="grade" style="left:32.967%;" title="300"></span>
                    <span class="grade" style="left:43.956%;" title="400"></span>
                    <span class="grade" style="left:54.945%;" title="500"></span>
                    <span class="grade" style="left:65.934%;" title="600"></span>
                    <span class="grade" style="left:76.923%;" title="700"></span>
                    <span class="grade" style="left:87.912%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="910"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10.989%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:10.989%;">100</span>
                            <span class="scale_bar" style="left:21.978%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:21.978%;">200</span>
                            <span class="scale_bar" style="left:32.967%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:32.967%;">300</span>
                            <span class="scale_bar" style="left:43.956%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:43.956%;">400</span>
                            <span class="scale_bar" style="left:54.945%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:54.945%;">500</span>
                            <span class="scale_bar" style="left:65.934%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:65.934%;">600</span>
                            <span class="scale_bar" style="left:76.923%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:76.923%;">700</span>
                            <span class="scale_bar" style="left:87.912%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:87.912%;">800</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="910"></span>
                                <span class="scale_numb"
                                      style="left:100%;">910</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011990">IPR011990</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990"
                                                         class="neutral">Tetratricopeptide-like helical domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011990-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.25.40.10" title="G3DSA:1.25.40.10"
           class="neutral">
        G3DSA:1.25.40.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1254010-span-1"
      class="match gene3d c23 Domain"
      style="left:  40.22%;
              width: 14.725%;"
      title="G3DSA:1.25.40.10 367 - 500" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>367 - 500</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


<span id="G3DSA1254010-span-2"
      class="match gene3d c23 Domain"
      style="left:  18.681%;
              width: 5.714%;"
      title="G3DSA:1.25.40.10 171 - 222" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>171 - 222</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


<span id="G3DSA1254010-span-3"
      class="match gene3d c23 Domain"
      style="left:  4.286%;
              width: 3.956%;"
      title="G3DSA:1.25.40.10 40 - 75" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>40 - 75</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


<span id="G3DSA1254010-span-4"
      class="match gene3d c23 Domain"
      style="left:  91.538%;
              width: 6.923%;"
      title="G3DSA:1.25.40.10 834 - 896" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>834 - 896</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.989%;" title="100"></span>
            <span class="grade" style="left:21.978%;" title="200"></span>
            <span class="grade" style="left:32.967%;" title="300"></span>
            <span class="grade" style="left:43.956%;" title="400"></span>
            <span class="grade" style="left:54.945%;" title="500"></span>
            <span class="grade" style="left:65.934%;" title="600"></span>
            <span class="grade" style="left:76.923%;" title="700"></span>
            <span class="grade" style="left:87.912%;" title="800"></span>
            <span class="grade" style="left:100%;" title="910"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR011990-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48452" title="SSF48452 (TPR-like)"
       class="neutral">
        SSF48452
</a>

                <span>(TPR-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48452-span-5"
      class="match superfamily c23 Domain"
      style="left:  38.571%;
              width: 11.209%;"
      title="SSF48452 352 - 453" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48452-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c23 Domain caption_puce"></span>352 - 453</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48452' class="ext">SSF48452 </a>
            <span>(TPR-like)</span>
        </div>
    </div>


<span id="SSF48452-span-6"
      class="match superfamily c23 Domain"
      style="left:  91.868%;
              width: 6.264%;"
      title="SSF48452 837 - 893" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48452-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily c23 Domain caption_puce"></span>837 - 893</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48452' class="ext">SSF48452 </a>
            <span>(TPR-like)</span>
        </div>
    </div>


<span id="SSF48452-span-7"
      class="match superfamily c23 Domain"
      style="left:  2.308%;
              width: 9.341%;"
      title="SSF48452 22 - 106" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48452-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily c23 Domain caption_puce"></span>22 - 106</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48452' class="ext">SSF48452 </a>
            <span>(TPR-like)</span>
        </div>
    </div>


<span id="SSF48452-span-8"
      class="match superfamily c23 Domain"
      style="left:  18.352%;
              width: 6.813%;"
      title="SSF48452 168 - 229" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48452-popup-8" style="display: none;">

        <div class="popup_topl"><span class="superfamily c23 Domain caption_puce"></span>168 - 229</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48452' class="ext">SSF48452 </a>
            <span>(TPR-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.989%;" title="100"></span>
            <span class="grade" style="left:21.978%;" title="200"></span>
            <span class="grade" style="left:32.967%;" title="300"></span>
            <span class="grade" style="left:43.956%;" title="400"></span>
            <span class="grade" style="left:54.945%;" title="500"></span>
            <span class="grade" style="left:65.934%;" title="600"></span>
            <span class="grade" style="left:76.923%;" title="700"></span>
            <span class="grade" style="left:87.912%;" title="800"></span>
            <span class="grade" style="left:100%;" title="910"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013026">IPR013026</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013026"
                                                         class="neutral">Tetratricopeptide repeat-containing domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013026-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50293" title="PS50293 (TPR_REGION)"
       class="neutral">
        PS50293
</a>

                <span>(TPR_REGION)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50293-span-9"
      class="match prosite-profiles c37 Domain"
      style="left:  91.538%;
              width: 3.736%;"
      title="PS50293 834 - 867" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50293-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c37 Domain caption_puce"></span>834 - 867</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50293' class="ext">PS50293 </a>
            <span>(TPR_REGION)</span>
        </div>
    </div>


<span id="PS50293-span-10"
      class="match prosite-profiles c37 Domain"
      style="left:  45.714%;
              width: 3.736%;"
      title="PS50293 417 - 450" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50293-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c37 Domain caption_puce"></span>417 - 450</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50293' class="ext">PS50293 </a>
            <span>(TPR_REGION)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.989%;" title="100"></span>
            <span class="grade" style="left:21.978%;" title="200"></span>
            <span class="grade" style="left:32.967%;" title="300"></span>
            <span class="grade" style="left:43.956%;" title="400"></span>
            <span class="grade" style="left:54.945%;" title="500"></span>
            <span class="grade" style="left:65.934%;" title="600"></span>
            <span class="grade" style="left:76.923%;" title="700"></span>
            <span class="grade" style="left:87.912%;" title="800"></span>
            <span class="grade" style="left:100%;" title="910"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR019734">IPR019734</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR019734"
                                                         class="neutral">Tetratricopeptide repeat</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR019734-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00028&amp;BLAST=DUMMY" title="SM00028 (TPR)"
       class="neutral">
        SM00028
</a>

                <span>(TPR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00028-span-11"
      class="match smart c3 Repeat"
      style="left:  3.736%;
              width: 3.736%;"
      title="SM00028 35 - 68" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00028-popup-11" style="display: none;">

        <div class="popup_topl"><span class="smart c3 Repeat caption_puce"></span>35 - 68</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00028&amp;BLAST=DUMMY' class="ext">SM00028 </a>
            <span>(TPR)</span>
        </div>
    </div>


<span id="SM00028-span-12"
      class="match smart c3 Repeat"
      style="left:  91.538%;
              width: 3.736%;"
      title="SM00028 834 - 867" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00028-popup-12" style="display: none;">

        <div class="popup_topl"><span class="smart c3 Repeat caption_puce"></span>834 - 867</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00028&amp;BLAST=DUMMY' class="ext">SM00028 </a>
            <span>(TPR)</span>
        </div>
    </div>


<span id="SM00028-span-13"
      class="match smart c3 Repeat"
      style="left:  45.714%;
              width: 3.736%;"
      title="SM00028 417 - 450" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00028-popup-13" style="display: none;">

        <div class="popup_topl"><span class="smart c3 Repeat caption_puce"></span>417 - 450</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00028&amp;BLAST=DUMMY' class="ext">SM00028 </a>
            <span>(TPR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.989%;" title="100"></span>
            <span class="grade" style="left:21.978%;" title="200"></span>
            <span class="grade" style="left:32.967%;" title="300"></span>
            <span class="grade" style="left:43.956%;" title="400"></span>
            <span class="grade" style="left:54.945%;" title="500"></span>
            <span class="grade" style="left:65.934%;" title="600"></span>
            <span class="grade" style="left:76.923%;" title="700"></span>
            <span class="grade" style="left:87.912%;" title="800"></span>
            <span class="grade" style="left:100%;" title="910"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR019734-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50005" title="PS50005 (TPR)"
       class="neutral">
        PS50005
</a>

                <span>(TPR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50005-span-14"
      class="match prosite-profiles c3 Repeat"
      style="left:  45.714%;
              width: 3.736%;"
      title="PS50005 417 - 450" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50005-popup-14" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c3 Repeat caption_puce"></span>417 - 450</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50005' class="ext">PS50005 </a>
            <span>(TPR)</span>
        </div>
    </div>


<span id="PS50005-span-15"
      class="match prosite-profiles c3 Repeat"
      style="left:  91.538%;
              width: 3.736%;"
      title="PS50005 834 - 867" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50005-popup-15" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c3 Repeat caption_puce"></span>834 - 867</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50005' class="ext">PS50005 </a>
            <span>(TPR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.989%;" title="100"></span>
            <span class="grade" style="left:21.978%;" title="200"></span>
            <span class="grade" style="left:32.967%;" title="300"></span>
            <span class="grade" style="left:43.956%;" title="400"></span>
            <span class="grade" style="left:54.945%;" title="500"></span>
            <span class="grade" style="left:65.934%;" title="600"></span>
            <span class="grade" style="left:76.923%;" title="700"></span>
            <span class="grade" style="left:87.912%;" title="800"></span>
            <span class="grade" style="left:100%;" title="910"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013105">IPR013105</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013105"
                                                         class="neutral">Tetratricopeptide repeat 2</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013105-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF07719" title="PF07719 (TPR_2)"
       class="neutral">
        PF07719
</a>

                <span>(TPR_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF07719-span-16"
      class="match pfam c3 Repeat"
      style="left:  45.714%;
              width: 3.077%;"
      title="PF07719 417 - 444" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF07719-popup-16" style="display: none;">

        <div class="popup_topl"><span class="pfam c3 Repeat caption_puce"></span>417 - 444</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF07719' class="ext">PF07719 </a>
            <span>(TPR_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.989%;" title="100"></span>
            <span class="grade" style="left:21.978%;" title="200"></span>
            <span class="grade" style="left:32.967%;" title="300"></span>
            <span class="grade" style="left:43.956%;" title="400"></span>
            <span class="grade" style="left:54.945%;" title="500"></span>
            <span class="grade" style="left:65.934%;" title="600"></span>
            <span class="grade" style="left:76.923%;" title="700"></span>
            <span class="grade" style="left:87.912%;" title="800"></span>
            <span class="grade" style="left:100%;" title="910"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 10);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
