 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp9632_c0_seq1|m.37158 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">923 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c31 Domain"
      style="left:  70.856%;
              width: 25.135%;"
      title="Domain 655 - 886" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c31 Domain caption_puce"></span>655 - 886
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR031595">Protein-only RNase P, C-terminal</a><span> (IPR031595)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.834%;" title="100"></span>
                    <span class="grade" style="left:21.668%;" title="200"></span>
                    <span class="grade" style="left:32.503%;" title="300"></span>
                    <span class="grade" style="left:43.337%;" title="400"></span>
                    <span class="grade" style="left:54.171%;" title="500"></span>
                    <span class="grade" style="left:65.005%;" title="600"></span>
                    <span class="grade" style="left:75.84%;" title="700"></span>
                    <span class="grade" style="left:86.674%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="923"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c44 Repeat"
      style="left:  53.196%;
              width: 3.575%;"
      title="Repeat 492 - 524" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>492 - 524
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c44 Repeat"
      style="left:  56.988%;
              width: 3.575%;"
      title="Repeat 527 - 559" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>527 - 559
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.834%;" title="100"></span>
                    <span class="grade" style="left:21.668%;" title="200"></span>
                    <span class="grade" style="left:32.503%;" title="300"></span>
                    <span class="grade" style="left:43.337%;" title="400"></span>
                    <span class="grade" style="left:54.171%;" title="500"></span>
                    <span class="grade" style="left:65.005%;" title="600"></span>
                    <span class="grade" style="left:75.84%;" title="700"></span>
                    <span class="grade" style="left:86.674%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="923"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10.834%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:10.834%;">100</span>
                            <span class="scale_bar" style="left:21.668%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:21.668%;">200</span>
                            <span class="scale_bar" style="left:32.503%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:32.503%;">300</span>
                            <span class="scale_bar" style="left:43.337%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:43.337%;">400</span>
                            <span class="scale_bar" style="left:54.171%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:54.171%;">500</span>
                            <span class="scale_bar" style="left:65.005%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:65.005%;">600</span>
                            <span class="scale_bar" style="left:75.84%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:75.84%;">700</span>
                            <span class="scale_bar" style="left:86.674%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:86.674%;">800</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="923"></span>
                                <span class="scale_numb"
                                      style="left:100%;">923</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR031595">IPR031595</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR031595"
                                                         class="neutral">Protein-only RNase P, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR031595-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF16953" title="PF16953 (PRORP)"
       class="neutral">
        PF16953
</a>

                <span>(PRORP)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF16953-span-1"
      class="match pfam c31 Domain"
      style="left:  70.856%;
              width: 25.135%;"
      title="PF16953 655 - 886" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF16953-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c31 Domain caption_puce"></span>655 - 886</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF16953' class="ext">PF16953 </a>
            <span>(PRORP)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.834%;" title="100"></span>
            <span class="grade" style="left:21.668%;" title="200"></span>
            <span class="grade" style="left:32.503%;" title="300"></span>
            <span class="grade" style="left:43.337%;" title="400"></span>
            <span class="grade" style="left:54.171%;" title="500"></span>
            <span class="grade" style="left:65.005%;" title="600"></span>
            <span class="grade" style="left:75.84%;" title="700"></span>
            <span class="grade" style="left:86.674%;" title="800"></span>
            <span class="grade" style="left:100%;" title="923"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002885">IPR002885</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885"
                                                         class="neutral">Pentatricopeptide repeat</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13812" title="PF13812 (PPR_3)"
       class="neutral">
        PF13812
</a>

                <span>(PPR_3)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13812-span-2"
      class="match pfam c44 Repeat"
      style="left:  56.988%;
              width: 3.575%;"
      title="PF13812 527 - 559" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13812-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>527 - 559</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13812' class="ext">PF13812 </a>
            <span>(PPR_3)</span>
        </div>
    </div>


<span id="PF13812-span-3"
      class="match pfam c44 Repeat"
      style="left:  53.196%;
              width: 3.575%;"
      title="PF13812 492 - 524" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13812-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>492 - 524</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13812' class="ext">PF13812 </a>
            <span>(PPR_3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.834%;" title="100"></span>
            <span class="grade" style="left:21.668%;" title="200"></span>
            <span class="grade" style="left:32.503%;" title="300"></span>
            <span class="grade" style="left:43.337%;" title="400"></span>
            <span class="grade" style="left:54.171%;" title="500"></span>
            <span class="grade" style="left:65.005%;" title="600"></span>
            <span class="grade" style="left:75.84%;" title="700"></span>
            <span class="grade" style="left:86.674%;" title="800"></span>
            <span class="grade" style="left:100%;" title="923"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
