 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1971_c0_seq1|m.8688 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">624 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c56 Domain"
      style="left:  42.147%;
              width: 51.442%;"
      title="Domain 264 - 584" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c56 Domain caption_puce"></span>264 - 584
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002498">Phosphatidylinositol-4-phosphate 5-kinase, core</a><span> (IPR002498)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR016034">Phosphatidylinositol-4-phosphate 5-kinase, core, subgroup</a><span> (IPR016034)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.026%;" title="100"></span>
                    <span class="grade" style="left:32.051%;" title="200"></span>
                    <span class="grade" style="left:48.077%;" title="300"></span>
                    <span class="grade" style="left:64.103%;" title="400"></span>
                    <span class="grade" style="left:80.128%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="624"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c48 Domain"
      style="left:  45.513%;
              width: 25%;"
      title="Domain 285 - 440" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c48 Domain caption_puce"></span>285 - 440
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027484">Phosphatidylinositol-4-phosphate 5-kinase, N-terminal domain</a><span> (IPR027484)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c47 Domain"
      style="left:  70.994%;
              width: 12.66%;"
      title="Domain 444 - 522" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c47 Domain caption_puce"></span>444 - 522
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027483">Phosphatidylinositol-4-phosphate 5-kinase, C-terminal</a><span> (IPR027483)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c47 Domain"
      style="left:  83.654%;
              width: 9.776%;"
      title="Domain 523 - 583" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c47 Domain caption_puce"></span>523 - 583
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027483">Phosphatidylinositol-4-phosphate 5-kinase, C-terminal</a><span> (IPR027483)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.026%;" title="100"></span>
                    <span class="grade" style="left:32.051%;" title="200"></span>
                    <span class="grade" style="left:48.077%;" title="300"></span>
                    <span class="grade" style="left:64.103%;" title="400"></span>
                    <span class="grade" style="left:80.128%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="624"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:16.026%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:16.026%;">100</span>
                            <span class="scale_bar" style="left:32.051%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:32.051%;">200</span>
                            <span class="scale_bar" style="left:48.077%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:48.077%;">300</span>
                            <span class="scale_bar" style="left:64.103%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:64.103%;">400</span>
                            <span class="scale_bar" style="left:80.128%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:80.128%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="624"></span>
                                <span class="scale_numb"
                                      style="left:100%;">624</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002498">IPR002498</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002498"
                                                         class="neutral">Phosphatidylinositol-4-phosphate 5-kinase, core</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002498-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01504" title="PF01504 (PIP5K)"
       class="neutral">
        PF01504
</a>

                <span>(PIP5K)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01504-span-1"
      class="match pfam c56 Domain"
      style="left:  57.692%;
              width: 35.417%;"
      title="PF01504 361 - 581" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01504-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c56 Domain caption_puce"></span>361 - 581</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01504' class="ext">PF01504 </a>
            <span>(PIP5K)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.026%;" title="100"></span>
            <span class="grade" style="left:32.051%;" title="200"></span>
            <span class="grade" style="left:48.077%;" title="300"></span>
            <span class="grade" style="left:64.103%;" title="400"></span>
            <span class="grade" style="left:80.128%;" title="500"></span>
            <span class="grade" style="left:100%;" title="624"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002498-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51455" title="PS51455 (PIPK)"
       class="neutral">
        PS51455
</a>

                <span>(PIPK)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51455-span-2"
      class="match prosite-profiles c56 Domain"
      style="left:  42.147%;
              width: 51.282%;"
      title="PS51455 264 - 583" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51455-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c56 Domain caption_puce"></span>264 - 583</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51455' class="ext">PS51455 </a>
            <span>(PIPK)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.026%;" title="100"></span>
            <span class="grade" style="left:32.051%;" title="200"></span>
            <span class="grade" style="left:48.077%;" title="300"></span>
            <span class="grade" style="left:64.103%;" title="400"></span>
            <span class="grade" style="left:80.128%;" title="500"></span>
            <span class="grade" style="left:100%;" title="624"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR027484">IPR027484</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR027484"
                                                         class="neutral">Phosphatidylinositol-4-phosphate 5-kinase, N-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR027484-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.800.10" title="G3DSA:3.30.800.10"
           class="neutral">
    G3DSA:3.30.80...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33080010-span-3"
      class="match gene3d c48 Domain"
      style="left:  45.513%;
              width: 25%;"
      title="G3DSA:3.30.800.10 285 - 440" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33080010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c48 Domain caption_puce"></span>285 - 440</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.800.10' class="ext">G3DSA:3.30.800.10 </a>
            <span>(G3DSA:3.30.800.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.026%;" title="100"></span>
            <span class="grade" style="left:32.051%;" title="200"></span>
            <span class="grade" style="left:48.077%;" title="300"></span>
            <span class="grade" style="left:64.103%;" title="400"></span>
            <span class="grade" style="left:80.128%;" title="500"></span>
            <span class="grade" style="left:100%;" title="624"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016034">IPR016034</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016034"
                                                         class="neutral">Phosphatidylinositol-4-phosphate 5-kinase, core, subgroup</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016034-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00330&amp;BLAST=DUMMY" title="SM00330 (PIPKc)"
       class="neutral">
        SM00330
</a>

                <span>(PIPKc)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00330-span-4"
      class="match smart c56 Domain"
      style="left:  47.276%;
              width: 46.314%;"
      title="SM00330 296 - 584" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00330-popup-4" style="display: none;">

        <div class="popup_topl"><span class="smart c56 Domain caption_puce"></span>296 - 584</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00330&amp;BLAST=DUMMY' class="ext">SM00330 </a>
            <span>(PIPKc)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.026%;" title="100"></span>
            <span class="grade" style="left:32.051%;" title="200"></span>
            <span class="grade" style="left:48.077%;" title="300"></span>
            <span class="grade" style="left:64.103%;" title="400"></span>
            <span class="grade" style="left:80.128%;" title="500"></span>
            <span class="grade" style="left:100%;" title="624"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR027483">IPR027483</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR027483"
                                                         class="neutral">Phosphatidylinositol-4-phosphate 5-kinase, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR027483-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.810.10" title="G3DSA:3.30.810.10"
           class="neutral">
    G3DSA:3.30.81...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33081010-span-5"
      class="match gene3d c47 Domain"
      style="left:  70.994%;
              width: 12.66%;"
      title="G3DSA:3.30.810.10 444 - 522" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33081010-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c47 Domain caption_puce"></span>444 - 522</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.810.10' class="ext">G3DSA:3.30.810.10 </a>
            <span>(G3DSA:3.30.810.10)</span>
        </div>
    </div>


<span id="G3DSA33081010-span-6"
      class="match gene3d c47 Domain"
      style="left:  83.654%;
              width: 9.776%;"
      title="G3DSA:3.30.810.10 523 - 583" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33081010-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d c47 Domain caption_puce"></span>523 - 583</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.810.10' class="ext">G3DSA:3.30.810.10 </a>
            <span>(G3DSA:3.30.810.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.026%;" title="100"></span>
            <span class="grade" style="left:32.051%;" title="200"></span>
            <span class="grade" style="left:48.077%;" title="300"></span>
            <span class="grade" style="left:64.103%;" title="400"></span>
            <span class="grade" style="left:80.128%;" title="500"></span>
            <span class="grade" style="left:100%;" title="624"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56104" title="SSF56104 (SAICAR synthase-like)"
       class="neutral">
        SSF56104
</a>

            <span>(SAICAR sy...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56104-span-7"
      class="match superfamily uni"
      style="left:  49.84%;
              width: 43.59%;"
      title="SSF56104 312 - 583" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56104-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>312 - 583</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56104' class="ext">SSF56104 </a>
            <span>(SAICAR synthase-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.026%;" title="100"></span>
            <span class="grade" style="left:32.051%;" title="200"></span>
            <span class="grade" style="left:48.077%;" title="300"></span>
            <span class="grade" style="left:64.103%;" title="400"></span>
            <span class="grade" style="left:80.128%;" title="500"></span>
            <span class="grade" style="left:100%;" title="624"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0046488"
                   class="ext">GO:0046488</a> phosphatidylinositol metabolic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016307"
                   class="ext">GO:0016307</a> phosphatidylinositol phosphate kinase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 4);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
