 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp8169_c0_seq1|m.33354 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">445 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c25 Domain"
      style="left:  32.809%;
              width: 20.225%;"
      title="Domain 147 - 236" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c25 Domain caption_puce"></span>147 - 236
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR032675">Leucine-rich repeat domain, L domain-like</a><span> (IPR032675)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c25 Domain"
      style="left:  58.202%;
              width: 23.596%;"
      title="Domain 260 - 364" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c25 Domain caption_puce"></span>260 - 364
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR032675">Leucine-rich repeat domain, L domain-like</a><span> (IPR032675)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.236%;" title="50"></span>
                    <span class="grade" style="left:22.472%;" title="100"></span>
                    <span class="grade" style="left:33.708%;" title="150"></span>
                    <span class="grade" style="left:44.944%;" title="200"></span>
                    <span class="grade" style="left:56.18%;" title="250"></span>
                    <span class="grade" style="left:67.416%;" title="300"></span>
                    <span class="grade" style="left:78.652%;" title="350"></span>
                    <span class="grade" style="left:89.888%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="445"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.236%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:11.236%;">50</span>
                            <span class="scale_bar" style="left:22.472%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:22.472%;">100</span>
                            <span class="scale_bar" style="left:33.708%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:33.708%;">150</span>
                            <span class="scale_bar" style="left:44.944%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:44.944%;">200</span>
                            <span class="scale_bar" style="left:56.18%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:56.18%;">250</span>
                            <span class="scale_bar" style="left:67.416%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:67.416%;">300</span>
                            <span class="scale_bar" style="left:78.652%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:78.652%;">350</span>
                            <span class="scale_bar" style="left:89.888%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:89.888%;">400</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="445"></span>
                                <span class="scale_numb"
                                      style="left:100%;">445</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR032675">IPR032675</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR032675"
                                                         class="neutral">Leucine-rich repeat domain, L domain-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR032675-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.80.10.10" title="G3DSA:3.80.10.10"
           class="neutral">
        G3DSA:3.80.10.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA3801010-span-1"
      class="match gene3d c25 Domain"
      style="left:  32.809%;
              width: 20.225%;"
      title="G3DSA:3.80.10.10 147 - 236" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3801010-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c25 Domain caption_puce"></span>147 - 236</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.80.10.10' class="ext">G3DSA:3.80.10.10 </a>
            <span>(G3DSA:3.80.10.10)</span>
        </div>
    </div>


<span id="G3DSA3801010-span-2"
      class="match gene3d c25 Domain"
      style="left:  58.202%;
              width: 23.596%;"
      title="G3DSA:3.80.10.10 260 - 364" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3801010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c25 Domain caption_puce"></span>260 - 364</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.80.10.10' class="ext">G3DSA:3.80.10.10 </a>
            <span>(G3DSA:3.80.10.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.236%;" title="50"></span>
            <span class="grade" style="left:22.472%;" title="100"></span>
            <span class="grade" style="left:33.708%;" title="150"></span>
            <span class="grade" style="left:44.944%;" title="200"></span>
            <span class="grade" style="left:56.18%;" title="250"></span>
            <span class="grade" style="left:67.416%;" title="300"></span>
            <span class="grade" style="left:78.652%;" title="350"></span>
            <span class="grade" style="left:89.888%;" title="400"></span>
            <span class="grade" style="left:100%;" title="445"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-3"
      class="match coils uni"
      style="left:  99.551%;
              width: 0.449%;"
      title="Coil 444 - 445" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-3" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>444 - 445</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-4"
      class="match coils uni"
      style="left:  27.191%;
              width: 4.719%;"
      title="Coil 122 - 142" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-4" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>122 - 142</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.236%;" title="50"></span>
            <span class="grade" style="left:22.472%;" title="100"></span>
            <span class="grade" style="left:33.708%;" title="150"></span>
            <span class="grade" style="left:44.944%;" title="200"></span>
            <span class="grade" style="left:56.18%;" title="250"></span>
            <span class="grade" style="left:67.416%;" title="300"></span>
            <span class="grade" style="left:78.652%;" title="350"></span>
            <span class="grade" style="left:89.888%;" title="400"></span>
            <span class="grade" style="left:100%;" title="445"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52047" title="SSF52047 (RNI-like)"
       class="neutral">
        SSF52047
</a>

                <span>(RNI-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52047-span-5"
      class="match superfamily uni"
      style="left:  31.461%;
              width: 46.292%;"
      title="SSF52047 141 - 346" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52047-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>141 - 346</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52047' class="ext">SSF52047 </a>
            <span>(RNI-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.236%;" title="50"></span>
            <span class="grade" style="left:22.472%;" title="100"></span>
            <span class="grade" style="left:33.708%;" title="150"></span>
            <span class="grade" style="left:44.944%;" title="200"></span>
            <span class="grade" style="left:56.18%;" title="250"></span>
            <span class="grade" style="left:67.416%;" title="300"></span>
            <span class="grade" style="left:78.652%;" title="350"></span>
            <span class="grade" style="left:89.888%;" title="400"></span>
            <span class="grade" style="left:100%;" title="445"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
