 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4666_c0_seq0|m.20896 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">245 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001790">Ribosomal protein L10P</a><span> (IPR001790)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR022973">Ribosomal protein L10</a><span> (IPR022973)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001790">IPR001790</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001790"
                                                         class="neutral">Ribosomal protein L10P</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001790-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00466" title="PF00466 (Ribosomal_L10)"
       class="neutral">
        PF00466
</a>

                <span>(Ribosomal_L10)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00466-span-1"
      class="match pfam Family"
      style="left:  26.939%;
              width: 35.918%;"
      title="PF00466 67 - 154" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00466-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>67 - 154</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00466' class="ext">PF00466 </a>
            <span>(Ribosomal_L10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20.408%;" title="50"></span>
            <span class="grade" style="left:40.816%;" title="100"></span>
            <span class="grade" style="left:61.224%;" title="150"></span>
            <span class="grade" style="left:81.633%;" title="200"></span>
            <span class="grade" style="left:100%;" title="245"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022973">IPR022973</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022973"
                                                         class="neutral">Ribosomal protein L10</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022973-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_00362" title="MF_00362 (Ribosomal_L10)"
       class="neutral">
        MF_00362
</a>

            <span>(Ribosomal...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_00362-span-2"
      class="match hamap Family"
      style="left:  26.122%;
              width: 65.714%;"
      title="MF_00362 65 - 225" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_00362-popup-2" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>65 - 225</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_00362' class="ext">MF_00362 </a>
            <span>(Ribosomal_L10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20.408%;" title="50"></span>
            <span class="grade" style="left:40.816%;" title="100"></span>
            <span class="grade" style="left:61.224%;" title="150"></span>
            <span class="grade" style="left:81.633%;" title="200"></span>
            <span class="grade" style="left:100%;" title="245"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF160369" title="SSF160369 (Ribosomal protein L10-like)"
       class="neutral">
        SSF160369
</a>

            <span>(Ribosoma...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF160369-span-3"
      class="match superfamily uni"
      style="left:  26.531%;
              width: 68.98%;"
      title="SSF160369 66 - 234" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF160369-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>66 - 234</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF160369' class="ext">SSF160369 </a>
            <span>(Ribosomal protein L10-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20.408%;" title="50"></span>
            <span class="grade" style="left:40.816%;" title="100"></span>
            <span class="grade" style="left:61.224%;" title="150"></span>
            <span class="grade" style="left:81.633%;" title="200"></span>
            <span class="grade" style="left:100%;" title="245"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042254"
                   class="ext">GO:0042254</a> ribosome biogenesis
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005622"
                   class="ext">GO:0005622</a> intracellular
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
