 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3388_c0_seq1|m.15072 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,082 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c43 Domain"
      style="left:  0%;
              width: 6.747%;"
      title="Domain 1 - 73" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c43 Domain caption_puce"></span>1 - 73
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001357">BRCT domain</a><span> (IPR001357)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c43 Domain"
      style="left:  7.486%;
              width: 8.226%;"
      title="Domain 82 - 170" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c43 Domain caption_puce"></span>82 - 170
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001357">BRCT domain</a><span> (IPR001357)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c43 Domain"
      style="left:  85.397%;
              width: 11.83%;"
      title="Domain 925 - 1,052" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c43 Domain caption_puce"></span>925 - 1,052
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001357">BRCT domain</a><span> (IPR001357)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.242%;" title="100"></span>
                    <span class="grade" style="left:18.484%;" title="200"></span>
                    <span class="grade" style="left:27.726%;" title="300"></span>
                    <span class="grade" style="left:36.969%;" title="400"></span>
                    <span class="grade" style="left:46.211%;" title="500"></span>
                    <span class="grade" style="left:55.453%;" title="600"></span>
                    <span class="grade" style="left:64.695%;" title="700"></span>
                    <span class="grade" style="left:73.937%;" title="800"></span>
                    <span class="grade" style="left:83.179%;" title="900"></span>
                    <span class="grade" style="left:92.421%;" title="1000"></span>
                    <span class="grade" style="left:100%;" title="1082"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.242%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:9.242%;">100</span>
                            <span class="scale_bar" style="left:18.484%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:18.484%;">200</span>
                            <span class="scale_bar" style="left:27.726%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:27.726%;">300</span>
                            <span class="scale_bar" style="left:36.969%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:36.969%;">400</span>
                            <span class="scale_bar" style="left:46.211%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:46.211%;">500</span>
                            <span class="scale_bar" style="left:55.453%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:55.453%;">600</span>
                            <span class="scale_bar" style="left:64.695%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:64.695%;">700</span>
                            <span class="scale_bar" style="left:73.937%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:73.937%;">800</span>
                            <span class="scale_bar" style="left:83.179%;"
                                  title="900"></span>
                                <span class="scale_numb"
                                      style="left:83.179%;">900</span>
                            <span class="scale_bar" style="left:92.421%;"
                                  title="1000"></span>
                                <span class="scale_numb"
                                      style="left:92.421%;">1000</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="1082"></span>
                                <span class="scale_numb"
                                      style="left:100%;">1082</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001357">IPR001357</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001357"
                                                         class="neutral">BRCT domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001357-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF12738" title="PF12738 (PTCB-BRCT)"
       class="neutral">
        PF12738
</a>

                <span>(PTCB-BRCT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF12738-span-1"
      class="match pfam c43 Domain"
      style="left:  8.041%;
              width: 5.915%;"
      title="PF12738 88 - 151" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12738-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c43 Domain caption_puce"></span>88 - 151</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12738' class="ext">PF12738 </a>
            <span>(PTCB-BRCT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="100"></span>
            <span class="grade" style="left:18.484%;" title="200"></span>
            <span class="grade" style="left:27.726%;" title="300"></span>
            <span class="grade" style="left:36.969%;" title="400"></span>
            <span class="grade" style="left:46.211%;" title="500"></span>
            <span class="grade" style="left:55.453%;" title="600"></span>
            <span class="grade" style="left:64.695%;" title="700"></span>
            <span class="grade" style="left:73.937%;" title="800"></span>
            <span class="grade" style="left:83.179%;" title="900"></span>
            <span class="grade" style="left:92.421%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1082"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001357-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00292&amp;BLAST=DUMMY" title="SM00292 (BRCT)"
       class="neutral">
        SM00292
</a>

                <span>(BRCT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00292-span-2"
      class="match smart c43 Domain"
      style="left:  7.486%;
              width: 7.209%;"
      title="SM00292 82 - 159" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00292-popup-2" style="display: none;">

        <div class="popup_topl"><span class="smart c43 Domain caption_puce"></span>82 - 159</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00292&amp;BLAST=DUMMY' class="ext">SM00292 </a>
            <span>(BRCT)</span>
        </div>
    </div>


<span id="SM00292-span-3"
      class="match smart c43 Domain"
      style="left:  86.876%;
              width: 7.486%;"
      title="SM00292 941 - 1,021" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00292-popup-3" style="display: none;">

        <div class="popup_topl"><span class="smart c43 Domain caption_puce"></span>941 - 1,021</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00292&amp;BLAST=DUMMY' class="ext">SM00292 </a>
            <span>(BRCT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="100"></span>
            <span class="grade" style="left:18.484%;" title="200"></span>
            <span class="grade" style="left:27.726%;" title="300"></span>
            <span class="grade" style="left:36.969%;" title="400"></span>
            <span class="grade" style="left:46.211%;" title="500"></span>
            <span class="grade" style="left:55.453%;" title="600"></span>
            <span class="grade" style="left:64.695%;" title="700"></span>
            <span class="grade" style="left:73.937%;" title="800"></span>
            <span class="grade" style="left:83.179%;" title="900"></span>
            <span class="grade" style="left:92.421%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1082"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001357-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50172" title="PS50172 (BRCT)"
       class="neutral">
        PS50172
</a>

                <span>(BRCT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50172-span-4"
      class="match prosite-profiles c43 Domain"
      style="left:  85.397%;
              width: 9.889%;"
      title="PS50172 925 - 1,031" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50172-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c43 Domain caption_puce"></span>925 - 1,031</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50172' class="ext">PS50172 </a>
            <span>(BRCT)</span>
        </div>
    </div>


<span id="PS50172-span-5"
      class="match prosite-profiles c43 Domain"
      style="left:  0%;
              width: 6.747%;"
      title="PS50172 1 - 73" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50172-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c43 Domain caption_puce"></span>1 - 73</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50172' class="ext">PS50172 </a>
            <span>(BRCT)</span>
        </div>
    </div>


<span id="PS50172-span-6"
      class="match prosite-profiles c43 Domain"
      style="left:  7.856%;
              width: 7.763%;"
      title="PS50172 86 - 169" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50172-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c43 Domain caption_puce"></span>86 - 169</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50172' class="ext">PS50172 </a>
            <span>(BRCT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="100"></span>
            <span class="grade" style="left:18.484%;" title="200"></span>
            <span class="grade" style="left:27.726%;" title="300"></span>
            <span class="grade" style="left:36.969%;" title="400"></span>
            <span class="grade" style="left:46.211%;" title="500"></span>
            <span class="grade" style="left:55.453%;" title="600"></span>
            <span class="grade" style="left:64.695%;" title="700"></span>
            <span class="grade" style="left:73.937%;" title="800"></span>
            <span class="grade" style="left:83.179%;" title="900"></span>
            <span class="grade" style="left:92.421%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1082"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001357-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52113" title="SSF52113 (BRCT domain)"
       class="neutral">
        SSF52113
</a>

                <span>(BRCT domain)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52113-span-7"
      class="match superfamily c43 Domain"
      style="left:  87.893%;
              width: 9.15%;"
      title="SSF52113 952 - 1,050" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52113-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily c43 Domain caption_puce"></span>952 - 1,050</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52113' class="ext">SSF52113 </a>
            <span>(BRCT domain)</span>
        </div>
    </div>


<span id="SSF52113-span-8"
      class="match superfamily c43 Domain"
      style="left:  7.856%;
              width: 7.763%;"
      title="SSF52113 86 - 169" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52113-popup-8" style="display: none;">

        <div class="popup_topl"><span class="superfamily c43 Domain caption_puce"></span>86 - 169</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52113' class="ext">SSF52113 </a>
            <span>(BRCT domain)</span>
        </div>
    </div>


<span id="SSF52113-span-9"
      class="match superfamily c43 Domain"
      style="left:  0.185%;
              width: 6.285%;"
      title="SSF52113 3 - 70" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52113-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily c43 Domain caption_puce"></span>3 - 70</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52113' class="ext">SSF52113 </a>
            <span>(BRCT domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="100"></span>
            <span class="grade" style="left:18.484%;" title="200"></span>
            <span class="grade" style="left:27.726%;" title="300"></span>
            <span class="grade" style="left:36.969%;" title="400"></span>
            <span class="grade" style="left:46.211%;" title="500"></span>
            <span class="grade" style="left:55.453%;" title="600"></span>
            <span class="grade" style="left:64.695%;" title="700"></span>
            <span class="grade" style="left:73.937%;" title="800"></span>
            <span class="grade" style="left:83.179%;" title="900"></span>
            <span class="grade" style="left:92.421%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1082"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001357-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.10190" title="G3DSA:3.40.50.10190"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA3405010190-span-10"
      class="match gene3d c43 Domain"
      style="left:  0.277%;
              width: 6.192%;"
      title="G3DSA:3.40.50.10190 4 - 70" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3405010190-popup-10" style="display: none;">

        <div class="popup_topl"><span class="gene3d c43 Domain caption_puce"></span>4 - 70</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.10190' class="ext">G3DSA:3.40.50.10190 </a>
            <span>(G3DSA:3.40.50.10190)</span>
        </div>
    </div>


<span id="G3DSA3405010190-span-11"
      class="match gene3d c43 Domain"
      style="left:  7.948%;
              width: 7.763%;"
      title="G3DSA:3.40.50.10190 87 - 170" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3405010190-popup-11" style="display: none;">

        <div class="popup_topl"><span class="gene3d c43 Domain caption_puce"></span>87 - 170</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.10190' class="ext">G3DSA:3.40.50.10190 </a>
            <span>(G3DSA:3.40.50.10190)</span>
        </div>
    </div>


<span id="G3DSA3405010190-span-12"
      class="match gene3d c43 Domain"
      style="left:  87.708%;
              width: 9.519%;"
      title="G3DSA:3.40.50.10190 950 - 1,052" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3405010190-popup-12" style="display: none;">

        <div class="popup_topl"><span class="gene3d c43 Domain caption_puce"></span>950 - 1,052</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.10190' class="ext">G3DSA:3.40.50.10190 </a>
            <span>(G3DSA:3.40.50.10190)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="100"></span>
            <span class="grade" style="left:18.484%;" title="200"></span>
            <span class="grade" style="left:27.726%;" title="300"></span>
            <span class="grade" style="left:36.969%;" title="400"></span>
            <span class="grade" style="left:46.211%;" title="500"></span>
            <span class="grade" style="left:55.453%;" title="600"></span>
            <span class="grade" style="left:64.695%;" title="700"></span>
            <span class="grade" style="left:73.937%;" title="800"></span>
            <span class="grade" style="left:83.179%;" title="900"></span>
            <span class="grade" style="left:92.421%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1082"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-13"
      class="match coils uni"
      style="left:  23.66%;
              width: 1.941%;"
      title="Coil 257 - 277" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-13" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>257 - 277</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="100"></span>
            <span class="grade" style="left:18.484%;" title="200"></span>
            <span class="grade" style="left:27.726%;" title="300"></span>
            <span class="grade" style="left:36.969%;" title="400"></span>
            <span class="grade" style="left:46.211%;" title="500"></span>
            <span class="grade" style="left:55.453%;" title="600"></span>
            <span class="grade" style="left:64.695%;" title="700"></span>
            <span class="grade" style="left:73.937%;" title="800"></span>
            <span class="grade" style="left:83.179%;" title="900"></span>
            <span class="grade" style="left:92.421%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1082"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
