 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp8252_c0_seq1|m.33619 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">826 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c18 Domain"
      style="left:  8.475%;
              width: 19.128%;"
      title="Domain 71 - 228" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c18 Domain caption_puce"></span>71 - 228
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020683">Ankyrin repeat-containing domain</a><span> (IPR020683)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c18 Domain"
      style="left:  44.31%;
              width: 7.385%;"
      title="Domain 367 - 427" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c18 Domain caption_puce"></span>367 - 427
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020683">Ankyrin repeat-containing domain</a><span> (IPR020683)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c18 Domain"
      style="left:  62.954%;
              width: 16.586%;"
      title="Domain 521 - 657" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c18 Domain caption_puce"></span>521 - 657
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020683">Ankyrin repeat-containing domain</a><span> (IPR020683)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.107%;" title="100"></span>
                    <span class="grade" style="left:24.213%;" title="200"></span>
                    <span class="grade" style="left:36.32%;" title="300"></span>
                    <span class="grade" style="left:48.426%;" title="400"></span>
                    <span class="grade" style="left:60.533%;" title="500"></span>
                    <span class="grade" style="left:72.639%;" title="600"></span>
                    <span class="grade" style="left:84.746%;" title="700"></span>
                    <span class="grade" style="left:100%;" title="826"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-4"
      class="match c42 Domain"
      style="left:  78.329%;
              width: 13.801%;"
      title="Domain 648 - 761" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c42 Domain caption_puce"></span>648 - 761
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR026961">PGG domain</a><span> (IPR026961)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.107%;" title="100"></span>
                    <span class="grade" style="left:24.213%;" title="200"></span>
                    <span class="grade" style="left:36.32%;" title="300"></span>
                    <span class="grade" style="left:48.426%;" title="400"></span>
                    <span class="grade" style="left:60.533%;" title="500"></span>
                    <span class="grade" style="left:72.639%;" title="600"></span>
                    <span class="grade" style="left:84.746%;" title="700"></span>
                    <span class="grade" style="left:100%;" title="826"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-5"
      class="match c17 Repeat"
      style="left:  8.475%;
              width: 3.753%;"
      title="Repeat 71 - 101" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>71 - 101
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>




<span id="supermatch-span-6"
      class="match c17 Repeat"
      style="left:  12.591%;
              width: 3.995%;"
      title="Repeat 105 - 137" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>105 - 137
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>




<span id="supermatch-span-7"
      class="match c17 Repeat"
      style="left:  16.586%;
              width: 3.632%;"
      title="Repeat 138 - 167" >
</span>
        <div id="supermatch-popup-7" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>138 - 167
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>




<span id="supermatch-span-8"
      class="match c17 Repeat"
      style="left:  24.697%;
              width: 3.632%;"
      title="Repeat 205 - 234" >
</span>
        <div id="supermatch-popup-8" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>205 - 234
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>




<span id="supermatch-span-9"
      class="match c17 Repeat"
      style="left:  46.489%;
              width: 3.632%;"
      title="Repeat 385 - 414" >
</span>
        <div id="supermatch-popup-9" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>385 - 414
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>




<span id="supermatch-span-10"
      class="match c17 Repeat"
      style="left:  63.68%;
              width: 3.995%;"
      title="Repeat 527 - 559" >
</span>
        <div id="supermatch-popup-10" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>527 - 559
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>




<span id="supermatch-span-11"
      class="match c17 Repeat"
      style="left:  68.16%;
              width: 3.995%;"
      title="Repeat 564 - 596" >
</span>
        <div id="supermatch-popup-11" style="display: none;">
        <div class="popup_topl">
            <span class="c17 Repeat caption_puce"></span>564 - 596
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110">Ankyrin repeat</a><span> (IPR002110)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.107%;" title="100"></span>
                    <span class="grade" style="left:24.213%;" title="200"></span>
                    <span class="grade" style="left:36.32%;" title="300"></span>
                    <span class="grade" style="left:48.426%;" title="400"></span>
                    <span class="grade" style="left:60.533%;" title="500"></span>
                    <span class="grade" style="left:72.639%;" title="600"></span>
                    <span class="grade" style="left:84.746%;" title="700"></span>
                    <span class="grade" style="left:100%;" title="826"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.107%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:12.107%;">100</span>
                            <span class="scale_bar" style="left:24.213%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:24.213%;">200</span>
                            <span class="scale_bar" style="left:36.32%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:36.32%;">300</span>
                            <span class="scale_bar" style="left:48.426%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:48.426%;">400</span>
                            <span class="scale_bar" style="left:60.533%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:60.533%;">500</span>
                            <span class="scale_bar" style="left:72.639%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:72.639%;">600</span>
                            <span class="scale_bar" style="left:84.746%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:84.746%;">700</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="826"></span>
                                <span class="scale_numb"
                                      style="left:100%;">826</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020683">IPR020683</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020683"
                                                         class="neutral">Ankyrin repeat-containing domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020683-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50297" title="PS50297 (ANK_REP_REGION)"
       class="neutral">
        PS50297
</a>

            <span>(ANK_REP_RE...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50297-span-1"
      class="match prosite-profiles c18 Domain"
      style="left:  63.68%;
              width: 7.143%;"
      title="PS50297 527 - 585" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50297-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c18 Domain caption_puce"></span>527 - 585</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50297' class="ext">PS50297 </a>
            <span>(ANK_REP_REGION)</span>
        </div>
    </div>


<span id="PS50297-span-2"
      class="match prosite-profiles c18 Domain"
      style="left:  8.475%;
              width: 18.886%;"
      title="PS50297 71 - 226" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50297-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c18 Domain caption_puce"></span>71 - 226</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50297' class="ext">PS50297 </a>
            <span>(ANK_REP_REGION)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR020683-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.25.40.20" title="G3DSA:1.25.40.20"
           class="neutral">
        G3DSA:1.25.40.20
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1254020-span-3"
      class="match gene3d c18 Domain"
      style="left:  23.85%;
              width: 3.753%;"
      title="G3DSA:1.25.40.20 198 - 228" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254020-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c18 Domain caption_puce"></span>198 - 228</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.20' class="ext">G3DSA:1.25.40.20 </a>
            <span>(G3DSA:1.25.40.20)</span>
        </div>
    </div>


<span id="G3DSA1254020-span-4"
      class="match gene3d c18 Domain"
      style="left:  63.438%;
              width: 16.102%;"
      title="G3DSA:1.25.40.20 525 - 657" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254020-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c18 Domain caption_puce"></span>525 - 657</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.20' class="ext">G3DSA:1.25.40.20 </a>
            <span>(G3DSA:1.25.40.20)</span>
        </div>
    </div>


<span id="G3DSA1254020-span-5"
      class="match gene3d c18 Domain"
      style="left:  8.596%;
              width: 11.259%;"
      title="G3DSA:1.25.40.20 72 - 164" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254020-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c18 Domain caption_puce"></span>72 - 164</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.20' class="ext">G3DSA:1.25.40.20 </a>
            <span>(G3DSA:1.25.40.20)</span>
        </div>
    </div>


<span id="G3DSA1254020-span-6"
      class="match gene3d c18 Domain"
      style="left:  44.31%;
              width: 7.143%;"
      title="G3DSA:1.25.40.20 367 - 425" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254020-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d c18 Domain caption_puce"></span>367 - 425</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.20' class="ext">G3DSA:1.25.40.20 </a>
            <span>(G3DSA:1.25.40.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR020683-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF12796" title="PF12796 (Ank_2)"
       class="neutral">
        PF12796
</a>

                <span>(Ank_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF12796-span-7"
      class="match pfam c18 Domain"
      style="left:  63.559%;
              width: 7.506%;"
      title="PF12796 526 - 587" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12796-popup-7" style="display: none;">

        <div class="popup_topl"><span class="pfam c18 Domain caption_puce"></span>526 - 587</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12796' class="ext">PF12796 </a>
            <span>(Ank_2)</span>
        </div>
    </div>


<span id="PF12796-span-8"
      class="match pfam c18 Domain"
      style="left:  9.08%;
              width: 10.412%;"
      title="PF12796 76 - 161" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12796-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c18 Domain caption_puce"></span>76 - 161</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12796' class="ext">PF12796 </a>
            <span>(Ank_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR020683-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48403" title="SSF48403 (Ankyrin repeat)"
       class="neutral">
        SSF48403
</a>

            <span>(Ankyrin r...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48403-span-9"
      class="match superfamily c18 Domain"
      style="left:  62.954%;
              width: 9.927%;"
      title="SSF48403 521 - 602" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48403-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily c18 Domain caption_puce"></span>521 - 602</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48403' class="ext">SSF48403 </a>
            <span>(Ankyrin repeat)</span>
        </div>
    </div>


<span id="SSF48403-span-10"
      class="match superfamily c18 Domain"
      style="left:  8.717%;
              width: 10.775%;"
      title="SSF48403 73 - 161" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48403-popup-10" style="display: none;">

        <div class="popup_topl"><span class="superfamily c18 Domain caption_puce"></span>73 - 161</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48403' class="ext">SSF48403 </a>
            <span>(Ankyrin repeat)</span>
        </div>
    </div>


<span id="SSF48403-span-11"
      class="match superfamily c18 Domain"
      style="left:  45.278%;
              width: 6.416%;"
      title="SSF48403 375 - 427" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48403-popup-11" style="display: none;">

        <div class="popup_topl"><span class="superfamily c18 Domain caption_puce"></span>375 - 427</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48403' class="ext">SSF48403 </a>
            <span>(Ankyrin repeat)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR026961">IPR026961</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR026961"
                                                         class="neutral">PGG domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR026961-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13962" title="PF13962 (PGG)"
       class="neutral">
        PF13962
</a>

                <span>(PGG)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13962-span-12"
      class="match pfam c42 Domain"
      style="left:  78.329%;
              width: 13.801%;"
      title="PF13962 648 - 761" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13962-popup-12" style="display: none;">

        <div class="popup_topl"><span class="pfam c42 Domain caption_puce"></span>648 - 761</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13962' class="ext">PF13962 </a>
            <span>(PGG)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002110">IPR002110</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002110"
                                                         class="neutral">Ankyrin repeat</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002110-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY" title="SM00248 (ANK)"
       class="neutral">
        SM00248
</a>

                <span>(ANK)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00248-span-13"
      class="match smart c17 Repeat"
      style="left:  63.68%;
              width: 3.995%;"
      title="SM00248 527 - 559" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-13" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>527 - 559</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


<span id="SM00248-span-14"
      class="match smart c17 Repeat"
      style="left:  12.591%;
              width: 3.632%;"
      title="SM00248 105 - 134" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-14" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>105 - 134</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


<span id="SM00248-span-15"
      class="match smart c17 Repeat"
      style="left:  46.489%;
              width: 3.632%;"
      title="SM00248 385 - 414" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-15" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>385 - 414</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


<span id="SM00248-span-16"
      class="match smart c17 Repeat"
      style="left:  24.697%;
              width: 3.632%;"
      title="SM00248 205 - 234" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-16" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>205 - 234</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


<span id="SM00248-span-17"
      class="match smart c17 Repeat"
      style="left:  8.475%;
              width: 3.753%;"
      title="SM00248 71 - 101" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-17" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>71 - 101</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


<span id="SM00248-span-18"
      class="match smart c17 Repeat"
      style="left:  68.16%;
              width: 3.995%;"
      title="SM00248 564 - 596" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-18" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>564 - 596</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


<span id="SM00248-span-19"
      class="match smart c17 Repeat"
      style="left:  16.586%;
              width: 3.632%;"
      title="SM00248 138 - 167" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00248-popup-19" style="display: none;">

        <div class="popup_topl"><span class="smart c17 Repeat caption_puce"></span>138 - 167</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00248&amp;BLAST=DUMMY' class="ext">SM00248 </a>
            <span>(ANK)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002110-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50088" title="PS50088 (ANK_REPEAT)"
       class="neutral">
        PS50088
</a>

                <span>(ANK_REPEAT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50088-span-20"
      class="match prosite-profiles c17 Repeat"
      style="left:  24.697%;
              width: 2.663%;"
      title="PS50088 205 - 226" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50088-popup-20" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c17 Repeat caption_puce"></span>205 - 226</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50088' class="ext">PS50088 </a>
            <span>(ANK_REPEAT)</span>
        </div>
    </div>


<span id="PS50088-span-21"
      class="match prosite-profiles c17 Repeat"
      style="left:  68.16%;
              width: 2.663%;"
      title="PS50088 564 - 585" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50088-popup-21" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c17 Repeat caption_puce"></span>564 - 585</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50088' class="ext">PS50088 </a>
            <span>(ANK_REPEAT)</span>
        </div>
    </div>


<span id="PS50088-span-22"
      class="match prosite-profiles c17 Repeat"
      style="left:  12.591%;
              width: 3.995%;"
      title="PS50088 105 - 137" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50088-popup-22" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c17 Repeat caption_puce"></span>105 - 137</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50088' class="ext">PS50088 </a>
            <span>(ANK_REPEAT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-23"
      class="match coils uni"
      style="left:  60.291%;
              width: 2.542%;"
      title="Coil 499 - 519" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-23" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>499 - 519</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.107%;" title="100"></span>
            <span class="grade" style="left:24.213%;" title="200"></span>
            <span class="grade" style="left:36.32%;" title="300"></span>
            <span class="grade" style="left:48.426%;" title="400"></span>
            <span class="grade" style="left:60.533%;" title="500"></span>
            <span class="grade" style="left:72.639%;" title="600"></span>
            <span class="grade" style="left:84.746%;" title="700"></span>
            <span class="grade" style="left:100%;" title="826"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 11);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
