 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4060_c0_seq1|m.18384 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">630 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR006236">D-3-phosphoglycerate dehydrogenase</a><span> (IPR006236)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c57 Domain"
      style="left:  13.968%;
              width: 16.667%;"
      title="Domain 89 - 193" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>89 - 193
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040">NAD(P)-binding domain</a><span> (IPR016040)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c57 Domain"
      style="left:  29.683%;
              width: 29.206%;"
      title="Domain 188 - 371" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>188 - 371
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040">NAD(P)-binding domain</a><span> (IPR016040)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR006140">D-isomer specific 2-hydroxyacid dehydrogenase, NAD-binding domain</a><span> (IPR006140)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c15 Domain"
      style="left:  64.286%;
              width: 23.333%;"
      title="Domain 406 - 552" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c15 Domain caption_puce"></span>406 - 552
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029009">Allosteric substrate binding domain</a><span> (IPR029009)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c56 Domain"
      style="left:  88.413%;
              width: 11.587%;"
      title="Domain 558 - 630" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c56 Domain caption_puce"></span>558 - 630
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002912">ACT domain</a><span> (IPR002912)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.873%;" title="100"></span>
                    <span class="grade" style="left:31.746%;" title="200"></span>
                    <span class="grade" style="left:47.619%;" title="300"></span>
                    <span class="grade" style="left:63.492%;" title="400"></span>
                    <span class="grade" style="left:79.365%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="630"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-5"
      class="match c46 Domain"
      style="left:  14.444%;
              width: 49.206%;"
      title="Domain 92 - 401" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>92 - 401
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR006139">D-isomer specific 2-hydroxyacid dehydrogenase, catalytic domain</a><span> (IPR006139)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.873%;" title="100"></span>
                    <span class="grade" style="left:31.746%;" title="200"></span>
                    <span class="grade" style="left:47.619%;" title="300"></span>
                    <span class="grade" style="left:63.492%;" title="400"></span>
                    <span class="grade" style="left:79.365%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="630"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-6"
      class="match c47 Domain"
      style="left:  34.603%;
              width: 24.603%;"
      title="Domain 219 - 373" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c47 Domain caption_puce"></span>219 - 373
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR015878">S-adenosyl-L-homocysteine hydrolase, NAD binding domain</a><span> (IPR015878)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.873%;" title="100"></span>
                    <span class="grade" style="left:31.746%;" title="200"></span>
                    <span class="grade" style="left:47.619%;" title="300"></span>
                    <span class="grade" style="left:63.492%;" title="400"></span>
                    <span class="grade" style="left:79.365%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="630"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:15.873%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:15.873%;">100</span>
                            <span class="scale_bar" style="left:31.746%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:31.746%;">200</span>
                            <span class="scale_bar" style="left:47.619%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:47.619%;">300</span>
                            <span class="scale_bar" style="left:63.492%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:63.492%;">400</span>
                            <span class="scale_bar" style="left:79.365%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:79.365%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="630"></span>
                                <span class="scale_numb"
                                      style="left:100%;">630</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006236">IPR006236</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006236"
                                                         class="neutral">D-3-phosphoglycerate dehydrogenase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006236-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR01327"
           class="neutral">
        TIGR01327
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR01327-span-1"
      class="match unknown Family"
      style="left:  14.444%;
              width: 85.238%;"
      title="TIGR01327 92 - 628" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR01327-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>92 - 628</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR01327 </a>
            <span>(TIGR01327)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016040">IPR016040</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040"
                                                         class="neutral">NAD(P)-binding domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016040-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51735" title="SSF51735 (NAD(P)-binding Rossmann-fold domains)"
       class="neutral">
        SSF51735
</a>

            <span>(NAD(P)-bi...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF51735-span-2"
      class="match superfamily c57 Domain"
      style="left:  29.683%;
              width: 29.048%;"
      title="SSF51735 188 - 370" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51735-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>188 - 370</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51735' class="ext">SSF51735 </a>
            <span>(NAD(P)-binding Rossmann-fold domains)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR016040-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.720" title="G3DSA:3.40.50.720"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050720-span-3"
      class="match gene3d c57 Domain"
      style="left:  30.635%;
              width: 28.254%;"
      title="G3DSA:3.40.50.720 194 - 371" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050720-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>194 - 371</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.720' class="ext">G3DSA:3.40.50.720 </a>
            <span>(G3DSA:3.40.50.720)</span>
        </div>
    </div>


<span id="G3DSA34050720-span-4"
      class="match gene3d c57 Domain"
      style="left:  13.968%;
              width: 16.667%;"
      title="G3DSA:3.40.50.720 89 - 193" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050720-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>89 - 193</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.720' class="ext">G3DSA:3.40.50.720 </a>
            <span>(G3DSA:3.40.50.720)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006139">IPR006139</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006139"
                                                         class="neutral">D-isomer specific 2-hydroxyacid dehydrogenase, catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006139-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00389" title="PF00389 (2-Hacid_dh)"
       class="neutral">
        PF00389
</a>

                <span>(2-Hacid_dh)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00389-span-5"
      class="match pfam c46 Domain"
      style="left:  14.444%;
              width: 49.206%;"
      title="PF00389 92 - 401" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00389-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c46 Domain caption_puce"></span>92 - 401</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00389' class="ext">PF00389 </a>
            <span>(2-Hacid_dh)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006140">IPR006140</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006140"
                                                         class="neutral">D-isomer specific 2-hydroxyacid dehydrogenase, NAD-binding domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006140-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF02826" title="PF02826 (2-Hacid_dh_C)"
       class="neutral">
        PF02826
</a>

                <span>(2-Hacid_dh_C)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF02826-span-6"
      class="match pfam c57 Domain"
      style="left:  30.635%;
              width: 27.937%;"
      title="PF02826 194 - 369" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF02826-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>194 - 369</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF02826' class="ext">PF02826 </a>
            <span>(2-Hacid_dh_C)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR015878">IPR015878</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR015878"
                                                         class="neutral">S-adenosyl-L-homocysteine hydrolase, NAD binding domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR015878-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00997&amp;BLAST=DUMMY" title="SM00997 (AdoHcyase_NAD)"
       class="neutral">
        SM00997
</a>

                <span>(AdoHcyase_NAD)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00997-span-7"
      class="match smart c47 Domain"
      style="left:  34.603%;
              width: 24.603%;"
      title="SM00997 219 - 373" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00997-popup-7" style="display: none;">

        <div class="popup_topl"><span class="smart c47 Domain caption_puce"></span>219 - 373</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00997&amp;BLAST=DUMMY' class="ext">SM00997 </a>
            <span>(AdoHcyase_NAD)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029009">IPR029009</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029009"
                                                         class="neutral">Allosteric substrate binding domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029009-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.1330.90" title="G3DSA:3.30.1330.90"
           class="neutral">
    G3DSA:3.30.13...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA330133090-span-8"
      class="match gene3d c15 Domain"
      style="left:  64.286%;
              width: 23.016%;"
      title="G3DSA:3.30.1330.90 406 - 550" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA330133090-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d c15 Domain caption_puce"></span>406 - 550</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.1330.90' class="ext">G3DSA:3.30.1330.90 </a>
            <span>(G3DSA:3.30.1330.90)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029009-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF143548" title="SSF143548 (Serine metabolism enzymes domain)"
       class="neutral">
        SSF143548
</a>

            <span>(Serine m...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF143548-span-9"
      class="match superfamily c15 Domain"
      style="left:  64.444%;
              width: 23.175%;"
      title="SSF143548 407 - 552" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF143548-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily c15 Domain caption_puce"></span>407 - 552</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF143548' class="ext">SSF143548 </a>
            <span>(Serine metabolism enzymes domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002912">IPR002912</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002912"
                                                         class="neutral">ACT domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002912-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51671" title="PS51671 (ACT)"
       class="neutral">
        PS51671
</a>

                <span>(ACT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51671-span-10"
      class="match prosite-profiles c56 Domain"
      style="left:  88.413%;
              width: 11.587%;"
      title="PS51671 558 - 630" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51671-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c56 Domain caption_puce"></span>558 - 630</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51671' class="ext">PS51671 </a>
            <span>(ACT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002912-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01842" title="PF01842 (ACT)"
       class="neutral">
        PF01842
</a>

                <span>(ACT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01842-span-11"
      class="match pfam c56 Domain"
      style="left:  88.413%;
              width: 9.683%;"
      title="PF01842 558 - 618" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01842-popup-11" style="display: none;">

        <div class="popup_topl"><span class="pfam c56 Domain caption_puce"></span>558 - 618</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01842' class="ext">PF01842 </a>
            <span>(ACT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029752">IPR029752</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029752"
                                                         class="neutral">D-isomer specific 2-hydroxyacid dehydrogenase, NAD-binding domain conserved site 1</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029752-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00065" title="PS00065 (D_2_HYDROXYACID_DH_1)"
       class="neutral">
        PS00065
</a>

            <span>(D_2_HYDROX...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00065-span-12"
      class="match prosite-patterns SITE"
      style="left:  36.508%;
              width: 4.444%;"
      title="PS00065 231 - 258" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00065-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>231 - 258</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00065' class="ext">PS00065 </a>
            <span>(D_2_HYDROXYACID_DH_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029753">IPR029753</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029753"
                                                         class="neutral">D-isomer specific 2-hydroxyacid dehydrogenase, NAD-binding domain conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029753-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00671" title="PS00671 (D_2_HYDROXYACID_DH_3)"
       class="neutral">
        PS00671
</a>

            <span>(D_2_HYDROX...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00671-span-13"
      class="match prosite-patterns SITE"
      style="left:  48.73%;
              width: 2.698%;"
      title="PS00671 308 - 324" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00671-popup-13" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>308 - 324</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00671' class="ext">PS00671 </a>
            <span>(D_2_HYDROXYACID_DH_3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.260" title="G3DSA:3.30.70.260"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070260-span-14"
      class="match gene3d uni"
      style="left:  87.302%;
              width: 11.746%;"
      title="G3DSA:3.30.70.260 551 - 624" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070260-popup-14" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>551 - 624</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.260' class="ext">G3DSA:3.30.70.260 </a>
            <span>(G3DSA:3.30.70.260)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52283" title="SSF52283 (Formate/glycerate dehydrogenase catalytic domain-like)"
       class="neutral">
        SSF52283
</a>

            <span>(Formate/g...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52283-span-15"
      class="match superfamily uni"
      style="left:  13.968%;
              width: 20.635%;"
      title="SSF52283 89 - 218" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52283-popup-15" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>89 - 218</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52283' class="ext">SSF52283 </a>
            <span>(Formate/glycerate dehydrogenase catalytic domain-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55021" title="SSF55021 (ACT-like)"
       class="neutral">
        SSF55021
</a>

                <span>(ACT-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55021-span-16"
      class="match superfamily uni"
      style="left:  88.095%;
              width: 11.429%;"
      title="SSF55021 556 - 627" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55021-popup-16" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>556 - 627</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55021' class="ext">SSF55021 </a>
            <span>(ACT-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="100"></span>
            <span class="grade" style="left:31.746%;" title="200"></span>
            <span class="grade" style="left:47.619%;" title="300"></span>
            <span class="grade" style="left:63.492%;" title="400"></span>
            <span class="grade" style="left:79.365%;" title="500"></span>
            <span class="grade" style="left:100%;" title="630"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006564"
                   class="ext">GO:0006564</a> L-serine biosynthetic process
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008152"
                   class="ext">GO:0008152</a> metabolic process
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0055114"
                   class="ext">GO:0055114</a> oxidation-reduction process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004617"
                   class="ext">GO:0004617</a> phosphoglycerate dehydrogenase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016597"
                   class="ext">GO:0016597</a> amino acid binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016616"
                   class="ext">GO:0016616</a> oxidoreductase activity, acting on the CH-OH group of donors, NAD or NADP as acceptor
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0051287"
                   class="ext">GO:0051287</a> NAD binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 6);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
