 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp13619_c0_seq1|m.42824 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">313 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001130">TatD family</a><span> (IPR001130)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c16 Domain"
      style="left:  1.597%;
              width: 68.371%;"
      title="Domain 6 - 219" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c16 Domain caption_puce"></span>6 - 219
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR032466">Metal-dependent hydrolase</a><span> (IPR032466)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c16 Domain"
      style="left:  83.387%;
              width: 14.058%;"
      title="Domain 262 - 305" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c16 Domain caption_puce"></span>262 - 305
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR032466">Metal-dependent hydrolase</a><span> (IPR032466)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.974%;" title="50"></span>
                    <span class="grade" style="left:31.949%;" title="100"></span>
                    <span class="grade" style="left:47.923%;" title="150"></span>
                    <span class="grade" style="left:63.898%;" title="200"></span>
                    <span class="grade" style="left:79.872%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="313"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:15.974%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:15.974%;">50</span>
                            <span class="scale_bar" style="left:31.949%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:31.949%;">100</span>
                            <span class="scale_bar" style="left:47.923%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:47.923%;">150</span>
                            <span class="scale_bar" style="left:63.898%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:63.898%;">200</span>
                            <span class="scale_bar" style="left:79.872%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:79.872%;">250</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="313"></span>
                                <span class="scale_numb"
                                      style="left:100%;">313</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001130">IPR001130</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001130"
                                                         class="neutral">TatD family</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01026" title="PF01026 (TatD_DNase)"
       class="neutral">
        PF01026
</a>

                <span>(TatD_DNase)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01026-span-1"
      class="match pfam Family"
      style="left:  1.917%;
              width: 95.527%;"
      title="PF01026 7 - 305" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01026-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>7 - 305</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01026' class="ext">PF01026 </a>
            <span>(TatD_DNase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.974%;" title="50"></span>
            <span class="grade" style="left:31.949%;" title="100"></span>
            <span class="grade" style="left:47.923%;" title="150"></span>
            <span class="grade" style="left:63.898%;" title="200"></span>
            <span class="grade" style="left:79.872%;" title="250"></span>
            <span class="grade" style="left:100%;" title="313"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF005902" title="PIRSF005902 (DNase_TatD)"
       class="neutral">
        PIRSF005902
</a>

            <span>(DNase_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF005902-span-2"
      class="match pirsf Family"
      style="left:  0%;
              width: 98.722%;"
      title="PIRSF005902 1 - 309" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF005902-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>1 - 309</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF005902' class="ext">PIRSF005902 </a>
            <span>(DNase_TatD)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.974%;" title="50"></span>
            <span class="grade" style="left:31.949%;" title="100"></span>
            <span class="grade" style="left:47.923%;" title="150"></span>
            <span class="grade" style="left:63.898%;" title="200"></span>
            <span class="grade" style="left:79.872%;" title="250"></span>
            <span class="grade" style="left:100%;" title="313"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR032466">IPR032466</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR032466"
                                                         class="neutral">Metal-dependent hydrolase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR032466-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51556" title="SSF51556 (Metallo-dependent hydrolases)"
       class="neutral">
        SSF51556
</a>

            <span>(Metallo-d...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF51556-span-3"
      class="match superfamily c16 Domain"
      style="left:  1.597%;
              width: 68.371%;"
      title="SSF51556 6 - 219" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51556-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c16 Domain caption_puce"></span>6 - 219</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51556' class="ext">SSF51556 </a>
            <span>(Metallo-dependent hydrolases)</span>
        </div>
    </div>


<span id="SSF51556-span-4"
      class="match superfamily c16 Domain"
      style="left:  83.387%;
              width: 14.058%;"
      title="SSF51556 262 - 305" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51556-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c16 Domain caption_puce"></span>262 - 305</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51556' class="ext">SSF51556 </a>
            <span>(Metallo-dependent hydrolases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.974%;" title="50"></span>
            <span class="grade" style="left:31.949%;" title="100"></span>
            <span class="grade" style="left:47.923%;" title="150"></span>
            <span class="grade" style="left:63.898%;" title="200"></span>
            <span class="grade" style="left:79.872%;" title="250"></span>
            <span class="grade" style="left:100%;" title="313"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.20.20.140" title="G3DSA:3.20.20.140"
           class="neutral">
    G3DSA:3.20.20...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA32020140-span-5"
      class="match gene3d uni"
      style="left:  84.026%;
              width: 13.738%;"
      title="G3DSA:3.20.20.140 264 - 306" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA32020140-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>264 - 306</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.20.20.140' class="ext">G3DSA:3.20.20.140 </a>
            <span>(G3DSA:3.20.20.140)</span>
        </div>
    </div>


<span id="G3DSA32020140-span-6"
      class="match gene3d uni"
      style="left:  0.639%;
              width: 68.69%;"
      title="G3DSA:3.20.20.140 3 - 217" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA32020140-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>3 - 217</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.20.20.140' class="ext">G3DSA:3.20.20.140 </a>
            <span>(G3DSA:3.20.20.140)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.974%;" title="50"></span>
            <span class="grade" style="left:31.949%;" title="100"></span>
            <span class="grade" style="left:47.923%;" title="150"></span>
            <span class="grade" style="left:63.898%;" title="200"></span>
            <span class="grade" style="left:79.872%;" title="250"></span>
            <span class="grade" style="left:100%;" title="313"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016788"
                   class="ext">GO:0016788</a> hydrolase activity, acting on ester bonds
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
