 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp6958_c0_seq0|m.29686 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">748 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c23 Domain"
      style="left:  23.663%;
              width: 8.957%;"
      title="Domain 178 - 244" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>178 - 244
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c23 Domain"
      style="left:  40.107%;
              width: 12.433%;"
      title="Domain 301 - 393" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>301 - 393
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c23 Domain"
      style="left:  70.722%;
              width: 20.187%;"
      title="Domain 530 - 680" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>530 - 680
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990">Tetratricopeptide-like helical domain</a><span> (IPR011990)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:13.369%;" title="100"></span>
                    <span class="grade" style="left:26.738%;" title="200"></span>
                    <span class="grade" style="left:40.107%;" title="300"></span>
                    <span class="grade" style="left:53.476%;" title="400"></span>
                    <span class="grade" style="left:66.845%;" title="500"></span>
                    <span class="grade" style="left:80.214%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="748"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-4"
      class="match c44 Repeat"
      style="left:  30.615%;
              width: 4.679%;"
      title="Repeat 230 - 264" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>230 - 264
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-5"
      class="match c44 Repeat"
      style="left:  39.572%;
              width: 9.626%;"
      title="Repeat 297 - 368" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>297 - 368
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-6"
      class="match c44 Repeat"
      style="left:  49.064%;
              width: 4.679%;"
      title="Repeat 368 - 402" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>368 - 402
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-7"
      class="match c44 Repeat"
      style="left:  67.914%;
              width: 4.813%;"
      title="Repeat 509 - 544" >
</span>
        <div id="supermatch-popup-7" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>509 - 544
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-8"
      class="match c44 Repeat"
      style="left:  72.727%;
              width: 4.947%;"
      title="Repeat 545 - 581" >
</span>
        <div id="supermatch-popup-8" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>545 - 581
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-9"
      class="match c44 Repeat"
      style="left:  77.273%;
              width: 9.626%;"
      title="Repeat 579 - 650" >
</span>
        <div id="supermatch-popup-9" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>579 - 650
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>




<span id="supermatch-span-10"
      class="match c44 Repeat"
      style="left:  86.23%;
              width: 5.214%;"
      title="Repeat 646 - 684" >
</span>
        <div id="supermatch-popup-10" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Repeat caption_puce"></span>646 - 684
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885">Pentatricopeptide repeat</a><span> (IPR002885)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:13.369%;" title="100"></span>
                    <span class="grade" style="left:26.738%;" title="200"></span>
                    <span class="grade" style="left:40.107%;" title="300"></span>
                    <span class="grade" style="left:53.476%;" title="400"></span>
                    <span class="grade" style="left:66.845%;" title="500"></span>
                    <span class="grade" style="left:80.214%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="748"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:13.369%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:13.369%;">100</span>
                            <span class="scale_bar" style="left:26.738%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:26.738%;">200</span>
                            <span class="scale_bar" style="left:40.107%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:40.107%;">300</span>
                            <span class="scale_bar" style="left:53.476%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:53.476%;">400</span>
                            <span class="scale_bar" style="left:66.845%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:66.845%;">500</span>
                            <span class="scale_bar" style="left:80.214%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:80.214%;">600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="748"></span>
                                <span class="scale_numb"
                                      style="left:100%;">748</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011990">IPR011990</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011990"
                                                         class="neutral">Tetratricopeptide-like helical domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011990-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.25.40.10" title="G3DSA:1.25.40.10"
           class="neutral">
        G3DSA:1.25.40.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1254010-span-1"
      class="match gene3d c23 Domain"
      style="left:  70.722%;
              width: 20.187%;"
      title="G3DSA:1.25.40.10 530 - 680" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>530 - 680</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


<span id="G3DSA1254010-span-2"
      class="match gene3d c23 Domain"
      style="left:  23.663%;
              width: 8.957%;"
      title="G3DSA:1.25.40.10 178 - 244" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>178 - 244</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


<span id="G3DSA1254010-span-3"
      class="match gene3d c23 Domain"
      style="left:  40.107%;
              width: 12.433%;"
      title="G3DSA:1.25.40.10 301 - 393" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1254010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>301 - 393</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.40.10' class="ext">G3DSA:1.25.40.10 </a>
            <span>(G3DSA:1.25.40.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002885">IPR002885</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002885"
                                                         class="neutral">Pentatricopeptide repeat</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13812" title="PF13812 (PPR_3)"
       class="neutral">
        PF13812
</a>

                <span>(PPR_3)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13812-span-4"
      class="match pfam c44 Repeat"
      style="left:  49.465%;
              width: 4.011%;"
      title="PF13812 371 - 400" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13812-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>371 - 400</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13812' class="ext">PF13812 </a>
            <span>(PPR_3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13041" title="PF13041 (PPR_2)"
       class="neutral">
        PF13041
</a>

                <span>(PPR_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13041-span-5"
      class="match pfam c44 Repeat"
      style="left:  39.572%;
              width: 6.417%;"
      title="PF13041 297 - 344" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13041-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>297 - 344</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13041' class="ext">PF13041 </a>
            <span>(PPR_2)</span>
        </div>
    </div>


<span id="PF13041-span-6"
      class="match pfam c44 Repeat"
      style="left:  77.273%;
              width: 6.016%;"
      title="PF13041 579 - 623" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13041-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>579 - 623</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13041' class="ext">PF13041 </a>
            <span>(PPR_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01535" title="PF01535 (PPR)"
       class="neutral">
        PF01535
</a>

                <span>(PPR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01535-span-7"
      class="match pfam c44 Repeat"
      style="left:  73.262%;
              width: 3.877%;"
      title="PF01535 549 - 577" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01535-popup-7" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>549 - 577</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01535' class="ext">PF01535 </a>
            <span>(PPR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51375" title="PS51375 (PPR)"
       class="neutral">
        PS51375
</a>

                <span>(PPR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51375-span-8"
      class="match prosite-profiles c44 Repeat"
      style="left:  44.385%;
              width: 4.679%;"
      title="PS51375 333 - 367" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>333 - 367</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-9"
      class="match prosite-profiles c44 Repeat"
      style="left:  30.615%;
              width: 4.679%;"
      title="PS51375 230 - 264" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>230 - 264</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-10"
      class="match prosite-profiles c44 Repeat"
      style="left:  49.064%;
              width: 4.679%;"
      title="PS51375 368 - 402" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>368 - 402</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-11"
      class="match prosite-profiles c44 Repeat"
      style="left:  77.406%;
              width: 4.679%;"
      title="PS51375 580 - 614" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>580 - 614</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-12"
      class="match prosite-profiles c44 Repeat"
      style="left:  72.727%;
              width: 4.679%;"
      title="PS51375 545 - 579" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>545 - 579</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-13"
      class="match prosite-profiles c44 Repeat"
      style="left:  82.086%;
              width: 4.679%;"
      title="PS51375 615 - 649" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-13" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>615 - 649</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-14"
      class="match prosite-profiles c44 Repeat"
      style="left:  67.914%;
              width: 4.813%;"
      title="PS51375 509 - 544" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-14" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>509 - 544</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-15"
      class="match prosite-profiles c44 Repeat"
      style="left:  39.706%;
              width: 4.679%;"
      title="PS51375 298 - 332" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-15" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>298 - 332</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


<span id="PS51375-span-16"
      class="match prosite-profiles c44 Repeat"
      style="left:  86.765%;
              width: 4.679%;"
      title="PS51375 650 - 684" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51375-popup-16" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Repeat caption_puce"></span>650 - 684</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51375' class="ext">PS51375 </a>
            <span>(PPR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF12854" title="PF12854 (PPR_1)"
       class="neutral">
        PF12854
</a>

                <span>(PPR_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF12854-span-17"
      class="match pfam c44 Repeat"
      style="left:  86.23%;
              width: 4.412%;"
      title="PF12854 646 - 678" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12854-popup-17" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Repeat caption_puce"></span>646 - 678</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12854' class="ext">PF12854 </a>
            <span>(PPR_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002885-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00756"
           class="neutral">
        TIGR00756
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00756-span-18"
      class="match unknown c44 Repeat"
      style="left:  87.032%;
              width: 4.412%;"
      title="TIGR00756 652 - 684" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-18" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>652 - 684</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


<span id="TIGR00756-span-19"
      class="match unknown c44 Repeat"
      style="left:  49.465%;
              width: 4.011%;"
      title="TIGR00756 371 - 400" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-19" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>371 - 400</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


<span id="TIGR00756-span-20"
      class="match unknown c44 Repeat"
      style="left:  44.786%;
              width: 4.412%;"
      title="TIGR00756 336 - 368" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-20" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>336 - 368</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


<span id="TIGR00756-span-21"
      class="match unknown c44 Repeat"
      style="left:  73.128%;
              width: 4.545%;"
      title="TIGR00756 548 - 581" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-21" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>548 - 581</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


<span id="TIGR00756-span-22"
      class="match unknown c44 Repeat"
      style="left:  39.973%;
              width: 4.679%;"
      title="TIGR00756 300 - 334" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-22" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>300 - 334</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


<span id="TIGR00756-span-23"
      class="match unknown c44 Repeat"
      style="left:  77.674%;
              width: 4.679%;"
      title="TIGR00756 582 - 616" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-23" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>582 - 616</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


<span id="TIGR00756-span-24"
      class="match unknown c44 Repeat"
      style="left:  82.487%;
              width: 4.412%;"
      title="TIGR00756 618 - 650" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00756-popup-24" style="display: none;">

        <div class="popup_topl"><span class="unknown c44 Repeat caption_puce"></span>618 - 650</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00756 </a>
            <span>(TIGR00756)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51257" title="PS51257 (PROKAR_LIPOPROTEIN)"
       class="neutral">
        PS51257
</a>

            <span>(PROKAR_LIP...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51257-span-25"
      class="match prosite-profiles uni"
      style="left:  0%;
              width: 3.877%;"
      title="PS51257 1 - 29" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51257-popup-25" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles uni caption_puce"></span>1 - 29</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51257' class="ext">PS51257 </a>
            <span>(PROKAR_LIPOPROTEIN)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81901" title="SSF81901 (HCP-like)"
       class="neutral">
        SSF81901
</a>

                <span>(HCP-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF81901-span-26"
      class="match superfamily uni"
      style="left:  41.176%;
              width: 12.299%;"
      title="SSF81901 309 - 400" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF81901-popup-26" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>309 - 400</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81901' class="ext">SSF81901 </a>
            <span>(HCP-like)</span>
        </div>
    </div>


<span id="SSF81901-span-27"
      class="match superfamily uni"
      style="left:  72.594%;
              width: 14.305%;"
      title="SSF81901 544 - 650" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF81901-popup-27" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>544 - 650</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81901' class="ext">SSF81901 </a>
            <span>(HCP-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.369%;" title="100"></span>
            <span class="grade" style="left:26.738%;" title="200"></span>
            <span class="grade" style="left:40.107%;" title="300"></span>
            <span class="grade" style="left:53.476%;" title="400"></span>
            <span class="grade" style="left:66.845%;" title="500"></span>
            <span class="grade" style="left:80.214%;" title="600"></span>
            <span class="grade" style="left:100%;" title="748"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 10);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
