 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp8246_c0_seq1|m.33601 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">441 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR005069">Nucleotide-diphospho-sugar transferase</a><span> (IPR005069)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c40 Domain"
      style="left:  38.776%;
              width: 53.288%;"
      title="Domain 172 - 406" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c40 Domain caption_puce"></span>172 - 406
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029044">Nucleotide-diphospho-sugar transferases</a><span> (IPR029044)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.338%;" title="50"></span>
                    <span class="grade" style="left:22.676%;" title="100"></span>
                    <span class="grade" style="left:34.014%;" title="150"></span>
                    <span class="grade" style="left:45.351%;" title="200"></span>
                    <span class="grade" style="left:56.689%;" title="250"></span>
                    <span class="grade" style="left:68.027%;" title="300"></span>
                    <span class="grade" style="left:79.365%;" title="350"></span>
                    <span class="grade" style="left:90.703%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="441"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.338%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:11.338%;">50</span>
                            <span class="scale_bar" style="left:22.676%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:22.676%;">100</span>
                            <span class="scale_bar" style="left:34.014%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:34.014%;">150</span>
                            <span class="scale_bar" style="left:45.351%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:45.351%;">200</span>
                            <span class="scale_bar" style="left:56.689%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:56.689%;">250</span>
                            <span class="scale_bar" style="left:68.027%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:68.027%;">300</span>
                            <span class="scale_bar" style="left:79.365%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:79.365%;">350</span>
                            <span class="scale_bar" style="left:90.703%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:90.703%;">400</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="441"></span>
                                <span class="scale_numb"
                                      style="left:100%;">441</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR005069">IPR005069</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR005069"
                                                         class="neutral">Nucleotide-diphospho-sugar transferase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR005069-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF03407" title="PF03407 (Nucleotid_trans)"
       class="neutral">
        PF03407
</a>

            <span>(Nucleotid_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF03407-span-1"
      class="match pfam Family"
      style="left:  44.218%;
              width: 50.34%;"
      title="PF03407 196 - 417" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF03407-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>196 - 417</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF03407' class="ext">PF03407 </a>
            <span>(Nucleotid_trans)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.338%;" title="50"></span>
            <span class="grade" style="left:22.676%;" title="100"></span>
            <span class="grade" style="left:34.014%;" title="150"></span>
            <span class="grade" style="left:45.351%;" title="200"></span>
            <span class="grade" style="left:56.689%;" title="250"></span>
            <span class="grade" style="left:68.027%;" title="300"></span>
            <span class="grade" style="left:79.365%;" title="350"></span>
            <span class="grade" style="left:90.703%;" title="400"></span>
            <span class="grade" style="left:100%;" title="441"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029044">IPR029044</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029044"
                                                         class="neutral">Nucleotide-diphospho-sugar transferases</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029044-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53448" title="SSF53448 (Nucleotide-diphospho-sugar transferases)"
       class="neutral">
        SSF53448
</a>

            <span>(Nucleotid...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53448-span-2"
      class="match superfamily c40 Domain"
      style="left:  38.776%;
              width: 53.288%;"
      title="SSF53448 172 - 406" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53448-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c40 Domain caption_puce"></span>172 - 406</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53448' class="ext">SSF53448 </a>
            <span>(Nucleotide-diphospho-sugar transferases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.338%;" title="50"></span>
            <span class="grade" style="left:22.676%;" title="100"></span>
            <span class="grade" style="left:34.014%;" title="150"></span>
            <span class="grade" style="left:45.351%;" title="200"></span>
            <span class="grade" style="left:56.689%;" title="250"></span>
            <span class="grade" style="left:68.027%;" title="300"></span>
            <span class="grade" style="left:79.365%;" title="350"></span>
            <span class="grade" style="left:90.703%;" title="400"></span>
            <span class="grade" style="left:100%;" title="441"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-3"
      class="match coils uni"
      style="left:  18.367%;
              width: 9.524%;"
      title="Coil 82 - 123" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-3" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>82 - 123</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.338%;" title="50"></span>
            <span class="grade" style="left:22.676%;" title="100"></span>
            <span class="grade" style="left:34.014%;" title="150"></span>
            <span class="grade" style="left:45.351%;" title="200"></span>
            <span class="grade" style="left:56.689%;" title="250"></span>
            <span class="grade" style="left:68.027%;" title="300"></span>
            <span class="grade" style="left:79.365%;" title="350"></span>
            <span class="grade" style="left:90.703%;" title="400"></span>
            <span class="grade" style="left:100%;" title="441"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
