 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4205_c0_seq0|m.19040 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">540 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002316">Proline-tRNA ligase, class IIa</a><span> (IPR002316)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR004499">Proline-tRNA ligase, class IIa, archaeal-type</a><span> (IPR004499)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c58 Domain"
      style="left:  17.593%;
              width: 44.63%;"
      title="Domain 96 - 336" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c58 Domain caption_puce"></span>96 - 336
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR006195">Aminoacyl-tRNA synthetase, class II</a><span> (IPR006195)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002314">Aminoacyl-tRNA synthetase, class II (G/ P/ S/T)</a><span> (IPR002314)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.259%;" title="50"></span>
                    <span class="grade" style="left:18.519%;" title="100"></span>
                    <span class="grade" style="left:27.778%;" title="150"></span>
                    <span class="grade" style="left:37.037%;" title="200"></span>
                    <span class="grade" style="left:46.296%;" title="250"></span>
                    <span class="grade" style="left:55.556%;" title="300"></span>
                    <span class="grade" style="left:64.815%;" title="350"></span>
                    <span class="grade" style="left:74.074%;" title="400"></span>
                    <span class="grade" style="left:83.333%;" title="450"></span>
                    <span class="grade" style="left:92.593%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="540"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c25 Domain"
      style="left:  61.111%;
              width: 23.519%;"
      title="Domain 331 - 457" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c25 Domain caption_puce"></span>331 - 457
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR004154">Anticodon-binding</a><span> (IPR004154)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c47 Domain"
      style="left:  85%;
              width: 15%;"
      title="Domain 460 - 540" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c47 Domain caption_puce"></span>460 - 540
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR017449">Prolyl-tRNA synthetase, class II</a><span> (IPR017449)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR016061">Proline-tRNA ligase, class II, C-terminal</a><span> (IPR016061)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.259%;" title="50"></span>
                    <span class="grade" style="left:18.519%;" title="100"></span>
                    <span class="grade" style="left:27.778%;" title="150"></span>
                    <span class="grade" style="left:37.037%;" title="200"></span>
                    <span class="grade" style="left:46.296%;" title="250"></span>
                    <span class="grade" style="left:55.556%;" title="300"></span>
                    <span class="grade" style="left:64.815%;" title="350"></span>
                    <span class="grade" style="left:74.074%;" title="400"></span>
                    <span class="grade" style="left:83.333%;" title="450"></span>
                    <span class="grade" style="left:92.593%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="540"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.259%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:9.259%;">50</span>
                            <span class="scale_bar" style="left:18.519%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:18.519%;">100</span>
                            <span class="scale_bar" style="left:27.778%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:27.778%;">150</span>
                            <span class="scale_bar" style="left:37.037%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:37.037%;">200</span>
                            <span class="scale_bar" style="left:46.296%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:46.296%;">250</span>
                            <span class="scale_bar" style="left:55.556%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:55.556%;">300</span>
                            <span class="scale_bar" style="left:64.815%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:64.815%;">350</span>
                            <span class="scale_bar" style="left:74.074%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:74.074%;">400</span>
                            <span class="scale_bar" style="left:83.333%;"
                                  title="450"></span>
                                <span class="scale_numb"
                                      style="left:83.333%;">450</span>
                            <span class="scale_bar" style="left:92.593%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:92.593%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="540"></span>
                                <span class="scale_numb"
                                      style="left:100%;">540</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002316">IPR002316</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002316"
                                                         class="neutral">Proline-tRNA ligase, class IIa</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002316-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01046&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR01046 (TRNASYNTHPRO)"
       class="neutral">
        PR01046
</a>

                <span>(TRNASYNTHPRO)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR01046-span-1"
      class="match prints Family"
      style="left:  21.481%;
              width: 3.519%;"
      title="PR01046 117 - 135" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01046-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>117 - 135</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01046&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01046 </a>
            <span>(TRNASYNTHPRO)</span>
        </div>
    </div>


<span id="PR01046-span-2"
      class="match prints Family"
      style="left:  29.074%;
              width: 2.222%;"
      title="PR01046 158 - 169" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01046-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>158 - 169</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01046&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01046 </a>
            <span>(TRNASYNTHPRO)</span>
        </div>
    </div>


<span id="PR01046-span-3"
      class="match prints Family"
      style="left:  34.63%;
              width: 1.667%;"
      title="PR01046 188 - 196" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01046-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>188 - 196</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01046&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01046 </a>
            <span>(TRNASYNTHPRO)</span>
        </div>
    </div>


<span id="PR01046-span-4"
      class="match prints Family"
      style="left:  36.481%;
              width: 2.222%;"
      title="PR01046 198 - 209" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01046-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>198 - 209</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01046&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01046 </a>
            <span>(TRNASYNTHPRO)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR004499">IPR004499</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR004499"
                                                         class="neutral">Proline-tRNA ligase, class IIa, archaeal-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR004499-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_01571" title="MF_01571 (Pro_tRNA_synth_type3)"
       class="neutral">
        MF_01571
</a>

            <span>(Pro_tRNA_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_01571-span-5"
      class="match hamap Family"
      style="left:  10.741%;
              width: 89.259%;"
      title="MF_01571 59 - 540" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_01571-popup-5" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>59 - 540</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_01571' class="ext">MF_01571 </a>
            <span>(Pro_tRNA_synth_type3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR004499-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00408"
           class="neutral">
        TIGR00408
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00408-span-6"
      class="match unknown Family"
      style="left:  10.926%;
              width: 89.074%;"
      title="TIGR00408 60 - 540" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00408-popup-6" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>60 - 540</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00408 </a>
            <span>(TIGR00408)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006195">IPR006195</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006195"
                                                         class="neutral">Aminoacyl-tRNA synthetase, class II</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006195-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50862" title="PS50862 (AA_TRNA_LIGASE_II)"
       class="neutral">
        PS50862
</a>

            <span>(AA_TRNA_LI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50862-span-7"
      class="match prosite-profiles c58 Domain"
      style="left:  17.593%;
              width: 44.63%;"
      title="PS50862 96 - 336" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50862-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c58 Domain caption_puce"></span>96 - 336</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50862' class="ext">PS50862 </a>
            <span>(AA_TRNA_LIGASE_II)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002314">IPR002314</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002314"
                                                         class="neutral">Aminoacyl-tRNA synthetase, class II (G/ P/ S/T)</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002314-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00587" title="PF00587 (tRNA-synt_2b)"
       class="neutral">
        PF00587
</a>

                <span>(tRNA-synt_2b)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00587-span-8"
      class="match pfam c58 Domain"
      style="left:  28.333%;
              width: 31.667%;"
      title="PF00587 154 - 324" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00587-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c58 Domain caption_puce"></span>154 - 324</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00587' class="ext">PF00587 </a>
            <span>(tRNA-synt_2b)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR004154">IPR004154</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR004154"
                                                         class="neutral">Anticodon-binding</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR004154-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF03129" title="PF03129 (HGTP_anticodon)"
       class="neutral">
        PF03129
</a>

            <span>(HGTP_antic...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF03129-span-9"
      class="match pfam c25 Domain"
      style="left:  63.333%;
              width: 17.963%;"
      title="PF03129 343 - 439" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF03129-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam c25 Domain caption_puce"></span>343 - 439</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF03129' class="ext">PF03129 </a>
            <span>(HGTP_anticodon)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR004154-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52954" title="SSF52954 (Class II aaRS ABD-related)"
       class="neutral">
        SSF52954
</a>

            <span>(Class II ...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52954-span-10"
      class="match superfamily c25 Domain"
      style="left:  61.111%;
              width: 23.519%;"
      title="SSF52954 331 - 457" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52954-popup-10" style="display: none;">

        <div class="popup_topl"><span class="superfamily c25 Domain caption_puce"></span>331 - 457</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52954' class="ext">SSF52954 </a>
            <span>(Class II aaRS ABD-related)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR004154-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.800" title="G3DSA:3.40.50.800"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050800-span-11"
      class="match gene3d c25 Domain"
      style="left:  62.222%;
              width: 22.407%;"
      title="G3DSA:3.40.50.800 337 - 457" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050800-popup-11" style="display: none;">

        <div class="popup_topl"><span class="gene3d c25 Domain caption_puce"></span>337 - 457</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.800' class="ext">G3DSA:3.40.50.800 </a>
            <span>(G3DSA:3.40.50.800)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR017449">IPR017449</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR017449"
                                                         class="neutral">Prolyl-tRNA synthetase, class II</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR017449-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF64586" title="SSF64586 (C-terminal domain of ProRS)"
       class="neutral">
        SSF64586
</a>

            <span>(C-termina...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF64586-span-12"
      class="match superfamily c47 Domain"
      style="left:  85%;
              width: 15%;"
      title="SSF64586 460 - 540" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF64586-popup-12" style="display: none;">

        <div class="popup_topl"><span class="superfamily c47 Domain caption_puce"></span>460 - 540</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF64586' class="ext">SSF64586 </a>
            <span>(C-terminal domain of ProRS)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016061">IPR016061</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016061"
                                                         class="neutral">Proline-tRNA ligase, class II, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016061-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00946&amp;BLAST=DUMMY" title="SM00946 (ProRS-C_1)"
       class="neutral">
        SM00946
</a>

                <span>(ProRS-C_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00946-span-13"
      class="match smart c47 Domain"
      style="left:  86.111%;
              width: 13.889%;"
      title="SM00946 466 - 540" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00946-popup-13" style="display: none;">

        <div class="popup_topl"><span class="smart c47 Domain caption_puce"></span>466 - 540</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00946&amp;BLAST=DUMMY' class="ext">SM00946 </a>
            <span>(ProRS-C_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR016061-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.110.30" title="G3DSA:3.30.110.30"
           class="neutral">
    G3DSA:3.30.11...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33011030-span-14"
      class="match gene3d c47 Domain"
      style="left:  85%;
              width: 14.815%;"
      title="G3DSA:3.30.110.30 460 - 539" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33011030-popup-14" style="display: none;">

        <div class="popup_topl"><span class="gene3d c47 Domain caption_puce"></span>460 - 539</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.110.30' class="ext">G3DSA:3.30.110.30 </a>
            <span>(G3DSA:3.30.110.30)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR016061-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF09180" title="PF09180 (ProRS-C_1)"
       class="neutral">
        PF09180
</a>

                <span>(ProRS-C_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF09180-span-15"
      class="match pfam c47 Domain"
      style="left:  86.111%;
              width: 13.889%;"
      title="PF09180 466 - 540" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF09180-popup-15" style="display: none;">

        <div class="popup_topl"><span class="pfam c47 Domain caption_puce"></span>466 - 540</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF09180' class="ext">PF09180 </a>
            <span>(ProRS-C_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-16"
      class="match coils uni"
      style="left:  0%;
              width: 3.889%;"
      title="Coil 1 - 21" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-16" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>1 - 21</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.930.10" title="G3DSA:3.30.930.10"
           class="neutral">
    G3DSA:3.30.93...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33093010-span-17"
      class="match gene3d uni"
      style="left:  10.185%;
              width: 52.037%;"
      title="G3DSA:3.30.930.10 56 - 336" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33093010-popup-17" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>56 - 336</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.930.10' class="ext">G3DSA:3.30.930.10 </a>
            <span>(G3DSA:3.30.930.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55681" title="SSF55681 (Class II aaRS and biotin synthetases)"
       class="neutral">
        SSF55681
</a>

            <span>(Class II ...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55681-span-18"
      class="match superfamily uni"
      style="left:  11.667%;
              width: 49.444%;"
      title="SSF55681 64 - 330" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55681-popup-18" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>64 - 330</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55681' class="ext">SSF55681 </a>
            <span>(Class II aaRS and biotin synthetases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.259%;" title="50"></span>
            <span class="grade" style="left:18.519%;" title="100"></span>
            <span class="grade" style="left:27.778%;" title="150"></span>
            <span class="grade" style="left:37.037%;" title="200"></span>
            <span class="grade" style="left:46.296%;" title="250"></span>
            <span class="grade" style="left:55.556%;" title="300"></span>
            <span class="grade" style="left:64.815%;" title="350"></span>
            <span class="grade" style="left:74.074%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="450"></span>
            <span class="grade" style="left:92.593%;" title="500"></span>
            <span class="grade" style="left:100%;" title="540"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006418"
                   class="ext">GO:0006418</a> tRNA aminoacylation for protein translation
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006433"
                   class="ext">GO:0006433</a> prolyl-tRNA aminoacylation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000166"
                   class="ext">GO:0000166</a> nucleotide binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004812"
                   class="ext">GO:0004812</a> aminoacyl-tRNA ligase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004827"
                   class="ext">GO:0004827</a> proline-tRNA ligase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005737"
                   class="ext">GO:0005737</a> cytoplasm
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
