 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp349_c0_seq1|m.1282 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">232 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c39 Domain"
      style="left:  32.328%;
              width: 21.121%;"
      title="Domain 76 - 124" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c39 Domain caption_puce"></span>76 - 124
        </div>
        <div class="rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR020094">Pseudouridine synthase I, TruA, N-terminal</a><span> (IPR020094)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c39 Domain"
      style="left:  55.603%;
              width: 41.379%;"
      title="Domain 130 - 225" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c39 Domain caption_puce"></span>130 - 225
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020097">Pseudouridine synthase I, TruA, alpha/beta domain</a><span> (IPR020097)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR020095">Pseudouridine synthase I, TruA, C-terminal</a><span> (IPR020095)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:21.552%;" title="50"></span>
                    <span class="grade" style="left:43.103%;" title="100"></span>
                    <span class="grade" style="left:64.655%;" title="150"></span>
                    <span class="grade" style="left:86.207%;" title="200"></span>
                    <span class="grade" style="left:100%;" title="232"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-3"
      class="match c41 Domain"
      style="left:  37.931%;
              width: 59.052%;"
      title="Domain 89 - 225" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c41 Domain caption_puce"></span>89 - 225
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020103">Pseudouridine synthase, catalytic domain</a><span> (IPR020103)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:21.552%;" title="50"></span>
                    <span class="grade" style="left:43.103%;" title="100"></span>
                    <span class="grade" style="left:64.655%;" title="150"></span>
                    <span class="grade" style="left:86.207%;" title="200"></span>
                    <span class="grade" style="left:100%;" title="232"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:21.552%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:21.552%;">50</span>
                            <span class="scale_bar" style="left:43.103%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:43.103%;">100</span>
                            <span class="scale_bar" style="left:64.655%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:64.655%;">150</span>
                            <span class="scale_bar" style="left:86.207%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:86.207%;">200</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="232"></span>
                                <span class="scale_numb"
                                      style="left:100%;">232</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020094">IPR020094</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020094"
                                                         class="neutral">Pseudouridine synthase I, TruA, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020094-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.580" title="G3DSA:3.30.70.580"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070580-span-1"
      class="match gene3d c39 Domain"
      style="left:  32.328%;
              width: 21.121%;"
      title="G3DSA:3.30.70.580 76 - 124" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070580-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c39 Domain caption_puce"></span>76 - 124</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.580' class="ext">G3DSA:3.30.70.580 </a>
            <span>(G3DSA:3.30.70.580)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.552%;" title="50"></span>
            <span class="grade" style="left:43.103%;" title="100"></span>
            <span class="grade" style="left:64.655%;" title="150"></span>
            <span class="grade" style="left:86.207%;" title="200"></span>
            <span class="grade" style="left:100%;" title="232"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020103">IPR020103</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020103"
                                                         class="neutral">Pseudouridine synthase, catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020103-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55120" title="SSF55120 (Pseudouridine synthase)"
       class="neutral">
        SSF55120
</a>

            <span>(Pseudouri...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55120-span-2"
      class="match superfamily c41 Domain"
      style="left:  37.931%;
              width: 59.052%;"
      title="SSF55120 89 - 225" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55120-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c41 Domain caption_puce"></span>89 - 225</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55120' class="ext">SSF55120 </a>
            <span>(Pseudouridine synthase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.552%;" title="50"></span>
            <span class="grade" style="left:43.103%;" title="100"></span>
            <span class="grade" style="left:64.655%;" title="150"></span>
            <span class="grade" style="left:86.207%;" title="200"></span>
            <span class="grade" style="left:100%;" title="232"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020097">IPR020097</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020097"
                                                         class="neutral">Pseudouridine synthase I, TruA, alpha/beta domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020097-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01416" title="PF01416 (PseudoU_synth_1)"
       class="neutral">
        PF01416
</a>

            <span>(PseudoU_sy...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01416-span-3"
      class="match pfam c39 Domain"
      style="left:  62.5%;
              width: 34.052%;"
      title="PF01416 146 - 224" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01416-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c39 Domain caption_puce"></span>146 - 224</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01416' class="ext">PF01416 </a>
            <span>(PseudoU_synth_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.552%;" title="50"></span>
            <span class="grade" style="left:43.103%;" title="100"></span>
            <span class="grade" style="left:64.655%;" title="150"></span>
            <span class="grade" style="left:86.207%;" title="200"></span>
            <span class="grade" style="left:100%;" title="232"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020095">IPR020095</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020095"
                                                         class="neutral">Pseudouridine synthase I, TruA, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020095-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.660" title="G3DSA:3.30.70.660"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070660-span-4"
      class="match gene3d c39 Domain"
      style="left:  55.603%;
              width: 41.379%;"
      title="G3DSA:3.30.70.660 130 - 225" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070660-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c39 Domain caption_puce"></span>130 - 225</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.660' class="ext">G3DSA:3.30.70.660 </a>
            <span>(G3DSA:3.30.70.660)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.552%;" title="50"></span>
            <span class="grade" style="left:43.103%;" title="100"></span>
            <span class="grade" style="left:64.655%;" title="150"></span>
            <span class="grade" style="left:86.207%;" title="200"></span>
            <span class="grade" style="left:100%;" title="232"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001522"
                   class="ext">GO:0001522</a> pseudouridine synthesis
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009451"
                   class="ext">GO:0009451</a> RNA modification
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003723"
                   class="ext">GO:0003723</a> RNA binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009982"
                   class="ext">GO:0009982</a> pseudouridine synthase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
