 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3693_c0_seq2|m.16410 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">163 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR024936">Cyclophilin-type peptidyl-prolyl cis-trans isomerase</a><span> (IPR024936)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c11 Domain"
      style="left:  1.84%;
              width: 98.16%;"
      title="Domain 4 - 163" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c11 Domain caption_puce"></span>4 - 163
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029000">Cyclophilin-like domain</a><span> (IPR029000)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.27%;" title="20"></span>
                    <span class="grade" style="left:24.54%;" title="40"></span>
                    <span class="grade" style="left:36.81%;" title="60"></span>
                    <span class="grade" style="left:49.08%;" title="80"></span>
                    <span class="grade" style="left:61.35%;" title="100"></span>
                    <span class="grade" style="left:73.62%;" title="120"></span>
                    <span class="grade" style="left:85.89%;" title="140"></span>
                    <span class="grade" style="left:100%;" title="163"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c22 Domain"
      style="left:  7.362%;
              width: 92.025%;"
      title="Domain 13 - 162" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>13 - 162
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002130">Cyclophilin-type peptidyl-prolyl cis-trans isomerase domain</a><span> (IPR002130)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.27%;" title="20"></span>
                    <span class="grade" style="left:24.54%;" title="40"></span>
                    <span class="grade" style="left:36.81%;" title="60"></span>
                    <span class="grade" style="left:49.08%;" title="80"></span>
                    <span class="grade" style="left:61.35%;" title="100"></span>
                    <span class="grade" style="left:73.62%;" title="120"></span>
                    <span class="grade" style="left:85.89%;" title="140"></span>
                    <span class="grade" style="left:100%;" title="163"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.27%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:12.27%;">20</span>
                            <span class="scale_bar" style="left:24.54%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:24.54%;">40</span>
                            <span class="scale_bar" style="left:36.81%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:36.81%;">60</span>
                            <span class="scale_bar" style="left:49.08%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:49.08%;">80</span>
                            <span class="scale_bar" style="left:61.35%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:61.35%;">100</span>
                            <span class="scale_bar" style="left:73.62%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:73.62%;">120</span>
                            <span class="scale_bar" style="left:85.89%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:85.89%;">140</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="163"></span>
                                <span class="scale_numb"
                                      style="left:100%;">163</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR024936">IPR024936</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR024936"
                                                         class="neutral">Cyclophilin-type peptidyl-prolyl cis-trans isomerase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR024936-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF001467" title="PIRSF001467 (Peptidylpro_ismrse)"
       class="neutral">
        PIRSF001467
</a>

            <span>(Peptid...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF001467-span-1"
      class="match pirsf Family"
      style="left:  0.613%;
              width: 99.387%;"
      title="PIRSF001467 2 - 163" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF001467-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>2 - 163</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF001467' class="ext">PIRSF001467 </a>
            <span>(Peptidylpro_ismrse)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.27%;" title="20"></span>
            <span class="grade" style="left:24.54%;" title="40"></span>
            <span class="grade" style="left:36.81%;" title="60"></span>
            <span class="grade" style="left:49.08%;" title="80"></span>
            <span class="grade" style="left:61.35%;" title="100"></span>
            <span class="grade" style="left:73.62%;" title="120"></span>
            <span class="grade" style="left:85.89%;" title="140"></span>
            <span class="grade" style="left:100%;" title="163"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029000">IPR029000</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029000"
                                                         class="neutral">Cyclophilin-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029000-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.40.100.10" title="G3DSA:2.40.100.10"
           class="neutral">
    G3DSA:2.40.10...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA24010010-span-2"
      class="match gene3d c11 Domain"
      style="left:  2.454%;
              width: 97.546%;"
      title="G3DSA:2.40.100.10 5 - 163" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24010010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c11 Domain caption_puce"></span>5 - 163</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.100.10' class="ext">G3DSA:2.40.100.10 </a>
            <span>(G3DSA:2.40.100.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.27%;" title="20"></span>
            <span class="grade" style="left:24.54%;" title="40"></span>
            <span class="grade" style="left:36.81%;" title="60"></span>
            <span class="grade" style="left:49.08%;" title="80"></span>
            <span class="grade" style="left:61.35%;" title="100"></span>
            <span class="grade" style="left:73.62%;" title="120"></span>
            <span class="grade" style="left:85.89%;" title="140"></span>
            <span class="grade" style="left:100%;" title="163"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029000-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50891" title="SSF50891 (Cyclophilin-like)"
       class="neutral">
        SSF50891
</a>

            <span>(Cyclophil...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50891-span-3"
      class="match superfamily c11 Domain"
      style="left:  1.84%;
              width: 98.16%;"
      title="SSF50891 4 - 163" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50891-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c11 Domain caption_puce"></span>4 - 163</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50891' class="ext">SSF50891 </a>
            <span>(Cyclophilin-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.27%;" title="20"></span>
            <span class="grade" style="left:24.54%;" title="40"></span>
            <span class="grade" style="left:36.81%;" title="60"></span>
            <span class="grade" style="left:49.08%;" title="80"></span>
            <span class="grade" style="left:61.35%;" title="100"></span>
            <span class="grade" style="left:73.62%;" title="120"></span>
            <span class="grade" style="left:85.89%;" title="140"></span>
            <span class="grade" style="left:100%;" title="163"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002130">IPR002130</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002130"
                                                         class="neutral">Cyclophilin-type peptidyl-prolyl cis-trans isomerase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00153 (CSAPPISMRASE)"
       class="neutral">
        PR00153
</a>

                <span>(CSAPPISMRASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00153-span-4"
      class="match prints c22 Domain"
      style="left:  35.583%;
              width: 7.975%;"
      title="PR00153 59 - 71" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>59 - 71</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-5"
      class="match prints c22 Domain"
      style="left:  66.871%;
              width: 7.975%;"
      title="PR00153 110 - 122" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>110 - 122</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-6"
      class="match prints c22 Domain"
      style="left:  17.791%;
              width: 9.816%;"
      title="PR00153 30 - 45" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>30 - 45</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-7"
      class="match prints c22 Domain"
      style="left:  74.847%;
              width: 9.816%;"
      title="PR00153 123 - 138" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>123 - 138</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-8"
      class="match prints c22 Domain"
      style="left:  57.669%;
              width: 9.816%;"
      title="PR00153 95 - 110" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>95 - 110</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.27%;" title="20"></span>
            <span class="grade" style="left:24.54%;" title="40"></span>
            <span class="grade" style="left:36.81%;" title="60"></span>
            <span class="grade" style="left:49.08%;" title="80"></span>
            <span class="grade" style="left:61.35%;" title="100"></span>
            <span class="grade" style="left:73.62%;" title="120"></span>
            <span class="grade" style="left:85.89%;" title="140"></span>
            <span class="grade" style="left:100%;" title="163"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50072" title="PS50072 (CSA_PPIASE_2)"
       class="neutral">
        PS50072
</a>

                <span>(CSA_PPIASE_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50072-span-9"
      class="match prosite-profiles c22 Domain"
      style="left:  7.362%;
              width: 92.025%;"
      title="PS50072 13 - 162" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50072-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c22 Domain caption_puce"></span>13 - 162</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50072' class="ext">PS50072 </a>
            <span>(CSA_PPIASE_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.27%;" title="20"></span>
            <span class="grade" style="left:24.54%;" title="40"></span>
            <span class="grade" style="left:36.81%;" title="60"></span>
            <span class="grade" style="left:49.08%;" title="80"></span>
            <span class="grade" style="left:61.35%;" title="100"></span>
            <span class="grade" style="left:73.62%;" title="120"></span>
            <span class="grade" style="left:85.89%;" title="140"></span>
            <span class="grade" style="left:100%;" title="163"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00160" title="PF00160 (Pro_isomerase)"
       class="neutral">
        PF00160
</a>

                <span>(Pro_isomerase)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00160-span-10"
      class="match pfam c22 Domain"
      style="left:  7.975%;
              width: 90.798%;"
      title="PF00160 14 - 161" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00160-popup-10" style="display: none;">

        <div class="popup_topl"><span class="pfam c22 Domain caption_puce"></span>14 - 161</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00160' class="ext">PF00160 </a>
            <span>(Pro_isomerase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.27%;" title="20"></span>
            <span class="grade" style="left:24.54%;" title="40"></span>
            <span class="grade" style="left:36.81%;" title="60"></span>
            <span class="grade" style="left:49.08%;" title="80"></span>
            <span class="grade" style="left:61.35%;" title="100"></span>
            <span class="grade" style="left:73.62%;" title="120"></span>
            <span class="grade" style="left:85.89%;" title="140"></span>
            <span class="grade" style="left:100%;" title="163"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000413"
                   class="ext">GO:0000413</a> protein peptidyl-prolyl isomerization
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006457"
                   class="ext">GO:0006457</a> protein folding
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003755"
                   class="ext">GO:0003755</a> peptidyl-prolyl cis-trans isomerase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
