 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp434_c0_seq0|m.1578 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">689 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR003945">NADH-plastoquinone oxidoreductase, chain 5</a><span> (IPR003945)</span></li></ul><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR018393">NADH-plastoquinone oxidoreductase, chain 5 subgroup</a><span> (IPR018393)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c21 Domain"
      style="left:  10.305%;
              width: 8.418%;"
      title="Domain 72 - 129" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c21 Domain caption_puce"></span>72 - 129
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001516">NADH-Ubiquinone oxidoreductase (complex I), chain 5 N-terminal</a><span> (IPR001516)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c9 Domain"
      style="left:  20.319%;
              width: 43.832%;"
      title="Domain 141 - 442" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c9 Domain caption_puce"></span>141 - 442
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001750">NADH:quinone oxidoreductase/Mrp antiporter, membrane subunit</a><span> (IPR001750)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c21 Domain"
      style="left:  70.682%;
              width: 21.916%;"
      title="Domain 488 - 638" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c21 Domain caption_puce"></span>488 - 638
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002128">NADH:ubiquinone/plastoquinone oxidoreductase, chloroplast chain 5, C-terminal</a><span> (IPR002128)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.514%;" title="100"></span>
                    <span class="grade" style="left:29.028%;" title="200"></span>
                    <span class="grade" style="left:43.541%;" title="300"></span>
                    <span class="grade" style="left:58.055%;" title="400"></span>
                    <span class="grade" style="left:72.569%;" title="500"></span>
                    <span class="grade" style="left:87.083%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="689"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:14.514%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:14.514%;">100</span>
                            <span class="scale_bar" style="left:29.028%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:29.028%;">200</span>
                            <span class="scale_bar" style="left:43.541%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:43.541%;">300</span>
                            <span class="scale_bar" style="left:58.055%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:58.055%;">400</span>
                            <span class="scale_bar" style="left:72.569%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:72.569%;">500</span>
                            <span class="scale_bar" style="left:87.083%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:87.083%;">600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="689"></span>
                                <span class="scale_numb"
                                      style="left:100%;">689</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR003945">IPR003945</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR003945"
                                                         class="neutral">NADH-plastoquinone oxidoreductase, chain 5</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR003945-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR01974"
           class="neutral">
        TIGR01974
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR01974-span-1"
      class="match unknown Family"
      style="left:  1.306%;
              width: 97.968%;"
      title="TIGR01974 10 - 684" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR01974-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>10 - 684</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR01974 </a>
            <span>(TIGR01974)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.514%;" title="100"></span>
            <span class="grade" style="left:29.028%;" title="200"></span>
            <span class="grade" style="left:43.541%;" title="300"></span>
            <span class="grade" style="left:58.055%;" title="400"></span>
            <span class="grade" style="left:72.569%;" title="500"></span>
            <span class="grade" style="left:87.083%;" title="600"></span>
            <span class="grade" style="left:100%;" title="689"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR018393">IPR018393</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR018393"
                                                         class="neutral">NADH-plastoquinone oxidoreductase, chain 5 subgroup</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR018393-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR01435 (NPOXDRDTASE5)"
       class="neutral">
        PR01435
</a>

                <span>(NPOXDRDTASE5)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR01435-span-2"
      class="match prints Family"
      style="left:  39.913%;
              width: 3.338%;"
      title="PR01435 276 - 298" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>276 - 298</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-3"
      class="match prints Family"
      style="left:  62.845%;
              width: 3.338%;"
      title="PR01435 434 - 456" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>434 - 456</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-4"
      class="match prints Family"
      style="left:  9.434%;
              width: 3.628%;"
      title="PR01435 66 - 90" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>66 - 90</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-5"
      class="match prints Family"
      style="left:  54.572%;
              width: 3.338%;"
      title="PR01435 377 - 399" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>377 - 399</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-6"
      class="match prints Family"
      style="left:  72.424%;
              width: 3.193%;"
      title="PR01435 500 - 521" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>500 - 521</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-7"
      class="match prints Family"
      style="left:  13.208%;
              width: 3.048%;"
      title="PR01435 92 - 112" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>92 - 112</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-8"
      class="match prints Family"
      style="left:  91.001%;
              width: 3.919%;"
      title="PR01435 628 - 654" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>628 - 654</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


<span id="PR01435-span-9"
      class="match prints Family"
      style="left:  6.241%;
              width: 2.903%;"
      title="PR01435 44 - 63" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01435-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>44 - 63</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01435&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01435 </a>
            <span>(NPOXDRDTASE5)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.514%;" title="100"></span>
            <span class="grade" style="left:29.028%;" title="200"></span>
            <span class="grade" style="left:43.541%;" title="300"></span>
            <span class="grade" style="left:58.055%;" title="400"></span>
            <span class="grade" style="left:72.569%;" title="500"></span>
            <span class="grade" style="left:87.083%;" title="600"></span>
            <span class="grade" style="left:100%;" title="689"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001516">IPR001516</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001516"
                                                         class="neutral">NADH-Ubiquinone oxidoreductase (complex I), chain 5 N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001516-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00662" title="PF00662 (Proton_antipo_N)"
       class="neutral">
        PF00662
</a>

            <span>(Proton_ant...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00662-span-10"
      class="match pfam c21 Domain"
      style="left:  10.305%;
              width: 8.418%;"
      title="PF00662 72 - 129" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00662-popup-10" style="display: none;">

        <div class="popup_topl"><span class="pfam c21 Domain caption_puce"></span>72 - 129</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00662' class="ext">PF00662 </a>
            <span>(Proton_antipo_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.514%;" title="100"></span>
            <span class="grade" style="left:29.028%;" title="200"></span>
            <span class="grade" style="left:43.541%;" title="300"></span>
            <span class="grade" style="left:58.055%;" title="400"></span>
            <span class="grade" style="left:72.569%;" title="500"></span>
            <span class="grade" style="left:87.083%;" title="600"></span>
            <span class="grade" style="left:100%;" title="689"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001750">IPR001750</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001750"
                                                         class="neutral">NADH:quinone oxidoreductase/Mrp antiporter, membrane subunit</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001750-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00361" title="PF00361 (Proton_antipo_M)"
       class="neutral">
        PF00361
</a>

            <span>(Proton_ant...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00361-span-11"
      class="match pfam c9 Domain"
      style="left:  20.319%;
              width: 43.832%;"
      title="PF00361 141 - 442" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00361-popup-11" style="display: none;">

        <div class="popup_topl"><span class="pfam c9 Domain caption_puce"></span>141 - 442</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00361' class="ext">PF00361 </a>
            <span>(Proton_antipo_M)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.514%;" title="100"></span>
            <span class="grade" style="left:29.028%;" title="200"></span>
            <span class="grade" style="left:43.541%;" title="300"></span>
            <span class="grade" style="left:58.055%;" title="400"></span>
            <span class="grade" style="left:72.569%;" title="500"></span>
            <span class="grade" style="left:87.083%;" title="600"></span>
            <span class="grade" style="left:100%;" title="689"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002128">IPR002128</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002128"
                                                         class="neutral">NADH:ubiquinone/plastoquinone oxidoreductase, chloroplast chain 5, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002128-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01010" title="PF01010 (Proton_antipo_C)"
       class="neutral">
        PF01010
</a>

            <span>(Proton_ant...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01010-span-12"
      class="match pfam c21 Domain"
      style="left:  70.682%;
              width: 21.916%;"
      title="PF01010 488 - 638" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01010-popup-12" style="display: none;">

        <div class="popup_topl"><span class="pfam c21 Domain caption_puce"></span>488 - 638</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01010' class="ext">PF01010 </a>
            <span>(Proton_antipo_C)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.514%;" title="100"></span>
            <span class="grade" style="left:29.028%;" title="200"></span>
            <span class="grade" style="left:43.541%;" title="300"></span>
            <span class="grade" style="left:58.055%;" title="400"></span>
            <span class="grade" style="left:72.569%;" title="500"></span>
            <span class="grade" style="left:87.083%;" title="600"></span>
            <span class="grade" style="left:100%;" title="689"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR01434 (NADHDHGNASE5)"
       class="neutral">
        PR01434
</a>

                <span>(NADHDHGNASE5)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR01434-span-13"
      class="match prints uni"
      style="left:  37.3%;
              width: 3.919%;"
      title="PR01434 258 - 284" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-13" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>258 - 284</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


<span id="PR01434-span-14"
      class="match prints uni"
      style="left:  47.17%;
              width: 1.887%;"
      title="PR01434 326 - 338" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-14" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>326 - 338</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


<span id="PR01434-span-15"
      class="match prints uni"
      style="left:  16.981%;
              width: 3.048%;"
      title="PR01434 118 - 138" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-15" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>118 - 138</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


<span id="PR01434-span-16"
      class="match prints uni"
      style="left:  34.107%;
              width: 3.193%;"
      title="PR01434 236 - 257" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-16" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>236 - 257</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


<span id="PR01434-span-17"
      class="match prints uni"
      style="left:  62.99%;
              width: 2.903%;"
      title="PR01434 435 - 454" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-17" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>435 - 454</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


<span id="PR01434-span-18"
      class="match prints uni"
      style="left:  23.803%;
              width: 3.193%;"
      title="PR01434 165 - 186" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-18" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>165 - 186</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


<span id="PR01434-span-19"
      class="match prints uni"
      style="left:  12.917%;
              width: 3.774%;"
      title="PR01434 90 - 115" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01434-popup-19" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>90 - 115</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01434&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01434 </a>
            <span>(NADHDHGNASE5)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.514%;" title="100"></span>
            <span class="grade" style="left:29.028%;" title="200"></span>
            <span class="grade" style="left:43.541%;" title="300"></span>
            <span class="grade" style="left:58.055%;" title="400"></span>
            <span class="grade" style="left:72.569%;" title="500"></span>
            <span class="grade" style="left:87.083%;" title="600"></span>
            <span class="grade" style="left:100%;" title="689"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042773"
                   class="ext">GO:0042773</a> ATP synthesis coupled electron transport
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0055114"
                   class="ext">GO:0055114</a> oxidation-reduction process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008137"
                   class="ext">GO:0008137</a> NADH dehydrogenase (ubiquinone) activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
