 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp463_c0_seq1|m.1682 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">679 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001902">SLC26A/SulP transporter</a><span> (IPR001902)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c44 Domain"
      style="left:  15.317%;
              width: 55.965%;"
      title="Domain 105 - 484" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Domain caption_puce"></span>105 - 484
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011547">SLC26A/SulP transporter domain</a><span> (IPR011547)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c44 Domain"
      style="left:  78.792%;
              width: 18.262%;"
      title="Domain 536 - 659" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Domain caption_puce"></span>536 - 659
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002645">STAS domain</a><span> (IPR002645)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.728%;" title="100"></span>
                    <span class="grade" style="left:29.455%;" title="200"></span>
                    <span class="grade" style="left:44.183%;" title="300"></span>
                    <span class="grade" style="left:58.91%;" title="400"></span>
                    <span class="grade" style="left:73.638%;" title="500"></span>
                    <span class="grade" style="left:88.365%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="679"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:14.728%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:14.728%;">100</span>
                            <span class="scale_bar" style="left:29.455%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:29.455%;">200</span>
                            <span class="scale_bar" style="left:44.183%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:44.183%;">300</span>
                            <span class="scale_bar" style="left:58.91%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:58.91%;">400</span>
                            <span class="scale_bar" style="left:73.638%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:73.638%;">500</span>
                            <span class="scale_bar" style="left:88.365%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:88.365%;">600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="679"></span>
                                <span class="scale_numb"
                                      style="left:100%;">679</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001902">IPR001902</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001902"
                                                         class="neutral">SLC26A/SulP transporter</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001902-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00815"
           class="neutral">
        TIGR00815
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00815-span-1"
      class="match unknown Family"
      style="left:  13.402%;
              width: 82.916%;"
      title="TIGR00815 92 - 654" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00815-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>92 - 654</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00815 </a>
            <span>(TIGR00815)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.728%;" title="100"></span>
            <span class="grade" style="left:29.455%;" title="200"></span>
            <span class="grade" style="left:44.183%;" title="300"></span>
            <span class="grade" style="left:58.91%;" title="400"></span>
            <span class="grade" style="left:73.638%;" title="500"></span>
            <span class="grade" style="left:88.365%;" title="600"></span>
            <span class="grade" style="left:100%;" title="679"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011547">IPR011547</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011547"
                                                         class="neutral">SLC26A/SulP transporter domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011547-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00916" title="PF00916 (Sulfate_transp)"
       class="neutral">
        PF00916
</a>

            <span>(Sulfate_tr...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00916-span-2"
      class="match pfam c44 Domain"
      style="left:  15.317%;
              width: 55.965%;"
      title="PF00916 105 - 484" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00916-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Domain caption_puce"></span>105 - 484</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00916' class="ext">PF00916 </a>
            <span>(Sulfate_transp)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.728%;" title="100"></span>
            <span class="grade" style="left:29.455%;" title="200"></span>
            <span class="grade" style="left:44.183%;" title="300"></span>
            <span class="grade" style="left:58.91%;" title="400"></span>
            <span class="grade" style="left:73.638%;" title="500"></span>
            <span class="grade" style="left:88.365%;" title="600"></span>
            <span class="grade" style="left:100%;" title="679"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002645">IPR002645</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002645"
                                                         class="neutral">STAS domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002645-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.750.24" title="G3DSA:3.30.750.24"
           class="neutral">
    G3DSA:3.30.75...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33075024-span-3"
      class="match gene3d c44 Domain"
      style="left:  79.234%;
              width: 17.673%;"
      title="G3DSA:3.30.750.24 539 - 658" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33075024-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c44 Domain caption_puce"></span>539 - 658</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.750.24' class="ext">G3DSA:3.30.750.24 </a>
            <span>(G3DSA:3.30.750.24)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.728%;" title="100"></span>
            <span class="grade" style="left:29.455%;" title="200"></span>
            <span class="grade" style="left:44.183%;" title="300"></span>
            <span class="grade" style="left:58.91%;" title="400"></span>
            <span class="grade" style="left:73.638%;" title="500"></span>
            <span class="grade" style="left:88.365%;" title="600"></span>
            <span class="grade" style="left:100%;" title="679"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002645-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01740" title="PF01740 (STAS)"
       class="neutral">
        PF01740
</a>

                <span>(STAS)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01740-span-4"
      class="match pfam c44 Domain"
      style="left:  78.94%;
              width: 17.378%;"
      title="PF01740 537 - 654" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01740-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Domain caption_puce"></span>537 - 654</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01740' class="ext">PF01740 </a>
            <span>(STAS)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.728%;" title="100"></span>
            <span class="grade" style="left:29.455%;" title="200"></span>
            <span class="grade" style="left:44.183%;" title="300"></span>
            <span class="grade" style="left:58.91%;" title="400"></span>
            <span class="grade" style="left:73.638%;" title="500"></span>
            <span class="grade" style="left:88.365%;" title="600"></span>
            <span class="grade" style="left:100%;" title="679"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002645-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52091" title="SSF52091 (SpoIIaa-like)"
       class="neutral">
        SSF52091
</a>

                <span>(SpoIIaa-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52091-span-5"
      class="match superfamily c44 Domain"
      style="left:  79.087%;
              width: 17.968%;"
      title="SSF52091 538 - 659" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52091-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c44 Domain caption_puce"></span>538 - 659</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52091' class="ext">SSF52091 </a>
            <span>(SpoIIaa-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.728%;" title="100"></span>
            <span class="grade" style="left:29.455%;" title="200"></span>
            <span class="grade" style="left:44.183%;" title="300"></span>
            <span class="grade" style="left:58.91%;" title="400"></span>
            <span class="grade" style="left:73.638%;" title="500"></span>
            <span class="grade" style="left:88.365%;" title="600"></span>
            <span class="grade" style="left:100%;" title="679"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002645-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50801" title="PS50801 (STAS)"
       class="neutral">
        PS50801
</a>

                <span>(STAS)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50801-span-6"
      class="match prosite-profiles c44 Domain"
      style="left:  78.792%;
              width: 18.262%;"
      title="PS50801 536 - 659" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50801-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c44 Domain caption_puce"></span>536 - 659</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50801' class="ext">PS50801 </a>
            <span>(STAS)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.728%;" title="100"></span>
            <span class="grade" style="left:29.455%;" title="200"></span>
            <span class="grade" style="left:44.183%;" title="300"></span>
            <span class="grade" style="left:58.91%;" title="400"></span>
            <span class="grade" style="left:73.638%;" title="500"></span>
            <span class="grade" style="left:88.365%;" title="600"></span>
            <span class="grade" style="left:100%;" title="679"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008272"
                   class="ext">GO:0008272</a> sulfate transport
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0055085"
                   class="ext">GO:0055085</a> transmembrane transport
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008271"
                   class="ext">GO:0008271</a> secondary active sulfate transmembrane transporter activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0015116"
                   class="ext">GO:0015116</a> sulfate transmembrane transporter activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016020"
                   class="ext">GO:0016020</a> membrane
                <br/>
            
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016021"
                   class="ext">GO:0016021</a> integral component of membrane
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
