 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp90_c0_seq0|m.346 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">160 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR005870">Cytochrome b6/f complex, subunit IV</a><span> (IPR005870)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c60 Domain"
      style="left:  3.75%;
              width: 96.25%;"
      title="Domain 7 - 160" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c60 Domain caption_puce"></span>7 - 160
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR005798">Cytochrome b/b6, C-terminal</a><span> (IPR005798)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.5%;" title="20"></span>
                    <span class="grade" style="left:25%;" title="40"></span>
                    <span class="grade" style="left:37.5%;" title="60"></span>
                    <span class="grade" style="left:50%;" title="80"></span>
                    <span class="grade" style="left:62.5%;" title="100"></span>
                    <span class="grade" style="left:75%;" title="120"></span>
                    <span class="grade" style="left:87.5%;" title="140"></span>
                    <span class="grade" style="left:100%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="160"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.5%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:12.5%;">20</span>
                            <span class="scale_bar" style="left:25%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:25%;">40</span>
                            <span class="scale_bar" style="left:37.5%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:37.5%;">60</span>
                            <span class="scale_bar" style="left:50%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:50%;">80</span>
                            <span class="scale_bar" style="left:62.5%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:62.5%;">100</span>
                            <span class="scale_bar" style="left:75%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:75%;">120</span>
                            <span class="scale_bar" style="left:87.5%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:87.5%;">140</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:100%;">160</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:100%;">160</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR005870">IPR005870</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR005870"
                                                         class="neutral">Cytochrome b6/f complex, subunit IV</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR005870-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR01156"
           class="neutral">
        TIGR01156
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR01156-span-1"
      class="match unknown Family"
      style="left:  0%;
              width: 100%;"
      title="TIGR01156 1 - 160" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR01156-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>1 - 160</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR01156 </a>
            <span>(TIGR01156)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005870-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_01344" title="MF_01344 (Cytb6_f_subIV)"
       class="neutral">
        MF_01344
</a>

            <span>(Cytb6_f_s...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_01344-span-2"
      class="match hamap Family"
      style="left:  0%;
              width: 100%;"
      title="MF_01344 1 - 160" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_01344-popup-2" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>1 - 160</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_01344' class="ext">MF_01344 </a>
            <span>(Cytb6_f_subIV)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005870-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF000033" title="PIRSF000033 (Cytochrome_b6f_IV)"
       class="neutral">
        PIRSF000033
</a>

            <span>(Cytoch...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF000033-span-3"
      class="match pirsf Family"
      style="left:  0%;
              width: 100%;"
      title="PIRSF000033 1 - 160" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF000033-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>1 - 160</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF000033' class="ext">PIRSF000033 </a>
            <span>(Cytochrome_b6f_IV)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR005798">IPR005798</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR005798"
                                                         class="neutral">Cytochrome b/b6, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR005798-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81648" title="SSF81648 (a domain/subunit of cytochrome bc1 complex (Ubiquinol-cytochrome c reductase))"
       class="neutral">
        SSF81648
</a>

            <span>(a domain/...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF81648-span-4"
      class="match superfamily c60 Domain"
      style="left:  3.75%;
              width: 93.75%;"
      title="SSF81648 7 - 156" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF81648-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c60 Domain caption_puce"></span>7 - 156</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81648' class="ext">SSF81648 </a>
            <span>(a domain/subunit of cytochrome bc1 complex (Ubiquinol-cytochrome c reductase))</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005798-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00032" title="PF00032 (Cytochrom_B_C)"
       class="neutral">
        PF00032
</a>

                <span>(Cytochrom_B_C)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00032-span-5"
      class="match pfam c60 Domain"
      style="left:  40%;
              width: 55%;"
      title="PF00032 65 - 152" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00032-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c60 Domain caption_puce"></span>65 - 152</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00032' class="ext">PF00032 </a>
            <span>(Cytochrom_B_C)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005798-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51003" title="PS51003 (CYTB_CTER)"
       class="neutral">
        PS51003
</a>

                <span>(CYTB_CTER)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51003-span-6"
      class="match prosite-profiles c60 Domain"
      style="left:  40%;
              width: 60%;"
      title="PS51003 65 - 160" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51003-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c60 Domain caption_puce"></span>65 - 160</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51003' class="ext">PS51003 </a>
            <span>(CYTB_CTER)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.287.980" title="G3DSA:1.10.287.980"
           class="neutral">
    G3DSA:1.10.28...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110287980-span-7"
      class="match gene3d uni"
      style="left:  41.25%;
              width: 55%;"
      title="G3DSA:1.10.287.980 67 - 154" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110287980-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>67 - 154</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.287.980' class="ext">G3DSA:1.10.287.980 </a>
            <span>(G3DSA:1.10.287.980)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.5.510" title="G3DSA:1.20.5.510"
           class="neutral">
        G3DSA:1.20.5.510
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1205510-span-8"
      class="match gene3d uni"
      style="left:  5%;
              width: 36.25%;"
      title="G3DSA:1.20.5.510 9 - 66" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1205510-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>9 - 66</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.5.510' class="ext">G3DSA:1.20.5.510 </a>
            <span>(G3DSA:1.20.5.510)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009767"
                   class="ext">GO:0009767</a> photosynthetic electron transport chain
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009055"
                   class="ext">GO:0009055</a> electron carrier activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016491"
                   class="ext">GO:0016491</a> oxidoreductase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045156"
                   class="ext">GO:0045156</a> electron transporter, transferring electrons within the cyclic electron transport pathway of photosynthesis activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016020"
                   class="ext">GO:0016020</a> membrane
                <br/>
            
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042651"
                   class="ext">GO:0042651</a> thylakoid membrane
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
