 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4217_c0_seq3|m.19103 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">250 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR012259">Dihydrofolate reductase</a><span> (IPR012259)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c55 Domain"
      style="left:  43.2%;
              width: 56.8%;"
      title="Domain 109 - 250" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c55 Domain caption_puce"></span>109 - 250
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR024072">Dihydrofolate reductase-like domain</a><span> (IPR024072)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001796">Dihydrofolate reductase domain</a><span> (IPR001796)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:20%;" title="50"></span>
                    <span class="grade" style="left:40%;" title="100"></span>
                    <span class="grade" style="left:60%;" title="150"></span>
                    <span class="grade" style="left:80%;" title="200"></span>
                    <span class="grade" style="left:100%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="250"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:20%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:20%;">50</span>
                            <span class="scale_bar" style="left:40%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:40%;">100</span>
                            <span class="scale_bar" style="left:60%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:60%;">150</span>
                            <span class="scale_bar" style="left:80%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:80%;">200</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:100%;">250</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:100%;">250</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR012259">IPR012259</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR012259"
                                                         class="neutral">Dihydrofolate reductase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR012259-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00070&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00070 (DHFR)"
       class="neutral">
        PR00070
</a>

                <span>(DHFR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00070-span-1"
      class="match prints Family"
      style="left:  52.4%;
              width: 4.4%;"
      title="PR00070 132 - 142" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00070-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>132 - 142</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00070&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00070 </a>
            <span>(DHFR)</span>
        </div>
    </div>


<span id="PR00070-span-2"
      class="match prints Family"
      style="left:  58%;
              width: 3.6%;"
      title="PR00070 146 - 154" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00070-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>146 - 154</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00070&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00070 </a>
            <span>(DHFR)</span>
        </div>
    </div>


<span id="PR00070-span-3"
      class="match prints Family"
      style="left:  66%;
              width: 4.8%;"
      title="PR00070 166 - 177" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00070-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>166 - 177</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00070&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00070 </a>
            <span>(DHFR)</span>
        </div>
    </div>


<span id="PR00070-span-4"
      class="match prints Family"
      style="left:  91.2%;
              width: 6%;"
      title="PR00070 229 - 243" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00070-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>229 - 243</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00070&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00070 </a>
            <span>(DHFR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20%;" title="50"></span>
            <span class="grade" style="left:40%;" title="100"></span>
            <span class="grade" style="left:60%;" title="150"></span>
            <span class="grade" style="left:80%;" title="200"></span>
            <span class="grade" style="left:100%;" title="250"></span>
            <span class="grade" style="left:100%;" title="250"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR024072">IPR024072</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR024072"
                                                         class="neutral">Dihydrofolate reductase-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR024072-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.430.10" title="G3DSA:3.40.430.10"
           class="neutral">
    G3DSA:3.40.43...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34043010-span-5"
      class="match gene3d c55 Domain"
      style="left:  47.6%;
              width: 48.8%;"
      title="G3DSA:3.40.430.10 120 - 241" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34043010-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c55 Domain caption_puce"></span>120 - 241</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.430.10' class="ext">G3DSA:3.40.430.10 </a>
            <span>(G3DSA:3.40.430.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20%;" title="50"></span>
            <span class="grade" style="left:40%;" title="100"></span>
            <span class="grade" style="left:60%;" title="150"></span>
            <span class="grade" style="left:80%;" title="200"></span>
            <span class="grade" style="left:100%;" title="250"></span>
            <span class="grade" style="left:100%;" title="250"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR024072-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53597" title="SSF53597 (Dihydrofolate reductase-like)"
       class="neutral">
        SSF53597
</a>

            <span>(Dihydrofo...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53597-span-6"
      class="match superfamily c55 Domain"
      style="left:  43.2%;
              width: 53.2%;"
      title="SSF53597 109 - 241" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53597-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily c55 Domain caption_puce"></span>109 - 241</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53597' class="ext">SSF53597 </a>
            <span>(Dihydrofolate reductase-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20%;" title="50"></span>
            <span class="grade" style="left:40%;" title="100"></span>
            <span class="grade" style="left:60%;" title="150"></span>
            <span class="grade" style="left:80%;" title="200"></span>
            <span class="grade" style="left:100%;" title="250"></span>
            <span class="grade" style="left:100%;" title="250"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001796">IPR001796</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001796"
                                                         class="neutral">Dihydrofolate reductase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001796-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51330" title="PS51330 (DHFR_2)"
       class="neutral">
        PS51330
</a>

                <span>(DHFR_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51330-span-7"
      class="match prosite-profiles c55 Domain"
      style="left:  47.6%;
              width: 52.4%;"
      title="PS51330 120 - 250" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51330-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c55 Domain caption_puce"></span>120 - 250</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51330' class="ext">PS51330 </a>
            <span>(DHFR_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20%;" title="50"></span>
            <span class="grade" style="left:40%;" title="100"></span>
            <span class="grade" style="left:60%;" title="150"></span>
            <span class="grade" style="left:80%;" title="200"></span>
            <span class="grade" style="left:100%;" title="250"></span>
            <span class="grade" style="left:100%;" title="250"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001796-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00186" title="PF00186 (DHFR_1)"
       class="neutral">
        PF00186
</a>

                <span>(DHFR_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00186-span-8"
      class="match pfam c55 Domain"
      style="left:  48%;
              width: 48%;"
      title="PF00186 121 - 240" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00186-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c55 Domain caption_puce"></span>121 - 240</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00186' class="ext">PF00186 </a>
            <span>(DHFR_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20%;" title="50"></span>
            <span class="grade" style="left:40%;" title="100"></span>
            <span class="grade" style="left:60%;" title="150"></span>
            <span class="grade" style="left:80%;" title="200"></span>
            <span class="grade" style="left:100%;" title="250"></span>
            <span class="grade" style="left:100%;" title="250"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR017925">IPR017925</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR017925"
                                                         class="neutral">Dihydrofolate reductase conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR017925-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00075" title="PS00075 (DHFR_1)"
       class="neutral">
        PS00075
</a>

                <span>(DHFR_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00075-span-9"
      class="match prosite-patterns SITE"
      style="left:  52.4%;
              width: 9.2%;"
      title="PS00075 132 - 154" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00075-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>132 - 154</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00075' class="ext">PS00075 </a>
            <span>(DHFR_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:20%;" title="50"></span>
            <span class="grade" style="left:40%;" title="100"></span>
            <span class="grade" style="left:60%;" title="150"></span>
            <span class="grade" style="left:80%;" title="200"></span>
            <span class="grade" style="left:100%;" title="250"></span>
            <span class="grade" style="left:100%;" title="250"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006545"
                   class="ext">GO:0006545</a> glycine biosynthetic process
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009165"
                   class="ext">GO:0009165</a> nucleotide biosynthetic process
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0055114"
                   class="ext">GO:0055114</a> oxidation-reduction process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004146"
                   class="ext">GO:0004146</a> dihydrofolate reductase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0050661"
                   class="ext">GO:0050661</a> NADP binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
