 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp8349_c0_seq0|m.33974 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,284 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c46 Domain"
      style="left:  4.984%;
              width: 6.153%;"
      title="Domain 65 - 143" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>65 - 143
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c46 Domain"
      style="left:  17.679%;
              width: 4.673%;"
      title="Domain 228 - 287" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>228 - 287
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c46 Domain"
      style="left:  37.85%;
              width: 4.829%;"
      title="Domain 487 - 548" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>487 - 548
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c46 Domain"
      style="left:  46.963%;
              width: 18.302%;"
      title="Domain 604 - 838" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>604 - 838
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span></li></ul></div>
    </div>




<span id="supermatch-span-5"
      class="match c46 Domain"
      style="left:  67.601%;
              width: 8.411%;"
      title="Domain 869 - 976" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>869 - 976
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.576%;" title="200"></span>
                    <span class="grade" style="left:31.153%;" title="400"></span>
                    <span class="grade" style="left:46.729%;" title="600"></span>
                    <span class="grade" style="left:62.305%;" title="800"></span>
                    <span class="grade" style="left:77.882%;" title="1000"></span>
                    <span class="grade" style="left:100%;" title="1284"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:15.576%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:15.576%;">200</span>
                            <span class="scale_bar" style="left:31.153%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:31.153%;">400</span>
                            <span class="scale_bar" style="left:46.729%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:46.729%;">600</span>
                            <span class="scale_bar" style="left:62.305%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:62.305%;">800</span>
                            <span class="scale_bar" style="left:77.882%;"
                                  title="1000"></span>
                                <span class="scale_numb"
                                      style="left:77.882%;">1000</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="1284"></span>
                                <span class="scale_numb"
                                      style="left:100%;">1284</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016024">IPR016024</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024"
                                                         class="neutral">Armadillo-type fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016024-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371" title="SSF48371 (ARM repeat)"
       class="neutral">
        SSF48371
</a>

                <span>(ARM repeat)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48371-span-1"
      class="match superfamily c46 Domain"
      style="left:  46.963%;
              width: 18.302%;"
      title="SSF48371 604 - 838" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>604 - 838</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


<span id="SSF48371-span-2"
      class="match superfamily c46 Domain"
      style="left:  67.601%;
              width: 8.411%;"
      title="SSF48371 869 - 976" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>869 - 976</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


<span id="SSF48371-span-3"
      class="match superfamily c46 Domain"
      style="left:  17.679%;
              width: 4.673%;"
      title="SSF48371 228 - 287" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>228 - 287</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


<span id="SSF48371-span-4"
      class="match superfamily c46 Domain"
      style="left:  37.85%;
              width: 4.829%;"
      title="SSF48371 487 - 548" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>487 - 548</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


<span id="SSF48371-span-5"
      class="match superfamily c46 Domain"
      style="left:  4.984%;
              width: 6.153%;"
      title="SSF48371 65 - 143" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>65 - 143</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.576%;" title="200"></span>
            <span class="grade" style="left:31.153%;" title="400"></span>
            <span class="grade" style="left:46.729%;" title="600"></span>
            <span class="grade" style="left:62.305%;" title="800"></span>
            <span class="grade" style="left:77.882%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1284"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005488"
                   class="ext">GO:0005488</a> binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 5);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
