 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5372_c0_seq1|m.23791 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">472 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c23 Domain"
      style="left:  9.534%;
              width: 90.466%;"
      title="Domain 46 - 472" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>46 - 472
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029021">Protein-tyrosine phosphatase-like</a><span> (IPR029021)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR010569">Myotubularin-like phosphatase domain</a><span> (IPR010569)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.593%;" title="50"></span>
                    <span class="grade" style="left:21.186%;" title="100"></span>
                    <span class="grade" style="left:31.78%;" title="150"></span>
                    <span class="grade" style="left:42.373%;" title="200"></span>
                    <span class="grade" style="left:52.966%;" title="250"></span>
                    <span class="grade" style="left:63.559%;" title="300"></span>
                    <span class="grade" style="left:74.153%;" title="350"></span>
                    <span class="grade" style="left:84.746%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="472"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10.593%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:10.593%;">50</span>
                            <span class="scale_bar" style="left:21.186%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:21.186%;">100</span>
                            <span class="scale_bar" style="left:31.78%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:31.78%;">150</span>
                            <span class="scale_bar" style="left:42.373%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:42.373%;">200</span>
                            <span class="scale_bar" style="left:52.966%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:52.966%;">250</span>
                            <span class="scale_bar" style="left:63.559%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:63.559%;">300</span>
                            <span class="scale_bar" style="left:74.153%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:74.153%;">350</span>
                            <span class="scale_bar" style="left:84.746%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:84.746%;">400</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="472"></span>
                                <span class="scale_numb"
                                      style="left:100%;">472</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029021">IPR029021</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029021"
                                                         class="neutral">Protein-tyrosine phosphatase-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029021-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52799" title="SSF52799 ((Phosphotyrosine protein) phosphatases II)"
       class="neutral">
        SSF52799
</a>

            <span>((Phosphot...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52799-span-1"
      class="match superfamily c23 Domain"
      style="left:  85.593%;
              width: 11.229%;"
      title="SSF52799 405 - 457" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52799-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c23 Domain caption_puce"></span>405 - 457</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52799' class="ext">SSF52799 </a>
            <span>((Phosphotyrosine protein) phosphatases II)</span>
        </div>
    </div>


<span id="SSF52799-span-2"
      class="match superfamily c23 Domain"
      style="left:  18.432%;
              width: 59.11%;"
      title="SSF52799 88 - 366" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52799-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c23 Domain caption_puce"></span>88 - 366</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52799' class="ext">SSF52799 </a>
            <span>((Phosphotyrosine protein) phosphatases II)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.593%;" title="50"></span>
            <span class="grade" style="left:21.186%;" title="100"></span>
            <span class="grade" style="left:31.78%;" title="150"></span>
            <span class="grade" style="left:42.373%;" title="200"></span>
            <span class="grade" style="left:52.966%;" title="250"></span>
            <span class="grade" style="left:63.559%;" title="300"></span>
            <span class="grade" style="left:74.153%;" title="350"></span>
            <span class="grade" style="left:84.746%;" title="400"></span>
            <span class="grade" style="left:100%;" title="472"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR010569">IPR010569</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR010569"
                                                         class="neutral">Myotubularin-like phosphatase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR010569-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF06602" title="PF06602 (Myotub-related)"
       class="neutral">
        PF06602
</a>

            <span>(Myotub-rel...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF06602-span-3"
      class="match pfam c23 Domain"
      style="left:  9.534%;
              width: 87.076%;"
      title="PF06602 46 - 456" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF06602-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c23 Domain caption_puce"></span>46 - 456</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF06602' class="ext">PF06602 </a>
            <span>(Myotub-related)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.593%;" title="50"></span>
            <span class="grade" style="left:21.186%;" title="100"></span>
            <span class="grade" style="left:31.78%;" title="150"></span>
            <span class="grade" style="left:42.373%;" title="200"></span>
            <span class="grade" style="left:52.966%;" title="250"></span>
            <span class="grade" style="left:63.559%;" title="300"></span>
            <span class="grade" style="left:74.153%;" title="350"></span>
            <span class="grade" style="left:84.746%;" title="400"></span>
            <span class="grade" style="left:100%;" title="472"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR010569-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51339" title="PS51339 (PPASE_MYOTUBULARIN)"
       class="neutral">
        PS51339
</a>

            <span>(PPASE_MYOT...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51339-span-4"
      class="match prosite-profiles c23 Domain"
      style="left:  9.958%;
              width: 90.042%;"
      title="PS51339 48 - 472" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51339-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c23 Domain caption_puce"></span>48 - 472</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51339' class="ext">PS51339 </a>
            <span>(PPASE_MYOTUBULARIN)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.593%;" title="50"></span>
            <span class="grade" style="left:21.186%;" title="100"></span>
            <span class="grade" style="left:31.78%;" title="150"></span>
            <span class="grade" style="left:42.373%;" title="200"></span>
            <span class="grade" style="left:52.966%;" title="250"></span>
            <span class="grade" style="left:63.559%;" title="300"></span>
            <span class="grade" style="left:74.153%;" title="350"></span>
            <span class="grade" style="left:84.746%;" title="400"></span>
            <span class="grade" style="left:100%;" title="472"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016130">IPR016130</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016130"
                                                         class="neutral">Protein-tyrosine phosphatase, active site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00383" title="PS00383 (TYR_PHOSPHATASE_1)"
       class="neutral">
        PS00383
</a>

            <span>(TYR_PHOSPH...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00383-span-5"
      class="match prosite-patterns SITE"
      style="left:  65.678%;
              width: 2.331%;"
      title="PS00383 311 - 321" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00383-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>311 - 321</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00383' class="ext">PS00383 </a>
            <span>(TYR_PHOSPHATASE_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.593%;" title="50"></span>
            <span class="grade" style="left:21.186%;" title="100"></span>
            <span class="grade" style="left:31.78%;" title="150"></span>
            <span class="grade" style="left:42.373%;" title="200"></span>
            <span class="grade" style="left:52.966%;" title="250"></span>
            <span class="grade" style="left:63.559%;" title="300"></span>
            <span class="grade" style="left:74.153%;" title="350"></span>
            <span class="grade" style="left:84.746%;" title="400"></span>
            <span class="grade" style="left:100%;" title="472"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016311"
                   class="ext">GO:0016311</a> dephosphorylation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004725"
                   class="ext">GO:0004725</a> protein tyrosine phosphatase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016791"
                   class="ext">GO:0016791</a> phosphatase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
