 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4595_c0_seq0|m.20632 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">519 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c1 Domain"
      style="left:  17.534%;
              width: 39.499%;"
      title="Domain 92 - 296" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c1 Domain caption_puce"></span>92 - 296
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR004255">O-acyltransferase, WSD1, N-terminal</a><span> (IPR004255)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c54 Domain"
      style="left:  74.374%;
              width: 22.736%;"
      title="Domain 387 - 504" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c54 Domain caption_puce"></span>387 - 504
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR009721">O-acyltransferase WSD1, C-terminal</a><span> (IPR009721)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.634%;" title="50"></span>
                    <span class="grade" style="left:19.268%;" title="100"></span>
                    <span class="grade" style="left:28.902%;" title="150"></span>
                    <span class="grade" style="left:38.536%;" title="200"></span>
                    <span class="grade" style="left:48.17%;" title="250"></span>
                    <span class="grade" style="left:57.803%;" title="300"></span>
                    <span class="grade" style="left:67.437%;" title="350"></span>
                    <span class="grade" style="left:77.071%;" title="400"></span>
                    <span class="grade" style="left:86.705%;" title="450"></span>
                    <span class="grade" style="left:100%;" title="519"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.634%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:9.634%;">50</span>
                            <span class="scale_bar" style="left:19.268%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:19.268%;">100</span>
                            <span class="scale_bar" style="left:28.902%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:28.902%;">150</span>
                            <span class="scale_bar" style="left:38.536%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:38.536%;">200</span>
                            <span class="scale_bar" style="left:48.17%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:48.17%;">250</span>
                            <span class="scale_bar" style="left:57.803%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:57.803%;">300</span>
                            <span class="scale_bar" style="left:67.437%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:67.437%;">350</span>
                            <span class="scale_bar" style="left:77.071%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:77.071%;">400</span>
                            <span class="scale_bar" style="left:86.705%;"
                                  title="450"></span>
                                <span class="scale_numb"
                                      style="left:86.705%;">450</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="519"></span>
                                <span class="scale_numb"
                                      style="left:100%;">519</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR004255">IPR004255</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR004255"
                                                         class="neutral">O-acyltransferase, WSD1, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR004255-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF03007" title="PF03007 (WES_acyltransf)"
       class="neutral">
        PF03007
</a>

            <span>(WES_acyltr...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF03007-span-1"
      class="match pfam c1 Domain"
      style="left:  17.534%;
              width: 39.499%;"
      title="PF03007 92 - 296" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF03007-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c1 Domain caption_puce"></span>92 - 296</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF03007' class="ext">PF03007 </a>
            <span>(WES_acyltransf)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.634%;" title="50"></span>
            <span class="grade" style="left:19.268%;" title="100"></span>
            <span class="grade" style="left:28.902%;" title="150"></span>
            <span class="grade" style="left:38.536%;" title="200"></span>
            <span class="grade" style="left:48.17%;" title="250"></span>
            <span class="grade" style="left:57.803%;" title="300"></span>
            <span class="grade" style="left:67.437%;" title="350"></span>
            <span class="grade" style="left:77.071%;" title="400"></span>
            <span class="grade" style="left:86.705%;" title="450"></span>
            <span class="grade" style="left:100%;" title="519"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR009721">IPR009721</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR009721"
                                                         class="neutral">O-acyltransferase WSD1, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR009721-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF06974" title="PF06974 (DUF1298)"
       class="neutral">
        PF06974
</a>

                <span>(DUF1298)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF06974-span-2"
      class="match pfam c54 Domain"
      style="left:  74.374%;
              width: 22.736%;"
      title="PF06974 387 - 504" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF06974-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c54 Domain caption_puce"></span>387 - 504</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF06974' class="ext">PF06974 </a>
            <span>(DUF1298)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.634%;" title="50"></span>
            <span class="grade" style="left:19.268%;" title="100"></span>
            <span class="grade" style="left:28.902%;" title="150"></span>
            <span class="grade" style="left:38.536%;" title="200"></span>
            <span class="grade" style="left:48.17%;" title="250"></span>
            <span class="grade" style="left:57.803%;" title="300"></span>
            <span class="grade" style="left:67.437%;" title="350"></span>
            <span class="grade" style="left:77.071%;" title="400"></span>
            <span class="grade" style="left:86.705%;" title="450"></span>
            <span class="grade" style="left:100%;" title="519"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52777" title="SSF52777 (CoA-dependent acyltransferases)"
       class="neutral">
        SSF52777
</a>

            <span>(CoA-depen...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52777-span-3"
      class="match superfamily uni"
      style="left:  11.753%;
              width: 24.277%;"
      title="SSF52777 62 - 187" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52777-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>62 - 187</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52777' class="ext">SSF52777 </a>
            <span>(CoA-dependent acyltransferases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.634%;" title="50"></span>
            <span class="grade" style="left:19.268%;" title="100"></span>
            <span class="grade" style="left:28.902%;" title="150"></span>
            <span class="grade" style="left:38.536%;" title="200"></span>
            <span class="grade" style="left:48.17%;" title="250"></span>
            <span class="grade" style="left:57.803%;" title="300"></span>
            <span class="grade" style="left:67.437%;" title="350"></span>
            <span class="grade" style="left:77.071%;" title="400"></span>
            <span class="grade" style="left:86.705%;" title="450"></span>
            <span class="grade" style="left:100%;" title="519"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045017"
                   class="ext">GO:0045017</a> glycerolipid biosynthetic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004144"
                   class="ext">GO:0004144</a> diacylglycerol O-acyltransferase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
