 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4210_c0_seq0|m.19051 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">922 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c2 Domain"
      style="left:  10.195%;
              width: 33.406%;"
      title="Domain 95 - 402" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c2 Domain caption_puce"></span>95 - 402
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR028889">Ubiquitin specific protease domain</a><span> (IPR028889)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001394">Peptidase C19, ubiquitin carboxyl-terminal hydrolase</a><span> (IPR001394)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.846%;" title="100"></span>
                    <span class="grade" style="left:21.692%;" title="200"></span>
                    <span class="grade" style="left:32.538%;" title="300"></span>
                    <span class="grade" style="left:43.384%;" title="400"></span>
                    <span class="grade" style="left:54.23%;" title="500"></span>
                    <span class="grade" style="left:65.076%;" title="600"></span>
                    <span class="grade" style="left:75.922%;" title="700"></span>
                    <span class="grade" style="left:86.768%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="922"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10.846%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:10.846%;">100</span>
                            <span class="scale_bar" style="left:21.692%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:21.692%;">200</span>
                            <span class="scale_bar" style="left:32.538%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:32.538%;">300</span>
                            <span class="scale_bar" style="left:43.384%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:43.384%;">400</span>
                            <span class="scale_bar" style="left:54.23%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:54.23%;">500</span>
                            <span class="scale_bar" style="left:65.076%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:65.076%;">600</span>
                            <span class="scale_bar" style="left:75.922%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:75.922%;">700</span>
                            <span class="scale_bar" style="left:86.768%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:86.768%;">800</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="922"></span>
                                <span class="scale_numb"
                                      style="left:100%;">922</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR028889">IPR028889</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR028889"
                                                         class="neutral">Ubiquitin specific protease domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR028889-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50235" title="PS50235 (USP_3)"
       class="neutral">
        PS50235
</a>

                <span>(USP_3)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50235-span-1"
      class="match prosite-profiles c2 Domain"
      style="left:  10.195%;
              width: 33.406%;"
      title="PS50235 95 - 402" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50235-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c2 Domain caption_puce"></span>95 - 402</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50235' class="ext">PS50235 </a>
            <span>(USP_3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.846%;" title="100"></span>
            <span class="grade" style="left:21.692%;" title="200"></span>
            <span class="grade" style="left:32.538%;" title="300"></span>
            <span class="grade" style="left:43.384%;" title="400"></span>
            <span class="grade" style="left:54.23%;" title="500"></span>
            <span class="grade" style="left:65.076%;" title="600"></span>
            <span class="grade" style="left:75.922%;" title="700"></span>
            <span class="grade" style="left:86.768%;" title="800"></span>
            <span class="grade" style="left:100%;" title="922"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001394">IPR001394</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001394"
                                                         class="neutral">Peptidase C19, ubiquitin carboxyl-terminal hydrolase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001394-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00443" title="PF00443 (UCH)"
       class="neutral">
        PF00443
</a>

                <span>(UCH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00443-span-2"
      class="match pfam c2 Domain"
      style="left:  10.195%;
              width: 33.08%;"
      title="PF00443 95 - 399" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00443-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c2 Domain caption_puce"></span>95 - 399</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00443' class="ext">PF00443 </a>
            <span>(UCH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.846%;" title="100"></span>
            <span class="grade" style="left:21.692%;" title="200"></span>
            <span class="grade" style="left:32.538%;" title="300"></span>
            <span class="grade" style="left:43.384%;" title="400"></span>
            <span class="grade" style="left:54.23%;" title="500"></span>
            <span class="grade" style="left:65.076%;" title="600"></span>
            <span class="grade" style="left:75.922%;" title="700"></span>
            <span class="grade" style="left:86.768%;" title="800"></span>
            <span class="grade" style="left:100%;" title="922"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR018200">IPR018200</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR018200"
                                                         class="neutral">Ubiquitin specific protease, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR018200-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00973" title="PS00973 (USP_2)"
       class="neutral">
        PS00973
</a>

                <span>(USP_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00973-span-3"
      class="match prosite-patterns SITE"
      style="left:  37.202%;
              width: 2.061%;"
      title="PS00973 344 - 362" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00973-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>344 - 362</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00973' class="ext">PS00973 </a>
            <span>(USP_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.846%;" title="100"></span>
            <span class="grade" style="left:21.692%;" title="200"></span>
            <span class="grade" style="left:32.538%;" title="300"></span>
            <span class="grade" style="left:43.384%;" title="400"></span>
            <span class="grade" style="left:54.23%;" title="500"></span>
            <span class="grade" style="left:65.076%;" title="600"></span>
            <span class="grade" style="left:75.922%;" title="700"></span>
            <span class="grade" style="left:86.768%;" title="800"></span>
            <span class="grade" style="left:100%;" title="922"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR018200-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00972" title="PS00972 (USP_1)"
       class="neutral">
        PS00972
</a>

                <span>(USP_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00972-span-4"
      class="match prosite-patterns SITE"
      style="left:  10.304%;
              width: 1.735%;"
      title="PS00972 96 - 111" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00972-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>96 - 111</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00972' class="ext">PS00972 </a>
            <span>(USP_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.846%;" title="100"></span>
            <span class="grade" style="left:21.692%;" title="200"></span>
            <span class="grade" style="left:32.538%;" title="300"></span>
            <span class="grade" style="left:43.384%;" title="400"></span>
            <span class="grade" style="left:54.23%;" title="500"></span>
            <span class="grade" style="left:65.076%;" title="600"></span>
            <span class="grade" style="left:75.922%;" title="700"></span>
            <span class="grade" style="left:86.768%;" title="800"></span>
            <span class="grade" style="left:100%;" title="922"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.20.210.10" title="G3DSA:2.20.210.10"
           class="neutral">
    G3DSA:2.20.21...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA22021010-span-5"
      class="match gene3d uni"
      style="left:  24.295%;
              width: 7.809%;"
      title="G3DSA:2.20.210.10 225 - 296" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA22021010-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>225 - 296</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.20.210.10' class="ext">G3DSA:2.20.210.10 </a>
            <span>(G3DSA:2.20.210.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.846%;" title="100"></span>
            <span class="grade" style="left:21.692%;" title="200"></span>
            <span class="grade" style="left:32.538%;" title="300"></span>
            <span class="grade" style="left:43.384%;" title="400"></span>
            <span class="grade" style="left:54.23%;" title="500"></span>
            <span class="grade" style="left:65.076%;" title="600"></span>
            <span class="grade" style="left:75.922%;" title="700"></span>
            <span class="grade" style="left:86.768%;" title="800"></span>
            <span class="grade" style="left:100%;" title="922"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54001" title="SSF54001 (Cysteine proteinases)"
       class="neutral">
        SSF54001
</a>

            <span>(Cysteine ...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF54001-span-6"
      class="match superfamily uni"
      style="left:  10.087%;
              width: 33.406%;"
      title="SSF54001 94 - 401" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF54001-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>94 - 401</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54001' class="ext">SSF54001 </a>
            <span>(Cysteine proteinases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.846%;" title="100"></span>
            <span class="grade" style="left:21.692%;" title="200"></span>
            <span class="grade" style="left:32.538%;" title="300"></span>
            <span class="grade" style="left:43.384%;" title="400"></span>
            <span class="grade" style="left:54.23%;" title="500"></span>
            <span class="grade" style="left:65.076%;" title="600"></span>
            <span class="grade" style="left:75.922%;" title="700"></span>
            <span class="grade" style="left:86.768%;" title="800"></span>
            <span class="grade" style="left:100%;" title="922"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006511"
                   class="ext">GO:0006511</a> ubiquitin-dependent protein catabolic process
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016579"
                   class="ext">GO:0016579</a> protein deubiquitination
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0036459"
                   class="ext">GO:0036459</a> ubiquitinyl hydrolase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
