 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp10257_c0_seq0|m.38325 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">530 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000362">Fumarate lyase family</a><span> (IPR000362)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR009049">Argininosuccinate lyase</a><span> (IPR009049)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c4 Domain"
      style="left:  12.264%;
              width: 56.604%;"
      title="Domain 66 - 365" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>66 - 365
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR024083">Fumarase/histidase, N-terminal</a><span> (IPR024083)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR022761">Fumarate lyase, N-terminal</a><span> (IPR022761)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c38 Domain"
      style="left:  80.943%;
              width: 12.642%;"
      title="Domain 430 - 496" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c38 Domain caption_puce"></span>430 - 496
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029419">Argininosuccinate lyase, C-terminal</a><span> (IPR029419)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.434%;" title="50"></span>
                    <span class="grade" style="left:18.868%;" title="100"></span>
                    <span class="grade" style="left:28.302%;" title="150"></span>
                    <span class="grade" style="left:37.736%;" title="200"></span>
                    <span class="grade" style="left:47.17%;" title="250"></span>
                    <span class="grade" style="left:56.604%;" title="300"></span>
                    <span class="grade" style="left:66.038%;" title="350"></span>
                    <span class="grade" style="left:75.472%;" title="400"></span>
                    <span class="grade" style="left:84.906%;" title="450"></span>
                    <span class="grade" style="left:94.34%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="530"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-3"
      class="match c57 Domain"
      style="left:  12.642%;
              width: 84.717%;"
      title="Domain 68 - 516" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>68 - 516
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR008948">L-Aspartase-like</a><span> (IPR008948)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.434%;" title="50"></span>
                    <span class="grade" style="left:18.868%;" title="100"></span>
                    <span class="grade" style="left:28.302%;" title="150"></span>
                    <span class="grade" style="left:37.736%;" title="200"></span>
                    <span class="grade" style="left:47.17%;" title="250"></span>
                    <span class="grade" style="left:56.604%;" title="300"></span>
                    <span class="grade" style="left:66.038%;" title="350"></span>
                    <span class="grade" style="left:75.472%;" title="400"></span>
                    <span class="grade" style="left:84.906%;" title="450"></span>
                    <span class="grade" style="left:94.34%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="530"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.434%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:9.434%;">50</span>
                            <span class="scale_bar" style="left:18.868%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:18.868%;">100</span>
                            <span class="scale_bar" style="left:28.302%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:28.302%;">150</span>
                            <span class="scale_bar" style="left:37.736%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:37.736%;">200</span>
                            <span class="scale_bar" style="left:47.17%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:47.17%;">250</span>
                            <span class="scale_bar" style="left:56.604%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:56.604%;">300</span>
                            <span class="scale_bar" style="left:66.038%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:66.038%;">350</span>
                            <span class="scale_bar" style="left:75.472%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:75.472%;">400</span>
                            <span class="scale_bar" style="left:84.906%;"
                                  title="450"></span>
                                <span class="scale_numb"
                                      style="left:84.906%;">450</span>
                            <span class="scale_bar" style="left:94.34%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:94.34%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="530"></span>
                                <span class="scale_numb"
                                      style="left:100%;">530</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000362">IPR000362</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000362"
                                                         class="neutral">Fumarate lyase family</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000362-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00149&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00149 (FUMRATELYASE)"
       class="neutral">
        PR00149
</a>

                <span>(FUMRATELYASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00149-span-1"
      class="match prints Family"
      style="left:  55.66%;
              width: 5.283%;"
      title="PR00149 296 - 323" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00149-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>296 - 323</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00149&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00149 </a>
            <span>(FUMRATELYASE)</span>
        </div>
    </div>


<span id="PR00149-span-2"
      class="match prints Family"
      style="left:  31.321%;
              width: 3.585%;"
      title="PR00149 167 - 185" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00149-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>167 - 185</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00149&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00149 </a>
            <span>(FUMRATELYASE)</span>
        </div>
    </div>


<span id="PR00149-span-3"
      class="match prints Family"
      style="left:  39.811%;
              width: 3.585%;"
      title="PR00149 212 - 230" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00149-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>212 - 230</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00149&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00149 </a>
            <span>(FUMRATELYASE)</span>
        </div>
    </div>


<span id="PR00149-span-4"
      class="match prints Family"
      style="left:  63.962%;
              width: 3.208%;"
      title="PR00149 340 - 356" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00149-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>340 - 356</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00149&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00149 </a>
            <span>(FUMRATELYASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR009049">IPR009049</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR009049"
                                                         class="neutral">Argininosuccinate lyase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR009049-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00838"
           class="neutral">
        TIGR00838
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00838-span-5"
      class="match unknown Family"
      style="left:  12.642%;
              width: 84.528%;"
      title="TIGR00838 68 - 515" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00838-popup-5" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>68 - 515</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00838 </a>
            <span>(TIGR00838)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR009049-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_00006" title="MF_00006 (Arg_succ_lyase)"
       class="neutral">
        MF_00006
</a>

            <span>(Arg_succ_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_00006-span-6"
      class="match hamap Family"
      style="left:  12.453%;
              width: 85.283%;"
      title="MF_00006 67 - 518" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_00006-popup-6" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>67 - 518</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_00006' class="ext">MF_00006 </a>
            <span>(Arg_succ_lyase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR024083">IPR024083</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR024083"
                                                         class="neutral">Fumarase/histidase, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR024083-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.275.10" title="G3DSA:1.10.275.10"
           class="neutral">
    G3DSA:1.10.27...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA11027510-span-7"
      class="match gene3d c4 Domain"
      style="left:  12.264%;
              width: 20%;"
      title="G3DSA:1.10.275.10 66 - 171" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11027510-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>66 - 171</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.275.10' class="ext">G3DSA:1.10.275.10 </a>
            <span>(G3DSA:1.10.275.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008948">IPR008948</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008948"
                                                         class="neutral">L-Aspartase-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008948-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48557" title="SSF48557 (L-aspartase-like)"
       class="neutral">
        SSF48557
</a>

            <span>(L-asparta...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48557-span-8"
      class="match superfamily c57 Domain"
      style="left:  12.642%;
              width: 84.717%;"
      title="SSF48557 68 - 516" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48557-popup-8" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>68 - 516</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48557' class="ext">SSF48557 </a>
            <span>(L-aspartase-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022761">IPR022761</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022761"
                                                         class="neutral">Fumarate lyase, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022761-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00206" title="PF00206 (Lyase_1)"
       class="neutral">
        PF00206
</a>

                <span>(Lyase_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00206-span-9"
      class="match pfam c4 Domain"
      style="left:  13.208%;
              width: 55.66%;"
      title="PF00206 71 - 365" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00206-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam c4 Domain caption_puce"></span>71 - 365</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00206' class="ext">PF00206 </a>
            <span>(Lyase_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029419">IPR029419</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029419"
                                                         class="neutral">Argininosuccinate lyase, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029419-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14698" title="PF14698 (ASL_C2)"
       class="neutral">
        PF14698
</a>

                <span>(ASL_C2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14698-span-10"
      class="match pfam c38 Domain"
      style="left:  80.943%;
              width: 12.642%;"
      title="PF14698 430 - 496" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14698-popup-10" style="display: none;">

        <div class="popup_topl"><span class="pfam c38 Domain caption_puce"></span>430 - 496</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14698' class="ext">PF14698 </a>
            <span>(ASL_C2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020557">IPR020557</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020557"
                                                         class="neutral">Fumarate lyase, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020557-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00163" title="PS00163 (FUMARATE_LYASES)"
       class="neutral">
        PS00163
</a>

            <span>(FUMARATE_L...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00163-span-11"
      class="match prosite-patterns SITE"
      style="left:  63.962%;
              width: 1.887%;"
      title="PS00163 340 - 349" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00163-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>340 - 349</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00163' class="ext">PS00163 </a>
            <span>(FUMARATE_LYASES)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.40.30" title="G3DSA:1.10.40.30"
           class="neutral">
        G3DSA:1.10.40.30
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1104030-span-12"
      class="match gene3d uni"
      style="left:  82.642%;
              width: 10.943%;"
      title="G3DSA:1.10.40.30 439 - 496" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1104030-popup-12" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>439 - 496</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.40.30' class="ext">G3DSA:1.10.40.30 </a>
            <span>(G3DSA:1.10.40.30)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.200.10" title="G3DSA:1.20.200.10"
           class="neutral">
    G3DSA:1.20.20...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA12020010-span-13"
      class="match gene3d uni"
      style="left:  32.264%;
              width: 50.377%;"
      title="G3DSA:1.20.200.10 172 - 438" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA12020010-popup-13" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>172 - 438</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.200.10' class="ext">G3DSA:1.20.200.10 </a>
            <span>(G3DSA:1.20.200.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00145 (ARGSUCLYASE)"
       class="neutral">
        PR00145
</a>

                <span>(ARGSUCLYASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00145-span-14"
      class="match prints uni"
      style="left:  38.868%;
              width: 3.962%;"
      title="PR00145 207 - 227" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00145-popup-14" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>207 - 227</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00145 </a>
            <span>(ARGSUCLYASE)</span>
        </div>
    </div>


<span id="PR00145-span-15"
      class="match prints uni"
      style="left:  63.962%;
              width: 3.208%;"
      title="PR00145 340 - 356" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00145-popup-15" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>340 - 356</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00145 </a>
            <span>(ARGSUCLYASE)</span>
        </div>
    </div>


<span id="PR00145-span-16"
      class="match prints uni"
      style="left:  48.491%;
              width: 3.208%;"
      title="PR00145 258 - 274" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00145-popup-16" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>258 - 274</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00145 </a>
            <span>(ARGSUCLYASE)</span>
        </div>
    </div>


<span id="PR00145-span-17"
      class="match prints uni"
      style="left:  70.566%;
              width: 3.774%;"
      title="PR00145 375 - 394" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00145-popup-17" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>375 - 394</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00145 </a>
            <span>(ARGSUCLYASE)</span>
        </div>
    </div>


<span id="PR00145-span-18"
      class="match prints uni"
      style="left:  31.132%;
              width: 4.34%;"
      title="PR00145 166 - 188" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00145-popup-18" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>166 - 188</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00145 </a>
            <span>(ARGSUCLYASE)</span>
        </div>
    </div>


<span id="PR00145-span-19"
      class="match prints uni"
      style="left:  55.66%;
              width: 4.717%;"
      title="PR00145 296 - 320" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00145-popup-19" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>296 - 320</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00145&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00145 </a>
            <span>(ARGSUCLYASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.434%;" title="50"></span>
            <span class="grade" style="left:18.868%;" title="100"></span>
            <span class="grade" style="left:28.302%;" title="150"></span>
            <span class="grade" style="left:37.736%;" title="200"></span>
            <span class="grade" style="left:47.17%;" title="250"></span>
            <span class="grade" style="left:56.604%;" title="300"></span>
            <span class="grade" style="left:66.038%;" title="350"></span>
            <span class="grade" style="left:75.472%;" title="400"></span>
            <span class="grade" style="left:84.906%;" title="450"></span>
            <span class="grade" style="left:94.34%;" title="500"></span>
            <span class="grade" style="left:100%;" title="530"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042450"
                   class="ext">GO:0042450</a> arginine biosynthetic process via ornithine
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003824"
                   class="ext">GO:0003824</a> catalytic activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004056"
                   class="ext">GO:0004056</a> argininosuccinate lyase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
