 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp10727_c0_seq4|m.39291 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">337 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR008380">HAD-superfamily hydrolase, subfamily IG, 5'-nucleotidase</a><span> (IPR008380)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c54 Domain"
      style="left:  0%;
              width: 96.439%;"
      title="Domain 1 - 325" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c54 Domain caption_puce"></span>1 - 325
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR023214">HAD-like domain</a><span> (IPR023214)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.837%;" title="50"></span>
                    <span class="grade" style="left:29.674%;" title="100"></span>
                    <span class="grade" style="left:44.51%;" title="150"></span>
                    <span class="grade" style="left:59.347%;" title="200"></span>
                    <span class="grade" style="left:74.184%;" title="250"></span>
                    <span class="grade" style="left:89.021%;" title="300"></span>
                    <span class="grade" style="left:100%;" title="337"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:14.837%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:14.837%;">50</span>
                            <span class="scale_bar" style="left:29.674%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:29.674%;">100</span>
                            <span class="scale_bar" style="left:44.51%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:44.51%;">150</span>
                            <span class="scale_bar" style="left:59.347%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:59.347%;">200</span>
                            <span class="scale_bar" style="left:74.184%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:74.184%;">250</span>
                            <span class="scale_bar" style="left:89.021%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:89.021%;">300</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="337"></span>
                                <span class="scale_numb"
                                      style="left:100%;">337</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008380">IPR008380</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008380"
                                                         class="neutral">HAD-superfamily hydrolase, subfamily IG, 5'-nucleotidase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008380-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR02244"
           class="neutral">
        TIGR02244
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR02244-span-1"
      class="match unknown Family"
      style="left:  0%;
              width: 64.392%;"
      title="TIGR02244 1 - 217" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR02244-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>1 - 217</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR02244 </a>
            <span>(TIGR02244)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.837%;" title="50"></span>
            <span class="grade" style="left:29.674%;" title="100"></span>
            <span class="grade" style="left:44.51%;" title="150"></span>
            <span class="grade" style="left:59.347%;" title="200"></span>
            <span class="grade" style="left:74.184%;" title="250"></span>
            <span class="grade" style="left:89.021%;" title="300"></span>
            <span class="grade" style="left:100%;" title="337"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR008380-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF05761" title="PF05761 (5_nucleotid)"
       class="neutral">
        PF05761
</a>

                <span>(5_nucleotid)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF05761-span-2"
      class="match pfam Family"
      style="left:  0%;
              width: 96.142%;"
      title="PF05761 1 - 324" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF05761-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>1 - 324</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF05761' class="ext">PF05761 </a>
            <span>(5_nucleotid)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.837%;" title="50"></span>
            <span class="grade" style="left:29.674%;" title="100"></span>
            <span class="grade" style="left:44.51%;" title="150"></span>
            <span class="grade" style="left:59.347%;" title="200"></span>
            <span class="grade" style="left:74.184%;" title="250"></span>
            <span class="grade" style="left:89.021%;" title="300"></span>
            <span class="grade" style="left:100%;" title="337"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR023214">IPR023214</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR023214"
                                                         class="neutral">HAD-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR023214-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.1000" title="G3DSA:3.40.50.1000"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA340501000-span-3"
      class="match gene3d c54 Domain"
      style="left:  18.694%;
              width: 46.291%;"
      title="G3DSA:3.40.50.1000 64 - 219" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA340501000-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c54 Domain caption_puce"></span>64 - 219</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.1000' class="ext">G3DSA:3.40.50.1000 </a>
            <span>(G3DSA:3.40.50.1000)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.837%;" title="50"></span>
            <span class="grade" style="left:29.674%;" title="100"></span>
            <span class="grade" style="left:44.51%;" title="150"></span>
            <span class="grade" style="left:59.347%;" title="200"></span>
            <span class="grade" style="left:74.184%;" title="250"></span>
            <span class="grade" style="left:89.021%;" title="300"></span>
            <span class="grade" style="left:100%;" title="337"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR023214-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56784" title="SSF56784 (HAD-like)"
       class="neutral">
        SSF56784
</a>

                <span>(HAD-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56784-span-4"
      class="match superfamily c54 Domain"
      style="left:  0%;
              width: 96.439%;"
      title="SSF56784 1 - 325" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56784-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c54 Domain caption_puce"></span>1 - 325</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56784' class="ext">SSF56784 </a>
            <span>(HAD-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.837%;" title="50"></span>
            <span class="grade" style="left:29.674%;" title="100"></span>
            <span class="grade" style="left:44.51%;" title="150"></span>
            <span class="grade" style="left:59.347%;" title="200"></span>
            <span class="grade" style="left:74.184%;" title="250"></span>
            <span class="grade" style="left:89.021%;" title="300"></span>
            <span class="grade" style="left:100%;" title="337"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
