 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp11039_c0_seq0|m.39838 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,189 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c47 Domain"
      style="left:  2.187%;
              width: 33.474%;"
      title="Domain 27 - 424" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c47 Domain caption_puce"></span>27 - 424
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007644">RNA polymerase, beta subunit, protrusion</a><span> (IPR007644)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.821%;" title="200"></span>
                    <span class="grade" style="left:33.642%;" title="400"></span>
                    <span class="grade" style="left:50.463%;" title="600"></span>
                    <span class="grade" style="left:67.283%;" title="800"></span>
                    <span class="grade" style="left:84.104%;" title="1000"></span>
                    <span class="grade" style="left:100%;" title="1189"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c45 Domain"
      style="left:  16.653%;
              width: 15.055%;"
      title="Domain 199 - 377" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c45 Domain caption_puce"></span>199 - 377
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007642">RNA polymerase Rpb2, domain 2</a><span> (IPR007642)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c48 Domain"
      style="left:  38.856%;
              width: 5.383%;"
      title="Domain 463 - 526" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c48 Domain caption_puce"></span>463 - 526
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007645">RNA polymerase Rpb2, domain 3</a><span> (IPR007645)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c48 Domain"
      style="left:  48.78%;
              width: 4.878%;"
      title="Domain 581 - 638" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c48 Domain caption_puce"></span>581 - 638
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR009674">RNA polymerase I, Rpa2 specific</a><span> (IPR009674)</span></li></ul></div>
    </div>




<span id="supermatch-span-5"
      class="match c12 Domain"
      style="left:  58.368%;
              width: 32.044%;"
      title="Domain 695 - 1,075" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c12 Domain caption_puce"></span>695 - 1,075
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007120">DNA-directed RNA polymerase, subunit 2, domain 6</a><span> (IPR007120)</span></li></ul></div>
    </div>




<span id="supermatch-span-6"
      class="match c44 Domain"
      style="left:  90.58%;
              width: 9.083%;"
      title="Domain 1,078 - 1,185" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Domain caption_puce"></span>1,078 - 1,185
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007641">RNA polymerase Rpb2, domain 7</a><span> (IPR007641)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.821%;" title="200"></span>
                    <span class="grade" style="left:33.642%;" title="400"></span>
                    <span class="grade" style="left:50.463%;" title="600"></span>
                    <span class="grade" style="left:67.283%;" title="800"></span>
                    <span class="grade" style="left:84.104%;" title="1000"></span>
                    <span class="grade" style="left:100%;" title="1189"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:16.821%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:16.821%;">200</span>
                            <span class="scale_bar" style="left:33.642%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:33.642%;">400</span>
                            <span class="scale_bar" style="left:50.463%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:50.463%;">600</span>
                            <span class="scale_bar" style="left:67.283%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:67.283%;">800</span>
                            <span class="scale_bar" style="left:84.104%;"
                                  title="1000"></span>
                                <span class="scale_numb"
                                      style="left:84.104%;">1000</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="1189"></span>
                                <span class="scale_numb"
                                      style="left:100%;">1189</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007644">IPR007644</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007644"
                                                         class="neutral">RNA polymerase, beta subunit, protrusion</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007644-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04563" title="PF04563 (RNA_pol_Rpb2_1)"
       class="neutral">
        PF04563
</a>

            <span>(RNA_pol_Rp...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04563-span-1"
      class="match pfam c47 Domain"
      style="left:  2.187%;
              width: 33.474%;"
      title="PF04563 27 - 424" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04563-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c47 Domain caption_puce"></span>27 - 424</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04563' class="ext">PF04563 </a>
            <span>(RNA_pol_Rpb2_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007642">IPR007642</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007642"
                                                         class="neutral">RNA polymerase Rpb2, domain 2</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007642-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.90.1110.10" title="G3DSA:3.90.1110.10"
           class="neutral">
    G3DSA:3.90.11...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA390111010-span-2"
      class="match gene3d c45 Domain"
      style="left:  18.671%;
              width: 12.195%;"
      title="G3DSA:3.90.1110.10 223 - 367" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA390111010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c45 Domain caption_puce"></span>223 - 367</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.90.1110.10' class="ext">G3DSA:3.90.1110.10 </a>
            <span>(G3DSA:3.90.1110.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR007642-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04561" title="PF04561 (RNA_pol_Rpb2_2)"
       class="neutral">
        PF04561
</a>

            <span>(RNA_pol_Rp...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04561-span-3"
      class="match pfam c45 Domain"
      style="left:  16.653%;
              width: 15.055%;"
      title="PF04561 199 - 377" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04561-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c45 Domain caption_puce"></span>199 - 377</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04561' class="ext">PF04561 </a>
            <span>(RNA_pol_Rpb2_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007645">IPR007645</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007645"
                                                         class="neutral">RNA polymerase Rpb2, domain 3</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007645-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04565" title="PF04565 (RNA_pol_Rpb2_3)"
       class="neutral">
        PF04565
</a>

            <span>(RNA_pol_Rp...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04565-span-4"
      class="match pfam c48 Domain"
      style="left:  38.856%;
              width: 5.383%;"
      title="PF04565 463 - 526" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04565-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c48 Domain caption_puce"></span>463 - 526</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04565' class="ext">PF04565 </a>
            <span>(RNA_pol_Rpb2_3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR009674">IPR009674</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR009674"
                                                         class="neutral">RNA polymerase I, Rpa2 specific</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR009674-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF06883" title="PF06883 (RNA_pol_Rpa2_4)"
       class="neutral">
        PF06883
</a>

            <span>(RNA_pol_Rp...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF06883-span-5"
      class="match pfam c48 Domain"
      style="left:  48.78%;
              width: 4.878%;"
      title="PF06883 581 - 638" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF06883-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c48 Domain caption_puce"></span>581 - 638</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF06883' class="ext">PF06883 </a>
            <span>(RNA_pol_Rpa2_4)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007120">IPR007120</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007120"
                                                         class="neutral">DNA-directed RNA polymerase, subunit 2, domain 6</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007120-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00562" title="PF00562 (RNA_pol_Rpb2_6)"
       class="neutral">
        PF00562
</a>

            <span>(RNA_pol_Rp...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00562-span-6"
      class="match pfam c12 Domain"
      style="left:  58.368%;
              width: 32.044%;"
      title="PF00562 695 - 1,075" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00562-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c12 Domain caption_puce"></span>695 - 1,075</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00562' class="ext">PF00562 </a>
            <span>(RNA_pol_Rpb2_6)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR007120-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.40.270.10" title="G3DSA:2.40.270.10"
           class="neutral">
    G3DSA:2.40.27...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA24027010-span-7"
      class="match gene3d c12 Domain"
      style="left:  64.34%;
              width: 1.766%;"
      title="G3DSA:2.40.270.10 766 - 786" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24027010-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d c12 Domain caption_puce"></span>766 - 786</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.270.10' class="ext">G3DSA:2.40.270.10 </a>
            <span>(G3DSA:2.40.270.10)</span>
        </div>
    </div>


<span id="G3DSA24027010-span-8"
      class="match gene3d c12 Domain"
      style="left:  75.946%;
              width: 12.7%;"
      title="G3DSA:2.40.270.10 904 - 1,054" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24027010-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d c12 Domain caption_puce"></span>904 - 1,054</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.270.10' class="ext">G3DSA:2.40.270.10 </a>
            <span>(G3DSA:2.40.270.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007641">IPR007641</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007641"
                                                         class="neutral">RNA polymerase Rpb2, domain 7</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007641-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04560" title="PF04560 (RNA_pol_Rpb2_7)"
       class="neutral">
        PF04560
</a>

            <span>(RNA_pol_Rp...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04560-span-9"
      class="match pfam c44 Domain"
      style="left:  90.58%;
              width: 9.083%;"
      title="PF04560 1,078 - 1,185" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04560-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam c44 Domain caption_puce"></span>1,078 - 1,185</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04560' class="ext">PF04560 </a>
            <span>(RNA_pol_Rpb2_7)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007121">IPR007121</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007121"
                                                         class="neutral">RNA polymerase, beta subunit, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007121-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS01166" title="PS01166 (RNA_POL_BETA)"
       class="neutral">
        PS01166
</a>

                <span>(RNA_POL_BETA)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS01166-span-10"
      class="match prosite-patterns SITE"
      style="left:  76.787%;
              width: 1.093%;"
      title="PS01166 914 - 926" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS01166-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>914 - 926</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS01166' class="ext">PS01166 </a>
            <span>(RNA_POL_BETA)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.90.1100.10" title="G3DSA:3.90.1100.10"
           class="neutral">
    G3DSA:3.90.11...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA390110010-span-11"
      class="match gene3d uni"
      style="left:  2.019%;
              width: 12.952%;"
      title="G3DSA:3.90.1100.10 25 - 178" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA390110010-popup-11" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>25 - 178</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.90.1100.10' class="ext">G3DSA:3.90.1100.10 </a>
            <span>(G3DSA:3.90.1100.10)</span>
        </div>
    </div>


<span id="G3DSA390110010-span-12"
      class="match gene3d uni"
      style="left:  30.866%;
              width: 14.382%;"
      title="G3DSA:3.90.1100.10 368 - 538" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA390110010-popup-12" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>368 - 538</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.90.1100.10' class="ext">G3DSA:3.90.1100.10 </a>
            <span>(G3DSA:3.90.1100.10)</span>
        </div>
    </div>


<span id="G3DSA390110010-span-13"
      class="match gene3d uni"
      style="left:  57.948%;
              width: 6.392%;"
      title="G3DSA:3.90.1100.10 690 - 765" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA390110010-popup-13" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>690 - 765</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.90.1100.10' class="ext">G3DSA:3.90.1100.10 </a>
            <span>(G3DSA:3.90.1100.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF64484" title="SSF64484 (beta and beta-prime subunits of DNA dependent RNA-polymerase)"
       class="neutral">
        SSF64484
</a>

            <span>(beta and ...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF64484-span-14"
      class="match superfamily uni"
      style="left:  1.934%;
              width: 97.813%;"
      title="SSF64484 24 - 1,186" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF64484-popup-14" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>24 - 1,186</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF64484' class="ext">SSF64484 </a>
            <span>(beta and beta-prime subunits of DNA dependent RNA-polymerase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.821%;" title="200"></span>
            <span class="grade" style="left:33.642%;" title="400"></span>
            <span class="grade" style="left:50.463%;" title="600"></span>
            <span class="grade" style="left:67.283%;" title="800"></span>
            <span class="grade" style="left:84.104%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1189"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006351"
                   class="ext">GO:0006351</a> transcription, DNA-templated
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003677"
                   class="ext">GO:0003677</a> DNA binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003899"
                   class="ext">GO:0003899</a> DNA-directed RNA polymerase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005634"
                   class="ext">GO:0005634</a> nucleus
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 6);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
