 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3719_c0_seq3|m.16557 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">377 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002030">Mitochondrial brown fat uncoupling protein</a><span> (IPR002030)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c44 Domain"
      style="left:  21.22%;
              width: 76.658%;"
      title="Domain 81 - 369" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c44 Domain caption_puce"></span>81 - 369
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR023395">Mitochondrial carrier domain</a><span> (IPR023395)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:13.263%;" title="50"></span>
                    <span class="grade" style="left:26.525%;" title="100"></span>
                    <span class="grade" style="left:39.788%;" title="150"></span>
                    <span class="grade" style="left:53.05%;" title="200"></span>
                    <span class="grade" style="left:66.313%;" title="250"></span>
                    <span class="grade" style="left:79.576%;" title="300"></span>
                    <span class="grade" style="left:92.838%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="377"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c8 Repeat"
      style="left:  20.955%;
              width: 25.995%;"
      title="Repeat 80 - 177" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c8 Repeat caption_puce"></span>80 - 177
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR018108">Mitochondrial substrate/solute carrier</a><span> (IPR018108)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c8 Repeat"
      style="left:  48.276%;
              width: 25.464%;"
      title="Repeat 183 - 278" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c8 Repeat caption_puce"></span>183 - 278
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR018108">Mitochondrial substrate/solute carrier</a><span> (IPR018108)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c8 Repeat"
      style="left:  75.066%;
              width: 23.607%;"
      title="Repeat 284 - 372" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c8 Repeat caption_puce"></span>284 - 372
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR018108">Mitochondrial substrate/solute carrier</a><span> (IPR018108)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:13.263%;" title="50"></span>
                    <span class="grade" style="left:26.525%;" title="100"></span>
                    <span class="grade" style="left:39.788%;" title="150"></span>
                    <span class="grade" style="left:53.05%;" title="200"></span>
                    <span class="grade" style="left:66.313%;" title="250"></span>
                    <span class="grade" style="left:79.576%;" title="300"></span>
                    <span class="grade" style="left:92.838%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="377"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:13.263%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:13.263%;">50</span>
                            <span class="scale_bar" style="left:26.525%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:26.525%;">100</span>
                            <span class="scale_bar" style="left:39.788%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:39.788%;">150</span>
                            <span class="scale_bar" style="left:53.05%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:53.05%;">200</span>
                            <span class="scale_bar" style="left:66.313%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:66.313%;">250</span>
                            <span class="scale_bar" style="left:79.576%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:79.576%;">300</span>
                            <span class="scale_bar" style="left:92.838%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:92.838%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="377"></span>
                                <span class="scale_numb"
                                      style="left:100%;">377</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002030">IPR002030</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002030"
                                                         class="neutral">Mitochondrial brown fat uncoupling protein</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002030-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00784 (MTUNCOUPLING)"
       class="neutral">
        PR00784
</a>

                <span>(MTUNCOUPLING)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00784-span-1"
      class="match prints Family"
      style="left:  44.297%;
              width: 3.448%;"
      title="PR00784 168 - 180" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00784-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>168 - 180</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00784 </a>
            <span>(MTUNCOUPLING)</span>
        </div>
    </div>


<span id="PR00784-span-2"
      class="match prints Family"
      style="left:  22.812%;
              width: 3.448%;"
      title="PR00784 87 - 99" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00784-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>87 - 99</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00784 </a>
            <span>(MTUNCOUPLING)</span>
        </div>
    </div>


<span id="PR00784-span-3"
      class="match prints Family"
      style="left:  62.865%;
              width: 4.775%;"
      title="PR00784 238 - 255" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00784-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>238 - 255</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00784 </a>
            <span>(MTUNCOUPLING)</span>
        </div>
    </div>


<span id="PR00784-span-4"
      class="match prints Family"
      style="left:  94.43%;
              width: 5.57%;"
      title="PR00784 357 - 377" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00784-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>357 - 377</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00784 </a>
            <span>(MTUNCOUPLING)</span>
        </div>
    </div>


<span id="PR00784-span-5"
      class="match prints Family"
      style="left:  30.239%;
              width: 5.305%;"
      title="PR00784 115 - 134" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00784-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>115 - 134</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00784 </a>
            <span>(MTUNCOUPLING)</span>
        </div>
    </div>


<span id="PR00784-span-6"
      class="match prints Family"
      style="left:  74.271%;
              width: 5.04%;"
      title="PR00784 281 - 299" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00784-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>281 - 299</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00784&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00784 </a>
            <span>(MTUNCOUPLING)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.263%;" title="50"></span>
            <span class="grade" style="left:26.525%;" title="100"></span>
            <span class="grade" style="left:39.788%;" title="150"></span>
            <span class="grade" style="left:53.05%;" title="200"></span>
            <span class="grade" style="left:66.313%;" title="250"></span>
            <span class="grade" style="left:79.576%;" title="300"></span>
            <span class="grade" style="left:92.838%;" title="350"></span>
            <span class="grade" style="left:100%;" title="377"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR023395">IPR023395</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR023395"
                                                         class="neutral">Mitochondrial carrier domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR023395-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.50.40.10" title="G3DSA:1.50.40.10"
           class="neutral">
        G3DSA:1.50.40.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1504010-span-7"
      class="match gene3d c44 Domain"
      style="left:  22.016%;
              width: 75.862%;"
      title="G3DSA:1.50.40.10 84 - 369" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1504010-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d c44 Domain caption_puce"></span>84 - 369</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.50.40.10' class="ext">G3DSA:1.50.40.10 </a>
            <span>(G3DSA:1.50.40.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.263%;" title="50"></span>
            <span class="grade" style="left:26.525%;" title="100"></span>
            <span class="grade" style="left:39.788%;" title="150"></span>
            <span class="grade" style="left:53.05%;" title="200"></span>
            <span class="grade" style="left:66.313%;" title="250"></span>
            <span class="grade" style="left:79.576%;" title="300"></span>
            <span class="grade" style="left:92.838%;" title="350"></span>
            <span class="grade" style="left:100%;" title="377"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR023395-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF103506" title="SSF103506 (Mitochondrial carrier)"
       class="neutral">
        SSF103506
</a>

            <span>(Mitochon...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF103506-span-8"
      class="match superfamily c44 Domain"
      style="left:  21.22%;
              width: 75.597%;"
      title="SSF103506 81 - 365" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF103506-popup-8" style="display: none;">

        <div class="popup_topl"><span class="superfamily c44 Domain caption_puce"></span>81 - 365</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF103506' class="ext">SSF103506 </a>
            <span>(Mitochondrial carrier)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.263%;" title="50"></span>
            <span class="grade" style="left:26.525%;" title="100"></span>
            <span class="grade" style="left:39.788%;" title="150"></span>
            <span class="grade" style="left:53.05%;" title="200"></span>
            <span class="grade" style="left:66.313%;" title="250"></span>
            <span class="grade" style="left:79.576%;" title="300"></span>
            <span class="grade" style="left:92.838%;" title="350"></span>
            <span class="grade" style="left:100%;" title="377"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR018108">IPR018108</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR018108"
                                                         class="neutral">Mitochondrial substrate/solute carrier</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR018108-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00153" title="PF00153 (Mito_carr)"
       class="neutral">
        PF00153
</a>

                <span>(Mito_carr)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00153-span-9"
      class="match pfam c8 Repeat"
      style="left:  20.955%;
              width: 25.995%;"
      title="PF00153 80 - 177" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00153-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam c8 Repeat caption_puce"></span>80 - 177</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00153' class="ext">PF00153 </a>
            <span>(Mito_carr)</span>
        </div>
    </div>


<span id="PF00153-span-10"
      class="match pfam c8 Repeat"
      style="left:  48.276%;
              width: 25.464%;"
      title="PF00153 183 - 278" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00153-popup-10" style="display: none;">

        <div class="popup_topl"><span class="pfam c8 Repeat caption_puce"></span>183 - 278</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00153' class="ext">PF00153 </a>
            <span>(Mito_carr)</span>
        </div>
    </div>


<span id="PF00153-span-11"
      class="match pfam c8 Repeat"
      style="left:  75.332%;
              width: 23.342%;"
      title="PF00153 285 - 372" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00153-popup-11" style="display: none;">

        <div class="popup_topl"><span class="pfam c8 Repeat caption_puce"></span>285 - 372</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00153' class="ext">PF00153 </a>
            <span>(Mito_carr)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.263%;" title="50"></span>
            <span class="grade" style="left:26.525%;" title="100"></span>
            <span class="grade" style="left:39.788%;" title="150"></span>
            <span class="grade" style="left:53.05%;" title="200"></span>
            <span class="grade" style="left:66.313%;" title="250"></span>
            <span class="grade" style="left:79.576%;" title="300"></span>
            <span class="grade" style="left:92.838%;" title="350"></span>
            <span class="grade" style="left:100%;" title="377"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR018108-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50920" title="PS50920 (SOLCAR)"
       class="neutral">
        PS50920
</a>

                <span>(SOLCAR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50920-span-12"
      class="match prosite-profiles c8 Repeat"
      style="left:  20.955%;
              width: 25.199%;"
      title="PS50920 80 - 174" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50920-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c8 Repeat caption_puce"></span>80 - 174</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50920' class="ext">PS50920 </a>
            <span>(SOLCAR)</span>
        </div>
    </div>


<span id="PS50920-span-13"
      class="match prosite-profiles c8 Repeat"
      style="left:  48.541%;
              width: 24.403%;"
      title="PS50920 184 - 275" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50920-popup-13" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c8 Repeat caption_puce"></span>184 - 275</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50920' class="ext">PS50920 </a>
            <span>(SOLCAR)</span>
        </div>
    </div>


<span id="PS50920-span-14"
      class="match prosite-profiles c8 Repeat"
      style="left:  75.066%;
              width: 22.546%;"
      title="PS50920 284 - 368" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50920-popup-14" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c8 Repeat caption_puce"></span>284 - 368</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50920' class="ext">PS50920 </a>
            <span>(SOLCAR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.263%;" title="50"></span>
            <span class="grade" style="left:26.525%;" title="100"></span>
            <span class="grade" style="left:39.788%;" title="150"></span>
            <span class="grade" style="left:53.05%;" title="200"></span>
            <span class="grade" style="left:66.313%;" title="250"></span>
            <span class="grade" style="left:79.576%;" title="300"></span>
            <span class="grade" style="left:92.838%;" title="350"></span>
            <span class="grade" style="left:100%;" title="377"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006839"
                   class="ext">GO:0006839</a> mitochondrial transport
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0031966"
                   class="ext">GO:0031966</a> mitochondrial membrane
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 4);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
