 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp2564_c0_seq2|m.11518 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">205 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c51 Domain"
      style="left:  0%;
              width: 99.512%;"
      title="Domain 1 - 204" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c51 Domain caption_puce"></span>1 - 204
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029056">Ribokinase-like</a><span> (IPR029056)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR013749">Pyridoxamine kinase/Phosphomethylpyrimidine kinase</a><span> (IPR013749)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.756%;" title="20"></span>
                    <span class="grade" style="left:19.512%;" title="40"></span>
                    <span class="grade" style="left:29.268%;" title="60"></span>
                    <span class="grade" style="left:39.024%;" title="80"></span>
                    <span class="grade" style="left:48.78%;" title="100"></span>
                    <span class="grade" style="left:58.537%;" title="120"></span>
                    <span class="grade" style="left:68.293%;" title="140"></span>
                    <span class="grade" style="left:78.049%;" title="160"></span>
                    <span class="grade" style="left:87.805%;" title="180"></span>
                    <span class="grade" style="left:100%;" title="205"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.756%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:9.756%;">20</span>
                            <span class="scale_bar" style="left:19.512%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:19.512%;">40</span>
                            <span class="scale_bar" style="left:29.268%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:29.268%;">60</span>
                            <span class="scale_bar" style="left:39.024%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:39.024%;">80</span>
                            <span class="scale_bar" style="left:48.78%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:48.78%;">100</span>
                            <span class="scale_bar" style="left:58.537%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:58.537%;">120</span>
                            <span class="scale_bar" style="left:68.293%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:68.293%;">140</span>
                            <span class="scale_bar" style="left:78.049%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:78.049%;">160</span>
                            <span class="scale_bar" style="left:87.805%;"
                                  title="180"></span>
                                <span class="scale_numb"
                                      style="left:87.805%;">180</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="205"></span>
                                <span class="scale_numb"
                                      style="left:100%;">205</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029056">IPR029056</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029056"
                                                         class="neutral">Ribokinase-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029056-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53613" title="SSF53613 (Ribokinase-like)"
       class="neutral">
        SSF53613
</a>

            <span>(Ribokinas...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53613-span-1"
      class="match superfamily c51 Domain"
      style="left:  0.488%;
              width: 98.537%;"
      title="SSF53613 2 - 203" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53613-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c51 Domain caption_puce"></span>2 - 203</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53613' class="ext">SSF53613 </a>
            <span>(Ribokinase-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029056-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.1190.20" title="G3DSA:3.40.1190.20"
           class="neutral">
    G3DSA:3.40.11...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA340119020-span-2"
      class="match gene3d c51 Domain"
      style="left:  0%;
              width: 99.512%;"
      title="G3DSA:3.40.1190.20 1 - 204" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA340119020-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c51 Domain caption_puce"></span>1 - 204</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.1190.20' class="ext">G3DSA:3.40.1190.20 </a>
            <span>(G3DSA:3.40.1190.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013749">IPR013749</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013749"
                                                         class="neutral">Pyridoxamine kinase/Phosphomethylpyrimidine kinase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013749-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF08543" title="PF08543 (Phos_pyr_kin)"
       class="neutral">
        PF08543
</a>

                <span>(Phos_pyr_kin)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF08543-span-3"
      class="match pfam c51 Domain"
      style="left:  1.951%;
              width: 79.024%;"
      title="PF08543 5 - 166" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF08543-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c51 Domain caption_puce"></span>5 - 166</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF08543' class="ext">PF08543 </a>
            <span>(Phos_pyr_kin)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
