 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3208_c0_seq0|m.14271 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">431 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000146">Fructose-1,6-bisphosphatase class 1/Sedoheputulose-1,7-bisphosphatase</a><span> (IPR000146)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR028343">Fructose-1,6-bisphosphatase</a><span> (IPR028343)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000146">IPR000146</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000146"
                                                         class="neutral">Fructose-1,6-bisphosphatase class 1/Sedoheputulose-1,7-bisphosphatase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000146-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF000904" title="PIRSF000904 (FBPtase_SBPase)"
       class="neutral">
        PIRSF000904
</a>

            <span>(FBPtas...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF000904-span-1"
      class="match pirsf Family"
      style="left:  19.258%;
              width: 80.742%;"
      title="PIRSF000904 84 - 431" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF000904-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>84 - 431</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF000904' class="ext">PIRSF000904 </a>
            <span>(FBPtase_SBPase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000146-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00316" title="PF00316 (FBPase)"
       class="neutral">
        PF00316
</a>

                <span>(FBPase)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00316-span-2"
      class="match pfam Family"
      style="left:  25.29%;
              width: 74.246%;"
      title="PF00316 110 - 429" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00316-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>110 - 429</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00316' class="ext">PF00316 </a>
            <span>(FBPase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000146-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_01855" title="MF_01855 (FBPase_class1)"
       class="neutral">
        MF_01855
</a>

            <span>(FBPase_cl...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_01855-span-3"
      class="match hamap Family"
      style="left:  21.81%;
              width: 78.19%;"
      title="MF_01855 95 - 431" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_01855-popup-3" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>95 - 431</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_01855' class="ext">MF_01855 </a>
            <span>(FBPase_class1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR028343">IPR028343</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR028343"
                                                         class="neutral">Fructose-1,6-bisphosphatase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR028343-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00115 (F16BPHPHTASE)"
       class="neutral">
        PR00115
</a>

                <span>(F16BPHPHTASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00115-span-4"
      class="match prints Family"
      style="left:  64.965%;
              width: 5.568%;"
      title="PR00115 281 - 304" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00115-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>281 - 304</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00115 </a>
            <span>(F16BPHPHTASE)</span>
        </div>
    </div>


<span id="PR00115-span-5"
      class="match prints Family"
      style="left:  35.963%;
              width: 6.265%;"
      title="PR00115 156 - 182" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00115-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>156 - 182</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00115 </a>
            <span>(F16BPHPHTASE)</span>
        </div>
    </div>


<span id="PR00115-span-6"
      class="match prints Family"
      style="left:  93.735%;
              width: 6.032%;"
      title="PR00115 405 - 430" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00115-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>405 - 430</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00115 </a>
            <span>(F16BPHPHTASE)</span>
        </div>
    </div>


<span id="PR00115-span-7"
      class="match prints Family"
      style="left:  27.378%;
              width: 6.497%;"
      title="PR00115 119 - 146" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00115-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>119 - 146</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00115 </a>
            <span>(F16BPHPHTASE)</span>
        </div>
    </div>


<span id="PR00115-span-8"
      class="match prints Family"
      style="left:  70.998%;
              width: 6.497%;"
      title="PR00115 307 - 334" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00115-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>307 - 334</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00115 </a>
            <span>(F16BPHPHTASE)</span>
        </div>
    </div>


<span id="PR00115-span-9"
      class="match prints Family"
      style="left:  57.773%;
              width: 5.568%;"
      title="PR00115 250 - 273" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00115-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>250 - 273</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00115&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00115 </a>
            <span>(F16BPHPHTASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR028343-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF500210" title="PIRSF500210 (FBPtase)"
       class="neutral">
        PIRSF500210
</a>

                <span>(FBPtase)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF500210-span-10"
      class="match pirsf Family"
      style="left:  20.186%;
              width: 79.814%;"
      title="PIRSF500210 88 - 431" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF500210-popup-10" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>88 - 431</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF500210' class="ext">PIRSF500210 </a>
            <span>(FBPtase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020548">IPR020548</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020548"
                                                         class="neutral">Fructose-1,6-bisphosphatase, active site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020548-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00124" title="PS00124 (FBPASE)"
       class="neutral">
        PS00124
</a>

                <span>(FBPASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00124-span-11"
      class="match prosite-patterns SITE"
      style="left:  85.847%;
              width: 3.016%;"
      title="PS00124 371 - 383" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00124-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>371 - 383</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00124' class="ext">PS00124 </a>
            <span>(FBPASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.540.10" title="G3DSA:3.30.540.10"
           class="neutral">
    G3DSA:3.30.54...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33054010-span-12"
      class="match gene3d uni"
      style="left:  22.738%;
              width: 46.172%;"
      title="G3DSA:3.30.540.10 99 - 297" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33054010-popup-12" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>99 - 297</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.540.10' class="ext">G3DSA:3.30.540.10 </a>
            <span>(G3DSA:3.30.540.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.190.80" title="G3DSA:3.40.190.80"
           class="neutral">
    G3DSA:3.40.19...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34019080-span-13"
      class="match gene3d uni"
      style="left:  68.91%;
              width: 30.626%;"
      title="G3DSA:3.40.190.80 298 - 429" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34019080-popup-13" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>298 - 429</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.190.80' class="ext">G3DSA:3.40.190.80 </a>
            <span>(G3DSA:3.40.190.80)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56655" title="SSF56655 (Carbohydrate phosphatase)"
       class="neutral">
        SSF56655
</a>

            <span>(Carbohydr...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56655-span-14"
      class="match superfamily uni"
      style="left:  20.418%;
              width: 79.118%;"
      title="SSF56655 89 - 429" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56655-popup-14" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>89 - 429</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56655' class="ext">SSF56655 </a>
            <span>(Carbohydrate phosphatase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.601%;" title="50"></span>
            <span class="grade" style="left:23.202%;" title="100"></span>
            <span class="grade" style="left:34.803%;" title="150"></span>
            <span class="grade" style="left:46.404%;" title="200"></span>
            <span class="grade" style="left:58.005%;" title="250"></span>
            <span class="grade" style="left:69.606%;" title="300"></span>
            <span class="grade" style="left:81.206%;" title="350"></span>
            <span class="grade" style="left:92.807%;" title="400"></span>
            <span class="grade" style="left:100%;" title="431"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005975"
                   class="ext">GO:0005975</a> carbohydrate metabolic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042132"
                   class="ext">GO:0042132</a> fructose 1,6-bisphosphate 1-phosphatase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0042578"
                   class="ext">GO:0042578</a> phosphoric ester hydrolase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
