 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3762_c0_seq0|m.16744 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">319 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c48 Domain"
      style="left:  0.94%;
              width: 97.179%;"
      title="Domain 4 - 313" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c48 Domain caption_puce"></span>4 - 313
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR008930">Terpenoid cyclases/protein prenyltransferase alpha-alpha toroid</a><span> (IPR008930)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.674%;" title="50"></span>
                    <span class="grade" style="left:31.348%;" title="100"></span>
                    <span class="grade" style="left:47.022%;" title="150"></span>
                    <span class="grade" style="left:62.696%;" title="200"></span>
                    <span class="grade" style="left:78.37%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="319"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Repeat</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c35 Repeat"
      style="left:  17.555%;
              width: 12.853%;"
      title="Repeat 57 - 97" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c35 Repeat caption_puce"></span>57 - 97
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001330">PFTB repeat</a><span> (IPR001330)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c35 Repeat"
      style="left:  32.602%;
              width: 13.166%;"
      title="Repeat 105 - 146" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c35 Repeat caption_puce"></span>105 - 146
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001330">PFTB repeat</a><span> (IPR001330)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c35 Repeat"
      style="left:  47.335%;
              width: 13.793%;"
      title="Repeat 152 - 195" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c35 Repeat caption_puce"></span>152 - 195
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001330">PFTB repeat</a><span> (IPR001330)</span></li></ul></div>
    </div>




<span id="supermatch-span-5"
      class="match c35 Repeat"
      style="left:  62.696%;
              width: 13.48%;"
      title="Repeat 201 - 243" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c35 Repeat caption_puce"></span>201 - 243
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001330">PFTB repeat</a><span> (IPR001330)</span></li></ul></div>
    </div>




<span id="supermatch-span-6"
      class="match c35 Repeat"
      style="left:  77.429%;
              width: 13.793%;"
      title="Repeat 248 - 291" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c35 Repeat caption_puce"></span>248 - 291
        </div>
        <div class="rel_tree"><ul><li class="Repeat" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001330">PFTB repeat</a><span> (IPR001330)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.674%;" title="50"></span>
                    <span class="grade" style="left:31.348%;" title="100"></span>
                    <span class="grade" style="left:47.022%;" title="150"></span>
                    <span class="grade" style="left:62.696%;" title="200"></span>
                    <span class="grade" style="left:78.37%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="319"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:15.674%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:15.674%;">50</span>
                            <span class="scale_bar" style="left:31.348%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:31.348%;">100</span>
                            <span class="scale_bar" style="left:47.022%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:47.022%;">150</span>
                            <span class="scale_bar" style="left:62.696%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:62.696%;">200</span>
                            <span class="scale_bar" style="left:78.37%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:78.37%;">250</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="319"></span>
                                <span class="scale_numb"
                                      style="left:100%;">319</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008930">IPR008930</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008930"
                                                         class="neutral">Terpenoid cyclases/protein prenyltransferase alpha-alpha toroid</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008930-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.50.10.20" title="G3DSA:1.50.10.20"
           class="neutral">
        G3DSA:1.50.10.20
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1501020-span-1"
      class="match gene3d c48 Domain"
      style="left:  0.94%;
              width: 97.179%;"
      title="G3DSA:1.50.10.20 4 - 313" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1501020-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c48 Domain caption_puce"></span>4 - 313</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.50.10.20' class="ext">G3DSA:1.50.10.20 </a>
            <span>(G3DSA:1.50.10.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.674%;" title="50"></span>
            <span class="grade" style="left:31.348%;" title="100"></span>
            <span class="grade" style="left:47.022%;" title="150"></span>
            <span class="grade" style="left:62.696%;" title="200"></span>
            <span class="grade" style="left:78.37%;" title="250"></span>
            <span class="grade" style="left:100%;" title="319"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR008930-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48239" title="SSF48239 (Terpenoid cyclases/Protein prenyltransferases)"
       class="neutral">
        SSF48239
</a>

            <span>(Terpenoid...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48239-span-2"
      class="match superfamily c48 Domain"
      style="left:  1.567%;
              width: 96.552%;"
      title="SSF48239 6 - 313" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48239-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c48 Domain caption_puce"></span>6 - 313</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48239' class="ext">SSF48239 </a>
            <span>(Terpenoid cyclases/Protein prenyltransferases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.674%;" title="50"></span>
            <span class="grade" style="left:31.348%;" title="100"></span>
            <span class="grade" style="left:47.022%;" title="150"></span>
            <span class="grade" style="left:62.696%;" title="200"></span>
            <span class="grade" style="left:78.37%;" title="250"></span>
            <span class="grade" style="left:100%;" title="319"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Repeat-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_repeat_small.png"
                                                         alt="Repeat" title="Repeat"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001330">IPR001330</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001330"
                                                         class="neutral">PFTB repeat</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001330-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00432" title="PF00432 (Prenyltrans)"
       class="neutral">
        PF00432
</a>

                <span>(Prenyltrans)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00432-span-3"
      class="match pfam c35 Repeat"
      style="left:  47.335%;
              width: 13.793%;"
      title="PF00432 152 - 195" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00432-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c35 Repeat caption_puce"></span>152 - 195</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00432' class="ext">PF00432 </a>
            <span>(Prenyltrans)</span>
        </div>
    </div>


<span id="PF00432-span-4"
      class="match pfam c35 Repeat"
      style="left:  17.555%;
              width: 12.853%;"
      title="PF00432 57 - 97" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00432-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c35 Repeat caption_puce"></span>57 - 97</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00432' class="ext">PF00432 </a>
            <span>(Prenyltrans)</span>
        </div>
    </div>


<span id="PF00432-span-5"
      class="match pfam c35 Repeat"
      style="left:  77.429%;
              width: 13.793%;"
      title="PF00432 248 - 291" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00432-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c35 Repeat caption_puce"></span>248 - 291</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00432' class="ext">PF00432 </a>
            <span>(Prenyltrans)</span>
        </div>
    </div>


<span id="PF00432-span-6"
      class="match pfam c35 Repeat"
      style="left:  32.602%;
              width: 13.166%;"
      title="PF00432 105 - 146" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00432-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c35 Repeat caption_puce"></span>105 - 146</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00432' class="ext">PF00432 </a>
            <span>(Prenyltrans)</span>
        </div>
    </div>


<span id="PF00432-span-7"
      class="match pfam c35 Repeat"
      style="left:  62.696%;
              width: 13.48%;"
      title="PF00432 201 - 243" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00432-popup-7" style="display: none;">

        <div class="popup_topl"><span class="pfam c35 Repeat caption_puce"></span>201 - 243</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00432' class="ext">PF00432 </a>
            <span>(Prenyltrans)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.674%;" title="50"></span>
            <span class="grade" style="left:31.348%;" title="100"></span>
            <span class="grade" style="left:47.022%;" title="150"></span>
            <span class="grade" style="left:62.696%;" title="200"></span>
            <span class="grade" style="left:78.37%;" title="250"></span>
            <span class="grade" style="left:100%;" title="319"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003824"
                   class="ext">GO:0003824</a> catalytic activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 6);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
