 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4405_c0_seq2|m.19841 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">526 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000109">Proton-dependent oligopeptide transporter family</a><span> (IPR000109)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c40 Domain"
      style="left:  5.133%;
              width: 40.684%;"
      title="Domain 28 - 241" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c40 Domain caption_puce"></span>28 - 241
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020846">Major facilitator superfamily domain</a><span> (IPR020846)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c40 Domain"
      style="left:  51.141%;
              width: 45.627%;"
      title="Domain 270 - 509" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c40 Domain caption_puce"></span>270 - 509
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020846">Major facilitator superfamily domain</a><span> (IPR020846)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.506%;" title="50"></span>
                    <span class="grade" style="left:19.011%;" title="100"></span>
                    <span class="grade" style="left:28.517%;" title="150"></span>
                    <span class="grade" style="left:38.023%;" title="200"></span>
                    <span class="grade" style="left:47.529%;" title="250"></span>
                    <span class="grade" style="left:57.034%;" title="300"></span>
                    <span class="grade" style="left:66.54%;" title="350"></span>
                    <span class="grade" style="left:76.046%;" title="400"></span>
                    <span class="grade" style="left:85.551%;" title="450"></span>
                    <span class="grade" style="left:95.057%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="526"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.506%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:9.506%;">50</span>
                            <span class="scale_bar" style="left:19.011%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:19.011%;">100</span>
                            <span class="scale_bar" style="left:28.517%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:28.517%;">150</span>
                            <span class="scale_bar" style="left:38.023%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:38.023%;">200</span>
                            <span class="scale_bar" style="left:47.529%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:47.529%;">250</span>
                            <span class="scale_bar" style="left:57.034%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:57.034%;">300</span>
                            <span class="scale_bar" style="left:66.54%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:66.54%;">350</span>
                            <span class="scale_bar" style="left:76.046%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:76.046%;">400</span>
                            <span class="scale_bar" style="left:85.551%;"
                                  title="450"></span>
                                <span class="scale_numb"
                                      style="left:85.551%;">450</span>
                            <span class="scale_bar" style="left:95.057%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:95.057%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="526"></span>
                                <span class="scale_numb"
                                      style="left:100%;">526</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000109">IPR000109</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000109"
                                                         class="neutral">Proton-dependent oligopeptide transporter family</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000109-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00854" title="PF00854 (PTR2)"
       class="neutral">
        PF00854
</a>

                <span>(PTR2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00854-span-1"
      class="match pfam Family"
      style="left:  18.441%;
              width: 27.376%;"
      title="PF00854 98 - 241" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00854-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>98 - 241</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00854' class="ext">PF00854 </a>
            <span>(PTR2)</span>
        </div>
    </div>


<span id="PF00854-span-2"
      class="match pfam Family"
      style="left:  51.901%;
              width: 37.833%;"
      title="PF00854 274 - 472" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00854-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>274 - 472</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00854' class="ext">PF00854 </a>
            <span>(PTR2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020846">IPR020846</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020846"
                                                         class="neutral">Major facilitator superfamily domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020846-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF103473" title="SSF103473 (MFS general substrate transporter)"
       class="neutral">
        SSF103473
</a>

            <span>(MFS gene...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF103473-span-3"
      class="match superfamily c40 Domain"
      style="left:  5.133%;
              width: 39.734%;"
      title="SSF103473 28 - 236" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF103473-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c40 Domain caption_puce"></span>28 - 236</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF103473' class="ext">SSF103473 </a>
            <span>(MFS general substrate transporter)</span>
        </div>
    </div>


<span id="SSF103473-span-4"
      class="match superfamily c40 Domain"
      style="left:  33.27%;
              width: 12.548%;"
      title="SSF103473 176 - 241" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF103473-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c40 Domain caption_puce"></span>176 - 241</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF103473' class="ext">SSF103473 </a>
            <span>(MFS general substrate transporter)</span>
        </div>
    </div>


<span id="SSF103473-span-5"
      class="match superfamily c40 Domain"
      style="left:  51.141%;
              width: 45.627%;"
      title="SSF103473 270 - 509" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF103473-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c40 Domain caption_puce"></span>270 - 509</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF103473' class="ext">SSF103473 </a>
            <span>(MFS general substrate transporter)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.1250.20" title="G3DSA:1.20.1250.20"
           class="neutral">
    G3DSA:1.20.12...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA120125020-span-6"
      class="match gene3d uni"
      style="left:  8.365%;
              width: 35.551%;"
      title="G3DSA:1.20.1250.20 45 - 231" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA120125020-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>45 - 231</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.1250.20' class="ext">G3DSA:1.20.1250.20 </a>
            <span>(G3DSA:1.20.1250.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006810"
                   class="ext">GO:0006810</a> transport
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005215"
                   class="ext">GO:0005215</a> transporter activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016020"
                   class="ext">GO:0016020</a> membrane
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
