 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4552_c0_seq0|m.20435 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">297 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c22 Domain"
      style="left:  10.438%;
              width: 11.785%;"
      title="Domain 32 - 66" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>32 - 66
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR003604">Zinc finger, U1-type</a><span> (IPR003604)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.835%;" title="50"></span>
                    <span class="grade" style="left:33.67%;" title="100"></span>
                    <span class="grade" style="left:50.505%;" title="150"></span>
                    <span class="grade" style="left:67.34%;" title="200"></span>
                    <span class="grade" style="left:84.175%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="297"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c50 Domain"
      style="left:  11.111%;
              width: 9.091%;"
      title="Domain 34 - 60" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c50 Domain caption_puce"></span>34 - 60
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR022755">Zinc finger, double-stranded RNA binding</a><span> (IPR022755)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.835%;" title="50"></span>
                    <span class="grade" style="left:33.67%;" title="100"></span>
                    <span class="grade" style="left:50.505%;" title="150"></span>
                    <span class="grade" style="left:67.34%;" title="200"></span>
                    <span class="grade" style="left:84.175%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="297"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:16.835%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:16.835%;">50</span>
                            <span class="scale_bar" style="left:33.67%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:33.67%;">100</span>
                            <span class="scale_bar" style="left:50.505%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:50.505%;">150</span>
                            <span class="scale_bar" style="left:67.34%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:67.34%;">200</span>
                            <span class="scale_bar" style="left:84.175%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:84.175%;">250</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="297"></span>
                                <span class="scale_numb"
                                      style="left:100%;">297</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR003604">IPR003604</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR003604"
                                                         class="neutral">Zinc finger, U1-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR003604-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00451&amp;BLAST=DUMMY" title="SM00451 (ZnF_U1)"
       class="neutral">
        SM00451
</a>

                <span>(ZnF_U1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00451-span-1"
      class="match smart c22 Domain"
      style="left:  10.438%;
              width: 11.785%;"
      title="SM00451 32 - 66" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00451-popup-1" style="display: none;">

        <div class="popup_topl"><span class="smart c22 Domain caption_puce"></span>32 - 66</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00451&amp;BLAST=DUMMY' class="ext">SM00451 </a>
            <span>(ZnF_U1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.835%;" title="50"></span>
            <span class="grade" style="left:33.67%;" title="100"></span>
            <span class="grade" style="left:50.505%;" title="150"></span>
            <span class="grade" style="left:67.34%;" title="200"></span>
            <span class="grade" style="left:84.175%;" title="250"></span>
            <span class="grade" style="left:100%;" title="297"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022755">IPR022755</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022755"
                                                         class="neutral">Zinc finger, double-stranded RNA binding</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022755-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF12171" title="PF12171 (zf-C2H2_jaz)"
       class="neutral">
        PF12171
</a>

                <span>(zf-C2H2_jaz)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF12171-span-2"
      class="match pfam c50 Domain"
      style="left:  11.111%;
              width: 9.091%;"
      title="PF12171 34 - 60" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12171-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c50 Domain caption_puce"></span>34 - 60</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12171' class="ext">PF12171 </a>
            <span>(zf-C2H2_jaz)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.835%;" title="50"></span>
            <span class="grade" style="left:33.67%;" title="100"></span>
            <span class="grade" style="left:50.505%;" title="150"></span>
            <span class="grade" style="left:67.34%;" title="200"></span>
            <span class="grade" style="left:84.175%;" title="250"></span>
            <span class="grade" style="left:100%;" title="297"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-3"
      class="match coils uni"
      style="left:  80.135%;
              width: 11.785%;"
      title="Coil 239 - 273" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-3" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>239 - 273</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-4"
      class="match coils uni"
      style="left:  70.034%;
              width: 9.428%;"
      title="Coil 209 - 236" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-4" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>209 - 236</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.835%;" title="50"></span>
            <span class="grade" style="left:33.67%;" title="100"></span>
            <span class="grade" style="left:50.505%;" title="150"></span>
            <span class="grade" style="left:67.34%;" title="200"></span>
            <span class="grade" style="left:84.175%;" title="250"></span>
            <span class="grade" style="left:100%;" title="297"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57667" title="SSF57667 (beta-beta-alpha zinc fingers)"
       class="neutral">
        SSF57667
</a>

            <span>(beta-beta...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF57667-span-5"
      class="match superfamily uni"
      style="left:  9.428%;
              width: 14.815%;"
      title="SSF57667 29 - 72" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF57667-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>29 - 72</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57667' class="ext">SSF57667 </a>
            <span>(beta-beta-alpha zinc fingers)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.835%;" title="50"></span>
            <span class="grade" style="left:33.67%;" title="100"></span>
            <span class="grade" style="left:50.505%;" title="150"></span>
            <span class="grade" style="left:67.34%;" title="200"></span>
            <span class="grade" style="left:84.175%;" title="250"></span>
            <span class="grade" style="left:100%;" title="297"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003676"
                   class="ext">GO:0003676</a> nucleic acid binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008270"
                   class="ext">GO:0008270</a> zinc ion binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
