 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp679_c0_seq2|m.2648 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">567 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c53 Domain"
      style="left:  75.838%;
              width: 24.162%;"
      title="Domain 431 - 567" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c53 Domain caption_puce"></span>431 - 567
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR012336">Thioredoxin-like fold</a><span> (IPR012336)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR013766">Thioredoxin domain</a><span> (IPR013766)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:17.637%;" title="100"></span>
                    <span class="grade" style="left:35.273%;" title="200"></span>
                    <span class="grade" style="left:52.91%;" title="300"></span>
                    <span class="grade" style="left:70.547%;" title="400"></span>
                    <span class="grade" style="left:88.183%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="567"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:17.637%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:17.637%;">100</span>
                            <span class="scale_bar" style="left:35.273%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:35.273%;">200</span>
                            <span class="scale_bar" style="left:52.91%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:52.91%;">300</span>
                            <span class="scale_bar" style="left:70.547%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:70.547%;">400</span>
                            <span class="scale_bar" style="left:88.183%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:88.183%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="567"></span>
                                <span class="scale_numb"
                                      style="left:100%;">567</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR012336">IPR012336</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR012336"
                                                         class="neutral">Thioredoxin-like fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR012336-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51352" title="PS51352 (THIOREDOXIN_2)"
       class="neutral">
        PS51352
</a>

                <span>(THIOREDOXIN_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51352-span-1"
      class="match prosite-profiles c53 Domain"
      style="left:  75.838%;
              width: 24.162%;"
      title="PS51352 431 - 567" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51352-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c53 Domain caption_puce"></span>431 - 567</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51352' class="ext">PS51352 </a>
            <span>(THIOREDOXIN_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.637%;" title="100"></span>
            <span class="grade" style="left:35.273%;" title="200"></span>
            <span class="grade" style="left:52.91%;" title="300"></span>
            <span class="grade" style="left:70.547%;" title="400"></span>
            <span class="grade" style="left:88.183%;" title="500"></span>
            <span class="grade" style="left:100%;" title="567"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR012336-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.30.10" title="G3DSA:3.40.30.10"
           class="neutral">
        G3DSA:3.40.30.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA3403010-span-2"
      class="match gene3d c53 Domain"
      style="left:  80.776%;
              width: 18.871%;"
      title="G3DSA:3.40.30.10 459 - 565" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3403010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c53 Domain caption_puce"></span>459 - 565</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.30.10' class="ext">G3DSA:3.40.30.10 </a>
            <span>(G3DSA:3.40.30.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.637%;" title="100"></span>
            <span class="grade" style="left:35.273%;" title="200"></span>
            <span class="grade" style="left:52.91%;" title="300"></span>
            <span class="grade" style="left:70.547%;" title="400"></span>
            <span class="grade" style="left:88.183%;" title="500"></span>
            <span class="grade" style="left:100%;" title="567"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR012336-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52833" title="SSF52833 (Thioredoxin-like)"
       class="neutral">
        SSF52833
</a>

            <span>(Thioredox...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52833-span-3"
      class="match superfamily c53 Domain"
      style="left:  80.776%;
              width: 18.871%;"
      title="SSF52833 459 - 565" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52833-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c53 Domain caption_puce"></span>459 - 565</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52833' class="ext">SSF52833 </a>
            <span>(Thioredoxin-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.637%;" title="100"></span>
            <span class="grade" style="left:35.273%;" title="200"></span>
            <span class="grade" style="left:52.91%;" title="300"></span>
            <span class="grade" style="left:70.547%;" title="400"></span>
            <span class="grade" style="left:88.183%;" title="500"></span>
            <span class="grade" style="left:100%;" title="567"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013766">IPR013766</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013766"
                                                         class="neutral">Thioredoxin domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013766-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00085" title="PF00085 (Thioredoxin)"
       class="neutral">
        PF00085
</a>

                <span>(Thioredoxin)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00085-span-4"
      class="match pfam c53 Domain"
      style="left:  81.305%;
              width: 18.166%;"
      title="PF00085 462 - 564" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00085-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c53 Domain caption_puce"></span>462 - 564</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00085' class="ext">PF00085 </a>
            <span>(Thioredoxin)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.637%;" title="100"></span>
            <span class="grade" style="left:35.273%;" title="200"></span>
            <span class="grade" style="left:52.91%;" title="300"></span>
            <span class="grade" style="left:70.547%;" title="400"></span>
            <span class="grade" style="left:88.183%;" title="500"></span>
            <span class="grade" style="left:100%;" title="567"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045454"
                   class="ext">GO:0045454</a> cell redox homeostasis
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
