 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1647_c0_seq0|m.7235 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">526 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001128">Cytochrome P450</a><span> (IPR001128)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002401">Cytochrome P450, E-class, group I</a><span> (IPR002401)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001128">IPR001128</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001128"
                                                         class="neutral">Cytochrome P450</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001128-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00385&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00385 (P450)"
       class="neutral">
        PR00385
</a>

                <span>(P450)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00385-span-1"
      class="match prints Family"
      style="left:  71.293%;
              width: 2.281%;"
      title="PR00385 376 - 387" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00385-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>376 - 387</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00385&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00385 </a>
            <span>(P450)</span>
        </div>
    </div>


<span id="PR00385-span-2"
      class="match prints Family"
      style="left:  85.932%;
              width: 1.901%;"
      title="PR00385 453 - 462" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00385-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>453 - 462</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00385&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00385 </a>
            <span>(P450)</span>
        </div>
    </div>


<span id="PR00385-span-3"
      class="match prints Family"
      style="left:  61.217%;
              width: 3.422%;"
      title="PR00385 323 - 340" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00385-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>323 - 340</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00385&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00385 </a>
            <span>(P450)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001128-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.630.10" title="G3DSA:1.10.630.10"
           class="neutral">
    G3DSA:1.10.63...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA11063010-span-4"
      class="match gene3d Family"
      style="left:  7.224%;
              width: 91.445%;"
      title="G3DSA:1.10.630.10 39 - 519" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11063010-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d Family caption_puce"></span>39 - 519</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.630.10' class="ext">G3DSA:1.10.630.10 </a>
            <span>(G3DSA:1.10.630.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001128-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00067" title="PF00067 (p450)"
       class="neutral">
        PF00067
</a>

                <span>(p450)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00067-span-5"
      class="match pfam Family"
      style="left:  8.365%;
              width: 84.791%;"
      title="PF00067 45 - 490" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00067-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>45 - 490</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00067' class="ext">PF00067 </a>
            <span>(p450)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001128-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48264" title="SSF48264 (Cytochrome P450)"
       class="neutral">
        SSF48264
</a>

            <span>(Cytochrom...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48264-span-6"
      class="match superfamily Family"
      style="left:  8.365%;
              width: 90.304%;"
      title="SSF48264 45 - 519" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48264-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily Family caption_puce"></span>45 - 519</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48264' class="ext">SSF48264 </a>
            <span>(Cytochrome P450)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002401">IPR002401</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002401"
                                                         class="neutral">Cytochrome P450, E-class, group I</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002401-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00463 (EP450I)"
       class="neutral">
        PR00463
</a>

                <span>(EP450I)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00463-span-7"
      class="match prints Family"
      style="left:  18.821%;
              width: 4.183%;"
      title="PR00463 100 - 121" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>100 - 121</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-8"
      class="match prints Family"
      style="left:  36.692%;
              width: 3.612%;"
      title="PR00463 194 - 212" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>194 - 212</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-9"
      class="match prints Family"
      style="left:  78.897%;
              width: 4.753%;"
      title="PR00463 416 - 440" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>416 - 440</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-10"
      class="match prints Family"
      style="left:  59.125%;
              width: 3.422%;"
      title="PR00463 312 - 329" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>312 - 329</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-11"
      class="match prints Family"
      style="left:  62.928%;
              width: 5.133%;"
      title="PR00463 332 - 358" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>332 - 358</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-12"
      class="match prints Family"
      style="left:  87.643%;
              width: 4.563%;"
      title="PR00463 462 - 485" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>462 - 485</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-13"
      class="match prints Family"
      style="left:  14.259%;
              width: 3.802%;"
      title="PR00463 76 - 95" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-13" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>76 - 95</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-14"
      class="match prints Family"
      style="left:  71.103%;
              width: 3.612%;"
      title="PR00463 375 - 393" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-14" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>375 - 393</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


<span id="PR00463-span-15"
      class="match prints Family"
      style="left:  85.741%;
              width: 2.091%;"
      title="PR00463 452 - 462" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00463-popup-15" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>452 - 462</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00463&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00463 </a>
            <span>(EP450I)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.506%;" title="50"></span>
            <span class="grade" style="left:19.011%;" title="100"></span>
            <span class="grade" style="left:28.517%;" title="150"></span>
            <span class="grade" style="left:38.023%;" title="200"></span>
            <span class="grade" style="left:47.529%;" title="250"></span>
            <span class="grade" style="left:57.034%;" title="300"></span>
            <span class="grade" style="left:66.54%;" title="350"></span>
            <span class="grade" style="left:76.046%;" title="400"></span>
            <span class="grade" style="left:85.551%;" title="450"></span>
            <span class="grade" style="left:95.057%;" title="500"></span>
            <span class="grade" style="left:100%;" title="526"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0055114"
                   class="ext">GO:0055114</a> oxidation-reduction process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005506"
                   class="ext">GO:0005506</a> iron ion binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016705"
                   class="ext">GO:0016705</a> oxidoreductase activity, acting on paired donors, with incorporation or reduction of molecular oxygen
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0020037"
                   class="ext">GO:0020037</a> heme binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
