 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp27_c0_seq2|m.156 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">404 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR030689">Cytochrome b</a><span> (IPR030689)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c22 Domain"
      style="left:  0%;
              width: 65.347%;"
      title="Domain 1 - 264" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>1 - 264
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016174">Di-haem cytochrome, transmembrane</a><span> (IPR016174)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR005797">Cytochrome b/b6, N-terminal</a><span> (IPR005797)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.376%;" title="50"></span>
                    <span class="grade" style="left:24.752%;" title="100"></span>
                    <span class="grade" style="left:37.129%;" title="150"></span>
                    <span class="grade" style="left:49.505%;" title="200"></span>
                    <span class="grade" style="left:61.881%;" title="250"></span>
                    <span class="grade" style="left:74.257%;" title="300"></span>
                    <span class="grade" style="left:86.634%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="404"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c38 Domain"
      style="left:  2.475%;
              width: 90.347%;"
      title="Domain 11 - 375" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c38 Domain caption_puce"></span>11 - 375
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027387">Cytochrome b/b6-like domain</a><span> (IPR027387)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.376%;" title="50"></span>
                    <span class="grade" style="left:24.752%;" title="100"></span>
                    <span class="grade" style="left:37.129%;" title="150"></span>
                    <span class="grade" style="left:49.505%;" title="200"></span>
                    <span class="grade" style="left:61.881%;" title="250"></span>
                    <span class="grade" style="left:74.257%;" title="300"></span>
                    <span class="grade" style="left:86.634%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="404"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-3"
      class="match c60 Domain"
      style="left:  52.723%;
              width: 42.079%;"
      title="Domain 214 - 383" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c60 Domain caption_puce"></span>214 - 383
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR005798">Cytochrome b/b6, C-terminal</a><span> (IPR005798)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.376%;" title="50"></span>
                    <span class="grade" style="left:24.752%;" title="100"></span>
                    <span class="grade" style="left:37.129%;" title="150"></span>
                    <span class="grade" style="left:49.505%;" title="200"></span>
                    <span class="grade" style="left:61.881%;" title="250"></span>
                    <span class="grade" style="left:74.257%;" title="300"></span>
                    <span class="grade" style="left:86.634%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="404"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.376%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:12.376%;">50</span>
                            <span class="scale_bar" style="left:24.752%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:24.752%;">100</span>
                            <span class="scale_bar" style="left:37.129%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:37.129%;">150</span>
                            <span class="scale_bar" style="left:49.505%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:49.505%;">200</span>
                            <span class="scale_bar" style="left:61.881%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:61.881%;">250</span>
                            <span class="scale_bar" style="left:74.257%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:74.257%;">300</span>
                            <span class="scale_bar" style="left:86.634%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:86.634%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="404"></span>
                                <span class="scale_numb"
                                      style="left:100%;">404</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR030689">IPR030689</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR030689"
                                                         class="neutral">Cytochrome b</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR030689-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF038885" title="PIRSF038885 (COB)"
       class="neutral">
        PIRSF038885
</a>

                <span>(COB)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF038885-span-1"
      class="match pirsf Family"
      style="left:  0%;
              width: 97.03%;"
      title="PIRSF038885 1 - 392" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF038885-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>1 - 392</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF038885' class="ext">PIRSF038885 </a>
            <span>(COB)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016174">IPR016174</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016174"
                                                         class="neutral">Di-haem cytochrome, transmembrane</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016174-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81342" title="SSF81342 (Transmembrane di-heme cytochromes)"
       class="neutral">
        SSF81342
</a>

            <span>(Transmemb...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF81342-span-2"
      class="match superfamily c22 Domain"
      style="left:  2.475%;
              width: 62.871%;"
      title="SSF81342 11 - 264" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF81342-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c22 Domain caption_puce"></span>11 - 264</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81342' class="ext">SSF81342 </a>
            <span>(Transmembrane di-heme cytochromes)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR005797">IPR005797</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR005797"
                                                         class="neutral">Cytochrome b/b6, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR005797-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13631" title="PF13631 (Cytochrom_B_N_2)"
       class="neutral">
        PF13631
</a>

            <span>(Cytochrom_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13631-span-3"
      class="match pfam c22 Domain"
      style="left:  22.277%;
              width: 41.337%;"
      title="PF13631 91 - 257" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13631-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c22 Domain caption_puce"></span>91 - 257</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13631' class="ext">PF13631 </a>
            <span>(Cytochrom_B_N_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005797-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51002" title="PS51002 (CYTB_NTER)"
       class="neutral">
        PS51002
</a>

                <span>(CYTB_NTER)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51002-span-4"
      class="match prosite-profiles c22 Domain"
      style="left:  0%;
              width: 52.723%;"
      title="PS51002 1 - 213" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51002-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c22 Domain caption_puce"></span>1 - 213</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51002' class="ext">PS51002 </a>
            <span>(CYTB_NTER)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR027387">IPR027387</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR027387"
                                                         class="neutral">Cytochrome b/b6-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR027387-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.810.10" title="G3DSA:1.20.810.10"
           class="neutral">
    G3DSA:1.20.81...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA12081010-span-5"
      class="match gene3d c38 Domain"
      style="left:  2.475%;
              width: 90.347%;"
      title="G3DSA:1.20.810.10 11 - 375" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA12081010-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c38 Domain caption_puce"></span>11 - 375</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.810.10' class="ext">G3DSA:1.20.810.10 </a>
            <span>(G3DSA:1.20.810.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR005798">IPR005798</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR005798"
                                                         class="neutral">Cytochrome b/b6, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR005798-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81648" title="SSF81648 (a domain/subunit of cytochrome bc1 complex (Ubiquinol-cytochrome c reductase))"
       class="neutral">
        SSF81648
</a>

            <span>(a domain/...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF81648-span-6"
      class="match superfamily c60 Domain"
      style="left:  65.347%;
              width: 27.97%;"
      title="SSF81648 265 - 377" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF81648-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily c60 Domain caption_puce"></span>265 - 377</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF81648' class="ext">SSF81648 </a>
            <span>(a domain/subunit of cytochrome bc1 complex (Ubiquinol-cytochrome c reductase))</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005798-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00032" title="PF00032 (Cytochrom_B_C)"
       class="neutral">
        PF00032
</a>

                <span>(Cytochrom_B_C)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00032-span-7"
      class="match pfam c60 Domain"
      style="left:  64.604%;
              width: 25.248%;"
      title="PF00032 262 - 363" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00032-popup-7" style="display: none;">

        <div class="popup_topl"><span class="pfam c60 Domain caption_puce"></span>262 - 363</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00032' class="ext">PF00032 </a>
            <span>(Cytochrom_B_C)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR005798-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51003" title="PS51003 (CYTB_CTER)"
       class="neutral">
        PS51003
</a>

                <span>(CYTB_CTER)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51003-span-8"
      class="match prosite-profiles c60 Domain"
      style="left:  52.723%;
              width: 42.079%;"
      title="PS51003 214 - 383" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51003-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c60 Domain caption_puce"></span>214 - 383</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51003' class="ext">PS51003 </a>
            <span>(CYTB_CTER)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006122"
                   class="ext">GO:0006122</a> mitochondrial electron transport, ubiquinol to cytochrome c
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0022904"
                   class="ext">GO:0022904</a> respiratory electron transport chain
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008121"
                   class="ext">GO:0008121</a> ubiquinol-cytochrome-c reductase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009055"
                   class="ext">GO:0009055</a> electron carrier activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016491"
                   class="ext">GO:0016491</a> oxidoreductase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016020"
                   class="ext">GO:0016020</a> membrane
                <br/>
            
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045275"
                   class="ext">GO:0045275</a> respiratory chain complex III
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
