 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp3025_c0_seq1|m.13560 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">578 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002036">Endoribonuclease YbeY</a><span> (IPR002036)</span></li></ul><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR006379">HAD-superfamily hydrolase, subfamily IIB</a><span> (IPR006379)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000150">Cof protein</a><span> (IPR000150)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c11 Domain"
      style="left:  24.221%;
              width: 23.529%;"
      title="Domain 141 - 276" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c11 Domain caption_puce"></span>141 - 276
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR023091">Metalloprotease catalytic domain, predicted</a><span> (IPR023091)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c54 Domain"
      style="left:  52.422%;
              width: 47.405%;"
      title="Domain 304 - 577" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c54 Domain caption_puce"></span>304 - 577
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR023214">HAD-like domain</a><span> (IPR023214)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:17.301%;" title="100"></span>
                    <span class="grade" style="left:34.602%;" title="200"></span>
                    <span class="grade" style="left:51.903%;" title="300"></span>
                    <span class="grade" style="left:69.204%;" title="400"></span>
                    <span class="grade" style="left:86.505%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="578"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:17.301%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:17.301%;">100</span>
                            <span class="scale_bar" style="left:34.602%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:34.602%;">200</span>
                            <span class="scale_bar" style="left:51.903%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:51.903%;">300</span>
                            <span class="scale_bar" style="left:69.204%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:69.204%;">400</span>
                            <span class="scale_bar" style="left:86.505%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:86.505%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="578"></span>
                                <span class="scale_numb"
                                      style="left:100%;">578</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002036">IPR002036</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002036"
                                                         class="neutral">Endoribonuclease YbeY</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002036-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF02130" title="PF02130 (UPF0054)"
       class="neutral">
        PF02130
</a>

                <span>(UPF0054)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF02130-span-1"
      class="match pfam Family"
      style="left:  24.913%;
              width: 20.588%;"
      title="PF02130 145 - 263" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF02130-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>145 - 263</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF02130' class="ext">PF02130 </a>
            <span>(UPF0054)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002036-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_00009" title="MF_00009 (Endoribonucl_YbeY)"
       class="neutral">
        MF_00009
</a>

            <span>(Endoribon...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_00009-span-2"
      class="match hamap Family"
      style="left:  20.588%;
              width: 25.606%;"
      title="MF_00009 120 - 267" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_00009-popup-2" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>120 - 267</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_00009' class="ext">MF_00009 </a>
            <span>(Endoribonucl_YbeY)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002036-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00043"
           class="neutral">
        TIGR00043
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00043-span-3"
      class="match unknown Family"
      style="left:  26.99%;
              width: 18.685%;"
      title="TIGR00043 157 - 264" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00043-popup-3" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>157 - 264</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00043 </a>
            <span>(TIGR00043)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006379">IPR006379</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006379"
                                                         class="neutral">HAD-superfamily hydrolase, subfamily IIB</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006379-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR01484"
           class="neutral">
        TIGR01484
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR01484-span-4"
      class="match unknown Family"
      style="left:  52.941%;
              width: 41.349%;"
      title="TIGR01484 307 - 545" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR01484-popup-4" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>307 - 545</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR01484 </a>
            <span>(TIGR01484)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000150">IPR000150</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000150"
                                                         class="neutral">Cof protein</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000150-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS01228" title="PS01228 (COF_1)"
       class="neutral">
        PS01228
</a>

                <span>(COF_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS01228-span-5"
      class="match prosite-patterns Family"
      style="left:  52.941%;
              width: 2.076%;"
      title="PS01228 307 - 318" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS01228-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns Family caption_puce"></span>307 - 318</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS01228' class="ext">PS01228 </a>
            <span>(COF_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000150-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00099"
           class="neutral">
        TIGR00099
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00099-span-6"
      class="match unknown Family"
      style="left:  52.941%;
              width: 45.848%;"
      title="TIGR00099 307 - 571" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00099-popup-6" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>307 - 571</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00099 </a>
            <span>(TIGR00099)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR023091">IPR023091</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR023091"
                                                         class="neutral">Metalloprotease catalytic domain, predicted</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR023091-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.390.30" title="G3DSA:3.40.390.30"
           class="neutral">
    G3DSA:3.40.39...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34039030-span-7"
      class="match gene3d c11 Domain"
      style="left:  24.221%;
              width: 23.529%;"
      title="G3DSA:3.40.390.30 141 - 276" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34039030-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d c11 Domain caption_puce"></span>141 - 276</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.390.30' class="ext">G3DSA:3.40.390.30 </a>
            <span>(G3DSA:3.40.390.30)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR023214">IPR023214</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR023214"
                                                         class="neutral">HAD-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR023214-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF08282" title="PF08282 (Hydrolase_3)"
       class="neutral">
        PF08282
</a>

                <span>(Hydrolase_3)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF08282-span-8"
      class="match pfam c54 Domain"
      style="left:  53.114%;
              width: 45.675%;"
      title="PF08282 308 - 571" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF08282-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c54 Domain caption_puce"></span>308 - 571</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF08282' class="ext">PF08282 </a>
            <span>(Hydrolase_3)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR023214-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.1000" title="G3DSA:3.40.50.1000"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA340501000-span-9"
      class="match gene3d c54 Domain"
      style="left:  84.948%;
              width: 14.879%;"
      title="G3DSA:3.40.50.1000 492 - 577" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA340501000-popup-9" style="display: none;">

        <div class="popup_topl"><span class="gene3d c54 Domain caption_puce"></span>492 - 577</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.1000' class="ext">G3DSA:3.40.50.1000 </a>
            <span>(G3DSA:3.40.50.1000)</span>
        </div>
    </div>


<span id="G3DSA340501000-span-10"
      class="match gene3d c54 Domain"
      style="left:  52.422%;
              width: 13.149%;"
      title="G3DSA:3.40.50.1000 304 - 379" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA340501000-popup-10" style="display: none;">

        <div class="popup_topl"><span class="gene3d c54 Domain caption_puce"></span>304 - 379</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.1000' class="ext">G3DSA:3.40.50.1000 </a>
            <span>(G3DSA:3.40.50.1000)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR023214-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56784" title="SSF56784 (HAD-like)"
       class="neutral">
        SSF56784
</a>

                <span>(HAD-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56784-span-11"
      class="match superfamily c54 Domain"
      style="left:  52.595%;
              width: 47.232%;"
      title="SSF56784 305 - 577" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56784-popup-11" style="display: none;">

        <div class="popup_topl"><span class="superfamily c54 Domain caption_puce"></span>305 - 577</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56784' class="ext">SSF56784 </a>
            <span>(HAD-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.1240.10" title="G3DSA:3.30.1240.10"
           class="neutral">
    G3DSA:3.30.12...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA330124010-span-12"
      class="match gene3d uni"
      style="left:  68.166%;
              width: 16.782%;"
      title="G3DSA:3.30.1240.10 395 - 491" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA330124010-popup-12" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>395 - 491</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.1240.10' class="ext">G3DSA:3.30.1240.10 </a>
            <span>(G3DSA:3.30.1240.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS01229" title="PS01229 (COF_2)"
       class="neutral">
        PS01229
</a>

                <span>(COF_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS01229-span-13"
      class="match prosite-patterns uni"
      style="left:  90.83%;
              width: 3.979%;"
      title="PS01229 526 - 548" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS01229-popup-13" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns uni caption_puce"></span>526 - 548</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS01229' class="ext">PS01229 </a>
            <span>(COF_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55486" title="SSF55486 (Metalloproteases ("zincins"), catalytic domain)"
       class="neutral">
        SSF55486
</a>

            <span>(Metallopr...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55486-span-14"
      class="match superfamily uni"
      style="left:  25.606%;
              width: 20.761%;"
      title="SSF55486 149 - 268" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55486-popup-14" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>149 - 268</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55486' class="ext">SSF55486 </a>
            <span>(Metalloproteases ("zincins"), catalytic domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.301%;" title="100"></span>
            <span class="grade" style="left:34.602%;" title="200"></span>
            <span class="grade" style="left:51.903%;" title="300"></span>
            <span class="grade" style="left:69.204%;" title="400"></span>
            <span class="grade" style="left:86.505%;" title="500"></span>
            <span class="grade" style="left:100%;" title="578"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006364"
                   class="ext">GO:0006364</a> rRNA processing
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004222"
                   class="ext">GO:0004222</a> metalloendopeptidase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016787"
                   class="ext">GO:0016787</a> hydrolase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
