 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp7358_c0_seq0|m.30819 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">906 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000322">Glycoside hydrolase family 31</a><span> (IPR000322)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c60 Domain"
      style="left:  3.974%;
              width: 25.717%;"
      title="Domain 37 - 269" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c60 Domain caption_puce"></span>37 - 269
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011013">Galactose mutarotase-like domain</a><span> (IPR011013)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR025887">Glycoside hydrolase family 31, N-terminal domain</a><span> (IPR025887)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c22 Domain"
      style="left:  29.912%;
              width: 18.985%;"
      title="Domain 272 - 443" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>272 - 443
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR017853">Glycoside hydrolase superfamily</a><span> (IPR017853)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c22 Domain"
      style="left:  55.298%;
              width: 18.102%;"
      title="Domain 502 - 665" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>502 - 665
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR017853">Glycoside hydrolase superfamily</a><span> (IPR017853)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.038%;" title="100"></span>
                    <span class="grade" style="left:22.075%;" title="200"></span>
                    <span class="grade" style="left:33.113%;" title="300"></span>
                    <span class="grade" style="left:44.15%;" title="400"></span>
                    <span class="grade" style="left:55.188%;" title="500"></span>
                    <span class="grade" style="left:66.225%;" title="600"></span>
                    <span class="grade" style="left:77.263%;" title="700"></span>
                    <span class="grade" style="left:88.3%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="906"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-4"
      class="match c55 Domain"
      style="left:  4.857%;
              width: 14.349%;"
      title="Domain 45 - 174" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c55 Domain caption_puce"></span>45 - 174
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR031727">Galactose mutarotase, N-terminal barrel</a><span> (IPR031727)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.038%;" title="100"></span>
                    <span class="grade" style="left:22.075%;" title="200"></span>
                    <span class="grade" style="left:33.113%;" title="300"></span>
                    <span class="grade" style="left:44.15%;" title="400"></span>
                    <span class="grade" style="left:55.188%;" title="500"></span>
                    <span class="grade" style="left:66.225%;" title="600"></span>
                    <span class="grade" style="left:77.263%;" title="700"></span>
                    <span class="grade" style="left:88.3%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="906"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.038%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:11.038%;">100</span>
                            <span class="scale_bar" style="left:22.075%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:22.075%;">200</span>
                            <span class="scale_bar" style="left:33.113%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:33.113%;">300</span>
                            <span class="scale_bar" style="left:44.15%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:44.15%;">400</span>
                            <span class="scale_bar" style="left:55.188%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:55.188%;">500</span>
                            <span class="scale_bar" style="left:66.225%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:66.225%;">600</span>
                            <span class="scale_bar" style="left:77.263%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:77.263%;">700</span>
                            <span class="scale_bar" style="left:88.3%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:88.3%;">800</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="906"></span>
                                <span class="scale_numb"
                                      style="left:100%;">906</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000322">IPR000322</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000322"
                                                         class="neutral">Glycoside hydrolase family 31</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000322-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01055" title="PF01055 (Glyco_hydro_31)"
       class="neutral">
        PF01055
</a>

            <span>(Glyco_hydr...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01055-span-1"
      class="match pfam Family"
      style="left:  28.808%;
              width: 54.525%;"
      title="PF01055 262 - 755" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01055-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>262 - 755</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01055' class="ext">PF01055 </a>
            <span>(Glyco_hydro_31)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011013">IPR011013</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011013"
                                                         class="neutral">Galactose mutarotase-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011013-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF74650" title="SSF74650 (Galactose mutarotase-like)"
       class="neutral">
        SSF74650
</a>

            <span>(Galactose...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF74650-span-2"
      class="match superfamily c60 Domain"
      style="left:  3.974%;
              width: 25.717%;"
      title="SSF74650 37 - 269" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF74650-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c60 Domain caption_puce"></span>37 - 269</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF74650' class="ext">SSF74650 </a>
            <span>(Galactose mutarotase-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR031727">IPR031727</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR031727"
                                                         class="neutral">Galactose mutarotase, N-terminal barrel</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR031727-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF16863" title="PF16863 (NtCtMGAM_N)"
       class="neutral">
        PF16863
</a>

                <span>(NtCtMGAM_N)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF16863-span-3"
      class="match pfam c55 Domain"
      style="left:  4.857%;
              width: 14.349%;"
      title="PF16863 45 - 174" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF16863-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c55 Domain caption_puce"></span>45 - 174</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF16863' class="ext">PF16863 </a>
            <span>(NtCtMGAM_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR025887">IPR025887</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR025887"
                                                         class="neutral">Glycoside hydrolase family 31, N-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR025887-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13802" title="PF13802 (Gal_mutarotas_2)"
       class="neutral">
        PF13802
</a>

            <span>(Gal_mutaro...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13802-span-4"
      class="match pfam c60 Domain"
      style="left:  19.647%;
              width: 6.733%;"
      title="PF13802 179 - 239" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13802-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c60 Domain caption_puce"></span>179 - 239</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13802' class="ext">PF13802 </a>
            <span>(Gal_mutarotas_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR017853">IPR017853</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR017853"
                                                         class="neutral">Glycoside hydrolase superfamily</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR017853-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51445" title="SSF51445 ((Trans)glycosidases)"
       class="neutral">
        SSF51445
</a>

            <span>((Trans)gl...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF51445-span-5"
      class="match superfamily c22 Domain"
      style="left:  29.912%;
              width: 18.985%;"
      title="SSF51445 272 - 443" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51445-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c22 Domain caption_puce"></span>272 - 443</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51445' class="ext">SSF51445 </a>
            <span>((Trans)glycosidases)</span>
        </div>
    </div>


<span id="SSF51445-span-6"
      class="match superfamily c22 Domain"
      style="left:  55.298%;
              width: 18.102%;"
      title="SSF51445 502 - 665" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51445-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily c22 Domain caption_puce"></span>502 - 665</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51445' class="ext">SSF51445 </a>
            <span>((Trans)glycosidases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR030458">IPR030458</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR030458"
                                                         class="neutral">Glycosyl hydrolases family 31, active site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR030458-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00129" title="PS00129 (GLYCOSYL_HYDROL_F31_1)"
       class="neutral">
        PS00129
</a>

            <span>(GLYCOSYL_H...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00129-span-7"
      class="match prosite-patterns SITE"
      style="left:  47.903%;
              width: 0.883%;"
      title="PS00129 435 - 442" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00129-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>435 - 442</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00129' class="ext">PS00129 </a>
            <span>(GLYCOSYL_HYDROL_F31_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR030459">IPR030459</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR030459"
                                                         class="neutral">Glycosyl hydrolases family 31, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR030459-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00707" title="PS00707 (GLYCOSYL_HYDROL_F31_2)"
       class="neutral">
        PS00707
</a>

            <span>(GLYCOSYL_H...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00707-span-8"
      class="match prosite-patterns SITE"
      style="left:  64.901%;
              width: 3.422%;"
      title="PS00707 589 - 619" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00707-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>589 - 619</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00707' class="ext">PS00707 </a>
            <span>(GLYCOSYL_HYDROL_F31_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51011" title="SSF51011 (Glycosyl hydrolase domain)"
       class="neutral">
        SSF51011
</a>

            <span>(Glycosyl ...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF51011-span-9"
      class="match superfamily uni"
      style="left:  73.51%;
              width: 9.272%;"
      title="SSF51011 667 - 750" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51011-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>667 - 750</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51011' class="ext">SSF51011 </a>
            <span>(Glycosyl hydrolase domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.038%;" title="100"></span>
            <span class="grade" style="left:22.075%;" title="200"></span>
            <span class="grade" style="left:33.113%;" title="300"></span>
            <span class="grade" style="left:44.15%;" title="400"></span>
            <span class="grade" style="left:55.188%;" title="500"></span>
            <span class="grade" style="left:66.225%;" title="600"></span>
            <span class="grade" style="left:77.263%;" title="700"></span>
            <span class="grade" style="left:88.3%;" title="800"></span>
            <span class="grade" style="left:100%;" title="906"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005975"
                   class="ext">GO:0005975</a> carbohydrate metabolic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003824"
                   class="ext">GO:0003824</a> catalytic activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004553"
                   class="ext">GO:0004553</a> hydrolase activity, hydrolyzing O-glycosyl compounds
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0030246"
                   class="ext">GO:0030246</a> carbohydrate binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 4);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
