 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp7133_c0_seq3|m.30182 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">257 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002848">Translin</a><span> (IPR002848)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c7 Domain"
      style="left:  6.615%;
              width: 53.696%;"
      title="Domain 18 - 155" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c7 Domain caption_puce"></span>18 - 155
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016068">Translin, N-terminal</a><span> (IPR016068)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c8 Domain"
      style="left:  60.311%;
              width: 35.798%;"
      title="Domain 156 - 247" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c8 Domain caption_puce"></span>156 - 247
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016069">Translin, C-terminal</a><span> (IPR016069)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:19.455%;" title="50"></span>
                    <span class="grade" style="left:38.911%;" title="100"></span>
                    <span class="grade" style="left:58.366%;" title="150"></span>
                    <span class="grade" style="left:77.821%;" title="200"></span>
                    <span class="grade" style="left:100%;" title="257"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:19.455%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:19.455%;">50</span>
                            <span class="scale_bar" style="left:38.911%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:38.911%;">100</span>
                            <span class="scale_bar" style="left:58.366%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:58.366%;">150</span>
                            <span class="scale_bar" style="left:77.821%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:77.821%;">200</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="257"></span>
                                <span class="scale_numb"
                                      style="left:100%;">257</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002848">IPR002848</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002848"
                                                         class="neutral">Translin</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002848-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF74784" title="SSF74784 (Translin)"
       class="neutral">
        SSF74784
</a>

                <span>(Translin)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF74784-span-1"
      class="match superfamily Family"
      style="left:  8.56%;
              width: 84.825%;"
      title="SSF74784 23 - 240" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF74784-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily Family caption_puce"></span>23 - 240</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF74784' class="ext">SSF74784 </a>
            <span>(Translin)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:19.455%;" title="50"></span>
            <span class="grade" style="left:38.911%;" title="100"></span>
            <span class="grade" style="left:58.366%;" title="150"></span>
            <span class="grade" style="left:77.821%;" title="200"></span>
            <span class="grade" style="left:100%;" title="257"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002848-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01997" title="PF01997 (Translin)"
       class="neutral">
        PF01997
</a>

                <span>(Translin)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01997-span-2"
      class="match pfam Family"
      style="left:  15.564%;
              width: 77.043%;"
      title="PF01997 41 - 238" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01997-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>41 - 238</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01997' class="ext">PF01997 </a>
            <span>(Translin)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:19.455%;" title="50"></span>
            <span class="grade" style="left:38.911%;" title="100"></span>
            <span class="grade" style="left:58.366%;" title="150"></span>
            <span class="grade" style="left:77.821%;" title="200"></span>
            <span class="grade" style="left:100%;" title="257"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016068">IPR016068</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016068"
                                                         class="neutral">Translin, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016068-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.58.190" title="G3DSA:1.20.58.190"
           class="neutral">
    G3DSA:1.20.58...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA12058190-span-3"
      class="match gene3d c7 Domain"
      style="left:  6.615%;
              width: 53.696%;"
      title="G3DSA:1.20.58.190 18 - 155" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA12058190-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c7 Domain caption_puce"></span>18 - 155</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.58.190' class="ext">G3DSA:1.20.58.190 </a>
            <span>(G3DSA:1.20.58.190)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:19.455%;" title="50"></span>
            <span class="grade" style="left:38.911%;" title="100"></span>
            <span class="grade" style="left:58.366%;" title="150"></span>
            <span class="grade" style="left:77.821%;" title="200"></span>
            <span class="grade" style="left:100%;" title="257"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016069">IPR016069</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016069"
                                                         class="neutral">Translin, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016069-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.58.200" title="G3DSA:1.20.58.200"
           class="neutral">
    G3DSA:1.20.58...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA12058200-span-4"
      class="match gene3d c8 Domain"
      style="left:  60.311%;
              width: 35.798%;"
      title="G3DSA:1.20.58.200 156 - 247" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA12058200-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c8 Domain caption_puce"></span>156 - 247</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.58.200' class="ext">G3DSA:1.20.58.200 </a>
            <span>(G3DSA:1.20.58.200)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:19.455%;" title="50"></span>
            <span class="grade" style="left:38.911%;" title="100"></span>
            <span class="grade" style="left:58.366%;" title="150"></span>
            <span class="grade" style="left:77.821%;" title="200"></span>
            <span class="grade" style="left:100%;" title="257"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0043565"
                   class="ext">GO:0043565</a> sequence-specific DNA binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
