 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5378_c0_seq5|m.23819 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">235 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c26 Domain"
      style="left:  7.234%;
              width: 50.213%;"
      title="Domain 18 - 135" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c26 Domain caption_puce"></span>18 - 135
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011993">PH domain-like</a><span> (IPR011993)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001849">Pleckstrin homology domain</a><span> (IPR001849)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:21.277%;" title="50"></span>
                    <span class="grade" style="left:42.553%;" title="100"></span>
                    <span class="grade" style="left:63.83%;" title="150"></span>
                    <span class="grade" style="left:85.106%;" title="200"></span>
                    <span class="grade" style="left:100%;" title="235"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:21.277%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:21.277%;">50</span>
                            <span class="scale_bar" style="left:42.553%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:42.553%;">100</span>
                            <span class="scale_bar" style="left:63.83%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:63.83%;">150</span>
                            <span class="scale_bar" style="left:85.106%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:85.106%;">200</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="235"></span>
                                <span class="scale_numb"
                                      style="left:100%;">235</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011993">IPR011993</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011993"
                                                         class="neutral">PH domain-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011993-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.30.29.30" title="G3DSA:2.30.29.30"
           class="neutral">
        G3DSA:2.30.29.30
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA2302930-span-1"
      class="match gene3d c26 Domain"
      style="left:  7.234%;
              width: 50.213%;"
      title="G3DSA:2.30.29.30 18 - 135" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA2302930-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c26 Domain caption_puce"></span>18 - 135</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.30.29.30' class="ext">G3DSA:2.30.29.30 </a>
            <span>(G3DSA:2.30.29.30)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.277%;" title="50"></span>
            <span class="grade" style="left:42.553%;" title="100"></span>
            <span class="grade" style="left:63.83%;" title="150"></span>
            <span class="grade" style="left:85.106%;" title="200"></span>
            <span class="grade" style="left:100%;" title="235"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR011993-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50729" title="SSF50729 (PH domain-like)"
       class="neutral">
        SSF50729
</a>

            <span>(PH domain...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50729-span-2"
      class="match superfamily c26 Domain"
      style="left:  8.511%;
              width: 46.383%;"
      title="SSF50729 21 - 129" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50729-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c26 Domain caption_puce"></span>21 - 129</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50729' class="ext">SSF50729 </a>
            <span>(PH domain-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.277%;" title="50"></span>
            <span class="grade" style="left:42.553%;" title="100"></span>
            <span class="grade" style="left:63.83%;" title="150"></span>
            <span class="grade" style="left:85.106%;" title="200"></span>
            <span class="grade" style="left:100%;" title="235"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001849">IPR001849</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001849"
                                                         class="neutral">Pleckstrin homology domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001849-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00169" title="PF00169 (PH)"
       class="neutral">
        PF00169
</a>

                <span>(PH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00169-span-3"
      class="match pfam c26 Domain"
      style="left:  8.936%;
              width: 45.957%;"
      title="PF00169 22 - 129" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00169-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c26 Domain caption_puce"></span>22 - 129</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00169' class="ext">PF00169 </a>
            <span>(PH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.277%;" title="50"></span>
            <span class="grade" style="left:42.553%;" title="100"></span>
            <span class="grade" style="left:63.83%;" title="150"></span>
            <span class="grade" style="left:85.106%;" title="200"></span>
            <span class="grade" style="left:100%;" title="235"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001849-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00233&amp;BLAST=DUMMY" title="SM00233 (PH)"
       class="neutral">
        SM00233
</a>

                <span>(PH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00233-span-4"
      class="match smart c26 Domain"
      style="left:  8.511%;
              width: 47.66%;"
      title="SM00233 21 - 132" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00233-popup-4" style="display: none;">

        <div class="popup_topl"><span class="smart c26 Domain caption_puce"></span>21 - 132</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00233&amp;BLAST=DUMMY' class="ext">SM00233 </a>
            <span>(PH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.277%;" title="50"></span>
            <span class="grade" style="left:42.553%;" title="100"></span>
            <span class="grade" style="left:63.83%;" title="150"></span>
            <span class="grade" style="left:85.106%;" title="200"></span>
            <span class="grade" style="left:100%;" title="235"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001849-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50003" title="PS50003 (PH_DOMAIN)"
       class="neutral">
        PS50003
</a>

                <span>(PH_DOMAIN)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50003-span-5"
      class="match prosite-profiles c26 Domain"
      style="left:  8.085%;
              width: 47.234%;"
      title="PS50003 20 - 130" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50003-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c26 Domain caption_puce"></span>20 - 130</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50003' class="ext">PS50003 </a>
            <span>(PH_DOMAIN)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:21.277%;" title="50"></span>
            <span class="grade" style="left:42.553%;" title="100"></span>
            <span class="grade" style="left:63.83%;" title="150"></span>
            <span class="grade" style="left:85.106%;" title="200"></span>
            <span class="grade" style="left:100%;" title="235"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
