 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp9124_c0_seq2|m.36017 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">888 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c57 Domain"
      style="left:  1.014%;
              width: 94.595%;"
      title="Domain 10 - 849" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>10 - 849
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011009">Protein kinase-like domain</a><span> (IPR011009)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000719">Protein kinase domain</a><span> (IPR000719)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.261%;" title="100"></span>
                    <span class="grade" style="left:22.523%;" title="200"></span>
                    <span class="grade" style="left:33.784%;" title="300"></span>
                    <span class="grade" style="left:45.045%;" title="400"></span>
                    <span class="grade" style="left:56.306%;" title="500"></span>
                    <span class="grade" style="left:67.568%;" title="600"></span>
                    <span class="grade" style="left:78.829%;" title="700"></span>
                    <span class="grade" style="left:90.09%;" title="800"></span>
                    <span class="grade" style="left:100%;" title="888"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.261%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:11.261%;">100</span>
                            <span class="scale_bar" style="left:22.523%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:22.523%;">200</span>
                            <span class="scale_bar" style="left:33.784%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:33.784%;">300</span>
                            <span class="scale_bar" style="left:45.045%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:45.045%;">400</span>
                            <span class="scale_bar" style="left:56.306%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:56.306%;">500</span>
                            <span class="scale_bar" style="left:67.568%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:67.568%;">600</span>
                            <span class="scale_bar" style="left:78.829%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:78.829%;">700</span>
                            <span class="scale_bar" style="left:90.09%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:90.09%;">800</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="888"></span>
                                <span class="scale_numb"
                                      style="left:100%;">888</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011009">IPR011009</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011009"
                                                         class="neutral">Protein kinase-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011009-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112" title="SSF56112 (Protein kinase-like (PK-like))"
       class="neutral">
        SSF56112
</a>

            <span>(Protein k...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56112-span-1"
      class="match superfamily c57 Domain"
      style="left:  1.014%;
              width: 17.568%;"
      title="SSF56112 10 - 165" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56112-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>10 - 165</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112' class="ext">SSF56112 </a>
            <span>(Protein kinase-like (PK-like))</span>
        </div>
    </div>


<span id="SSF56112-span-2"
      class="match superfamily c57 Domain"
      style="left:  79.842%;
              width: 15.766%;"
      title="SSF56112 710 - 849" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56112-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>710 - 849</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112' class="ext">SSF56112 </a>
            <span>(Protein kinase-like (PK-like))</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000719">IPR000719</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000719"
                                                         class="neutral">Protein kinase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000719-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00069" title="PF00069 (Pkinase)"
       class="neutral">
        PF00069
</a>

                <span>(Pkinase)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00069-span-3"
      class="match pfam c57 Domain"
      style="left:  79.955%;
              width: 14.977%;"
      title="PF00069 711 - 843" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00069-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>711 - 843</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00069' class="ext">PF00069 </a>
            <span>(Pkinase)</span>
        </div>
    </div>


<span id="PF00069-span-4"
      class="match pfam c57 Domain"
      style="left:  2.59%;
              width: 16.104%;"
      title="PF00069 24 - 166" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00069-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>24 - 166</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00069' class="ext">PF00069 </a>
            <span>(Pkinase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000719-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50011" title="PS50011 (PROTEIN_KINASE_DOM)"
       class="neutral">
        PS50011
</a>

            <span>(PROTEIN_KI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50011-span-5"
      class="match prosite-profiles c57 Domain"
      style="left:  2.59%;
              width: 92.342%;"
      title="PS50011 24 - 843" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50011-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c57 Domain caption_puce"></span>24 - 843</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50011' class="ext">PS50011 </a>
            <span>(PROTEIN_KINASE_DOM)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR017441">IPR017441</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR017441"
                                                         class="neutral">Protein kinase, ATP binding site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR017441-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00107" title="PS00107 (PROTEIN_KINASE_ATP)"
       class="neutral">
        PS00107
</a>

            <span>(PROTEIN_KI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00107-span-6"
      class="match prosite-patterns SITE"
      style="left:  3.266%;
              width: 2.703%;"
      title="PS00107 30 - 53" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00107-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>30 - 53</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00107' class="ext">PS00107 </a>
            <span>(PROTEIN_KINASE_ATP)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008266">IPR008266</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008266"
                                                         class="neutral">Tyrosine-protein kinase, active site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008266-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00109" title="PS00109 (PROTEIN_KINASE_TYR)"
       class="neutral">
        PS00109
</a>

            <span>(PROTEIN_KI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00109-span-7"
      class="match prosite-patterns SITE"
      style="left:  14.865%;
              width: 1.464%;"
      title="PS00109 133 - 145" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00109-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>133 - 145</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00109' class="ext">PS00109 </a>
            <span>(PROTEIN_KINASE_TYR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.510.10" title="G3DSA:1.10.510.10"
           class="neutral">
    G3DSA:1.10.51...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA11051010-span-8"
      class="match gene3d uni"
      style="left:  10.811%;
              width: 7.32%;"
      title="G3DSA:1.10.510.10 97 - 161" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11051010-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>97 - 161</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.510.10' class="ext">G3DSA:1.10.510.10 </a>
            <span>(G3DSA:1.10.510.10)</span>
        </div>
    </div>


<span id="G3DSA11051010-span-9"
      class="match gene3d uni"
      style="left:  79.505%;
              width: 15.428%;"
      title="G3DSA:1.10.510.10 707 - 843" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11051010-popup-9" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>707 - 843</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.510.10' class="ext">G3DSA:1.10.510.10 </a>
            <span>(G3DSA:1.10.510.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.200.20" title="G3DSA:3.30.200.20"
           class="neutral">
    G3DSA:3.30.20...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33020020-span-10"
      class="match gene3d uni"
      style="left:  1.914%;
              width: 8.896%;"
      title="G3DSA:3.30.200.20 18 - 96" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33020020-popup-10" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>18 - 96</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.200.20' class="ext">G3DSA:3.30.200.20 </a>
            <span>(G3DSA:3.30.200.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.261%;" title="100"></span>
            <span class="grade" style="left:22.523%;" title="200"></span>
            <span class="grade" style="left:33.784%;" title="300"></span>
            <span class="grade" style="left:45.045%;" title="400"></span>
            <span class="grade" style="left:56.306%;" title="500"></span>
            <span class="grade" style="left:67.568%;" title="600"></span>
            <span class="grade" style="left:78.829%;" title="700"></span>
            <span class="grade" style="left:90.09%;" title="800"></span>
            <span class="grade" style="left:100%;" title="888"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006468"
                   class="ext">GO:0006468</a> protein phosphorylation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004672"
                   class="ext">GO:0004672</a> protein kinase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
