 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp11495_c0_seq0|m.40606 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">174 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c9 Domain"
      style="left:  18.966%;
              width: 21.264%;"
      title="Domain 34 - 70" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c9 Domain caption_puce"></span>34 - 70
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR007529">Zinc finger, HIT-type</a><span> (IPR007529)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.494%;" title="20"></span>
                    <span class="grade" style="left:22.989%;" title="40"></span>
                    <span class="grade" style="left:34.483%;" title="60"></span>
                    <span class="grade" style="left:45.977%;" title="80"></span>
                    <span class="grade" style="left:57.471%;" title="100"></span>
                    <span class="grade" style="left:68.966%;" title="120"></span>
                    <span class="grade" style="left:80.46%;" title="140"></span>
                    <span class="grade" style="left:91.954%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="174"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.494%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:11.494%;">20</span>
                            <span class="scale_bar" style="left:22.989%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:22.989%;">40</span>
                            <span class="scale_bar" style="left:34.483%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:34.483%;">60</span>
                            <span class="scale_bar" style="left:45.977%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:45.977%;">80</span>
                            <span class="scale_bar" style="left:57.471%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:57.471%;">100</span>
                            <span class="scale_bar" style="left:68.966%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:68.966%;">120</span>
                            <span class="scale_bar" style="left:80.46%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:80.46%;">140</span>
                            <span class="scale_bar" style="left:91.954%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:91.954%;">160</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="174"></span>
                                <span class="scale_numb"
                                      style="left:100%;">174</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007529">IPR007529</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007529"
                                                         class="neutral">Zinc finger, HIT-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007529-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51083" title="PS51083 (ZF_HIT)"
       class="neutral">
        PS51083
</a>

                <span>(ZF_HIT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51083-span-1"
      class="match prosite-profiles c9 Domain"
      style="left:  20.115%;
              width: 20.115%;"
      title="PS51083 36 - 70" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51083-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c9 Domain caption_puce"></span>36 - 70</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51083' class="ext">PS51083 </a>
            <span>(ZF_HIT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.494%;" title="20"></span>
            <span class="grade" style="left:22.989%;" title="40"></span>
            <span class="grade" style="left:34.483%;" title="60"></span>
            <span class="grade" style="left:45.977%;" title="80"></span>
            <span class="grade" style="left:57.471%;" title="100"></span>
            <span class="grade" style="left:68.966%;" title="120"></span>
            <span class="grade" style="left:80.46%;" title="140"></span>
            <span class="grade" style="left:91.954%;" title="160"></span>
            <span class="grade" style="left:100%;" title="174"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR007529-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04438" title="PF04438 (zf-HIT)"
       class="neutral">
        PF04438
</a>

                <span>(zf-HIT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04438-span-2"
      class="match pfam c9 Domain"
      style="left:  18.966%;
              width: 16.667%;"
      title="PF04438 34 - 62" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04438-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c9 Domain caption_puce"></span>34 - 62</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04438' class="ext">PF04438 </a>
            <span>(zf-HIT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.494%;" title="20"></span>
            <span class="grade" style="left:22.989%;" title="40"></span>
            <span class="grade" style="left:34.483%;" title="60"></span>
            <span class="grade" style="left:45.977%;" title="80"></span>
            <span class="grade" style="left:57.471%;" title="100"></span>
            <span class="grade" style="left:68.966%;" title="120"></span>
            <span class="grade" style="left:80.46%;" title="140"></span>
            <span class="grade" style="left:91.954%;" title="160"></span>
            <span class="grade" style="left:100%;" title="174"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF144232" title="SSF144232 (HIT/MYND zinc finger-like)"
       class="neutral">
        SSF144232
</a>

            <span>(HIT/MYND...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF144232-span-3"
      class="match superfamily uni"
      style="left:  17.241%;
              width: 23.563%;"
      title="SSF144232 31 - 71" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF144232-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>31 - 71</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF144232' class="ext">SSF144232 </a>
            <span>(HIT/MYND zinc finger-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.494%;" title="20"></span>
            <span class="grade" style="left:22.989%;" title="40"></span>
            <span class="grade" style="left:34.483%;" title="60"></span>
            <span class="grade" style="left:45.977%;" title="80"></span>
            <span class="grade" style="left:57.471%;" title="100"></span>
            <span class="grade" style="left:68.966%;" title="120"></span>
            <span class="grade" style="left:80.46%;" title="140"></span>
            <span class="grade" style="left:91.954%;" title="160"></span>
            <span class="grade" style="left:100%;" title="174"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
