 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5646_c0_seq2|m.24769 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">190 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000715">Glycosyl transferase, family 4</a><span> (IPR000715)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000715">IPR000715</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000715"
                                                         class="neutral">Glycosyl transferase, family 4</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000715-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00953" title="PF00953 (Glycos_transf_4)"
       class="neutral">
        PF00953
</a>

            <span>(Glycos_tra...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00953-span-1"
      class="match pfam Family"
      style="left:  12.105%;
              width: 57.895%;"
      title="PF00953 24 - 133" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00953-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>24 - 133</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00953' class="ext">PF00953 </a>
            <span>(Glycos_transf_4)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.526%;" title="20"></span>
            <span class="grade" style="left:21.053%;" title="40"></span>
            <span class="grade" style="left:31.579%;" title="60"></span>
            <span class="grade" style="left:42.105%;" title="80"></span>
            <span class="grade" style="left:52.632%;" title="100"></span>
            <span class="grade" style="left:63.158%;" title="120"></span>
            <span class="grade" style="left:73.684%;" title="140"></span>
            <span class="grade" style="left:84.211%;" title="160"></span>
            <span class="grade" style="left:94.737%;" title="180"></span>
            <span class="grade" style="left:100%;" title="190"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR018480">IPR018480</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR018480"
                                                         class="neutral">Phospho-N-acetylmuramoyl-pentapeptide transferase, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR018480-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS01348" title="PS01348 (MRAY_2)"
       class="neutral">
        PS01348
</a>

                <span>(MRAY_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS01348-span-2"
      class="match prosite-patterns SITE"
      style="left:  28.947%;
              width: 6.316%;"
      title="PS01348 56 - 67" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS01348-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>56 - 67</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS01348' class="ext">PS01348 </a>
            <span>(MRAY_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.526%;" title="20"></span>
            <span class="grade" style="left:21.053%;" title="40"></span>
            <span class="grade" style="left:31.579%;" title="60"></span>
            <span class="grade" style="left:42.105%;" title="80"></span>
            <span class="grade" style="left:52.632%;" title="100"></span>
            <span class="grade" style="left:63.158%;" title="120"></span>
            <span class="grade" style="left:73.684%;" title="140"></span>
            <span class="grade" style="left:84.211%;" title="160"></span>
            <span class="grade" style="left:94.737%;" title="180"></span>
            <span class="grade" style="left:100%;" title="190"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008963"
                   class="ext">GO:0008963</a> phospho-N-acetylmuramoyl-pentapeptide-transferase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016021"
                   class="ext">GO:0016021</a> integral component of membrane
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
