 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5114_c0_seq1|m.22740 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">615 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR030661">SUMO-activating enzyme subunit SAE2/Uba2</a><span> (IPR030661)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c57 Domain"
      style="left:  1.463%;
              width: 74.959%;"
      title="Domain 10 - 470" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>10 - 470
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040">NAD(P)-binding domain</a><span> (IPR016040)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000594">THIF-type NAD/FAD binding fold</a><span> (IPR000594)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.26%;" title="100"></span>
                    <span class="grade" style="left:32.52%;" title="200"></span>
                    <span class="grade" style="left:48.78%;" title="300"></span>
                    <span class="grade" style="left:65.041%;" title="400"></span>
                    <span class="grade" style="left:81.301%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="615"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c38 Domain"
      style="left:  27.154%;
              width: 34.634%;"
      title="Domain 168 - 380" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c38 Domain caption_puce"></span>168 - 380
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR019572">Ubiquitin-activating enzyme, catalytic cysteine domain</a><span> (IPR019572)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c20 Domain"
      style="left:  72.683%;
              width: 15.285%;"
      title="Domain 448 - 541" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c20 Domain caption_puce"></span>448 - 541
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR028077">Ubiquitin/SUMO-activating enzyme ubiquitin-like domain</a><span> (IPR028077)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.26%;" title="100"></span>
                    <span class="grade" style="left:32.52%;" title="200"></span>
                    <span class="grade" style="left:48.78%;" title="300"></span>
                    <span class="grade" style="left:65.041%;" title="400"></span>
                    <span class="grade" style="left:81.301%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="615"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:16.26%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:16.26%;">100</span>
                            <span class="scale_bar" style="left:32.52%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:32.52%;">200</span>
                            <span class="scale_bar" style="left:48.78%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:48.78%;">300</span>
                            <span class="scale_bar" style="left:65.041%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:65.041%;">400</span>
                            <span class="scale_bar" style="left:81.301%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:81.301%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="615"></span>
                                <span class="scale_numb"
                                      style="left:100%;">615</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR030661">IPR030661</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR030661"
                                                         class="neutral">SUMO-activating enzyme subunit SAE2/Uba2</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR030661-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF039133" title="PIRSF039133 (SUMO_E1B)"
       class="neutral">
        PIRSF039133
</a>

                <span>(SUMO_E1B)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF039133-span-1"
      class="match pirsf Family"
      style="left:  0.976%;
              width: 98.699%;"
      title="PIRSF039133 7 - 613" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF039133-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>7 - 613</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF039133' class="ext">PIRSF039133 </a>
            <span>(SUMO_E1B)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016040">IPR016040</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040"
                                                         class="neutral">NAD(P)-binding domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016040-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.720" title="G3DSA:3.40.50.720"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050720-span-2"
      class="match gene3d c57 Domain"
      style="left:  62.114%;
              width: 9.919%;"
      title="G3DSA:3.40.50.720 383 - 443" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050720-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>383 - 443</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.720' class="ext">G3DSA:3.40.50.720 </a>
            <span>(G3DSA:3.40.50.720)</span>
        </div>
    </div>


<span id="G3DSA34050720-span-3"
      class="match gene3d c57 Domain"
      style="left:  1.463%;
              width: 25.691%;"
      title="G3DSA:3.40.50.720 10 - 167" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050720-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>10 - 167</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.720' class="ext">G3DSA:3.40.50.720 </a>
            <span>(G3DSA:3.40.50.720)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000594">IPR000594</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000594"
                                                         class="neutral">THIF-type NAD/FAD binding fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000594-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF69572" title="SSF69572 (Activating enzymes of the ubiquitin-like proteins)"
       class="neutral">
        SSF69572
</a>

            <span>(Activatin...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF69572-span-4"
      class="match superfamily c57 Domain"
      style="left:  55.122%;
              width: 21.301%;"
      title="SSF69572 340 - 470" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF69572-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>340 - 470</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF69572' class="ext">SSF69572 </a>
            <span>(Activating enzymes of the ubiquitin-like proteins)</span>
        </div>
    </div>


<span id="SSF69572-span-5"
      class="match superfamily c57 Domain"
      style="left:  1.463%;
              width: 30.732%;"
      title="SSF69572 10 - 198" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF69572-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>10 - 198</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF69572' class="ext">SSF69572 </a>
            <span>(Activating enzymes of the ubiquitin-like proteins)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000594-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00899" title="PF00899 (ThiF)"
       class="neutral">
        PF00899
</a>

                <span>(ThiF)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00899-span-6"
      class="match pfam c57 Domain"
      style="left:  1.463%;
              width: 65.041%;"
      title="PF00899 10 - 409" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00899-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>10 - 409</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00899' class="ext">PF00899 </a>
            <span>(ThiF)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR019572">IPR019572</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR019572"
                                                         class="neutral">Ubiquitin-activating enzyme, catalytic cysteine domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR019572-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.3240.10" title="G3DSA:1.10.3240.10"
           class="neutral">
    G3DSA:1.10.32...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110324010-span-7"
      class="match gene3d c38 Domain"
      style="left:  27.154%;
              width: 34.634%;"
      title="G3DSA:1.10.3240.10 168 - 380" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110324010-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d c38 Domain caption_puce"></span>168 - 380</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.3240.10' class="ext">G3DSA:1.10.3240.10 </a>
            <span>(G3DSA:1.10.3240.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR019572-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF10585" title="PF10585 (UBA_e1_thiolCys)"
       class="neutral">
        PF10585
</a>

            <span>(UBA_e1_thi...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF10585-span-8"
      class="match pfam c38 Domain"
      style="left:  49.106%;
              width: 11.707%;"
      title="PF10585 303 - 374" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF10585-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c38 Domain caption_puce"></span>303 - 374</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF10585' class="ext">PF10585 </a>
            <span>(UBA_e1_thiolCys)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR028077">IPR028077</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR028077"
                                                         class="neutral">Ubiquitin/SUMO-activating enzyme ubiquitin-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR028077-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14732" title="PF14732 (UAE_UbL)"
       class="neutral">
        PF14732
</a>

                <span>(UAE_UbL)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14732-span-9"
      class="match pfam c20 Domain"
      style="left:  72.683%;
              width: 15.285%;"
      title="PF14732 448 - 541" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14732-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam c20 Domain caption_puce"></span>448 - 541</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14732' class="ext">PF14732 </a>
            <span>(UAE_UbL)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.10.290.20" title="G3DSA:3.10.290.20"
           class="neutral">
    G3DSA:3.10.29...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA31029020-span-10"
      class="match gene3d uni"
      style="left:  72.033%;
              width: 17.236%;"
      title="G3DSA:3.10.290.20 444 - 549" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA31029020-popup-10" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>444 - 549</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.10.290.20' class="ext">G3DSA:3.10.290.20 </a>
            <span>(G3DSA:3.10.290.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51257" title="PS51257 (PROKAR_LIPOPROTEIN)"
       class="neutral">
        PS51257
</a>

            <span>(PROKAR_LIP...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51257-span-11"
      class="match prosite-profiles uni"
      style="left:  0%;
              width: 4.065%;"
      title="PS51257 1 - 25" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51257-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles uni caption_puce"></span>1 - 25</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51257' class="ext">PS51257 </a>
            <span>(PROKAR_LIPOPROTEIN)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.26%;" title="100"></span>
            <span class="grade" style="left:32.52%;" title="200"></span>
            <span class="grade" style="left:48.78%;" title="300"></span>
            <span class="grade" style="left:65.041%;" title="400"></span>
            <span class="grade" style="left:81.301%;" title="500"></span>
            <span class="grade" style="left:100%;" title="615"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016925"
                   class="ext">GO:0016925</a> protein sumoylation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008641"
                   class="ext">GO:0008641</a> small protein activating enzyme activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0019948"
                   class="ext">GO:0019948</a> SUMO activating enzyme activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
