 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1425_c0_seq1|m.6304 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">600 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c56 Domain"
      style="left:  33.333%;
              width: 13.333%;"
      title="Domain 201 - 280" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c56 Domain caption_puce"></span>201 - 280
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002912">ACT domain</a><span> (IPR002912)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c57 Domain"
      style="left:  47.5%;
              width: 47.5%;"
      title="Domain 286 - 570" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>286 - 570
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011009">Protein kinase-like domain</a><span> (IPR011009)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000719">Protein kinase domain</a><span> (IPR000719)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002290">Serine/threonine/dual specificity protein kinase, catalytic  domain</a><span> (IPR002290)</span></li><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001245">Serine-threonine/tyrosine-protein kinase catalytic domain</a><span> (IPR001245)</span></li></ul></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.667%;" title="100"></span>
                    <span class="grade" style="left:33.333%;" title="200"></span>
                    <span class="grade" style="left:50%;" title="300"></span>
                    <span class="grade" style="left:66.667%;" title="400"></span>
                    <span class="grade" style="left:83.333%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="600"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:16.667%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:16.667%;">100</span>
                            <span class="scale_bar" style="left:33.333%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:33.333%;">200</span>
                            <span class="scale_bar" style="left:50%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:50%;">300</span>
                            <span class="scale_bar" style="left:66.667%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:66.667%;">400</span>
                            <span class="scale_bar" style="left:83.333%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:83.333%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:100%;">600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:100%;">600</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002912">IPR002912</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002912"
                                                         class="neutral">ACT domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002912-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51671" title="PS51671 (ACT)"
       class="neutral">
        PS51671
</a>

                <span>(ACT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51671-span-1"
      class="match prosite-profiles c56 Domain"
      style="left:  33.333%;
              width: 13.333%;"
      title="PS51671 201 - 280" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51671-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c56 Domain caption_puce"></span>201 - 280</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51671' class="ext">PS51671 </a>
            <span>(ACT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002912-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01842" title="PF01842 (ACT)"
       class="neutral">
        PF01842
</a>

                <span>(ACT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01842-span-2"
      class="match pfam c56 Domain"
      style="left:  33.5%;
              width: 10.167%;"
      title="PF01842 202 - 262" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01842-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c56 Domain caption_puce"></span>202 - 262</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01842' class="ext">PF01842 </a>
            <span>(ACT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011009">IPR011009</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011009"
                                                         class="neutral">Protein kinase-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011009-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112" title="SSF56112 (Protein kinase-like (PK-like))"
       class="neutral">
        SSF56112
</a>

            <span>(Protein k...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56112-span-3"
      class="match superfamily c57 Domain"
      style="left:  47.5%;
              width: 46.333%;"
      title="SSF56112 286 - 563" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56112-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>286 - 563</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112' class="ext">SSF56112 </a>
            <span>(Protein kinase-like (PK-like))</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000719">IPR000719</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000719"
                                                         class="neutral">Protein kinase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000719-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50011" title="PS50011 (PROTEIN_KINASE_DOM)"
       class="neutral">
        PS50011
</a>

            <span>(PROTEIN_KI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50011-span-4"
      class="match prosite-profiles c57 Domain"
      style="left:  52.667%;
              width: 42.333%;"
      title="PS50011 317 - 570" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50011-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c57 Domain caption_puce"></span>317 - 570</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50011' class="ext">PS50011 </a>
            <span>(PROTEIN_KINASE_DOM)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001245">IPR001245</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001245"
                                                         class="neutral">Serine-threonine/tyrosine-protein kinase catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001245-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF07714" title="PF07714 (Pkinase_Tyr)"
       class="neutral">
        PF07714
</a>

                <span>(Pkinase_Tyr)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF07714-span-5"
      class="match pfam c57 Domain"
      style="left:  52.667%;
              width: 41.333%;"
      title="PF07714 317 - 564" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF07714-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>317 - 564</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF07714' class="ext">PF07714 </a>
            <span>(Pkinase_Tyr)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR001245-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00109&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00109 (TYRKINASE)"
       class="neutral">
        PR00109
</a>

                <span>(TYRKINASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00109-span-6"
      class="match prints c57 Domain"
      style="left:  65%;
              width: 2.333%;"
      title="PR00109 391 - 404" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00109-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints c57 Domain caption_puce"></span>391 - 404</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00109&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00109 </a>
            <span>(TYRKINASE)</span>
        </div>
    </div>


<span id="PR00109-span-7"
      class="match prints c57 Domain"
      style="left:  71.167%;
              width: 3.167%;"
      title="PR00109 428 - 446" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00109-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints c57 Domain caption_puce"></span>428 - 446</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00109&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00109 </a>
            <span>(TYRKINASE)</span>
        </div>
    </div>


<span id="PR00109-span-8"
      class="match prints c57 Domain"
      style="left:  89.333%;
              width: 3.833%;"
      title="PR00109 537 - 559" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00109-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prints c57 Domain caption_puce"></span>537 - 559</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00109&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00109 </a>
            <span>(TYRKINASE)</span>
        </div>
    </div>


<span id="PR00109-span-9"
      class="match prints c57 Domain"
      style="left:  82%;
              width: 3.833%;"
      title="PR00109 493 - 515" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00109-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prints c57 Domain caption_puce"></span>493 - 515</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00109&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00109 </a>
            <span>(TYRKINASE)</span>
        </div>
    </div>


<span id="PR00109-span-10"
      class="match prints c57 Domain"
      style="left:  78.833%;
              width: 1.833%;"
      title="PR00109 474 - 484" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00109-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prints c57 Domain caption_puce"></span>474 - 484</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00109&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00109 </a>
            <span>(TYRKINASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002290">IPR002290</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002290"
                                                         class="neutral">Serine/threonine/dual specificity protein kinase, catalytic  domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002290-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00220&amp;BLAST=DUMMY" title="SM00220 (S_TKc)"
       class="neutral">
        SM00220
</a>

                <span>(S_TKc)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00220-span-11"
      class="match smart c57 Domain"
      style="left:  52.667%;
              width: 42.333%;"
      title="SM00220 317 - 570" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00220-popup-11" style="display: none;">

        <div class="popup_topl"><span class="smart c57 Domain caption_puce"></span>317 - 570</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00220&amp;BLAST=DUMMY' class="ext">SM00220 </a>
            <span>(S_TKc)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008271">IPR008271</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008271"
                                                         class="neutral">Serine/threonine-protein kinase, active site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008271-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00108" title="PS00108 (PROTEIN_KINASE_ST)"
       class="neutral">
        PS00108
</a>

            <span>(PROTEIN_KI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00108-span-12"
      class="match prosite-patterns SITE"
      style="left:  72.167%;
              width: 2.167%;"
      title="PS00108 434 - 446" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00108-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>434 - 446</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00108' class="ext">PS00108 </a>
            <span>(PROTEIN_KINASE_ST)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.510.10" title="G3DSA:1.10.510.10"
           class="neutral">
    G3DSA:1.10.51...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA11051010-span-13"
      class="match gene3d uni"
      style="left:  63.167%;
              width: 30.5%;"
      title="G3DSA:1.10.510.10 380 - 562" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11051010-popup-13" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>380 - 562</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.510.10' class="ext">G3DSA:1.10.510.10 </a>
            <span>(G3DSA:1.10.510.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.200.20" title="G3DSA:3.30.200.20"
           class="neutral">
    G3DSA:3.30.20...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33020020-span-14"
      class="match gene3d uni"
      style="left:  47.5%;
              width: 15.667%;"
      title="G3DSA:3.30.200.20 286 - 379" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33020020-popup-14" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>286 - 379</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.200.20' class="ext">G3DSA:3.30.200.20 </a>
            <span>(G3DSA:3.30.200.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.260" title="G3DSA:3.30.70.260"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070260-span-15"
      class="match gene3d uni"
      style="left:  33.5%;
              width: 11.167%;"
      title="G3DSA:3.30.70.260 202 - 268" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070260-popup-15" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>202 - 268</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.260' class="ext">G3DSA:3.30.70.260 </a>
            <span>(G3DSA:3.30.70.260)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55021" title="SSF55021 (ACT-like)"
       class="neutral">
        SSF55021
</a>

                <span>(ACT-like)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55021-span-16"
      class="match superfamily uni"
      style="left:  33%;
              width: 11.333%;"
      title="SSF55021 199 - 266" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55021-popup-16" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>199 - 266</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55021' class="ext">SSF55021 </a>
            <span>(ACT-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.667%;" title="100"></span>
            <span class="grade" style="left:33.333%;" title="200"></span>
            <span class="grade" style="left:50%;" title="300"></span>
            <span class="grade" style="left:66.667%;" title="400"></span>
            <span class="grade" style="left:83.333%;" title="500"></span>
            <span class="grade" style="left:100%;" title="600"></span>
            <span class="grade" style="left:100%;" title="600"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006468"
                   class="ext">GO:0006468</a> protein phosphorylation
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008152"
                   class="ext">GO:0008152</a> metabolic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004672"
                   class="ext">GO:0004672</a> protein kinase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016597"
                   class="ext">GO:0016597</a> amino acid binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
