 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4558_c0_seq1|m.20456 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">126 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c23 Domain"
      style="left:  33.333%;
              width: 40.476%;"
      title="Domain 43 - 93" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c23 Domain caption_puce"></span>43 - 93
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR015915">Kelch-type beta propeller</a><span> (IPR015915)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.873%;" title="20"></span>
                    <span class="grade" style="left:31.746%;" title="40"></span>
                    <span class="grade" style="left:47.619%;" title="60"></span>
                    <span class="grade" style="left:63.492%;" title="80"></span>
                    <span class="grade" style="left:79.365%;" title="100"></span>
                    <span class="grade" style="left:100%;" title="126"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:15.873%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:15.873%;">20</span>
                            <span class="scale_bar" style="left:31.746%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:31.746%;">40</span>
                            <span class="scale_bar" style="left:47.619%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:47.619%;">60</span>
                            <span class="scale_bar" style="left:63.492%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:63.492%;">80</span>
                            <span class="scale_bar" style="left:79.365%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:79.365%;">100</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="126"></span>
                                <span class="scale_numb"
                                      style="left:100%;">126</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR015915">IPR015915</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR015915"
                                                         class="neutral">Kelch-type beta propeller</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR015915-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.120.10.80" title="G3DSA:2.120.10.80"
           class="neutral">
    G3DSA:2.120.1...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA21201080-span-1"
      class="match gene3d c23 Domain"
      style="left:  33.333%;
              width: 40.476%;"
      title="G3DSA:2.120.10.80 43 - 93" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA21201080-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c23 Domain caption_puce"></span>43 - 93</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.120.10.80' class="ext">G3DSA:2.120.10.80 </a>
            <span>(G3DSA:2.120.10.80)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="20"></span>
            <span class="grade" style="left:31.746%;" title="40"></span>
            <span class="grade" style="left:47.619%;" title="60"></span>
            <span class="grade" style="left:63.492%;" title="80"></span>
            <span class="grade" style="left:79.365%;" title="100"></span>
            <span class="grade" style="left:100%;" title="126"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF117281" title="SSF117281 (Kelch motif)"
       class="neutral">
        SSF117281
</a>

                <span>(Kelch motif)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF117281-span-2"
      class="match superfamily uni"
      style="left:  30.952%;
              width: 43.651%;"
      title="SSF117281 40 - 94" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF117281-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>40 - 94</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF117281' class="ext">SSF117281 </a>
            <span>(Kelch motif)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.873%;" title="20"></span>
            <span class="grade" style="left:31.746%;" title="40"></span>
            <span class="grade" style="left:47.619%;" title="60"></span>
            <span class="grade" style="left:63.492%;" title="80"></span>
            <span class="grade" style="left:79.365%;" title="100"></span>
            <span class="grade" style="left:100%;" title="126"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
