 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1310_c0_seq3|m.5816 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">541 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c57 Domain"
      style="left:  19.039%;
              width: 10.166%;"
      title="Domain 104 - 158" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>104 - 158
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040">NAD(P)-binding domain</a><span> (IPR016040)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c57 Domain"
      style="left:  36.044%;
              width: 34.75%;"
      title="Domain 196 - 383" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>196 - 383
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040">NAD(P)-binding domain</a><span> (IPR016040)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.242%;" title="50"></span>
                    <span class="grade" style="left:18.484%;" title="100"></span>
                    <span class="grade" style="left:27.726%;" title="150"></span>
                    <span class="grade" style="left:36.969%;" title="200"></span>
                    <span class="grade" style="left:46.211%;" title="250"></span>
                    <span class="grade" style="left:55.453%;" title="300"></span>
                    <span class="grade" style="left:64.695%;" title="350"></span>
                    <span class="grade" style="left:73.937%;" title="400"></span>
                    <span class="grade" style="left:83.179%;" title="450"></span>
                    <span class="grade" style="left:92.421%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="541"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.242%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:9.242%;">50</span>
                            <span class="scale_bar" style="left:18.484%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:18.484%;">100</span>
                            <span class="scale_bar" style="left:27.726%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:27.726%;">150</span>
                            <span class="scale_bar" style="left:36.969%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:36.969%;">200</span>
                            <span class="scale_bar" style="left:46.211%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:46.211%;">250</span>
                            <span class="scale_bar" style="left:55.453%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:55.453%;">300</span>
                            <span class="scale_bar" style="left:64.695%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:64.695%;">350</span>
                            <span class="scale_bar" style="left:73.937%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:73.937%;">400</span>
                            <span class="scale_bar" style="left:83.179%;"
                                  title="450"></span>
                                <span class="scale_numb"
                                      style="left:83.179%;">450</span>
                            <span class="scale_bar" style="left:92.421%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:92.421%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="541"></span>
                                <span class="scale_numb"
                                      style="left:100%;">541</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016040">IPR016040</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016040"
                                                         class="neutral">NAD(P)-binding domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016040-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51735" title="SSF51735 (NAD(P)-binding Rossmann-fold domains)"
       class="neutral">
        SSF51735
</a>

            <span>(NAD(P)-bi...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF51735-span-1"
      class="match superfamily c57 Domain"
      style="left:  36.414%;
              width: 34.381%;"
      title="SSF51735 198 - 383" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51735-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>198 - 383</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51735' class="ext">SSF51735 </a>
            <span>(NAD(P)-binding Rossmann-fold domains)</span>
        </div>
    </div>


<span id="SSF51735-span-2"
      class="match superfamily c57 Domain"
      style="left:  21.072%;
              width: 7.579%;"
      title="SSF51735 115 - 155" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51735-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>115 - 155</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51735' class="ext">SSF51735 </a>
            <span>(NAD(P)-binding Rossmann-fold domains)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="50"></span>
            <span class="grade" style="left:18.484%;" title="100"></span>
            <span class="grade" style="left:27.726%;" title="150"></span>
            <span class="grade" style="left:36.969%;" title="200"></span>
            <span class="grade" style="left:46.211%;" title="250"></span>
            <span class="grade" style="left:55.453%;" title="300"></span>
            <span class="grade" style="left:64.695%;" title="350"></span>
            <span class="grade" style="left:73.937%;" title="400"></span>
            <span class="grade" style="left:83.179%;" title="450"></span>
            <span class="grade" style="left:92.421%;" title="500"></span>
            <span class="grade" style="left:100%;" title="541"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR016040-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.720" title="G3DSA:3.40.50.720"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050720-span-3"
      class="match gene3d c57 Domain"
      style="left:  19.039%;
              width: 10.166%;"
      title="G3DSA:3.40.50.720 104 - 158" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050720-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>104 - 158</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.720' class="ext">G3DSA:3.40.50.720 </a>
            <span>(G3DSA:3.40.50.720)</span>
        </div>
    </div>


<span id="G3DSA34050720-span-4"
      class="match gene3d c57 Domain"
      style="left:  36.784%;
              width: 32.163%;"
      title="G3DSA:3.40.50.720 200 - 373" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050720-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>200 - 373</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.720' class="ext">G3DSA:3.40.50.720 </a>
            <span>(G3DSA:3.40.50.720)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="50"></span>
            <span class="grade" style="left:18.484%;" title="100"></span>
            <span class="grade" style="left:27.726%;" title="150"></span>
            <span class="grade" style="left:36.969%;" title="200"></span>
            <span class="grade" style="left:46.211%;" title="250"></span>
            <span class="grade" style="left:55.453%;" title="300"></span>
            <span class="grade" style="left:64.695%;" title="350"></span>
            <span class="grade" style="left:73.937%;" title="400"></span>
            <span class="grade" style="left:83.179%;" title="450"></span>
            <span class="grade" style="left:92.421%;" title="500"></span>
            <span class="grade" style="left:100%;" title="541"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR016040-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13460" title="PF13460 (NAD_binding_10)"
       class="neutral">
        PF13460
</a>

            <span>(NAD_bindin...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13460-span-5"
      class="match pfam c57 Domain"
      style="left:  36.044%;
              width: 29.39%;"
      title="PF13460 196 - 354" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13460-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>196 - 354</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13460' class="ext">PF13460 </a>
            <span>(NAD_binding_10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="50"></span>
            <span class="grade" style="left:18.484%;" title="100"></span>
            <span class="grade" style="left:27.726%;" title="150"></span>
            <span class="grade" style="left:36.969%;" title="200"></span>
            <span class="grade" style="left:46.211%;" title="250"></span>
            <span class="grade" style="left:55.453%;" title="300"></span>
            <span class="grade" style="left:64.695%;" title="350"></span>
            <span class="grade" style="left:73.937%;" title="400"></span>
            <span class="grade" style="left:83.179%;" title="450"></span>
            <span class="grade" style="left:92.421%;" title="500"></span>
            <span class="grade" style="left:100%;" title="541"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-6"
      class="match coils uni"
      style="left:  78.928%;
              width: 11.645%;"
      title="Coil 428 - 490" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-6" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>428 - 490</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.242%;" title="50"></span>
            <span class="grade" style="left:18.484%;" title="100"></span>
            <span class="grade" style="left:27.726%;" title="150"></span>
            <span class="grade" style="left:36.969%;" title="200"></span>
            <span class="grade" style="left:46.211%;" title="250"></span>
            <span class="grade" style="left:55.453%;" title="300"></span>
            <span class="grade" style="left:64.695%;" title="350"></span>
            <span class="grade" style="left:73.937%;" title="400"></span>
            <span class="grade" style="left:83.179%;" title="450"></span>
            <span class="grade" style="left:92.421%;" title="500"></span>
            <span class="grade" style="left:100%;" title="541"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
