 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5926_c0_seq0|m.25806 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">266 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR019151">Proteasome assembly chaperone 2</a><span> (IPR019151)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR016562">Proteasome assembly chaperone 2, eukaryotic</a><span> (IPR016562)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR019151">IPR019151</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR019151"
                                                         class="neutral">Proteasome assembly chaperone 2</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR019151-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF09754" title="PF09754 (PAC2)"
       class="neutral">
        PF09754
</a>

                <span>(PAC2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF09754-span-1"
      class="match pfam Family"
      style="left:  6.391%;
              width: 78.947%;"
      title="PF09754 18 - 227" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF09754-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>18 - 227</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF09754' class="ext">PF09754 </a>
            <span>(PAC2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.797%;" title="50"></span>
            <span class="grade" style="left:37.594%;" title="100"></span>
            <span class="grade" style="left:56.391%;" title="150"></span>
            <span class="grade" style="left:75.188%;" title="200"></span>
            <span class="grade" style="left:100%;" title="266"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016562">IPR016562</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016562"
                                                         class="neutral">Proteasome assembly chaperone 2, eukaryotic</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016562-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF010044" title="PIRSF010044 (UCP010044)"
       class="neutral">
        PIRSF010044
</a>

                <span>(UCP010044)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF010044-span-2"
      class="match pirsf Family"
      style="left:  5.639%;
              width: 94.361%;"
      title="PIRSF010044 16 - 266" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF010044-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>16 - 266</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF010044' class="ext">PIRSF010044 </a>
            <span>(UCP010044)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.797%;" title="50"></span>
            <span class="grade" style="left:37.594%;" title="100"></span>
            <span class="grade" style="left:56.391%;" title="150"></span>
            <span class="grade" style="left:75.188%;" title="200"></span>
            <span class="grade" style="left:100%;" title="266"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF159659" title="SSF159659 (Cgl1923-like)"
       class="neutral">
        SSF159659
</a>

            <span>(Cgl1923-...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF159659-span-3"
      class="match superfamily uni"
      style="left:  5.639%;
              width: 53.008%;"
      title="SSF159659 16 - 156" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF159659-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>16 - 156</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF159659' class="ext">SSF159659 </a>
            <span>(Cgl1923-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:18.797%;" title="50"></span>
            <span class="grade" style="left:37.594%;" title="100"></span>
            <span class="grade" style="left:56.391%;" title="150"></span>
            <span class="grade" style="left:75.188%;" title="200"></span>
            <span class="grade" style="left:100%;" title="266"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
