 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp7274_c0_seq1|m.30568 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">473 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR016691">tRNA guanosine-2'-O-methyltransferase, TRM11</a><span> (IPR016691)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c52 Domain"
      style="left:  39.958%;
              width: 26.004%;"
      title="Domain 190 - 312" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c52 Domain caption_puce"></span>190 - 312
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000241">Putative RNA methylase domain</a><span> (IPR000241)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.571%;" title="50"></span>
                    <span class="grade" style="left:21.142%;" title="100"></span>
                    <span class="grade" style="left:31.712%;" title="150"></span>
                    <span class="grade" style="left:42.283%;" title="200"></span>
                    <span class="grade" style="left:52.854%;" title="250"></span>
                    <span class="grade" style="left:63.425%;" title="300"></span>
                    <span class="grade" style="left:73.996%;" title="350"></span>
                    <span class="grade" style="left:84.567%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="473"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c57 Domain"
      style="left:  40.592%;
              width: 47.992%;"
      title="Domain 193 - 419" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>193 - 419
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029063">S-adenosyl-L-methionine-dependent methyltransferase</a><span> (IPR029063)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c57 Domain"
      style="left:  88.584%;
              width: 2.114%;"
      title="Domain 420 - 429" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>420 - 429
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029063">S-adenosyl-L-methionine-dependent methyltransferase</a><span> (IPR029063)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.571%;" title="50"></span>
                    <span class="grade" style="left:21.142%;" title="100"></span>
                    <span class="grade" style="left:31.712%;" title="150"></span>
                    <span class="grade" style="left:42.283%;" title="200"></span>
                    <span class="grade" style="left:52.854%;" title="250"></span>
                    <span class="grade" style="left:63.425%;" title="300"></span>
                    <span class="grade" style="left:73.996%;" title="350"></span>
                    <span class="grade" style="left:84.567%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="473"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10.571%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:10.571%;">50</span>
                            <span class="scale_bar" style="left:21.142%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:21.142%;">100</span>
                            <span class="scale_bar" style="left:31.712%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:31.712%;">150</span>
                            <span class="scale_bar" style="left:42.283%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:42.283%;">200</span>
                            <span class="scale_bar" style="left:52.854%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:52.854%;">250</span>
                            <span class="scale_bar" style="left:63.425%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:63.425%;">300</span>
                            <span class="scale_bar" style="left:73.996%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:73.996%;">350</span>
                            <span class="scale_bar" style="left:84.567%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:84.567%;">400</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="473"></span>
                                <span class="scale_numb"
                                      style="left:100%;">473</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016691">IPR016691</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016691"
                                                         class="neutral">tRNA guanosine-2'-O-methyltransferase, TRM11</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016691-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51627" title="PS51627 (SAM_MT_TRM11)"
       class="neutral">
        PS51627
</a>

                <span>(SAM_MT_TRM11)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51627-span-1"
      class="match prosite-profiles Family"
      style="left:  1.48%;
              width: 98.52%;"
      title="PS51627 8 - 473" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51627-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles Family caption_puce"></span>8 - 473</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51627' class="ext">PS51627 </a>
            <span>(SAM_MT_TRM11)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.571%;" title="50"></span>
            <span class="grade" style="left:21.142%;" title="100"></span>
            <span class="grade" style="left:31.712%;" title="150"></span>
            <span class="grade" style="left:42.283%;" title="200"></span>
            <span class="grade" style="left:52.854%;" title="250"></span>
            <span class="grade" style="left:63.425%;" title="300"></span>
            <span class="grade" style="left:73.996%;" title="350"></span>
            <span class="grade" style="left:84.567%;" title="400"></span>
            <span class="grade" style="left:100%;" title="473"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000241">IPR000241</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000241"
                                                         class="neutral">Putative RNA methylase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000241-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01170" title="PF01170 (UPF0020)"
       class="neutral">
        PF01170
</a>

                <span>(UPF0020)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01170-span-2"
      class="match pfam c52 Domain"
      style="left:  39.958%;
              width: 26.004%;"
      title="PF01170 190 - 312" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01170-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c52 Domain caption_puce"></span>190 - 312</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01170' class="ext">PF01170 </a>
            <span>(UPF0020)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.571%;" title="50"></span>
            <span class="grade" style="left:21.142%;" title="100"></span>
            <span class="grade" style="left:31.712%;" title="150"></span>
            <span class="grade" style="left:42.283%;" title="200"></span>
            <span class="grade" style="left:52.854%;" title="250"></span>
            <span class="grade" style="left:63.425%;" title="300"></span>
            <span class="grade" style="left:73.996%;" title="350"></span>
            <span class="grade" style="left:84.567%;" title="400"></span>
            <span class="grade" style="left:100%;" title="473"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029063">IPR029063</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029063"
                                                         class="neutral">S-adenosyl-L-methionine-dependent methyltransferase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029063-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53335" title="SSF53335 (S-adenosyl-L-methionine-dependent methyltransferases)"
       class="neutral">
        SSF53335
</a>

            <span>(S-adenosy...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53335-span-3"
      class="match superfamily c57 Domain"
      style="left:  42.495%;
              width: 46.089%;"
      title="SSF53335 202 - 419" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53335-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>202 - 419</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53335' class="ext">SSF53335 </a>
            <span>(S-adenosyl-L-methionine-dependent methyltransferases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.571%;" title="50"></span>
            <span class="grade" style="left:21.142%;" title="100"></span>
            <span class="grade" style="left:31.712%;" title="150"></span>
            <span class="grade" style="left:42.283%;" title="200"></span>
            <span class="grade" style="left:52.854%;" title="250"></span>
            <span class="grade" style="left:63.425%;" title="300"></span>
            <span class="grade" style="left:73.996%;" title="350"></span>
            <span class="grade" style="left:84.567%;" title="400"></span>
            <span class="grade" style="left:100%;" title="473"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029063-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.150" title="G3DSA:3.40.50.150"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050150-span-4"
      class="match gene3d c57 Domain"
      style="left:  40.592%;
              width: 23.679%;"
      title="G3DSA:3.40.50.150 193 - 304" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050150-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>193 - 304</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.150' class="ext">G3DSA:3.40.50.150 </a>
            <span>(G3DSA:3.40.50.150)</span>
        </div>
    </div>


<span id="G3DSA34050150-span-5"
      class="match gene3d c57 Domain"
      style="left:  88.584%;
              width: 2.114%;"
      title="G3DSA:3.40.50.150 420 - 429" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050150-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>420 - 429</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.150' class="ext">G3DSA:3.40.50.150 </a>
            <span>(G3DSA:3.40.50.150)</span>
        </div>
    </div>


<span id="G3DSA34050150-span-6"
      class="match gene3d c57 Domain"
      style="left:  73.15%;
              width: 5.497%;"
      title="G3DSA:3.40.50.150 347 - 372" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050150-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d c57 Domain caption_puce"></span>347 - 372</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.150' class="ext">G3DSA:3.40.50.150 </a>
            <span>(G3DSA:3.40.50.150)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.571%;" title="50"></span>
            <span class="grade" style="left:21.142%;" title="100"></span>
            <span class="grade" style="left:31.712%;" title="150"></span>
            <span class="grade" style="left:42.283%;" title="200"></span>
            <span class="grade" style="left:52.854%;" title="250"></span>
            <span class="grade" style="left:63.425%;" title="300"></span>
            <span class="grade" style="left:73.996%;" title="350"></span>
            <span class="grade" style="left:84.567%;" title="400"></span>
            <span class="grade" style="left:100%;" title="473"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002052">IPR002052</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002052"
                                                         class="neutral">DNA methylase, N-6 adenine-specific, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002052-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00092" title="PS00092 (N6_MTASE)"
       class="neutral">
        PS00092
</a>

                <span>(N6_MTASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00092-span-7"
      class="match prosite-patterns SITE"
      style="left:  62.368%;
              width: 1.48%;"
      title="PS00092 296 - 302" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00092-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>296 - 302</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00092' class="ext">PS00092 </a>
            <span>(N6_MTASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.571%;" title="50"></span>
            <span class="grade" style="left:21.142%;" title="100"></span>
            <span class="grade" style="left:31.712%;" title="150"></span>
            <span class="grade" style="left:42.283%;" title="200"></span>
            <span class="grade" style="left:52.854%;" title="250"></span>
            <span class="grade" style="left:63.425%;" title="300"></span>
            <span class="grade" style="left:73.996%;" title="350"></span>
            <span class="grade" style="left:84.567%;" title="400"></span>
            <span class="grade" style="left:100%;" title="473"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF017259" title="PIRSF017259 (tRNA_Mtase_TRM11)"
       class="neutral">
        PIRSF017259
</a>

            <span>(tRNA_M...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF017259-span-8"
      class="match pirsf uni"
      style="left:  0%;
              width: 94.926%;"
      title="PIRSF017259 1 - 449" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF017259-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pirsf uni caption_puce"></span>1 - 449</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF017259' class="ext">PIRSF017259 </a>
            <span>(tRNA_Mtase_TRM11)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.571%;" title="50"></span>
            <span class="grade" style="left:21.142%;" title="100"></span>
            <span class="grade" style="left:31.712%;" title="150"></span>
            <span class="grade" style="left:42.283%;" title="200"></span>
            <span class="grade" style="left:52.854%;" title="250"></span>
            <span class="grade" style="left:63.425%;" title="300"></span>
            <span class="grade" style="left:73.996%;" title="350"></span>
            <span class="grade" style="left:84.567%;" title="400"></span>
            <span class="grade" style="left:100%;" title="473"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0032259"
                   class="ext">GO:0032259</a> methylation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003676"
                   class="ext">GO:0003676</a> nucleic acid binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008168"
                   class="ext">GO:0008168</a> methyltransferase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
