 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp11357_c0_seq3|m.40370 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,735 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c4 Domain"
      style="left:  27.378%;
              width: 3.862%;"
      title="Domain 476 - 542" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>476 - 542
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c4 Domain"
      style="left:  34.352%;
              width: 4.726%;"
      title="Domain 597 - 678" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>597 - 678
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c4 Domain"
      style="left:  43.919%;
              width: 19.539%;"
      title="Domain 763 - 1,101" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>763 - 1,101
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.527%;" title="200"></span>
                    <span class="grade" style="left:23.055%;" title="400"></span>
                    <span class="grade" style="left:34.582%;" title="600"></span>
                    <span class="grade" style="left:46.11%;" title="800"></span>
                    <span class="grade" style="left:57.637%;" title="1000"></span>
                    <span class="grade" style="left:69.164%;" title="1200"></span>
                    <span class="grade" style="left:80.692%;" title="1400"></span>
                    <span class="grade" style="left:92.219%;" title="1600"></span>
                    <span class="grade" style="left:100%;" title="1735"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.527%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:11.527%;">200</span>
                            <span class="scale_bar" style="left:23.055%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:23.055%;">400</span>
                            <span class="scale_bar" style="left:34.582%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:34.582%;">600</span>
                            <span class="scale_bar" style="left:46.11%;"
                                  title="800"></span>
                                <span class="scale_numb"
                                      style="left:46.11%;">800</span>
                            <span class="scale_bar" style="left:57.637%;"
                                  title="1000"></span>
                                <span class="scale_numb"
                                      style="left:57.637%;">1000</span>
                            <span class="scale_bar" style="left:69.164%;"
                                  title="1200"></span>
                                <span class="scale_numb"
                                      style="left:69.164%;">1200</span>
                            <span class="scale_bar" style="left:80.692%;"
                                  title="1400"></span>
                                <span class="scale_numb"
                                      style="left:80.692%;">1400</span>
                            <span class="scale_bar" style="left:92.219%;"
                                  title="1600"></span>
                                <span class="scale_numb"
                                      style="left:92.219%;">1600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="1735"></span>
                                <span class="scale_numb"
                                      style="left:100%;">1735</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR027417">IPR027417</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417"
                                                         class="neutral">P-loop containing nucleoside triphosphate hydrolase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR027417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.300" title="G3DSA:3.40.50.300"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050300-span-1"
      class="match gene3d c4 Domain"
      style="left:  34.409%;
              width: 4.669%;"
      title="G3DSA:3.40.50.300 598 - 678" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>598 - 678</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


<span id="G3DSA34050300-span-2"
      class="match gene3d c4 Domain"
      style="left:  47.493%;
              width: 5.706%;"
      title="G3DSA:3.40.50.300 825 - 923" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>825 - 923</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


<span id="G3DSA34050300-span-3"
      class="match gene3d c4 Domain"
      style="left:  27.378%;
              width: 3.862%;"
      title="G3DSA:3.40.50.300 476 - 542" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>476 - 542</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.527%;" title="200"></span>
            <span class="grade" style="left:23.055%;" title="400"></span>
            <span class="grade" style="left:34.582%;" title="600"></span>
            <span class="grade" style="left:46.11%;" title="800"></span>
            <span class="grade" style="left:57.637%;" title="1000"></span>
            <span class="grade" style="left:69.164%;" title="1200"></span>
            <span class="grade" style="left:80.692%;" title="1400"></span>
            <span class="grade" style="left:92.219%;" title="1600"></span>
            <span class="grade" style="left:100%;" title="1735"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR027417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540" title="SSF52540 (P-loop containing nucleoside triphosphate hydrolases)"
       class="neutral">
        SSF52540
</a>

            <span>(P-loop co...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52540-span-4"
      class="match superfamily c4 Domain"
      style="left:  43.919%;
              width: 19.539%;"
      title="SSF52540 763 - 1,101" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>763 - 1,101</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


<span id="SSF52540-span-5"
      class="match superfamily c4 Domain"
      style="left:  34.352%;
              width: 4.38%;"
      title="SSF52540 597 - 672" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>597 - 672</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


<span id="SSF52540-span-6"
      class="match superfamily c4 Domain"
      style="left:  27.954%;
              width: 3.228%;"
      title="SSF52540 486 - 541" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>486 - 541</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.527%;" title="200"></span>
            <span class="grade" style="left:23.055%;" title="400"></span>
            <span class="grade" style="left:34.582%;" title="600"></span>
            <span class="grade" style="left:46.11%;" title="800"></span>
            <span class="grade" style="left:57.637%;" title="1000"></span>
            <span class="grade" style="left:69.164%;" title="1200"></span>
            <span class="grade" style="left:80.692%;" title="1400"></span>
            <span class="grade" style="left:92.219%;" title="1600"></span>
            <span class="grade" style="left:100%;" title="1735"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-7"
      class="match coils uni"
      style="left:  42.997%;
              width: 1.21%;"
      title="Coil 747 - 767" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-7" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>747 - 767</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.527%;" title="200"></span>
            <span class="grade" style="left:23.055%;" title="400"></span>
            <span class="grade" style="left:34.582%;" title="600"></span>
            <span class="grade" style="left:46.11%;" title="800"></span>
            <span class="grade" style="left:57.637%;" title="1000"></span>
            <span class="grade" style="left:69.164%;" title="1200"></span>
            <span class="grade" style="left:80.692%;" title="1400"></span>
            <span class="grade" style="left:92.219%;" title="1600"></span>
            <span class="grade" style="left:100%;" title="1735"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13086" title="PF13086 (AAA_11)"
       class="neutral">
        PF13086
</a>

                <span>(AAA_11)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13086-span-8"
      class="match pfam uni"
      style="left:  28.357%;
              width: 21.902%;"
      title="PF13086 493 - 872" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13086-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam uni caption_puce"></span>493 - 872</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13086' class="ext">PF13086 </a>
            <span>(AAA_11)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.527%;" title="200"></span>
            <span class="grade" style="left:23.055%;" title="400"></span>
            <span class="grade" style="left:34.582%;" title="600"></span>
            <span class="grade" style="left:46.11%;" title="800"></span>
            <span class="grade" style="left:57.637%;" title="1000"></span>
            <span class="grade" style="left:69.164%;" title="1200"></span>
            <span class="grade" style="left:80.692%;" title="1400"></span>
            <span class="grade" style="left:92.219%;" title="1600"></span>
            <span class="grade" style="left:100%;" title="1735"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF13087" title="PF13087 (AAA_12)"
       class="neutral">
        PF13087
</a>

                <span>(AAA_12)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF13087-span-9"
      class="match pfam uni"
      style="left:  50.605%;
              width: 11.758%;"
      title="PF13087 879 - 1,082" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF13087-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam uni caption_puce"></span>879 - 1,082</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF13087' class="ext">PF13087 </a>
            <span>(AAA_12)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.527%;" title="200"></span>
            <span class="grade" style="left:23.055%;" title="400"></span>
            <span class="grade" style="left:34.582%;" title="600"></span>
            <span class="grade" style="left:46.11%;" title="800"></span>
            <span class="grade" style="left:57.637%;" title="1000"></span>
            <span class="grade" style="left:69.164%;" title="1200"></span>
            <span class="grade" style="left:80.692%;" title="1400"></span>
            <span class="grade" style="left:92.219%;" title="1600"></span>
            <span class="grade" style="left:100%;" title="1735"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
