 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp9946_c0_seq0|m.37817 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">195 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c58 Domain"
      style="left:  8.205%;
              width: 46.667%;"
      title="Domain 17 - 107" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c58 Domain caption_puce"></span>17 - 107
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016140">Bifunctional inhibitor/plant lipid transfer protein/seed storage helical domain</a><span> (IPR016140)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10.256%;" title="20"></span>
                    <span class="grade" style="left:20.513%;" title="40"></span>
                    <span class="grade" style="left:30.769%;" title="60"></span>
                    <span class="grade" style="left:41.026%;" title="80"></span>
                    <span class="grade" style="left:51.282%;" title="100"></span>
                    <span class="grade" style="left:61.538%;" title="120"></span>
                    <span class="grade" style="left:71.795%;" title="140"></span>
                    <span class="grade" style="left:82.051%;" title="160"></span>
                    <span class="grade" style="left:92.308%;" title="180"></span>
                    <span class="grade" style="left:100%;" title="195"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10.256%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:10.256%;">20</span>
                            <span class="scale_bar" style="left:20.513%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:20.513%;">40</span>
                            <span class="scale_bar" style="left:30.769%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:30.769%;">60</span>
                            <span class="scale_bar" style="left:41.026%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:41.026%;">80</span>
                            <span class="scale_bar" style="left:51.282%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:51.282%;">100</span>
                            <span class="scale_bar" style="left:61.538%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:61.538%;">120</span>
                            <span class="scale_bar" style="left:71.795%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:71.795%;">140</span>
                            <span class="scale_bar" style="left:82.051%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:82.051%;">160</span>
                            <span class="scale_bar" style="left:92.308%;"
                                  title="180"></span>
                                <span class="scale_numb"
                                      style="left:92.308%;">180</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="195"></span>
                                <span class="scale_numb"
                                      style="left:100%;">195</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016140">IPR016140</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016140"
                                                         class="neutral">Bifunctional inhibitor/plant lipid transfer protein/seed storage helical domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016140-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF47699" title="SSF47699 (Bifunctional inhibitor/lipid-transfer protein/seed storage 2S albumin)"
       class="neutral">
        SSF47699
</a>

            <span>(Bifunctio...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF47699-span-1"
      class="match superfamily c58 Domain"
      style="left:  21.538%;
              width: 33.333%;"
      title="SSF47699 43 - 107" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF47699-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c58 Domain caption_puce"></span>43 - 107</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF47699' class="ext">SSF47699 </a>
            <span>(Bifunctional inhibitor/lipid-transfer protein/seed storage 2S albumin)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.256%;" title="20"></span>
            <span class="grade" style="left:20.513%;" title="40"></span>
            <span class="grade" style="left:30.769%;" title="60"></span>
            <span class="grade" style="left:41.026%;" title="80"></span>
            <span class="grade" style="left:51.282%;" title="100"></span>
            <span class="grade" style="left:61.538%;" title="120"></span>
            <span class="grade" style="left:71.795%;" title="140"></span>
            <span class="grade" style="left:82.051%;" title="160"></span>
            <span class="grade" style="left:92.308%;" title="180"></span>
            <span class="grade" style="left:100%;" title="195"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR016140-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14368" title="PF14368 (LTP_2)"
       class="neutral">
        PF14368
</a>

                <span>(LTP_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14368-span-2"
      class="match pfam c58 Domain"
      style="left:  8.205%;
              width: 44.615%;"
      title="PF14368 17 - 103" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14368-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c58 Domain caption_puce"></span>17 - 103</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14368' class="ext">PF14368 </a>
            <span>(LTP_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.256%;" title="20"></span>
            <span class="grade" style="left:20.513%;" title="40"></span>
            <span class="grade" style="left:30.769%;" title="60"></span>
            <span class="grade" style="left:41.026%;" title="80"></span>
            <span class="grade" style="left:51.282%;" title="100"></span>
            <span class="grade" style="left:61.538%;" title="120"></span>
            <span class="grade" style="left:71.795%;" title="140"></span>
            <span class="grade" style="left:82.051%;" title="160"></span>
            <span class="grade" style="left:92.308%;" title="180"></span>
            <span class="grade" style="left:100%;" title="195"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01217&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR01217 (PRICHEXTENSN)"
       class="neutral">
        PR01217
</a>

                <span>(PRICHEXTENSN)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR01217-span-3"
      class="match prints uni"
      style="left:  55.897%;
              width: 11.282%;"
      title="PR01217 110 - 131" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01217-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>110 - 131</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01217&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01217 </a>
            <span>(PRICHEXTENSN)</span>
        </div>
    </div>


<span id="PR01217-span-4"
      class="match prints uni"
      style="left:  85.128%;
              width: 13.333%;"
      title="PR01217 167 - 192" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01217-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>167 - 192</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01217&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01217 </a>
            <span>(PRICHEXTENSN)</span>
        </div>
    </div>


<span id="PR01217-span-5"
      class="match prints uni"
      style="left:  12.308%;
              width: 8.718%;"
      title="PR01217 25 - 41" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01217-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>25 - 41</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01217&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01217 </a>
            <span>(PRICHEXTENSN)</span>
        </div>
    </div>


<span id="PR01217-span-6"
      class="match prints uni"
      style="left:  75.897%;
              width: 9.231%;"
      title="PR01217 149 - 166" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01217-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>149 - 166</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01217&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01217 </a>
            <span>(PRICHEXTENSN)</span>
        </div>
    </div>


<span id="PR01217-span-7"
      class="match prints uni"
      style="left:  66.667%;
              width: 8.718%;"
      title="PR01217 131 - 147" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR01217-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints uni caption_puce"></span>131 - 147</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR01217&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR01217 </a>
            <span>(PRICHEXTENSN)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.256%;" title="20"></span>
            <span class="grade" style="left:20.513%;" title="40"></span>
            <span class="grade" style="left:30.769%;" title="60"></span>
            <span class="grade" style="left:41.026%;" title="80"></span>
            <span class="grade" style="left:51.282%;" title="100"></span>
            <span class="grade" style="left:61.538%;" title="120"></span>
            <span class="grade" style="left:71.795%;" title="140"></span>
            <span class="grade" style="left:82.051%;" title="160"></span>
            <span class="grade" style="left:92.308%;" title="180"></span>
            <span class="grade" style="left:100%;" title="195"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
