 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4424_c0_seq1|m.19915 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">524 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002745">Phosphotransferase KptA/Tpt1</a><span> (IPR002745)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002745">IPR002745</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002745"
                                                         class="neutral">Phosphotransferase KptA/Tpt1</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002745-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01885" title="PF01885 (PTS_2-RNA)"
       class="neutral">
        PF01885
</a>

                <span>(PTS_2-RNA)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01885-span-1"
      class="match pfam Family"
      style="left:  61.641%;
              width: 34.351%;"
      title="PF01885 324 - 503" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01885-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>324 - 503</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01885' class="ext">PF01885 </a>
            <span>(PTS_2-RNA)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.542%;" title="50"></span>
            <span class="grade" style="left:19.084%;" title="100"></span>
            <span class="grade" style="left:28.626%;" title="150"></span>
            <span class="grade" style="left:38.168%;" title="200"></span>
            <span class="grade" style="left:47.71%;" title="250"></span>
            <span class="grade" style="left:57.252%;" title="300"></span>
            <span class="grade" style="left:66.794%;" title="350"></span>
            <span class="grade" style="left:76.336%;" title="400"></span>
            <span class="grade" style="left:85.878%;" title="450"></span>
            <span class="grade" style="left:100%;" title="524"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56399" title="SSF56399 (ADP-ribosylation)"
       class="neutral">
        SSF56399
</a>

            <span>(ADP-ribos...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56399-span-2"
      class="match superfamily uni"
      style="left:  61.832%;
              width: 34.542%;"
      title="SSF56399 325 - 505" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56399-popup-2" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>325 - 505</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56399' class="ext">SSF56399 </a>
            <span>(ADP-ribosylation)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.542%;" title="50"></span>
            <span class="grade" style="left:19.084%;" title="100"></span>
            <span class="grade" style="left:28.626%;" title="150"></span>
            <span class="grade" style="left:38.168%;" title="200"></span>
            <span class="grade" style="left:47.71%;" title="250"></span>
            <span class="grade" style="left:57.252%;" title="300"></span>
            <span class="grade" style="left:66.794%;" title="350"></span>
            <span class="grade" style="left:76.336%;" title="400"></span>
            <span class="grade" style="left:85.878%;" title="450"></span>
            <span class="grade" style="left:100%;" title="524"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006388"
                   class="ext">GO:0006388</a> tRNA splicing, via endonucleolytic cleavage and ligation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016772"
                   class="ext">GO:0016772</a> transferase activity, transferring phosphorus-containing groups
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
