 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp2232_c0_seq4|m.9866 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">200 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c6 Domain"
      style="left:  0.5%;
              width: 73%;"
      title="Domain 2 - 147" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c6 Domain caption_puce"></span>2 - 147
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000023">Phosphofructokinase domain</a><span> (IPR000023)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:10%;" title="20"></span>
                    <span class="grade" style="left:20%;" title="40"></span>
                    <span class="grade" style="left:30%;" title="60"></span>
                    <span class="grade" style="left:40%;" title="80"></span>
                    <span class="grade" style="left:50%;" title="100"></span>
                    <span class="grade" style="left:60%;" title="120"></span>
                    <span class="grade" style="left:70%;" title="140"></span>
                    <span class="grade" style="left:80%;" title="160"></span>
                    <span class="grade" style="left:90%;" title="180"></span>
                    <span class="grade" style="left:100%;" title="200"></span>
                    <span class="grade" style="left:100%;" title="200"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:10%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:10%;">20</span>
                            <span class="scale_bar" style="left:20%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:20%;">40</span>
                            <span class="scale_bar" style="left:30%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:30%;">60</span>
                            <span class="scale_bar" style="left:40%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:40%;">80</span>
                            <span class="scale_bar" style="left:50%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:50%;">100</span>
                            <span class="scale_bar" style="left:60%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:60%;">120</span>
                            <span class="scale_bar" style="left:70%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:70%;">140</span>
                            <span class="scale_bar" style="left:80%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:80%;">160</span>
                            <span class="scale_bar" style="left:90%;"
                                  title="180"></span>
                                <span class="scale_numb"
                                      style="left:90%;">180</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:100%;">200</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:100%;">200</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000023">IPR000023</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000023"
                                                         class="neutral">Phosphofructokinase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000023-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53784" title="SSF53784 (Phosphofructokinase)"
       class="neutral">
        SSF53784
</a>

            <span>(Phosphofr...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53784-span-1"
      class="match superfamily c6 Domain"
      style="left:  0.5%;
              width: 73%;"
      title="SSF53784 2 - 147" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53784-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c6 Domain caption_puce"></span>2 - 147</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53784' class="ext">SSF53784 </a>
            <span>(Phosphofructokinase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10%;" title="20"></span>
            <span class="grade" style="left:20%;" title="40"></span>
            <span class="grade" style="left:30%;" title="60"></span>
            <span class="grade" style="left:40%;" title="80"></span>
            <span class="grade" style="left:50%;" title="100"></span>
            <span class="grade" style="left:60%;" title="120"></span>
            <span class="grade" style="left:70%;" title="140"></span>
            <span class="grade" style="left:80%;" title="160"></span>
            <span class="grade" style="left:90%;" title="180"></span>
            <span class="grade" style="left:100%;" title="200"></span>
            <span class="grade" style="left:100%;" title="200"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.460" title="G3DSA:3.40.50.460"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050460-span-2"
      class="match gene3d uni"
      style="left:  0.5%;
              width: 57.5%;"
      title="G3DSA:3.40.50.460 2 - 116" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050460-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>2 - 116</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.460' class="ext">G3DSA:3.40.50.460 </a>
            <span>(G3DSA:3.40.50.460)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10%;" title="20"></span>
            <span class="grade" style="left:20%;" title="40"></span>
            <span class="grade" style="left:30%;" title="60"></span>
            <span class="grade" style="left:40%;" title="80"></span>
            <span class="grade" style="left:50%;" title="100"></span>
            <span class="grade" style="left:60%;" title="120"></span>
            <span class="grade" style="left:70%;" title="140"></span>
            <span class="grade" style="left:80%;" title="160"></span>
            <span class="grade" style="left:90%;" title="180"></span>
            <span class="grade" style="left:100%;" title="200"></span>
            <span class="grade" style="left:100%;" title="200"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006096"
                   class="ext">GO:0006096</a> glycolytic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003872"
                   class="ext">GO:0003872</a> 6-phosphofructokinase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
