 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp4067_c0_seq1|m.18416 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">404 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c14 Domain"
      style="left:  6.931%;
              width: 34.901%;"
      title="Domain 29 - 169" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c14 Domain caption_puce"></span>29 - 169
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR008974">TRAF-like</a><span> (IPR008974)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002083">MATH/TRAF domain</a><span> (IPR002083)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c48 Domain"
      style="left:  44.059%;
              width: 32.673%;"
      title="Domain 179 - 310" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c48 Domain caption_puce"></span>179 - 310
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011333">SKP1/BTB/POZ domain</a><span> (IPR011333)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000210">BTB/POZ domain</a><span> (IPR000210)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.376%;" title="50"></span>
                    <span class="grade" style="left:24.752%;" title="100"></span>
                    <span class="grade" style="left:37.129%;" title="150"></span>
                    <span class="grade" style="left:49.505%;" title="200"></span>
                    <span class="grade" style="left:61.881%;" title="250"></span>
                    <span class="grade" style="left:74.257%;" title="300"></span>
                    <span class="grade" style="left:86.634%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="404"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.376%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:12.376%;">50</span>
                            <span class="scale_bar" style="left:24.752%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:24.752%;">100</span>
                            <span class="scale_bar" style="left:37.129%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:37.129%;">150</span>
                            <span class="scale_bar" style="left:49.505%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:49.505%;">200</span>
                            <span class="scale_bar" style="left:61.881%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:61.881%;">250</span>
                            <span class="scale_bar" style="left:74.257%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:74.257%;">300</span>
                            <span class="scale_bar" style="left:86.634%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:86.634%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="404"></span>
                                <span class="scale_numb"
                                      style="left:100%;">404</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008974">IPR008974</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008974"
                                                         class="neutral">TRAF-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008974-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF49599" title="SSF49599 (TRAF domain-like)"
       class="neutral">
        SSF49599
</a>

            <span>(TRAF doma...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF49599-span-1"
      class="match superfamily c14 Domain"
      style="left:  6.931%;
              width: 34.653%;"
      title="SSF49599 29 - 168" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF49599-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c14 Domain caption_puce"></span>29 - 168</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF49599' class="ext">SSF49599 </a>
            <span>(TRAF domain-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR008974-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.60.210.10" title="G3DSA:2.60.210.10"
           class="neutral">
    G3DSA:2.60.21...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA26021010-span-2"
      class="match gene3d c14 Domain"
      style="left:  6.931%;
              width: 34.901%;"
      title="G3DSA:2.60.210.10 29 - 169" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA26021010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c14 Domain caption_puce"></span>29 - 169</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.60.210.10' class="ext">G3DSA:2.60.210.10 </a>
            <span>(G3DSA:2.60.210.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002083">IPR002083</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002083"
                                                         class="neutral">MATH/TRAF domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002083-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50144" title="PS50144 (MATH)"
       class="neutral">
        PS50144
</a>

                <span>(MATH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50144-span-3"
      class="match prosite-profiles c14 Domain"
      style="left:  7.673%;
              width: 33.416%;"
      title="PS50144 32 - 166" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50144-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c14 Domain caption_puce"></span>32 - 166</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50144' class="ext">PS50144 </a>
            <span>(MATH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002083-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00061&amp;BLAST=DUMMY" title="SM00061 (MATH)"
       class="neutral">
        SM00061
</a>

                <span>(MATH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00061-span-4"
      class="match smart c14 Domain"
      style="left:  8.911%;
              width: 27.97%;"
      title="SM00061 37 - 149" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00061-popup-4" style="display: none;">

        <div class="popup_topl"><span class="smart c14 Domain caption_puce"></span>37 - 149</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00061&amp;BLAST=DUMMY' class="ext">SM00061 </a>
            <span>(MATH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011333">IPR011333</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011333"
                                                         class="neutral">SKP1/BTB/POZ domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011333-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54695" title="SSF54695 (POZ domain)"
       class="neutral">
        SSF54695
</a>

                <span>(POZ domain)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF54695-span-5"
      class="match superfamily c48 Domain"
      style="left:  44.059%;
              width: 32.178%;"
      title="SSF54695 179 - 308" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF54695-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c48 Domain caption_puce"></span>179 - 308</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54695' class="ext">SSF54695 </a>
            <span>(POZ domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000210">IPR000210</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000210"
                                                         class="neutral">BTB/POZ domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000210-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00651" title="PF00651 (BTB)"
       class="neutral">
        PF00651
</a>

                <span>(BTB)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00651-span-6"
      class="match pfam c48 Domain"
      style="left:  47.525%;
              width: 28.713%;"
      title="PF00651 193 - 308" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00651-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c48 Domain caption_puce"></span>193 - 308</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00651' class="ext">PF00651 </a>
            <span>(BTB)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000210-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00225&amp;BLAST=DUMMY" title="SM00225 (BTB)"
       class="neutral">
        SM00225
</a>

                <span>(BTB)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00225-span-7"
      class="match smart c48 Domain"
      style="left:  49.752%;
              width: 26.98%;"
      title="SM00225 202 - 310" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00225-popup-7" style="display: none;">

        <div class="popup_topl"><span class="smart c48 Domain caption_puce"></span>202 - 310</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00225&amp;BLAST=DUMMY' class="ext">SM00225 </a>
            <span>(BTB)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000210-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50097" title="PS50097 (BTB)"
       class="neutral">
        PS50097
</a>

                <span>(BTB)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50097-span-8"
      class="match prosite-profiles c48 Domain"
      style="left:  49.752%;
              width: 16.832%;"
      title="PS50097 202 - 269" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50097-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c48 Domain caption_puce"></span>202 - 269</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50097' class="ext">PS50097 </a>
            <span>(BTB)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.710.10" title="G3DSA:3.30.710.10"
           class="neutral">
    G3DSA:3.30.71...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33071010-span-9"
      class="match gene3d uni"
      style="left:  44.554%;
              width: 31.436%;"
      title="G3DSA:3.30.710.10 181 - 307" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33071010-popup-9" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>181 - 307</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.710.10' class="ext">G3DSA:3.30.710.10 </a>
            <span>(G3DSA:3.30.710.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
