 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp6341_c0_seq0|m.27484 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">296 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c39 Domain"
      style="left:  21.284%;
              width: 16.216%;"
      title="Domain 64 - 111" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c39 Domain caption_puce"></span>64 - 111
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000467">G-patch domain</a><span> (IPR000467)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c49 Domain"
      style="left:  54.054%;
              width: 10.135%;"
      title="Domain 161 - 190" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c49 Domain caption_puce"></span>161 - 190
        </div>
        <div class="rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR007087">Zinc finger, C2H2</a><span> (IPR007087)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.892%;" title="50"></span>
                    <span class="grade" style="left:33.784%;" title="100"></span>
                    <span class="grade" style="left:50.676%;" title="150"></span>
                    <span class="grade" style="left:67.568%;" title="200"></span>
                    <span class="grade" style="left:84.459%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="296"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-3"
      class="match c50 Domain"
      style="left:  54.054%;
              width: 9.459%;"
      title="Domain 161 - 188" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c50 Domain caption_puce"></span>161 - 188
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR022755">Zinc finger, double-stranded RNA binding</a><span> (IPR022755)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:16.892%;" title="50"></span>
                    <span class="grade" style="left:33.784%;" title="100"></span>
                    <span class="grade" style="left:50.676%;" title="150"></span>
                    <span class="grade" style="left:67.568%;" title="200"></span>
                    <span class="grade" style="left:84.459%;" title="250"></span>
                    <span class="grade" style="left:100%;" title="296"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:16.892%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:16.892%;">50</span>
                            <span class="scale_bar" style="left:33.784%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:33.784%;">100</span>
                            <span class="scale_bar" style="left:50.676%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:50.676%;">150</span>
                            <span class="scale_bar" style="left:67.568%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:67.568%;">200</span>
                            <span class="scale_bar" style="left:84.459%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:84.459%;">250</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="296"></span>
                                <span class="scale_numb"
                                      style="left:100%;">296</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000467">IPR000467</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000467"
                                                         class="neutral">G-patch domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000467-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01585" title="PF01585 (G-patch)"
       class="neutral">
        PF01585
</a>

                <span>(G-patch)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01585-span-1"
      class="match pfam c39 Domain"
      style="left:  22.297%;
              width: 13.851%;"
      title="PF01585 67 - 107" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01585-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam c39 Domain caption_puce"></span>67 - 107</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01585' class="ext">PF01585 </a>
            <span>(G-patch)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000467-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50174" title="PS50174 (G_PATCH)"
       class="neutral">
        PS50174
</a>

                <span>(G_PATCH)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50174-span-2"
      class="match prosite-profiles c39 Domain"
      style="left:  21.959%;
              width: 15.541%;"
      title="PS50174 66 - 111" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50174-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c39 Domain caption_puce"></span>66 - 111</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50174' class="ext">PS50174 </a>
            <span>(G_PATCH)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000467-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00443&amp;BLAST=DUMMY" title="SM00443 (G_patch)"
       class="neutral">
        SM00443
</a>

                <span>(G_patch)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00443-span-3"
      class="match smart c39 Domain"
      style="left:  21.284%;
              width: 15.541%;"
      title="SM00443 64 - 109" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00443-popup-3" style="display: none;">

        <div class="popup_topl"><span class="smart c39 Domain caption_puce"></span>64 - 109</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00443&amp;BLAST=DUMMY' class="ext">SM00443 </a>
            <span>(G_patch)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022755">IPR022755</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022755"
                                                         class="neutral">Zinc finger, double-stranded RNA binding</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022755-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF12171" title="PF12171 (zf-C2H2_jaz)"
       class="neutral">
        PF12171
</a>

                <span>(zf-C2H2_jaz)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF12171-span-4"
      class="match pfam c50 Domain"
      style="left:  54.054%;
              width: 9.459%;"
      title="PF12171 161 - 188" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12171-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c50 Domain caption_puce"></span>161 - 188</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12171' class="ext">PF12171 </a>
            <span>(zf-C2H2_jaz)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR007087">IPR007087</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR007087"
                                                         class="neutral">Zinc finger, C2H2</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR007087-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50157" title="PS50157 (ZINC_FINGER_C2H2_2)"
       class="neutral">
        PS50157
</a>

            <span>(ZINC_FINGE...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50157-span-5"
      class="match prosite-profiles c49 Domain"
      style="left:  54.054%;
              width: 10.135%;"
      title="PS50157 161 - 190" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50157-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c49 Domain caption_puce"></span>161 - 190</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50157' class="ext">PS50157 </a>
            <span>(ZINC_FINGER_C2H2_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR007087-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00028" title="PS00028 (ZINC_FINGER_C2H2_1)"
       class="neutral">
        PS00028
</a>

            <span>(ZINC_FINGE...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00028-span-6"
      class="match prosite-patterns c49 Domain"
      style="left:  54.73%;
              width: 7.77%;"
      title="PS00028 163 - 185" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00028-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns c49 Domain caption_puce"></span>163 - 185</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00028' class="ext">PS00028 </a>
            <span>(ZINC_FINGER_C2H2_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-7"
      class="match coils uni"
      style="left:  41.216%;
              width: 7.095%;"
      title="Coil 123 - 143" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-7" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>123 - 143</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-8"
      class="match coils uni"
      style="left:  65.203%;
              width: 7.095%;"
      title="Coil 194 - 214" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-8" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>194 - 214</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57667" title="SSF57667 (beta-beta-alpha zinc fingers)"
       class="neutral">
        SSF57667
</a>

            <span>(beta-beta...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF57667-span-9"
      class="match superfamily uni"
      style="left:  53.378%;
              width: 13.176%;"
      title="SSF57667 159 - 197" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF57667-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>159 - 197</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57667' class="ext">SSF57667 </a>
            <span>(beta-beta-alpha zinc fingers)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:16.892%;" title="50"></span>
            <span class="grade" style="left:33.784%;" title="100"></span>
            <span class="grade" style="left:50.676%;" title="150"></span>
            <span class="grade" style="left:67.568%;" title="200"></span>
            <span class="grade" style="left:84.459%;" title="250"></span>
            <span class="grade" style="left:100%;" title="296"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003676"
                   class="ext">GO:0003676</a> nucleic acid binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0046872"
                   class="ext">GO:0046872</a> metal ion binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
