 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1026_c0_seq3|m.4419 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">346 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR004487">Clp protease, ATP-binding subunit ClpX</a><span> (IPR004487)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c4 Domain"
      style="left:  0%;
              width: 80.636%;"
      title="Domain 1 - 279" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>1 - 279
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.451%;" title="50"></span>
                    <span class="grade" style="left:28.902%;" title="100"></span>
                    <span class="grade" style="left:43.353%;" title="150"></span>
                    <span class="grade" style="left:57.803%;" title="200"></span>
                    <span class="grade" style="left:72.254%;" title="250"></span>
                    <span class="grade" style="left:86.705%;" title="300"></span>
                    <span class="grade" style="left:100%;" title="346"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c4 Domain"
      style="left:  0%;
              width: 55.202%;"
      title="Domain 1 - 191" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>1 - 191
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR003959">ATPase, AAA-type, core</a><span> (IPR003959)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c59 Domain"
      style="left:  56.936%;
              width: 26.301%;"
      title="Domain 198 - 288" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c59 Domain caption_puce"></span>198 - 288
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR019489">Clp ATPase, C-terminal</a><span> (IPR019489)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.451%;" title="50"></span>
                    <span class="grade" style="left:28.902%;" title="100"></span>
                    <span class="grade" style="left:43.353%;" title="150"></span>
                    <span class="grade" style="left:57.803%;" title="200"></span>
                    <span class="grade" style="left:72.254%;" title="250"></span>
                    <span class="grade" style="left:86.705%;" title="300"></span>
                    <span class="grade" style="left:100%;" title="346"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:14.451%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:14.451%;">50</span>
                            <span class="scale_bar" style="left:28.902%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:28.902%;">100</span>
                            <span class="scale_bar" style="left:43.353%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:43.353%;">150</span>
                            <span class="scale_bar" style="left:57.803%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:57.803%;">200</span>
                            <span class="scale_bar" style="left:72.254%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:72.254%;">250</span>
                            <span class="scale_bar" style="left:86.705%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:86.705%;">300</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="346"></span>
                                <span class="scale_numb"
                                      style="left:100%;">346</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR004487">IPR004487</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR004487"
                                                         class="neutral">Clp protease, ATP-binding subunit ClpX</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR004487-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00382"
           class="neutral">
        TIGR00382
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00382-span-1"
      class="match unknown Family"
      style="left:  0%;
              width: 83.237%;"
      title="TIGR00382 1 - 288" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00382-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>1 - 288</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00382 </a>
            <span>(TIGR00382)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR027417">IPR027417</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417"
                                                         class="neutral">P-loop containing nucleoside triphosphate hydrolase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR027417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.300" title="G3DSA:3.40.50.300"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050300-span-2"
      class="match gene3d c4 Domain"
      style="left:  0%;
              width: 37.283%;"
      title="G3DSA:3.40.50.300 1 - 129" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>1 - 129</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


<span id="G3DSA34050300-span-3"
      class="match gene3d c4 Domain"
      style="left:  50.289%;
              width: 5.491%;"
      title="G3DSA:3.40.50.300 175 - 193" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>175 - 193</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR027417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540" title="SSF52540 (P-loop containing nucleoside triphosphate hydrolases)"
       class="neutral">
        SSF52540
</a>

            <span>(P-loop co...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52540-span-4"
      class="match superfamily c4 Domain"
      style="left:  0%;
              width: 80.636%;"
      title="SSF52540 1 - 279" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>1 - 279</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR003959">IPR003959</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR003959"
                                                         class="neutral">ATPase, AAA-type, core</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR003959-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF07724" title="PF07724 (AAA_2)"
       class="neutral">
        PF07724
</a>

                <span>(AAA_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF07724-span-5"
      class="match pfam c4 Domain"
      style="left:  0%;
              width: 55.202%;"
      title="PF07724 1 - 191" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF07724-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c4 Domain caption_puce"></span>1 - 191</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF07724' class="ext">PF07724 </a>
            <span>(AAA_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR019489">IPR019489</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR019489"
                                                         class="neutral">Clp ATPase, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR019489-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF10431" title="PF10431 (ClpB_D2-small)"
       class="neutral">
        PF10431
</a>

                <span>(ClpB_D2-small)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF10431-span-6"
      class="match pfam c59 Domain"
      style="left:  56.936%;
              width: 20.809%;"
      title="PF10431 198 - 269" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF10431-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c59 Domain caption_puce"></span>198 - 269</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF10431' class="ext">PF10431 </a>
            <span>(ClpB_D2-small)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR019489-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM01086&amp;BLAST=DUMMY" title="SM01086 (ClpB_D2-small)"
       class="neutral">
        SM01086
</a>

                <span>(ClpB_D2-small)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM01086-span-7"
      class="match smart c59 Domain"
      style="left:  56.936%;
              width: 26.301%;"
      title="SM01086 198 - 288" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM01086-popup-7" style="display: none;">

        <div class="popup_topl"><span class="smart c59 Domain caption_puce"></span>198 - 288</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM01086&amp;BLAST=DUMMY' class="ext">SM01086 </a>
            <span>(ClpB_D2-small)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.8.60" title="G3DSA:1.10.8.60"
           class="neutral">
        G3DSA:1.10.8.60
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110860-span-8"
      class="match gene3d uni"
      style="left:  56.936%;
              width: 25.723%;"
      title="G3DSA:1.10.8.60 198 - 286" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110860-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>198 - 286</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.8.60' class="ext">G3DSA:1.10.8.60 </a>
            <span>(G3DSA:1.10.8.60)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.451%;" title="50"></span>
            <span class="grade" style="left:28.902%;" title="100"></span>
            <span class="grade" style="left:43.353%;" title="150"></span>
            <span class="grade" style="left:57.803%;" title="200"></span>
            <span class="grade" style="left:72.254%;" title="250"></span>
            <span class="grade" style="left:86.705%;" title="300"></span>
            <span class="grade" style="left:100%;" title="346"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006457"
                   class="ext">GO:0006457</a> protein folding
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0051082"
                   class="ext">GO:0051082</a> unfolded protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
