 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5406_c0_seq0|m.23940 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">404 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000860">Porphobilinogen deaminase</a><span> (IPR000860)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c60 Domain"
      style="left:  23.515%;
              width: 52.228%;"
      title="Domain 96 - 306" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c60 Domain caption_puce"></span>96 - 306
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR022417">Porphobilinogen deaminase, N-terminal</a><span> (IPR022417)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c61 Domain"
      style="left:  77.475%;
              width: 21.782%;"
      title="Domain 314 - 401" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c61 Domain caption_puce"></span>314 - 401
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR022418">Porphobilinogen deaminase, C-terminal</a><span> (IPR022418)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.376%;" title="50"></span>
                    <span class="grade" style="left:24.752%;" title="100"></span>
                    <span class="grade" style="left:37.129%;" title="150"></span>
                    <span class="grade" style="left:49.505%;" title="200"></span>
                    <span class="grade" style="left:61.881%;" title="250"></span>
                    <span class="grade" style="left:74.257%;" title="300"></span>
                    <span class="grade" style="left:86.634%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="404"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.376%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:12.376%;">50</span>
                            <span class="scale_bar" style="left:24.752%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:24.752%;">100</span>
                            <span class="scale_bar" style="left:37.129%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:37.129%;">150</span>
                            <span class="scale_bar" style="left:49.505%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:49.505%;">200</span>
                            <span class="scale_bar" style="left:61.881%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:61.881%;">250</span>
                            <span class="scale_bar" style="left:74.257%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:74.257%;">300</span>
                            <span class="scale_bar" style="left:86.634%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:86.634%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="404"></span>
                                <span class="scale_numb"
                                      style="left:100%;">404</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000860">IPR000860</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000860"
                                                         class="neutral">Porphobilinogen deaminase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000860-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00151&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00151 (PORPHBDMNASE)"
       class="neutral">
        PR00151
</a>

                <span>(PORPHBDMNASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00151-span-1"
      class="match prints Family"
      style="left:  53.713%;
              width: 4.455%;"
      title="PR00151 218 - 235" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00151-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>218 - 235</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00151&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00151 </a>
            <span>(PORPHBDMNASE)</span>
        </div>
    </div>


<span id="PR00151-span-2"
      class="match prints Family"
      style="left:  41.832%;
              width: 4.95%;"
      title="PR00151 170 - 189" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00151-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>170 - 189</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00151&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00151 </a>
            <span>(PORPHBDMNASE)</span>
        </div>
    </div>


<span id="PR00151-span-3"
      class="match prints Family"
      style="left:  79.95%;
              width: 4.455%;"
      title="PR00151 324 - 341" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00151-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>324 - 341</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00151&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00151 </a>
            <span>(PORPHBDMNASE)</span>
        </div>
    </div>


<span id="PR00151-span-4"
      class="match prints Family"
      style="left:  34.158%;
              width: 5.198%;"
      title="PR00151 139 - 159" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00151-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>139 - 159</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00151&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00151 </a>
            <span>(PORPHBDMNASE)</span>
        </div>
    </div>


<span id="PR00151-span-5"
      class="match prints Family"
      style="left:  58.416%;
              width: 4.455%;"
      title="PR00151 237 - 254" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00151-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>237 - 254</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00151&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00151 </a>
            <span>(PORPHBDMNASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000860-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_00260" title="MF_00260 (Porphobil_deam)"
       class="neutral">
        MF_00260
</a>

            <span>(Porphobil...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_00260-span-6"
      class="match hamap Family"
      style="left:  23.267%;
              width: 74.257%;"
      title="MF_00260 95 - 394" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_00260-popup-6" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>95 - 394</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_00260' class="ext">MF_00260 </a>
            <span>(Porphobil_deam)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000860-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00212"
           class="neutral">
        TIGR00212
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00212-span-7"
      class="match unknown Family"
      style="left:  23.515%;
              width: 73.515%;"
      title="TIGR00212 96 - 392" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00212-popup-7" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>96 - 392</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00212 </a>
            <span>(TIGR00212)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022417">IPR022417</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022417"
                                                         class="neutral">Porphobilinogen deaminase, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01379" title="PF01379 (Porphobil_deam)"
       class="neutral">
        PF01379
</a>

            <span>(Porphobil_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01379-span-8"
      class="match pfam c60 Domain"
      style="left:  23.515%;
              width: 52.228%;"
      title="PF01379 96 - 306" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01379-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c60 Domain caption_puce"></span>96 - 306</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01379' class="ext">PF01379 </a>
            <span>(Porphobil_deam)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022418">IPR022418</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022418"
                                                         class="neutral">Porphobilinogen deaminase, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022418-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54782" title="SSF54782 (Porphobilinogen deaminase (hydroxymethylbilane synthase), C-terminal domain)"
       class="neutral">
        SSF54782
</a>

            <span>(Porphobil...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF54782-span-9"
      class="match superfamily c61 Domain"
      style="left:  77.475%;
              width: 21.782%;"
      title="SSF54782 314 - 401" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF54782-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily c61 Domain caption_puce"></span>314 - 401</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54782' class="ext">SSF54782 </a>
            <span>(Porphobilinogen deaminase (hydroxymethylbilane synthase), C-terminal domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR022418-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.160.40" title="G3DSA:3.30.160.40"
           class="neutral">
    G3DSA:3.30.16...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33016040-span-10"
      class="match gene3d c61 Domain"
      style="left:  77.723%;
              width: 21.04%;"
      title="G3DSA:3.30.160.40 315 - 399" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33016040-popup-10" style="display: none;">

        <div class="popup_topl"><span class="gene3d c61 Domain caption_puce"></span>315 - 399</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.160.40' class="ext">G3DSA:3.30.160.40 </a>
            <span>(G3DSA:3.30.160.40)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR022418-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF03900" title="PF03900 (Porphobil_deamC)"
       class="neutral">
        PF03900
</a>

            <span>(Porphobil_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF03900-span-11"
      class="match pfam c61 Domain"
      style="left:  79.208%;
              width: 17.822%;"
      title="PF03900 321 - 392" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF03900-popup-11" style="display: none;">

        <div class="popup_topl"><span class="pfam c61 Domain caption_puce"></span>321 - 392</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF03900' class="ext">PF03900 </a>
            <span>(Porphobil_deamC)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022419">IPR022419</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022419"
                                                         class="neutral">Porphobilinogen deaminase, dipyrromethane cofactor binding site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022419-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00533" title="PS00533 (PORPHOBILINOGEN_DEAM)"
       class="neutral">
        PS00533
</a>

            <span>(PORPHOBILI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00533-span-12"
      class="match prosite-patterns SITE"
      style="left:  80.198%;
              width: 4.208%;"
      title="PS00533 325 - 341" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00533-popup-12" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>325 - 341</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00533' class="ext">PS00533 </a>
            <span>(PORPHOBILINOGEN_DEAM)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.190.10" title="G3DSA:3.40.190.10"
           class="neutral">
    G3DSA:3.40.19...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34019010-span-13"
      class="match gene3d uni"
      style="left:  23.515%;
              width: 26.98%;"
      title="G3DSA:3.40.190.10 96 - 204" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34019010-popup-13" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>96 - 204</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.190.10' class="ext">G3DSA:3.40.190.10 </a>
            <span>(G3DSA:3.40.190.10)</span>
        </div>
    </div>


<span id="G3DSA34019010-span-14"
      class="match gene3d uni"
      style="left:  50.495%;
              width: 22.03%;"
      title="G3DSA:3.40.190.10 205 - 293" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34019010-popup-14" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>205 - 293</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.190.10' class="ext">G3DSA:3.40.190.10 </a>
            <span>(G3DSA:3.40.190.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53850" title="SSF53850 (Periplasmic binding protein-like II)"
       class="neutral">
        SSF53850
</a>

            <span>(Periplasm...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF53850-span-15"
      class="match superfamily uni"
      style="left:  23.515%;
              width: 53.713%;"
      title="SSF53850 96 - 312" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF53850-popup-15" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>96 - 312</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF53850' class="ext">SSF53850 </a>
            <span>(Periplasmic binding protein-like II)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.376%;" title="50"></span>
            <span class="grade" style="left:24.752%;" title="100"></span>
            <span class="grade" style="left:37.129%;" title="150"></span>
            <span class="grade" style="left:49.505%;" title="200"></span>
            <span class="grade" style="left:61.881%;" title="250"></span>
            <span class="grade" style="left:74.257%;" title="300"></span>
            <span class="grade" style="left:86.634%;" title="350"></span>
            <span class="grade" style="left:100%;" title="404"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0018160"
                   class="ext">GO:0018160</a> peptidyl-pyrromethane cofactor linkage
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0033014"
                   class="ext">GO:0033014</a> tetrapyrrole biosynthetic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004418"
                   class="ext">GO:0004418</a> hydroxymethylbilane synthase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
