 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp8809_c0_seq0|m.35294 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">175 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c22 Domain"
      style="left:  1.714%;
              width: 53.143%;"
      title="Domain 4 - 96" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>4 - 96
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR008984">SMAD/FHA domain</a><span> (IPR008984)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000253">Forkhead-associated (FHA) domain</a><span> (IPR000253)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.429%;" title="20"></span>
                    <span class="grade" style="left:22.857%;" title="40"></span>
                    <span class="grade" style="left:34.286%;" title="60"></span>
                    <span class="grade" style="left:45.714%;" title="80"></span>
                    <span class="grade" style="left:57.143%;" title="100"></span>
                    <span class="grade" style="left:68.571%;" title="120"></span>
                    <span class="grade" style="left:80%;" title="140"></span>
                    <span class="grade" style="left:91.429%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="175"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.429%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:11.429%;">20</span>
                            <span class="scale_bar" style="left:22.857%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:22.857%;">40</span>
                            <span class="scale_bar" style="left:34.286%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:34.286%;">60</span>
                            <span class="scale_bar" style="left:45.714%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:45.714%;">80</span>
                            <span class="scale_bar" style="left:57.143%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:57.143%;">100</span>
                            <span class="scale_bar" style="left:68.571%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:68.571%;">120</span>
                            <span class="scale_bar" style="left:80%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:80%;">140</span>
                            <span class="scale_bar" style="left:91.429%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:91.429%;">160</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="175"></span>
                                <span class="scale_numb"
                                      style="left:100%;">175</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR008984">IPR008984</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR008984"
                                                         class="neutral">SMAD/FHA domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR008984-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF49879" title="SSF49879 (SMAD/FHA domain)"
       class="neutral">
        SSF49879
</a>

            <span>(SMAD/FHA ...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF49879-span-1"
      class="match superfamily c22 Domain"
      style="left:  1.714%;
              width: 53.143%;"
      title="SSF49879 4 - 96" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF49879-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c22 Domain caption_puce"></span>4 - 96</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF49879' class="ext">SSF49879 </a>
            <span>(SMAD/FHA domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000253">IPR000253</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000253"
                                                         class="neutral">Forkhead-associated (FHA) domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000253-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50006" title="PS50006 (FHA_DOMAIN)"
       class="neutral">
        PS50006
</a>

                <span>(FHA_DOMAIN)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50006-span-2"
      class="match prosite-profiles c22 Domain"
      style="left:  15.429%;
              width: 28.571%;"
      title="PS50006 28 - 77" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50006-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c22 Domain caption_puce"></span>28 - 77</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50006' class="ext">PS50006 </a>
            <span>(FHA_DOMAIN)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000253-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.60.200.20" title="G3DSA:2.60.200.20"
           class="neutral">
    G3DSA:2.60.20...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA26020020-span-3"
      class="match gene3d c22 Domain"
      style="left:  1.714%;
              width: 52%;"
      title="G3DSA:2.60.200.20 4 - 94" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA26020020-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c22 Domain caption_puce"></span>4 - 94</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.60.200.20' class="ext">G3DSA:2.60.200.20 </a>
            <span>(G3DSA:2.60.200.20)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000253-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00240&amp;BLAST=DUMMY" title="SM00240 (FHA)"
       class="neutral">
        SM00240
</a>

                <span>(FHA)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00240-span-4"
      class="match smart c22 Domain"
      style="left:  14.857%;
              width: 29.143%;"
      title="SM00240 27 - 77" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00240-popup-4" style="display: none;">

        <div class="popup_topl"><span class="smart c22 Domain caption_puce"></span>27 - 77</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00240&amp;BLAST=DUMMY' class="ext">SM00240 </a>
            <span>(FHA)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000253-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00498" title="PF00498 (FHA)"
       class="neutral">
        PF00498
</a>

                <span>(FHA)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00498-span-5"
      class="match pfam c22 Domain"
      style="left:  15.429%;
              width: 38.286%;"
      title="PF00498 28 - 94" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00498-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c22 Domain caption_puce"></span>28 - 94</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00498' class="ext">PF00498 </a>
            <span>(FHA)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-6"
      class="match coils uni"
      style="left:  74.857%;
              width: 12%;"
      title="Coil 132 - 152" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-6" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>132 - 152</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005515"
                   class="ext">GO:0005515</a> protein binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
