 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp6067_c0_seq1|m.26366 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">565 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR014780">tRNA pseudouridine synthase II, TruB</a><span> (IPR014780)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c41 Domain"
      style="left:  60%;
              width: 38.053%;"
      title="Domain 340 - 554" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c41 Domain caption_puce"></span>340 - 554
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020103">Pseudouridine synthase, catalytic domain</a><span> (IPR020103)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:17.699%;" title="100"></span>
                    <span class="grade" style="left:35.398%;" title="200"></span>
                    <span class="grade" style="left:53.097%;" title="300"></span>
                    <span class="grade" style="left:70.796%;" title="400"></span>
                    <span class="grade" style="left:88.496%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="565"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c8 Domain"
      style="left:  63.363%;
              width: 26.726%;"
      title="Domain 359 - 509" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c8 Domain caption_puce"></span>359 - 509
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002501">Pseudouridine synthase II, N-terminal</a><span> (IPR002501)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c47 Domain"
      style="left:  90.088%;
              width: 7.788%;"
      title="Domain 510 - 553" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c47 Domain caption_puce"></span>510 - 553
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR032819">tRNA pseudouridylate synthase B, C-terminal</a><span> (IPR032819)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:17.699%;" title="100"></span>
                    <span class="grade" style="left:35.398%;" title="200"></span>
                    <span class="grade" style="left:53.097%;" title="300"></span>
                    <span class="grade" style="left:70.796%;" title="400"></span>
                    <span class="grade" style="left:88.496%;" title="500"></span>
                    <span class="grade" style="left:100%;" title="565"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:17.699%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:17.699%;">100</span>
                            <span class="scale_bar" style="left:35.398%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:35.398%;">200</span>
                            <span class="scale_bar" style="left:53.097%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:53.097%;">300</span>
                            <span class="scale_bar" style="left:70.796%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:70.796%;">400</span>
                            <span class="scale_bar" style="left:88.496%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:88.496%;">500</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="565"></span>
                                <span class="scale_numb"
                                      style="left:100%;">565</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR014780">IPR014780</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR014780"
                                                         class="neutral">tRNA pseudouridine synthase II, TruB</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR014780-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_01080" title="MF_01080 (TruB_bact)"
       class="neutral">
        MF_01080
</a>

                <span>(TruB_bact)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_01080-span-1"
      class="match hamap Family"
      style="left:  59.469%;
              width: 40.531%;"
      title="MF_01080 337 - 565" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_01080-popup-1" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>337 - 565</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_01080' class="ext">MF_01080 </a>
            <span>(TruB_bact)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.699%;" title="100"></span>
            <span class="grade" style="left:35.398%;" title="200"></span>
            <span class="grade" style="left:53.097%;" title="300"></span>
            <span class="grade" style="left:70.796%;" title="400"></span>
            <span class="grade" style="left:88.496%;" title="500"></span>
            <span class="grade" style="left:100%;" title="565"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR014780-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00431"
           class="neutral">
        TIGR00431
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00431-span-2"
      class="match unknown Family"
      style="left:  59.823%;
              width: 37.168%;"
      title="TIGR00431 339 - 548" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00431-popup-2" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>339 - 548</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00431 </a>
            <span>(TIGR00431)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.699%;" title="100"></span>
            <span class="grade" style="left:35.398%;" title="200"></span>
            <span class="grade" style="left:53.097%;" title="300"></span>
            <span class="grade" style="left:70.796%;" title="400"></span>
            <span class="grade" style="left:88.496%;" title="500"></span>
            <span class="grade" style="left:100%;" title="565"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020103">IPR020103</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020103"
                                                         class="neutral">Pseudouridine synthase, catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020103-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55120" title="SSF55120 (Pseudouridine synthase)"
       class="neutral">
        SSF55120
</a>

            <span>(Pseudouri...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55120-span-3"
      class="match superfamily c41 Domain"
      style="left:  60%;
              width: 38.053%;"
      title="SSF55120 340 - 554" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55120-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c41 Domain caption_puce"></span>340 - 554</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55120' class="ext">SSF55120 </a>
            <span>(Pseudouridine synthase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.699%;" title="100"></span>
            <span class="grade" style="left:35.398%;" title="200"></span>
            <span class="grade" style="left:53.097%;" title="300"></span>
            <span class="grade" style="left:70.796%;" title="400"></span>
            <span class="grade" style="left:88.496%;" title="500"></span>
            <span class="grade" style="left:100%;" title="565"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002501">IPR002501</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002501"
                                                         class="neutral">Pseudouridine synthase II, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002501-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01509" title="PF01509 (TruB_N)"
       class="neutral">
        PF01509
</a>

                <span>(TruB_N)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01509-span-4"
      class="match pfam c8 Domain"
      style="left:  63.363%;
              width: 26.726%;"
      title="PF01509 359 - 509" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01509-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c8 Domain caption_puce"></span>359 - 509</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01509' class="ext">PF01509 </a>
            <span>(TruB_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.699%;" title="100"></span>
            <span class="grade" style="left:35.398%;" title="200"></span>
            <span class="grade" style="left:53.097%;" title="300"></span>
            <span class="grade" style="left:70.796%;" title="400"></span>
            <span class="grade" style="left:88.496%;" title="500"></span>
            <span class="grade" style="left:100%;" title="565"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR032819">IPR032819</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR032819"
                                                         class="neutral">tRNA pseudouridylate synthase B, C-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR032819-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF16198" title="PF16198 (TruB_C_2)"
       class="neutral">
        PF16198
</a>

                <span>(TruB_C_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF16198-span-5"
      class="match pfam c47 Domain"
      style="left:  90.088%;
              width: 7.788%;"
      title="PF16198 510 - 553" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF16198-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c47 Domain caption_puce"></span>510 - 553</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF16198' class="ext">PF16198 </a>
            <span>(TruB_C_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:17.699%;" title="100"></span>
            <span class="grade" style="left:35.398%;" title="200"></span>
            <span class="grade" style="left:53.097%;" title="300"></span>
            <span class="grade" style="left:70.796%;" title="400"></span>
            <span class="grade" style="left:88.496%;" title="500"></span>
            <span class="grade" style="left:100%;" title="565"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0001522"
                   class="ext">GO:0001522</a> pseudouridine synthesis
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006396"
                   class="ext">GO:0006396</a> RNA processing
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009451"
                   class="ext">GO:0009451</a> RNA modification
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003723"
                   class="ext">GO:0003723</a> RNA binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0009982"
                   class="ext">GO:0009982</a> pseudouridine synthase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
