 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp5321_c0_seq1|m.23577 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">687 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c36 Domain"
      style="left:  1.456%;
              width: 11.354%;"
      title="Domain 11 - 88" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c36 Domain caption_puce"></span>11 - 88
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR004181">Zinc finger, MIZ-type</a><span> (IPR004181)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.556%;" title="100"></span>
                    <span class="grade" style="left:29.112%;" title="200"></span>
                    <span class="grade" style="left:43.668%;" title="300"></span>
                    <span class="grade" style="left:58.224%;" title="400"></span>
                    <span class="grade" style="left:72.78%;" title="500"></span>
                    <span class="grade" style="left:87.336%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="687"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c52 Domain"
      style="left:  1.892%;
              width: 11.645%;"
      title="Domain 14 - 93" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c52 Domain caption_puce"></span>14 - 93
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013083">Zinc finger, RING/FYVE/PHD-type</a><span> (IPR013083)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.556%;" title="100"></span>
                    <span class="grade" style="left:29.112%;" title="200"></span>
                    <span class="grade" style="left:43.668%;" title="300"></span>
                    <span class="grade" style="left:58.224%;" title="400"></span>
                    <span class="grade" style="left:72.78%;" title="500"></span>
                    <span class="grade" style="left:87.336%;" title="600"></span>
                    <span class="grade" style="left:100%;" title="687"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:14.556%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:14.556%;">100</span>
                            <span class="scale_bar" style="left:29.112%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:29.112%;">200</span>
                            <span class="scale_bar" style="left:43.668%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:43.668%;">300</span>
                            <span class="scale_bar" style="left:58.224%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:58.224%;">400</span>
                            <span class="scale_bar" style="left:72.78%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:72.78%;">500</span>
                            <span class="scale_bar" style="left:87.336%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:87.336%;">600</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="687"></span>
                                <span class="scale_numb"
                                      style="left:100%;">687</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR004181">IPR004181</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR004181"
                                                         class="neutral">Zinc finger, MIZ-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR004181-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51044" title="PS51044 (ZF_SP_RING)"
       class="neutral">
        PS51044
</a>

                <span>(ZF_SP_RING)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51044-span-1"
      class="match prosite-profiles c36 Domain"
      style="left:  1.456%;
              width: 11.354%;"
      title="PS51044 11 - 88" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51044-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c36 Domain caption_puce"></span>11 - 88</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51044' class="ext">PS51044 </a>
            <span>(ZF_SP_RING)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.556%;" title="100"></span>
            <span class="grade" style="left:29.112%;" title="200"></span>
            <span class="grade" style="left:43.668%;" title="300"></span>
            <span class="grade" style="left:58.224%;" title="400"></span>
            <span class="grade" style="left:72.78%;" title="500"></span>
            <span class="grade" style="left:87.336%;" title="600"></span>
            <span class="grade" style="left:100%;" title="687"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR004181-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF02891" title="PF02891 (zf-MIZ)"
       class="neutral">
        PF02891
</a>

                <span>(zf-MIZ)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF02891-span-2"
      class="match pfam c36 Domain"
      style="left:  3.057%;
              width: 7.132%;"
      title="PF02891 22 - 70" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF02891-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c36 Domain caption_puce"></span>22 - 70</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF02891' class="ext">PF02891 </a>
            <span>(zf-MIZ)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.556%;" title="100"></span>
            <span class="grade" style="left:29.112%;" title="200"></span>
            <span class="grade" style="left:43.668%;" title="300"></span>
            <span class="grade" style="left:58.224%;" title="400"></span>
            <span class="grade" style="left:72.78%;" title="500"></span>
            <span class="grade" style="left:87.336%;" title="600"></span>
            <span class="grade" style="left:100%;" title="687"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013083">IPR013083</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013083"
                                                         class="neutral">Zinc finger, RING/FYVE/PHD-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013083-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.40.10" title="G3DSA:3.30.40.10"
           class="neutral">
        G3DSA:3.30.40.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA3304010-span-3"
      class="match gene3d c52 Domain"
      style="left:  1.892%;
              width: 11.645%;"
      title="G3DSA:3.30.40.10 14 - 93" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3304010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c52 Domain caption_puce"></span>14 - 93</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.40.10' class="ext">G3DSA:3.30.40.10 </a>
            <span>(G3DSA:3.30.40.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.556%;" title="100"></span>
            <span class="grade" style="left:29.112%;" title="200"></span>
            <span class="grade" style="left:43.668%;" title="300"></span>
            <span class="grade" style="left:58.224%;" title="400"></span>
            <span class="grade" style="left:72.78%;" title="500"></span>
            <span class="grade" style="left:87.336%;" title="600"></span>
            <span class="grade" style="left:100%;" title="687"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57850" title="SSF57850 (RING/U-box)"
       class="neutral">
        SSF57850
</a>

                <span>(RING/U-box)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF57850-span-4"
      class="match superfamily uni"
      style="left:  3.202%;
              width: 11.499%;"
      title="SSF57850 23 - 101" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF57850-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>23 - 101</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57850' class="ext">SSF57850 </a>
            <span>(RING/U-box)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.556%;" title="100"></span>
            <span class="grade" style="left:29.112%;" title="200"></span>
            <span class="grade" style="left:43.668%;" title="300"></span>
            <span class="grade" style="left:58.224%;" title="400"></span>
            <span class="grade" style="left:72.78%;" title="500"></span>
            <span class="grade" style="left:87.336%;" title="600"></span>
            <span class="grade" style="left:100%;" title="687"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008270"
                   class="ext">GO:0008270</a> zinc ion binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
