 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp11214_c0_seq1|m.40137 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">419 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c52 Domain"
      style="left:  6.444%;
              width: 17.9%;"
      title="Domain 28 - 102" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c52 Domain caption_puce"></span>28 - 102
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013083">Zinc finger, RING/FYVE/PHD-type</a><span> (IPR013083)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR003613">U box domain</a><span> (IPR003613)</span></li></ul></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c46 Domain"
      style="left:  31.981%;
              width: 64.678%;"
      title="Domain 135 - 405" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c46 Domain caption_puce"></span>135 - 405
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024">Armadillo-type fold</a><span> (IPR016024)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR011989">Armadillo-like helical</a><span> (IPR011989)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.933%;" title="50"></span>
                    <span class="grade" style="left:23.866%;" title="100"></span>
                    <span class="grade" style="left:35.8%;" title="150"></span>
                    <span class="grade" style="left:47.733%;" title="200"></span>
                    <span class="grade" style="left:59.666%;" title="250"></span>
                    <span class="grade" style="left:71.599%;" title="300"></span>
                    <span class="grade" style="left:83.532%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="419"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.933%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:11.933%;">50</span>
                            <span class="scale_bar" style="left:23.866%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:23.866%;">100</span>
                            <span class="scale_bar" style="left:35.8%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:35.8%;">150</span>
                            <span class="scale_bar" style="left:47.733%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:47.733%;">200</span>
                            <span class="scale_bar" style="left:59.666%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:59.666%;">250</span>
                            <span class="scale_bar" style="left:71.599%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:71.599%;">300</span>
                            <span class="scale_bar" style="left:83.532%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:83.532%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="419"></span>
                                <span class="scale_numb"
                                      style="left:100%;">419</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013083">IPR013083</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013083"
                                                         class="neutral">Zinc finger, RING/FYVE/PHD-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013083-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.40.10" title="G3DSA:3.30.40.10"
           class="neutral">
        G3DSA:3.30.40.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA3304010-span-1"
      class="match gene3d c52 Domain"
      style="left:  6.444%;
              width: 16.945%;"
      title="G3DSA:3.30.40.10 28 - 98" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA3304010-popup-1" style="display: none;">

        <div class="popup_topl"><span class="gene3d c52 Domain caption_puce"></span>28 - 98</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.40.10' class="ext">G3DSA:3.30.40.10 </a>
            <span>(G3DSA:3.30.40.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR003613">IPR003613</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR003613"
                                                         class="neutral">U box domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR003613-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00504&amp;BLAST=DUMMY" title="SM00504 (Ubox)"
       class="neutral">
        SM00504
</a>

                <span>(Ubox)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00504-span-2"
      class="match smart c52 Domain"
      style="left:  7.399%;
              width: 15.274%;"
      title="SM00504 32 - 95" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00504-popup-2" style="display: none;">

        <div class="popup_topl"><span class="smart c52 Domain caption_puce"></span>32 - 95</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00504&amp;BLAST=DUMMY' class="ext">SM00504 </a>
            <span>(Ubox)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR003613-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF04564" title="PF04564 (U-box)"
       class="neutral">
        PF04564
</a>

                <span>(U-box)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF04564-span-3"
      class="match pfam c52 Domain"
      style="left:  6.683%;
              width: 16.229%;"
      title="PF04564 29 - 96" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF04564-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c52 Domain caption_puce"></span>29 - 96</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF04564' class="ext">PF04564 </a>
            <span>(U-box)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR003613-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51698" title="PS51698 (U_BOX)"
       class="neutral">
        PS51698
</a>

                <span>(U_BOX)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51698-span-4"
      class="match prosite-profiles c52 Domain"
      style="left:  6.444%;
              width: 17.9%;"
      title="PS51698 28 - 102" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51698-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c52 Domain caption_puce"></span>28 - 102</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51698' class="ext">PS51698 </a>
            <span>(U_BOX)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016024">IPR016024</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016024"
                                                         class="neutral">Armadillo-type fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016024-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371" title="SSF48371 (ARM repeat)"
       class="neutral">
        SSF48371
</a>

                <span>(ARM repeat)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF48371-span-5"
      class="match superfamily c46 Domain"
      style="left:  31.981%;
              width: 64.678%;"
      title="SSF48371 135 - 405" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF48371-popup-5" style="display: none;">

        <div class="popup_topl"><span class="superfamily c46 Domain caption_puce"></span>135 - 405</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF48371' class="ext">SSF48371 </a>
            <span>(ARM repeat)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011989">IPR011989</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011989"
                                                         class="neutral">Armadillo-like helical</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011989-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.25.10.10" title="G3DSA:1.25.10.10"
           class="neutral">
        G3DSA:1.25.10.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA1251010-span-6"
      class="match gene3d c46 Domain"
      style="left:  31.981%;
              width: 61.098%;"
      title="G3DSA:1.25.10.10 135 - 390" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA1251010-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d c46 Domain caption_puce"></span>135 - 390</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.25.10.10' class="ext">G3DSA:1.25.10.10 </a>
            <span>(G3DSA:1.25.10.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57850" title="SSF57850 (RING/U-box)"
       class="neutral">
        SSF57850
</a>

                <span>(RING/U-box)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF57850-span-7"
      class="match superfamily uni"
      style="left:  3.819%;
              width: 19.809%;"
      title="SSF57850 17 - 99" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF57850-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>17 - 99</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57850' class="ext">SSF57850 </a>
            <span>(RING/U-box)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.933%;" title="50"></span>
            <span class="grade" style="left:23.866%;" title="100"></span>
            <span class="grade" style="left:35.8%;" title="150"></span>
            <span class="grade" style="left:47.733%;" title="200"></span>
            <span class="grade" style="left:59.666%;" title="250"></span>
            <span class="grade" style="left:71.599%;" title="300"></span>
            <span class="grade" style="left:83.532%;" title="350"></span>
            <span class="grade" style="left:100%;" title="419"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016567"
                   class="ext">GO:0016567</a> protein ubiquitination
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004842"
                   class="ext">GO:0004842</a> ubiquitin-protein transferase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005488"
                   class="ext">GO:0005488</a> binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
