 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp6374_c0_seq7|m.27595 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">388 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c60 Domain"
      style="left:  10.309%;
              width: 13.402%;"
      title="Domain 41 - 92" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c60 Domain caption_puce"></span>41 - 92
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013761">Sterile alpha motif/pointed domain</a><span> (IPR013761)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c26 Domain"
      style="left:  56.443%;
              width: 31.443%;"
      title="Domain 220 - 341" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c26 Domain caption_puce"></span>220 - 341
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011993">PH domain-like</a><span> (IPR011993)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.887%;" title="50"></span>
                    <span class="grade" style="left:25.773%;" title="100"></span>
                    <span class="grade" style="left:38.66%;" title="150"></span>
                    <span class="grade" style="left:51.546%;" title="200"></span>
                    <span class="grade" style="left:64.433%;" title="250"></span>
                    <span class="grade" style="left:77.32%;" title="300"></span>
                    <span class="grade" style="left:90.206%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="388"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.887%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:12.887%;">50</span>
                            <span class="scale_bar" style="left:25.773%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:25.773%;">100</span>
                            <span class="scale_bar" style="left:38.66%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:38.66%;">150</span>
                            <span class="scale_bar" style="left:51.546%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:51.546%;">200</span>
                            <span class="scale_bar" style="left:64.433%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:64.433%;">250</span>
                            <span class="scale_bar" style="left:77.32%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:77.32%;">300</span>
                            <span class="scale_bar" style="left:90.206%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:90.206%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="388"></span>
                                <span class="scale_numb"
                                      style="left:100%;">388</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013761">IPR013761</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013761"
                                                         class="neutral">Sterile alpha motif/pointed domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013761-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF47769" title="SSF47769 (SAM/Pointed domain)"
       class="neutral">
        SSF47769
</a>

            <span>(SAM/Point...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF47769-span-1"
      class="match superfamily c60 Domain"
      style="left:  11.082%;
              width: 12.629%;"
      title="SSF47769 44 - 92" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF47769-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c60 Domain caption_puce"></span>44 - 92</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF47769' class="ext">SSF47769 </a>
            <span>(SAM/Pointed domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.887%;" title="50"></span>
            <span class="grade" style="left:25.773%;" title="100"></span>
            <span class="grade" style="left:38.66%;" title="150"></span>
            <span class="grade" style="left:51.546%;" title="200"></span>
            <span class="grade" style="left:64.433%;" title="250"></span>
            <span class="grade" style="left:77.32%;" title="300"></span>
            <span class="grade" style="left:90.206%;" title="350"></span>
            <span class="grade" style="left:100%;" title="388"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR013761-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.150.50" title="G3DSA:1.10.150.50"
           class="neutral">
    G3DSA:1.10.15...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA11015050-span-2"
      class="match gene3d c60 Domain"
      style="left:  10.309%;
              width: 13.402%;"
      title="G3DSA:1.10.150.50 41 - 92" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11015050-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c60 Domain caption_puce"></span>41 - 92</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.150.50' class="ext">G3DSA:1.10.150.50 </a>
            <span>(G3DSA:1.10.150.50)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.887%;" title="50"></span>
            <span class="grade" style="left:25.773%;" title="100"></span>
            <span class="grade" style="left:38.66%;" title="150"></span>
            <span class="grade" style="left:51.546%;" title="200"></span>
            <span class="grade" style="left:64.433%;" title="250"></span>
            <span class="grade" style="left:77.32%;" title="300"></span>
            <span class="grade" style="left:90.206%;" title="350"></span>
            <span class="grade" style="left:100%;" title="388"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011993">IPR011993</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011993"
                                                         class="neutral">PH domain-like</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011993-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.30.29.30" title="G3DSA:2.30.29.30"
           class="neutral">
        G3DSA:2.30.29.30
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA2302930-span-3"
      class="match gene3d c26 Domain"
      style="left:  58.763%;
              width: 29.124%;"
      title="G3DSA:2.30.29.30 229 - 341" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA2302930-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c26 Domain caption_puce"></span>229 - 341</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.30.29.30' class="ext">G3DSA:2.30.29.30 </a>
            <span>(G3DSA:2.30.29.30)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.887%;" title="50"></span>
            <span class="grade" style="left:25.773%;" title="100"></span>
            <span class="grade" style="left:38.66%;" title="150"></span>
            <span class="grade" style="left:51.546%;" title="200"></span>
            <span class="grade" style="left:64.433%;" title="250"></span>
            <span class="grade" style="left:77.32%;" title="300"></span>
            <span class="grade" style="left:90.206%;" title="350"></span>
            <span class="grade" style="left:100%;" title="388"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR011993-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50729" title="SSF50729 (PH domain-like)"
       class="neutral">
        SSF50729
</a>

            <span>(PH domain...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50729-span-4"
      class="match superfamily c26 Domain"
      style="left:  56.443%;
              width: 29.897%;"
      title="SSF50729 220 - 335" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50729-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c26 Domain caption_puce"></span>220 - 335</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50729' class="ext">SSF50729 </a>
            <span>(PH domain-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.887%;" title="50"></span>
            <span class="grade" style="left:25.773%;" title="100"></span>
            <span class="grade" style="left:38.66%;" title="150"></span>
            <span class="grade" style="left:51.546%;" title="200"></span>
            <span class="grade" style="left:64.433%;" title="250"></span>
            <span class="grade" style="left:77.32%;" title="300"></span>
            <span class="grade" style="left:90.206%;" title="350"></span>
            <span class="grade" style="left:100%;" title="388"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-5"
      class="match coils uni"
      style="left:  46.134%;
              width: 7.216%;"
      title="Coil 180 - 207" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-5" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>180 - 207</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.887%;" title="50"></span>
            <span class="grade" style="left:25.773%;" title="100"></span>
            <span class="grade" style="left:38.66%;" title="150"></span>
            <span class="grade" style="left:51.546%;" title="200"></span>
            <span class="grade" style="left:64.433%;" title="250"></span>
            <span class="grade" style="left:77.32%;" title="300"></span>
            <span class="grade" style="left:90.206%;" title="350"></span>
            <span class="grade" style="left:100%;" title="388"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
