 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp7166_c0_seq2|m.30266 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">184 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR022343">GCR1-cAMP receptor</a><span> (IPR022343)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR022340">G protein-coupled receptor GCR1 putative</a><span> (IPR022340)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022343">IPR022343</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022343"
                                                         class="neutral">GCR1-cAMP receptor</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022343-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02001&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR02001 (GCR1CAMPR)"
       class="neutral">
        PR02001
</a>

                <span>(GCR1CAMPR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR02001-span-1"
      class="match prints Family"
      style="left:  65.217%;
              width: 10.87%;"
      title="PR02001 121 - 140" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02001-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>121 - 140</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02001&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02001 </a>
            <span>(GCR1CAMPR)</span>
        </div>
    </div>


<span id="PR02001-span-2"
      class="match prints Family"
      style="left:  47.826%;
              width: 10.326%;"
      title="PR02001 89 - 107" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02001-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>89 - 107</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02001&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02001 </a>
            <span>(GCR1CAMPR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.87%;" title="20"></span>
            <span class="grade" style="left:21.739%;" title="40"></span>
            <span class="grade" style="left:32.609%;" title="60"></span>
            <span class="grade" style="left:43.478%;" title="80"></span>
            <span class="grade" style="left:54.348%;" title="100"></span>
            <span class="grade" style="left:65.217%;" title="120"></span>
            <span class="grade" style="left:76.087%;" title="140"></span>
            <span class="grade" style="left:86.957%;" title="160"></span>
            <span class="grade" style="left:100%;" title="184"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR022340">IPR022340</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR022340"
                                                         class="neutral">G protein-coupled receptor GCR1 putative</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR022340-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02000&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR02000 (GCR1PLANT)"
       class="neutral">
        PR02000
</a>

                <span>(GCR1PLANT)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR02000-span-3"
      class="match prints Family"
      style="left:  44.565%;
              width: 11.957%;"
      title="PR02000 83 - 104" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02000-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>83 - 104</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02000&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02000 </a>
            <span>(GCR1PLANT)</span>
        </div>
    </div>


<span id="PR02000-span-4"
      class="match prints Family"
      style="left:  60.87%;
              width: 9.783%;"
      title="PR02000 113 - 130" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02000-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>113 - 130</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02000&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02000 </a>
            <span>(GCR1PLANT)</span>
        </div>
    </div>


<span id="PR02000-span-5"
      class="match prints Family"
      style="left:  70.652%;
              width: 9.239%;"
      title="PR02000 131 - 147" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02000-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>131 - 147</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02000&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02000 </a>
            <span>(GCR1PLANT)</span>
        </div>
    </div>


<span id="PR02000-span-6"
      class="match prints Family"
      style="left:  14.13%;
              width: 7.065%;"
      title="PR02000 27 - 39" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02000-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>27 - 39</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02000&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02000 </a>
            <span>(GCR1PLANT)</span>
        </div>
    </div>


<span id="PR02000-span-7"
      class="match prints Family"
      style="left:  21.196%;
              width: 13.043%;"
      title="PR02000 40 - 63" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR02000-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>40 - 63</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR02000&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR02000 </a>
            <span>(GCR1PLANT)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.87%;" title="20"></span>
            <span class="grade" style="left:21.739%;" title="40"></span>
            <span class="grade" style="left:32.609%;" title="60"></span>
            <span class="grade" style="left:43.478%;" title="80"></span>
            <span class="grade" style="left:54.348%;" title="100"></span>
            <span class="grade" style="left:65.217%;" title="120"></span>
            <span class="grade" style="left:76.087%;" title="140"></span>
            <span class="grade" style="left:86.957%;" title="160"></span>
            <span class="grade" style="left:100%;" title="184"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF05462" title="PF05462 (Dicty_CAR)"
       class="neutral">
        PF05462
</a>

                <span>(Dicty_CAR)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF05462-span-8"
      class="match pfam uni"
      style="left:  6.522%;
              width: 70.109%;"
      title="PF05462 13 - 141" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF05462-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam uni caption_puce"></span>13 - 141</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF05462' class="ext">PF05462 </a>
            <span>(Dicty_CAR)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:10.87%;" title="20"></span>
            <span class="grade" style="left:21.739%;" title="40"></span>
            <span class="grade" style="left:32.609%;" title="60"></span>
            <span class="grade" style="left:43.478%;" title="80"></span>
            <span class="grade" style="left:54.348%;" title="100"></span>
            <span class="grade" style="left:65.217%;" title="120"></span>
            <span class="grade" style="left:76.087%;" title="140"></span>
            <span class="grade" style="left:86.957%;" title="160"></span>
            <span class="grade" style="left:100%;" title="184"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
