 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1501_c0_seq0|m.6549 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">327 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c32 Domain"
      style="left:  27.829%;
              width: 65.138%;"
      title="Domain 92 - 304" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c32 Domain caption_puce"></span>92 - 304
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR006634">TRAM/LAG1/CLN8 homology domain</a><span> (IPR006634)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:15.291%;" title="50"></span>
                    <span class="grade" style="left:30.581%;" title="100"></span>
                    <span class="grade" style="left:45.872%;" title="150"></span>
                    <span class="grade" style="left:61.162%;" title="200"></span>
                    <span class="grade" style="left:76.453%;" title="250"></span>
                    <span class="grade" style="left:91.743%;" title="300"></span>
                    <span class="grade" style="left:100%;" title="327"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:15.291%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:15.291%;">50</span>
                            <span class="scale_bar" style="left:30.581%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:30.581%;">100</span>
                            <span class="scale_bar" style="left:45.872%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:45.872%;">150</span>
                            <span class="scale_bar" style="left:61.162%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:61.162%;">200</span>
                            <span class="scale_bar" style="left:76.453%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:76.453%;">250</span>
                            <span class="scale_bar" style="left:91.743%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:91.743%;">300</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="327"></span>
                                <span class="scale_numb"
                                      style="left:100%;">327</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006634">IPR006634</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006634"
                                                         class="neutral">TRAM/LAG1/CLN8 homology domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006634-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00724&amp;BLAST=DUMMY" title="SM00724 (TLC)"
       class="neutral">
        SM00724
</a>

                <span>(TLC)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00724-span-1"
      class="match smart c32 Domain"
      style="left:  27.829%;
              width: 65.138%;"
      title="SM00724 92 - 304" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00724-popup-1" style="display: none;">

        <div class="popup_topl"><span class="smart c32 Domain caption_puce"></span>92 - 304</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00724&amp;BLAST=DUMMY' class="ext">SM00724 </a>
            <span>(TLC)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.291%;" title="50"></span>
            <span class="grade" style="left:30.581%;" title="100"></span>
            <span class="grade" style="left:45.872%;" title="150"></span>
            <span class="grade" style="left:61.162%;" title="200"></span>
            <span class="grade" style="left:76.453%;" title="250"></span>
            <span class="grade" style="left:91.743%;" title="300"></span>
            <span class="grade" style="left:100%;" title="327"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR006634-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF03798" title="PF03798 (TRAM_LAG1_CLN8)"
       class="neutral">
        PF03798
</a>

            <span>(TRAM_LAG1_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF03798-span-2"
      class="match pfam c32 Domain"
      style="left:  28.135%;
              width: 62.691%;"
      title="PF03798 93 - 297" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF03798-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c32 Domain caption_puce"></span>93 - 297</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF03798' class="ext">PF03798 </a>
            <span>(TRAM_LAG1_CLN8)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.291%;" title="50"></span>
            <span class="grade" style="left:30.581%;" title="100"></span>
            <span class="grade" style="left:45.872%;" title="150"></span>
            <span class="grade" style="left:61.162%;" title="200"></span>
            <span class="grade" style="left:76.453%;" title="250"></span>
            <span class="grade" style="left:91.743%;" title="300"></span>
            <span class="grade" style="left:100%;" title="327"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR006634-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50922" title="PS50922 (TLC)"
       class="neutral">
        PS50922
</a>

                <span>(TLC)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50922-span-3"
      class="match prosite-profiles c32 Domain"
      style="left:  27.829%;
              width: 65.138%;"
      title="PS50922 92 - 304" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50922-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c32 Domain caption_puce"></span>92 - 304</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50922' class="ext">PS50922 </a>
            <span>(TLC)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:15.291%;" title="50"></span>
            <span class="grade" style="left:30.581%;" title="100"></span>
            <span class="grade" style="left:45.872%;" title="150"></span>
            <span class="grade" style="left:61.162%;" title="200"></span>
            <span class="grade" style="left:76.453%;" title="250"></span>
            <span class="grade" style="left:91.743%;" title="300"></span>
            <span class="grade" style="left:100%;" title="327"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016021"
                   class="ext">GO:0016021</a> integral component of membrane
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
