 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp9478_c0_seq1|m.36834 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">382 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR021919">Cofactor assembly of complex C subunit B, CCB1</a><span> (IPR021919)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR021919">IPR021919</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR021919"
                                                         class="neutral">Cofactor assembly of complex C subunit B, CCB1</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR021919-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF12046" title="PF12046 (DUF3529)"
       class="neutral">
        PF12046
</a>

                <span>(DUF3529)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF12046-span-1"
      class="match pfam Family"
      style="left:  51.832%;
              width: 44.503%;"
      title="PF12046 199 - 368" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF12046-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>199 - 368</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF12046' class="ext">PF12046 </a>
            <span>(DUF3529)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.089%;" title="50"></span>
            <span class="grade" style="left:26.178%;" title="100"></span>
            <span class="grade" style="left:39.267%;" title="150"></span>
            <span class="grade" style="left:52.356%;" title="200"></span>
            <span class="grade" style="left:65.445%;" title="250"></span>
            <span class="grade" style="left:78.534%;" title="300"></span>
            <span class="grade" style="left:91.623%;" title="350"></span>
            <span class="grade" style="left:100%;" title="382"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-2"
      class="match coils uni"
      style="left:  91.885%;
              width: 5.497%;"
      title="Coil 352 - 372" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-2" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>352 - 372</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.089%;" title="50"></span>
            <span class="grade" style="left:26.178%;" title="100"></span>
            <span class="grade" style="left:39.267%;" title="150"></span>
            <span class="grade" style="left:52.356%;" title="200"></span>
            <span class="grade" style="left:65.445%;" title="250"></span>
            <span class="grade" style="left:78.534%;" title="300"></span>
            <span class="grade" style="left:91.623%;" title="350"></span>
            <span class="grade" style="left:100%;" title="382"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
