 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp157_c0_seq0|m.575 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">205 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR016641">Nascent polypeptide-associated complex subunit alpha</a><span> (IPR016641)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c61 Domain"
      style="left:  28.78%;
              width: 32.195%;"
      title="Domain 60 - 125" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c61 Domain caption_puce"></span>60 - 125
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002715">Nascent polypeptide-associated complex NAC domain</a><span> (IPR002715)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:9.756%;" title="20"></span>
                    <span class="grade" style="left:19.512%;" title="40"></span>
                    <span class="grade" style="left:29.268%;" title="60"></span>
                    <span class="grade" style="left:39.024%;" title="80"></span>
                    <span class="grade" style="left:48.78%;" title="100"></span>
                    <span class="grade" style="left:58.537%;" title="120"></span>
                    <span class="grade" style="left:68.293%;" title="140"></span>
                    <span class="grade" style="left:78.049%;" title="160"></span>
                    <span class="grade" style="left:87.805%;" title="180"></span>
                    <span class="grade" style="left:100%;" title="205"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:9.756%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:9.756%;">20</span>
                            <span class="scale_bar" style="left:19.512%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:19.512%;">40</span>
                            <span class="scale_bar" style="left:29.268%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:29.268%;">60</span>
                            <span class="scale_bar" style="left:39.024%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:39.024%;">80</span>
                            <span class="scale_bar" style="left:48.78%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:48.78%;">100</span>
                            <span class="scale_bar" style="left:58.537%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:58.537%;">120</span>
                            <span class="scale_bar" style="left:68.293%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:68.293%;">140</span>
                            <span class="scale_bar" style="left:78.049%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:78.049%;">160</span>
                            <span class="scale_bar" style="left:87.805%;"
                                  title="180"></span>
                                <span class="scale_numb"
                                      style="left:87.805%;">180</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="205"></span>
                                <span class="scale_numb"
                                      style="left:100%;">205</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR016641">IPR016641</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR016641"
                                                         class="neutral">Nascent polypeptide-associated complex subunit alpha</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR016641-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF015901" title="PIRSF015901 (NAC_alpha)"
       class="neutral">
        PIRSF015901
</a>

                <span>(NAC_alpha)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF015901-span-1"
      class="match pirsf Family"
      style="left:  11.707%;
              width: 88.293%;"
      title="PIRSF015901 25 - 205" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF015901-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>25 - 205</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF015901' class="ext">PIRSF015901 </a>
            <span>(NAC_alpha)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002715">IPR002715</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002715"
                                                         class="neutral">Nascent polypeptide-associated complex NAC domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002715-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51151" title="PS51151 (NAC_AB)"
       class="neutral">
        PS51151
</a>

                <span>(NAC_AB)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51151-span-2"
      class="match prosite-profiles c61 Domain"
      style="left:  28.78%;
              width: 32.195%;"
      title="PS51151 60 - 125" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51151-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c61 Domain caption_puce"></span>60 - 125</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51151' class="ext">PS51151 </a>
            <span>(NAC_AB)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002715-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF01849" title="PF01849 (NAC)"
       class="neutral">
        PF01849
</a>

                <span>(NAC)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF01849-span-3"
      class="match pfam c61 Domain"
      style="left:  30.244%;
              width: 27.317%;"
      title="PF01849 63 - 118" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF01849-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c61 Domain caption_puce"></span>63 - 118</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF01849' class="ext">PF01849 </a>
            <span>(NAC)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.8.10" title="G3DSA:1.10.8.10"
           class="neutral">
        G3DSA:1.10.8.10
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110810-span-4"
      class="match gene3d uni"
      style="left:  79.024%;
              width: 20.488%;"
      title="G3DSA:1.10.8.10 163 - 204" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110810-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>163 - 204</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.8.10' class="ext">G3DSA:1.10.8.10 </a>
            <span>(G3DSA:1.10.8.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.756%;" title="20"></span>
            <span class="grade" style="left:19.512%;" title="40"></span>
            <span class="grade" style="left:29.268%;" title="60"></span>
            <span class="grade" style="left:39.024%;" title="80"></span>
            <span class="grade" style="left:48.78%;" title="100"></span>
            <span class="grade" style="left:58.537%;" title="120"></span>
            <span class="grade" style="left:68.293%;" title="140"></span>
            <span class="grade" style="left:78.049%;" title="160"></span>
            <span class="grade" style="left:87.805%;" title="180"></span>
            <span class="grade" style="left:100%;" title="205"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
