 <div class="container_24"><div class="grid_24 clearfix" id="content"><div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp225_c0_seq1|m.754 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">160 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000266">Ribosomal protein S17/S11</a><span> (IPR000266)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR028333">Ribosomal protein S17, archaeal/eukaryotic</a><span> (IPR028333)</span></li></ul></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c1 Domain"
      style="left:  1.875%;
              width: 43.125%;"
      title="Domain 4 - 72" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c1 Domain caption_puce"></span>4 - 72
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR032440">40S ribosomal protein S11, N-terminal</a><span> (IPR032440)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.5%;" title="20"></span>
                    <span class="grade" style="left:25%;" title="40"></span>
                    <span class="grade" style="left:37.5%;" title="60"></span>
                    <span class="grade" style="left:50%;" title="80"></span>
                    <span class="grade" style="left:62.5%;" title="100"></span>
                    <span class="grade" style="left:75%;" title="120"></span>
                    <span class="grade" style="left:87.5%;" title="140"></span>
                    <span class="grade" style="left:100%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="160"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c49 Domain"
      style="left:  41.25%;
              width: 51.875%;"
      title="Domain 67 - 149" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c49 Domain caption_puce"></span>67 - 149
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR012340">Nucleic acid-binding, OB-fold</a><span> (IPR012340)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.5%;" title="20"></span>
                    <span class="grade" style="left:25%;" title="40"></span>
                    <span class="grade" style="left:37.5%;" title="60"></span>
                    <span class="grade" style="left:50%;" title="80"></span>
                    <span class="grade" style="left:62.5%;" title="100"></span>
                    <span class="grade" style="left:75%;" title="120"></span>
                    <span class="grade" style="left:87.5%;" title="140"></span>
                    <span class="grade" style="left:100%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="160"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.5%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:12.5%;">20</span>
                            <span class="scale_bar" style="left:25%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:25%;">40</span>
                            <span class="scale_bar" style="left:37.5%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:37.5%;">60</span>
                            <span class="scale_bar" style="left:50%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:50%;">80</span>
                            <span class="scale_bar" style="left:62.5%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:62.5%;">100</span>
                            <span class="scale_bar" style="left:75%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:75%;">120</span>
                            <span class="scale_bar" style="left:87.5%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:87.5%;">140</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:100%;">160</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:100%;">160</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000266">IPR000266</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000266"
                                                         class="neutral">Ribosomal protein S17/S11</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000266-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00366" title="PF00366 (Ribosomal_S17)"
       class="neutral">
        PF00366
</a>

                <span>(Ribosomal_S17)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00366-span-1"
      class="match pfam Family"
      style="left:  45.625%;
              width: 43.125%;"
      title="PF00366 74 - 142" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00366-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>74 - 142</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00366' class="ext">PF00366 </a>
            <span>(Ribosomal_S17)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000266-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00973&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00973 (RIBOSOMALS17)"
       class="neutral">
        PR00973
</a>

                <span>(RIBOSOMALS17)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00973-span-2"
      class="match prints Family"
      style="left:  75%;
              width: 6.875%;"
      title="PR00973 121 - 131" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00973-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>121 - 131</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00973&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00973 </a>
            <span>(RIBOSOMALS17)</span>
        </div>
    </div>


<span id="PR00973-span-3"
      class="match prints Family"
      style="left:  54.375%;
              width: 15%;"
      title="PR00973 88 - 111" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00973-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>88 - 111</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00973&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00973 </a>
            <span>(RIBOSOMALS17)</span>
        </div>
    </div>


<span id="PR00973-span-4"
      class="match prints Family"
      style="left:  81.25%;
              width: 5%;"
      title="PR00973 131 - 138" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00973-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints Family caption_puce"></span>131 - 138</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00973&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00973 </a>
            <span>(RIBOSOMALS17)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000266-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_01345_B" title="MF_01345_B (Ribosomal_S17_B)"
       class="neutral">
        MF_01345_B
</a>

            <span>(Ribosom...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_01345_B-span-5"
      class="match hamap Family"
      style="left:  41.25%;
              width: 50%;"
      title="MF_01345_B 67 - 146" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_01345_B-popup-5" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>67 - 146</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_01345_B' class="ext">MF_01345_B </a>
            <span>(Ribosomal_S17_B)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000266-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://prodom.prabi.fr/prodom/current/cgi-bin/request.pl?question=DBEN&amp;query=PD001295" title="PD001295"
           class="neutral">
        PD001295
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PD001295-span-6"
      class="match prodom Family"
      style="left:  43.125%;
              width: 44.375%;"
      title="PD001295 70 - 140" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PD001295-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prodom Family caption_puce"></span>70 - 140</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>ProDom</b> <abbr class="icon icon-generic" data-icon="i" title="ProDom protein domain database consists of an automatic compilation of homologous domains."></abbr> <br/>
            <a href='http://prodom.prabi.fr/prodom/current/cgi-bin/request.pl?question=DBEN&amp;query=PD001295' class="ext">PD001295 </a>
            <span>(PD001295)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR028333">IPR028333</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR028333"
                                                         class="neutral">Ribosomal protein S17, archaeal/eukaryotic</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR028333-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR03630"
           class="neutral">
        TIGR03630
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR03630-span-7"
      class="match unknown Family"
      style="left:  33.125%;
              width: 56.25%;"
      title="TIGR03630 54 - 143" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR03630-popup-7" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>54 - 143</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR03630 </a>
            <span>(TIGR03630)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR032440">IPR032440</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR032440"
                                                         class="neutral">40S ribosomal protein S11, N-terminal</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR032440-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF16205" title="PF16205 (Ribosomal_S17_N)"
       class="neutral">
        PF16205
</a>

            <span>(Ribosomal_...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF16205-span-8"
      class="match pfam c1 Domain"
      style="left:  1.875%;
              width: 43.125%;"
      title="PF16205 4 - 72" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF16205-popup-8" style="display: none;">

        <div class="popup_topl"><span class="pfam c1 Domain caption_puce"></span>4 - 72</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF16205' class="ext">PF16205 </a>
            <span>(Ribosomal_S17_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR012340">IPR012340</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR012340"
                                                         class="neutral">Nucleic acid-binding, OB-fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR012340-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50249" title="SSF50249 (Nucleic acid-binding proteins)"
       class="neutral">
        SSF50249
</a>

            <span>(Nucleic a...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50249-span-9"
      class="match superfamily c49 Domain"
      style="left:  41.875%;
              width: 50%;"
      title="SSF50249 68 - 147" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50249-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily c49 Domain caption_puce"></span>68 - 147</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50249' class="ext">SSF50249 </a>
            <span>(Nucleic acid-binding proteins)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR012340-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.40.50.140" title="G3DSA:2.40.50.140"
           class="neutral">
    G3DSA:2.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA24050140-span-10"
      class="match gene3d c49 Domain"
      style="left:  41.25%;
              width: 51.875%;"
      title="G3DSA:2.40.50.140 67 - 149" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24050140-popup-10" style="display: none;">

        <div class="popup_topl"><span class="gene3d c49 Domain caption_puce"></span>67 - 149</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.50.140' class="ext">G3DSA:2.40.50.140 </a>
            <span>(G3DSA:2.40.50.140)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="../static/interpro/resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR019979">IPR019979</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR019979"
                                                         class="neutral">Ribosomal protein S17, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR019979-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00056" title="PS00056 (RIBOSOMAL_S17)"
       class="neutral">
        PS00056
</a>

                <span>(RIBOSOMAL_S17)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00056-span-11"
      class="match prosite-patterns SITE"
      style="left:  75%;
              width: 8.125%;"
      title="PS00056 121 - 133" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00056-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>121 - 133</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00056' class="ext">PS00056 </a>
            <span>(RIBOSOMAL_S17)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.5%;" title="20"></span>
            <span class="grade" style="left:25%;" title="40"></span>
            <span class="grade" style="left:37.5%;" title="60"></span>
            <span class="grade" style="left:50%;" title="80"></span>
            <span class="grade" style="left:62.5%;" title="100"></span>
            <span class="grade" style="left:75%;" title="120"></span>
            <span class="grade" style="left:87.5%;" title="140"></span>
            <span class="grade" style="left:100%;" title="160"></span>
            <span class="grade" style="left:100%;" title="160"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006412"
                   class="ext">GO:0006412</a> translation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003735"
                   class="ext">GO:0003735</a> structural constituent of ribosome
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005622"
                   class="ext">GO:0005622</a> intracellular
                <br/>
            
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005840"
                   class="ext">GO:0005840</a> ribosome
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
