<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp671_c0_seq5|m.2625 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >


    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp671_c0_seq5|m.2625 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,529 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>




            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-1"
      class="match coils uni"
      style="left:  49.509%;
              width: 3.663%;"
      title="Coil 758 - 813" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-1" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>758 - 813</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-2"
      class="match coils uni"
      style="left:  16.612%;
              width: 3.663%;"
      title="Coil 255 - 310" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-2" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>255 - 310</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-3"
      class="match coils uni"
      style="left:  35.317%;
              width: 1.831%;"
      title="Coil 541 - 568" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-3" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>541 - 568</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-4"
      class="match coils uni"
      style="left:  44.931%;
              width: 4.12%;"
      title="Coil 688 - 750" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-4" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>688 - 750</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-5"
      class="match coils uni"
      style="left:  42.642%;
              width: 1.373%;"
      title="Coil 653 - 673" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-5" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>653 - 673</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-6"
      class="match coils uni"
      style="left:  30.935%;
              width: 1.373%;"
      title="Coil 474 - 494" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-6" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>474 - 494</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-7"
      class="match coils uni"
      style="left:  20.536%;
              width: 1.373%;"
      title="Coil 315 - 335" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-7" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>315 - 335</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-8"
      class="match coils uni"
      style="left:  87.704%;
              width: 1.831%;"
      title="Coil 1,342 - 1,369" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-8" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>1,342 - 1,369</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-9"
      class="match coils uni"
      style="left:  69.261%;
              width: 1.373%;"
      title="Coil 1,060 - 1,080" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-9" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>1,060 - 1,080</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-10"
      class="match coils uni"
      style="left:  22.564%;
              width: 7.914%;"
      title="Coil 346 - 466" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-10" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>346 - 466</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-11"
      class="match coils uni"
      style="left:  77.632%;
              width: 3.859%;"
      title="Coil 1,188 - 1,246" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-11" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>1,188 - 1,246</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-12"
      class="match coils uni"
      style="left:  63.44%;
              width: 1.831%;"
      title="Coil 971 - 998" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-12" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>971 - 998</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-13"
      class="match coils uni"
      style="left:  91.629%;
              width: 1.373%;"
      title="Coil 1,402 - 1,422" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-13" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>1,402 - 1,422</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-14"
      class="match coils uni"
      style="left:  7.129%;
              width: 1.373%;"
      title="Coil 110 - 130" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-14" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>110 - 130</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-15"
      class="match coils uni"
      style="left:  65.468%;
              width: 2.747%;"
      title="Coil 1,002 - 1,043" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-15" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>1,002 - 1,043</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-16"
      class="match coils uni"
      style="left:  57.292%;
              width: 2.289%;"
      title="Coil 877 - 911" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-16" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>877 - 911</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-17"
      class="match coils uni"
      style="left:  14.716%;
              width: 1.373%;"
      title="Coil 226 - 246" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-17" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>226 - 246</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.08%;" title="200"></span>
            <span class="grade" style="left:26.161%;" title="400"></span>
            <span class="grade" style="left:39.241%;" title="600"></span>
            <span class="grade" style="left:52.322%;" title="800"></span>
            <span class="grade" style="left:65.402%;" title="1000"></span>
            <span class="grade" style="left:78.483%;" title="1200"></span>
            <span class="grade" style="left:91.563%;" title="1400"></span>
            <span class="grade" style="left:100%;" title="1529"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
