<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp2245_c0_seq1|m.9909 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >


    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp2245_c0_seq1|m.9909 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">1,059 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum" style="background:none;">
    <div class="bot-row">
        None predicted.
    </div>
    </div>


    <h3>Detailed signature matches</h3>




            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://embnet.vital-it.ch/software/COILS_form.html" title="Coil"
           class="neutral">
        Coil
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="Coil-span-1"
      class="match coils uni"
      style="left:  60.246%;
              width: 2.644%;"
      title="Coil 639 - 666" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-1" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>639 - 666</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-2"
      class="match coils uni"
      style="left:  33.994%;
              width: 5.288%;"
      title="Coil 361 - 416" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-2" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>361 - 416</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-3"
      class="match coils uni"
      style="left:  52.219%;
              width: 3.966%;"
      title="Coil 554 - 595" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-3" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>554 - 595</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-4"
      class="match coils uni"
      style="left:  2.266%;
              width: 3.966%;"
      title="Coil 25 - 66" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-4" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>25 - 66</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-5"
      class="match coils uni"
      style="left:  89.046%;
              width: 3.966%;"
      title="Coil 944 - 985" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-5" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>944 - 985</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-6"
      class="match coils uni"
      style="left:  41.265%;
              width: 9.254%;"
      title="Coil 438 - 535" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-6" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>438 - 535</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-7"
      class="match coils uni"
      style="left:  30.028%;
              width: 3.305%;"
      title="Coil 319 - 353" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-7" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>319 - 353</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-8"
      class="match coils uni"
      style="left:  63.551%;
              width: 5.949%;"
      title="Coil 674 - 736" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-8" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>674 - 736</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-9"
      class="match coils uni"
      style="left:  70.161%;
              width: 5.949%;"
      title="Coil 744 - 806" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-9" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>744 - 806</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-10"
      class="match coils uni"
      style="left:  78.093%;
              width: 7.932%;"
      title="Coil 828 - 911" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-10" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>828 - 911</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-11"
      class="match coils uni"
      style="left:  23.418%;
              width: 5.949%;"
      title="Coil 249 - 311" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-11" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>249 - 311</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-12"
      class="match coils uni"
      style="left:  6.893%;
              width: 13.22%;"
      title="Coil 74 - 213" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-12" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>74 - 213</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


<span id="Coil-span-13"
      class="match coils uni"
      style="left:  86.686%;
              width: 1.983%;"
      title="Coil 919 - 939" >
</span>

    <script type="text/javascript">

    </script>

    <div id="Coil-popup-13" style="display: none;">

        <div class="popup_topl"><span class="coils uni caption_puce"></span>919 - 939</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>COILS</b> <abbr class="icon icon-generic" data-icon="i" title="COILS compares a sequence to a database of known parallel two-stranded coiled-coils and derives a similarity score and then calculates the probability that the sequence will adopt a coiled-coil conformation."></abbr> <br/>
            <a href='http://embnet.vital-it.ch/software/COILS_form.html' class="ext">Coil </a>
            <span>(Coil)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.443%;" title="100"></span>
            <span class="grade" style="left:18.886%;" title="200"></span>
            <span class="grade" style="left:28.329%;" title="300"></span>
            <span class="grade" style="left:37.771%;" title="400"></span>
            <span class="grade" style="left:47.214%;" title="500"></span>
            <span class="grade" style="left:56.657%;" title="600"></span>
            <span class="grade" style="left:66.1%;" title="700"></span>
            <span class="grade" style="left:75.543%;" title="800"></span>
            <span class="grade" style="left:84.986%;" title="900"></span>
            <span class="grade" style="left:94.429%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1059"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.20.5.50" title="G3DSA:1.20.5.50"
           class="neutral">
        G3DSA:1.20.5.50
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA120550-span-14"
      class="match gene3d uni"
      style="left:  33.428%;
              width: 10.387%;"
      title="G3DSA:1.20.5.50 355 - 464" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA120550-popup-14" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>355 - 464</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.20.5.50' class="ext">G3DSA:1.20.5.50 </a>
            <span>(G3DSA:1.20.5.50)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.443%;" title="100"></span>
            <span class="grade" style="left:18.886%;" title="200"></span>
            <span class="grade" style="left:28.329%;" title="300"></span>
            <span class="grade" style="left:37.771%;" title="400"></span>
            <span class="grade" style="left:47.214%;" title="500"></span>
            <span class="grade" style="left:56.657%;" title="600"></span>
            <span class="grade" style="left:66.1%;" title="700"></span>
            <span class="grade" style="left:75.543%;" title="800"></span>
            <span class="grade" style="left:84.986%;" title="900"></span>
            <span class="grade" style="left:94.429%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1059"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57997" title="SSF57997 (Tropomyosin)"
       class="neutral">
        SSF57997
</a>

                <span>(Tropomyosin)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF57997-span-15"
      class="match superfamily uni"
      style="left:  60.529%;
              width: 23.135%;"
      title="SSF57997 642 - 886" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF57997-popup-15" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>642 - 886</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF57997' class="ext">SSF57997 </a>
            <span>(Tropomyosin)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.443%;" title="100"></span>
            <span class="grade" style="left:18.886%;" title="200"></span>
            <span class="grade" style="left:28.329%;" title="300"></span>
            <span class="grade" style="left:37.771%;" title="400"></span>
            <span class="grade" style="left:47.214%;" title="500"></span>
            <span class="grade" style="left:56.657%;" title="600"></span>
            <span class="grade" style="left:66.1%;" title="700"></span>
            <span class="grade" style="left:75.543%;" title="800"></span>
            <span class="grade" style="left:84.986%;" title="900"></span>
            <span class="grade" style="left:94.429%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1059"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90257" title="SSF90257 (Myosin rod fragments)"
       class="neutral">
        SSF90257
</a>

            <span>(Myosin ro...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF90257-span-16"
      class="match superfamily uni"
      style="left:  27.479%;
              width: 11.237%;"
      title="SSF90257 292 - 410" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF90257-popup-16" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>292 - 410</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90257' class="ext">SSF90257 </a>
            <span>(Myosin rod fragments)</span>
        </div>
    </div>


<span id="SSF90257-span-17"
      class="match superfamily uni"
      style="left:  2.266%;
              width: 10.576%;"
      title="SSF90257 25 - 136" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF90257-popup-17" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>25 - 136</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90257' class="ext">SSF90257 </a>
            <span>(Myosin rod fragments)</span>
        </div>
    </div>


<span id="SSF90257-span-18"
      class="match superfamily uni"
      style="left:  81.586%;
              width: 10.859%;"
      title="SSF90257 865 - 979" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF90257-popup-18" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>865 - 979</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90257' class="ext">SSF90257 </a>
            <span>(Myosin rod fragments)</span>
        </div>
    </div>


<span id="SSF90257-span-19"
      class="match superfamily uni"
      style="left:  39.377%;
              width: 10.576%;"
      title="SSF90257 418 - 529" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF90257-popup-19" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>418 - 529</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF90257' class="ext">SSF90257 </a>
            <span>(Myosin rod fragments)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:9.443%;" title="100"></span>
            <span class="grade" style="left:18.886%;" title="200"></span>
            <span class="grade" style="left:28.329%;" title="300"></span>
            <span class="grade" style="left:37.771%;" title="400"></span>
            <span class="grade" style="left:47.214%;" title="500"></span>
            <span class="grade" style="left:56.657%;" title="600"></span>
            <span class="grade" style="left:66.1%;" title="700"></span>
            <span class="grade" style="left:75.543%;" title="800"></span>
            <span class="grade" style="left:84.986%;" title="900"></span>
            <span class="grade" style="left:94.429%;" title="1000"></span>
            <span class="grade" style="left:100%;" title="1059"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 0);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
