<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp9373_c0_seq1|m.36627 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >

    <div class="grid_5 alpha">
<div id="menu" style="display: none;">
    <div class="menu-filter">

        <h1>Filter view on</h1>

        <div class="menu-filter-type"><h1>Entry type</h1>

            <fieldset>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-2" value="Family-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-2" class="family">Family</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-3" value="Domain-row"
                           checked="checked" />
                    <label for="check-3" class="domains">Domains</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-4" value="Repeat-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-4" class="repeats">Repeats</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-5"
                           value="SITE-row Conserved_site-row PTM-row Binding_site-row Active_site-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-5" class="site">Site</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-status"><h1>Status</h1>

            <fieldset>
                <div >
                    <input type="checkbox" name="type" id="check-6" value="unintegrated"
                           checked="checked" />
                    <label for="check-6" class="uni">Unintegrated</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-colour">
            <div class="filter-colour-head">
                <div class="filter-colour-title-l">
                    Colour by
                </div>

            </div>
            <fieldset>
                <input type="radio" name="blobColour" id="domainColour" value="domainColour" checked="checked"/>
                <label for="domainColour">domain relationship</label> <br/>

                <input type="radio" name="blobColour" id="databaseColour" value="databaseColour"/>
                <label for="databaseColour">source database</label>
            </fieldset>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
// Read colour preference from cookie (requires http://plugins.jquery.com/project/Cookie)

            // Retrieve existing cookies and set checkbox states accordingly
            var checkBoxIDs = ["#check-2", "#check-3", "#check-4", "#check-5", "#check-6"];
            for (i = 0; i < checkBoxIDs.length; i++) {
                var checkBoxId = checkBoxIDs[i];
                var cookieVal = $.cookie(checkBoxId);
                if (cookieVal != null) {
                    $(checkBoxId).prop("checked", cookieVal == "true");
                }
            }

            // and the radio button group
            var radioCookieVal = $.cookie("colour-by-domain");
            if (radioCookieVal != null) {
                if (radioCookieVal == "true") {
                    $('#domainColour').prop("checked", true);
                }
                else {
                    $('#databaseColour').prop("checked", true);
                }
            }

            // Keep the filter menu in view
//            $("#menu").jScroll();
            // CSS switching
            configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour'); // initialise

            $('input[name="blobColour"]').change(function() {
                configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour');
            });

            // Change event for type checkboxes (Family, Domain etc.)
            $(".type").change(function() {
                displayType(this);
            });

            // Initialise types
            $(".type").each(function() {
                displayType(this);
            });

            // Change event for un-integrated sig matches checkbox
            $("#check-6").change(function() {
                displayUnintegrated(this);
            });

            // Initialise un-integrated.
            // TODO Work out how to do this without each! Only one thing with an ID of "check-6"!
            $("#check-6").each(function() {
                displayUnintegrated(this);
            });

        // Make the menu visible - Javascript is enabled.
        $("#menu").css('display', 'block');
    });
</script>
    </div>

    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp9373_c0_seq1|m.36627 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">338 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c57 Domain"
      style="left:  0%;
              width: 60.355%;"
      title="Domain 1 - 204" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c57 Domain caption_puce"></span>1 - 204
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011009">Protein kinase-like domain</a><span> (IPR011009)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR000719">Protein kinase domain</a><span> (IPR000719)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR001245">Serine-threonine/tyrosine-protein kinase catalytic domain</a><span> (IPR001245)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR020635">Tyrosine-protein kinase, catalytic domain</a><span> (IPR020635)</span></li></ul></li></ul></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:14.793%;" title="50"></span>
                    <span class="grade" style="left:29.586%;" title="100"></span>
                    <span class="grade" style="left:44.379%;" title="150"></span>
                    <span class="grade" style="left:59.172%;" title="200"></span>
                    <span class="grade" style="left:73.964%;" title="250"></span>
                    <span class="grade" style="left:88.757%;" title="300"></span>
                    <span class="grade" style="left:100%;" title="338"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:14.793%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:14.793%;">50</span>
                            <span class="scale_bar" style="left:29.586%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:29.586%;">100</span>
                            <span class="scale_bar" style="left:44.379%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:44.379%;">150</span>
                            <span class="scale_bar" style="left:59.172%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:59.172%;">200</span>
                            <span class="scale_bar" style="left:73.964%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:73.964%;">250</span>
                            <span class="scale_bar" style="left:88.757%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:88.757%;">300</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="338"></span>
                                <span class="scale_numb"
                                      style="left:100%;">338</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011009">IPR011009</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011009"
                                                         class="neutral">Protein kinase-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011009-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112" title="SSF56112 (Protein kinase-like (PK-like))"
       class="neutral">
        SSF56112
</a>

            <span>(Protein k...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56112-span-1"
      class="match superfamily c57 Domain"
      style="left:  0.296%;
              width: 60.059%;"
      title="SSF56112 2 - 204" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56112-popup-1" style="display: none;">

        <div class="popup_topl"><span class="superfamily c57 Domain caption_puce"></span>2 - 204</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56112' class="ext">SSF56112 </a>
            <span>(Protein kinase-like (PK-like))</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.793%;" title="50"></span>
            <span class="grade" style="left:29.586%;" title="100"></span>
            <span class="grade" style="left:44.379%;" title="150"></span>
            <span class="grade" style="left:59.172%;" title="200"></span>
            <span class="grade" style="left:73.964%;" title="250"></span>
            <span class="grade" style="left:88.757%;" title="300"></span>
            <span class="grade" style="left:100%;" title="338"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000719">IPR000719</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000719"
                                                         class="neutral">Protein kinase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000719-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50011" title="PS50011 (PROTEIN_KINASE_DOM)"
       class="neutral">
        PS50011
</a>

            <span>(PROTEIN_KI...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50011-span-2"
      class="match prosite-profiles c57 Domain"
      style="left:  0%;
              width: 60.059%;"
      title="PS50011 1 - 203" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50011-popup-2" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c57 Domain caption_puce"></span>1 - 203</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50011' class="ext">PS50011 </a>
            <span>(PROTEIN_KINASE_DOM)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.793%;" title="50"></span>
            <span class="grade" style="left:29.586%;" title="100"></span>
            <span class="grade" style="left:44.379%;" title="150"></span>
            <span class="grade" style="left:59.172%;" title="200"></span>
            <span class="grade" style="left:73.964%;" title="250"></span>
            <span class="grade" style="left:88.757%;" title="300"></span>
            <span class="grade" style="left:100%;" title="338"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001245">IPR001245</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001245"
                                                         class="neutral">Serine-threonine/tyrosine-protein kinase catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001245-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF07714" title="PF07714 (Pkinase_Tyr)"
       class="neutral">
        PF07714
</a>

                <span>(Pkinase_Tyr)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF07714-span-3"
      class="match pfam c57 Domain"
      style="left:  0.592%;
              width: 39.941%;"
      title="PF07714 3 - 137" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF07714-popup-3" style="display: none;">

        <div class="popup_topl"><span class="pfam c57 Domain caption_puce"></span>3 - 137</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF07714' class="ext">PF07714 </a>
            <span>(Pkinase_Tyr)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.793%;" title="50"></span>
            <span class="grade" style="left:29.586%;" title="100"></span>
            <span class="grade" style="left:44.379%;" title="150"></span>
            <span class="grade" style="left:59.172%;" title="200"></span>
            <span class="grade" style="left:73.964%;" title="250"></span>
            <span class="grade" style="left:88.757%;" title="300"></span>
            <span class="grade" style="left:100%;" title="338"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020635">IPR020635</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020635"
                                                         class="neutral">Tyrosine-protein kinase, catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020635-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00219&amp;BLAST=DUMMY" title="SM00219 (TyrKc)"
       class="neutral">
        SM00219
</a>

                <span>(TyrKc)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00219-span-4"
      class="match smart c57 Domain"
      style="left:  0%;
              width: 58.876%;"
      title="SM00219 1 - 199" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00219-popup-4" style="display: none;">

        <div class="popup_topl"><span class="smart c57 Domain caption_puce"></span>1 - 199</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00219&amp;BLAST=DUMMY' class="ext">SM00219 </a>
            <span>(TyrKc)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.793%;" title="50"></span>
            <span class="grade" style="left:29.586%;" title="100"></span>
            <span class="grade" style="left:44.379%;" title="150"></span>
            <span class="grade" style="left:59.172%;" title="200"></span>
            <span class="grade" style="left:73.964%;" title="250"></span>
            <span class="grade" style="left:88.757%;" title="300"></span>
            <span class="grade" style="left:100%;" title="338"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.510.10" title="G3DSA:1.10.510.10"
           class="neutral">
    G3DSA:1.10.51...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA11051010-span-5"
      class="match gene3d uni"
      style="left:  1.183%;
              width: 58.58%;"
      title="G3DSA:1.10.510.10 5 - 202" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA11051010-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>5 - 202</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.510.10' class="ext">G3DSA:1.10.510.10 </a>
            <span>(G3DSA:1.10.510.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:14.793%;" title="50"></span>
            <span class="grade" style="left:29.586%;" title="100"></span>
            <span class="grade" style="left:44.379%;" title="150"></span>
            <span class="grade" style="left:59.172%;" title="200"></span>
            <span class="grade" style="left:73.964%;" title="250"></span>
            <span class="grade" style="left:88.757%;" title="300"></span>
            <span class="grade" style="left:100%;" title="338"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006468"
                   class="ext">GO:0006468</a> protein phosphorylation
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004672"
                   class="ext">GO:0004672</a> protein kinase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004713"
                   class="ext">GO:0004713</a> protein tyrosine kinase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 1);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
