<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp9454_c0_seq3|m.36789 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >

    <div class="grid_5 alpha">
<div id="menu" style="display: none;">
    <div class="menu-filter">

        <h1>Filter view on</h1>

        <div class="menu-filter-type"><h1>Entry type</h1>

            <fieldset>
                <div >
                    <input type="checkbox" class="type" id="check-2" value="Family-row"
                           checked="checked" />
                    <label for="check-2" class="family">Family</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-3" value="Domain-row"
                           checked="checked" />
                    <label for="check-3" class="domains">Domains</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-4" value="Repeat-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-4" class="repeats">Repeats</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-5"
                           value="SITE-row Conserved_site-row PTM-row Binding_site-row Active_site-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-5" class="site">Site</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-status"><h1>Status</h1>

            <fieldset>
                <div class="disabled">
                    <input type="checkbox" name="type" id="check-6" value="unintegrated"
                           checked="checked" disabled="disabled"/>
                    <label for="check-6" class="uni">Unintegrated</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-colour">
            <div class="filter-colour-head">
                <div class="filter-colour-title-l">
                    Colour by
                </div>

            </div>
            <fieldset>
                <input type="radio" name="blobColour" id="domainColour" value="domainColour" checked="checked"/>
                <label for="domainColour">domain relationship</label> <br/>

                <input type="radio" name="blobColour" id="databaseColour" value="databaseColour"/>
                <label for="databaseColour">source database</label>
            </fieldset>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
// Read colour preference from cookie (requires http://plugins.jquery.com/project/Cookie)

            // Retrieve existing cookies and set checkbox states accordingly
            var checkBoxIDs = ["#check-2", "#check-3", "#check-4", "#check-5", "#check-6"];
            for (i = 0; i < checkBoxIDs.length; i++) {
                var checkBoxId = checkBoxIDs[i];
                var cookieVal = $.cookie(checkBoxId);
                if (cookieVal != null) {
                    $(checkBoxId).prop("checked", cookieVal == "true");
                }
            }

            // and the radio button group
            var radioCookieVal = $.cookie("colour-by-domain");
            if (radioCookieVal != null) {
                if (radioCookieVal == "true") {
                    $('#domainColour').prop("checked", true);
                }
                else {
                    $('#databaseColour').prop("checked", true);
                }
            }

            // Keep the filter menu in view
//            $("#menu").jScroll();
            // CSS switching
            configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour'); // initialise

            $('input[name="blobColour"]').change(function() {
                configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour');
            });

            // Change event for type checkboxes (Family, Domain etc.)
            $(".type").change(function() {
                displayType(this);
            });

            // Initialise types
            $(".type").each(function() {
                displayType(this);
            });

            // Change event for un-integrated sig matches checkbox
            $("#check-6").change(function() {
                displayUnintegrated(this);
            });

            // Initialise un-integrated.
            // TODO Work out how to do this without each! Only one thing with an ID of "check-6"!
            $("#check-6").each(function() {
                displayUnintegrated(this);
            });

        // Make the menu visible - Javascript is enabled.
        $("#menu").css('display', 'block');
    });
</script>
    </div>

    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp9454_c0_seq3|m.36789 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">415 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR004424">4-diphosphocytidyl-2C-methyl-D-erythritol kinase</a><span> (IPR004424)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c5 Domain"
      style="left:  27.47%;
              width: 37.831%;"
      title="Domain 115 - 271" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c5 Domain caption_puce"></span>115 - 271
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR020568">Ribosomal protein S5 domain 2-type fold</a><span> (IPR020568)</span><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR014721">Ribosomal protein S5 domain 2-type fold, subgroup</a><span> (IPR014721)</span></li></ul></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.048%;" title="50"></span>
                    <span class="grade" style="left:24.096%;" title="100"></span>
                    <span class="grade" style="left:36.145%;" title="150"></span>
                    <span class="grade" style="left:48.193%;" title="200"></span>
                    <span class="grade" style="left:60.241%;" title="250"></span>
                    <span class="grade" style="left:72.289%;" title="300"></span>
                    <span class="grade" style="left:84.337%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="415"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c60 Domain"
      style="left:  47.952%;
              width: 13.253%;"
      title="Domain 200 - 254" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c60 Domain caption_puce"></span>200 - 254
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR006204">GHMP kinase N-terminal domain</a><span> (IPR006204)</span></li></ul></div>
    </div>




<span id="supermatch-span-3"
      class="match c51 Domain"
      style="left:  66.747%;
              width: 23.373%;"
      title="Domain 278 - 374" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c51 Domain caption_puce"></span>278 - 374
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR013750">GHMP kinase, C-terminal domain</a><span> (IPR013750)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.048%;" title="50"></span>
                    <span class="grade" style="left:24.096%;" title="100"></span>
                    <span class="grade" style="left:36.145%;" title="150"></span>
                    <span class="grade" style="left:48.193%;" title="200"></span>
                    <span class="grade" style="left:60.241%;" title="250"></span>
                    <span class="grade" style="left:72.289%;" title="300"></span>
                    <span class="grade" style="left:84.337%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="415"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.048%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:12.048%;">50</span>
                            <span class="scale_bar" style="left:24.096%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:24.096%;">100</span>
                            <span class="scale_bar" style="left:36.145%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:36.145%;">150</span>
                            <span class="scale_bar" style="left:48.193%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:48.193%;">200</span>
                            <span class="scale_bar" style="left:60.241%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:60.241%;">250</span>
                            <span class="scale_bar" style="left:72.289%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:72.289%;">300</span>
                            <span class="scale_bar" style="left:84.337%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:84.337%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="415"></span>
                                <span class="scale_numb"
                                      style="left:100%;">415</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR004424">IPR004424</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR004424"
                                                         class="neutral">4-diphosphocytidyl-2C-methyl-D-erythritol kinase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR004424-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://hamap.expasy.org/profile/MF_00061" title="MF_00061 (IspE)"
       class="neutral">
        MF_00061
</a>

                <span>(IspE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="MF_00061-span-1"
      class="match hamap Family"
      style="left:  27.47%;
              width: 67.952%;"
      title="MF_00061 115 - 396" >
</span>

    <script type="text/javascript">

    </script>

    <div id="MF_00061-popup-1" style="display: none;">

        <div class="popup_topl"><span class="hamap Family caption_puce"></span>115 - 396</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>HAMAP</b> <abbr class="icon icon-generic" data-icon="i" title="HAMAP stands for High-quality Automated and Manual Annotation of Proteins. HAMAP profiles are manually created by expert curators. They identify proteins that are part of well-conserved proteins families or subfamilies. HAMAP is based at the SIB Swiss Institute of Bioinformatics, Geneva, Switzerland."></abbr> <br/>
            <a href='http://hamap.expasy.org/profile/MF_00061' class="ext">MF_00061 </a>
            <span>(IspE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR004424-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR00154"
           class="neutral">
        TIGR00154
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR00154-span-2"
      class="match unknown Family"
      style="left:  27.47%;
              width: 62.41%;"
      title="TIGR00154 115 - 373" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR00154-popup-2" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>115 - 373</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR00154 </a>
            <span>(TIGR00154)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020568">IPR020568</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020568"
                                                         class="neutral">Ribosomal protein S5 domain 2-type fold</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020568-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54211" title="SSF54211 (Ribosomal protein S5 domain 2-like)"
       class="neutral">
        SSF54211
</a>

            <span>(Ribosomal...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF54211-span-3"
      class="match superfamily c5 Domain"
      style="left:  27.47%;
              width: 37.349%;"
      title="SSF54211 115 - 269" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF54211-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c5 Domain caption_puce"></span>115 - 269</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF54211' class="ext">SSF54211 </a>
            <span>(Ribosomal protein S5 domain 2-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR014721">IPR014721</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR014721"
                                                         class="neutral">Ribosomal protein S5 domain 2-type fold, subgroup</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR014721-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.230.10" title="G3DSA:3.30.230.10"
           class="neutral">
    G3DSA:3.30.23...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33023010-span-4"
      class="match gene3d c5 Domain"
      style="left:  27.711%;
              width: 37.59%;"
      title="G3DSA:3.30.230.10 116 - 271" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33023010-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c5 Domain caption_puce"></span>116 - 271</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.230.10' class="ext">G3DSA:3.30.230.10 </a>
            <span>(G3DSA:3.30.230.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006204">IPR006204</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006204"
                                                         class="neutral">GHMP kinase N-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006204-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00288" title="PF00288 (GHMP_kinases_N)"
       class="neutral">
        PF00288
</a>

            <span>(GHMP_kinas...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00288-span-5"
      class="match pfam c60 Domain"
      style="left:  47.952%;
              width: 13.253%;"
      title="PF00288 200 - 254" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00288-popup-5" style="display: none;">

        <div class="popup_topl"><span class="pfam c60 Domain caption_puce"></span>200 - 254</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00288' class="ext">PF00288 </a>
            <span>(GHMP_kinases_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR013750">IPR013750</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR013750"
                                                         class="neutral">GHMP kinase, C-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR013750-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.890" title="G3DSA:3.30.70.890"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070890-span-6"
      class="match gene3d c51 Domain"
      style="left:  66.747%;
              width: 23.373%;"
      title="G3DSA:3.30.70.890 278 - 374" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070890-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d c51 Domain caption_puce"></span>278 - 374</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.890' class="ext">G3DSA:3.30.70.890 </a>
            <span>(G3DSA:3.30.70.890)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR013750-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55060" title="SSF55060 (GHMP Kinase, C-terminal domain)"
       class="neutral">
        SSF55060
</a>

            <span>(GHMP Kina...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF55060-span-7"
      class="match superfamily c51 Domain"
      style="left:  66.988%;
              width: 23.133%;"
      title="SSF55060 279 - 374" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF55060-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily c51 Domain caption_puce"></span>279 - 374</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF55060' class="ext">SSF55060 </a>
            <span>(GHMP Kinase, C-terminal domain)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.048%;" title="50"></span>
            <span class="grade" style="left:24.096%;" title="100"></span>
            <span class="grade" style="left:36.145%;" title="150"></span>
            <span class="grade" style="left:48.193%;" title="200"></span>
            <span class="grade" style="left:60.241%;" title="250"></span>
            <span class="grade" style="left:72.289%;" title="300"></span>
            <span class="grade" style="left:84.337%;" title="350"></span>
            <span class="grade" style="left:100%;" title="415"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016114"
                   class="ext">GO:0016114</a> terpenoid biosynthetic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0050515"
                   class="ext">GO:0050515</a> 4-(cytidine 5'-diphospho)-2-C-methyl-D-erythritol kinase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 3);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
