<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp1108_c0_seq0|m.4820 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >

    <div class="grid_5 alpha">
<div id="menu" style="display: none;">
    <div class="menu-filter">

        <h1>Filter view on</h1>

        <div class="menu-filter-type"><h1>Entry type</h1>

            <fieldset>
                <div >
                    <input type="checkbox" class="type" id="check-2" value="Family-row"
                           checked="checked" />
                    <label for="check-2" class="family">Family</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-3" value="Domain-row"
                           checked="checked" />
                    <label for="check-3" class="domains">Domains</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-4" value="Repeat-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-4" class="repeats">Repeats</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-5"
                           value="SITE-row Conserved_site-row PTM-row Binding_site-row Active_site-row"
                           checked="checked" />
                    <label for="check-5" class="site">Site</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-status"><h1>Status</h1>

            <fieldset>
                <div >
                    <input type="checkbox" name="type" id="check-6" value="unintegrated"
                           checked="checked" />
                    <label for="check-6" class="uni">Unintegrated</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-colour">
            <div class="filter-colour-head">
                <div class="filter-colour-title-l">
                    Colour by
                </div>

            </div>
            <fieldset>
                <input type="radio" name="blobColour" id="domainColour" value="domainColour" checked="checked"/>
                <label for="domainColour">domain relationship</label> <br/>

                <input type="radio" name="blobColour" id="databaseColour" value="databaseColour"/>
                <label for="databaseColour">source database</label>
            </fieldset>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
// Read colour preference from cookie (requires http://plugins.jquery.com/project/Cookie)

            // Retrieve existing cookies and set checkbox states accordingly
            var checkBoxIDs = ["#check-2", "#check-3", "#check-4", "#check-5", "#check-6"];
            for (i = 0; i < checkBoxIDs.length; i++) {
                var checkBoxId = checkBoxIDs[i];
                var cookieVal = $.cookie(checkBoxId);
                if (cookieVal != null) {
                    $(checkBoxId).prop("checked", cookieVal == "true");
                }
            }

            // and the radio button group
            var radioCookieVal = $.cookie("colour-by-domain");
            if (radioCookieVal != null) {
                if (radioCookieVal == "true") {
                    $('#domainColour').prop("checked", true);
                }
                else {
                    $('#databaseColour').prop("checked", true);
                }
            }

            // Keep the filter menu in view
//            $("#menu").jScroll();
            // CSS switching
            configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour'); // initialise

            $('input[name="blobColour"]').change(function() {
                configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour');
            });

            // Change event for type checkboxes (Family, Domain etc.)
            $(".type").change(function() {
                displayType(this);
            });

            // Initialise types
            $(".type").each(function() {
                displayType(this);
            });

            // Change event for un-integrated sig matches checkbox
            $("#check-6").change(function() {
                displayUnintegrated(this);
            });

            // Initialise un-integrated.
            // TODO Work out how to do this without each! Only one thing with an ID of "check-6"!
            $("#check-6").each(function() {
                displayUnintegrated(this);
            });

        // Make the menu visible - Javascript is enabled.
        $("#menu").css('display', 'block');
    });
</script>
    </div>

    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp1108_c0_seq0|m.4820 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">448 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR006255">Dihydrolipoamide succinyltransferase</a><span> (IPR006255)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c26 Domain"
      style="left:  16.964%;
              width: 16.964%;"
      title="Domain 77 - 152" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c26 Domain caption_puce"></span>77 - 152
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000089">Biotin/lipoyl attachment</a><span> (IPR000089)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c53 Domain"
      style="left:  46.429%;
              width: 53.125%;"
      title="Domain 209 - 446" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c53 Domain caption_puce"></span>209 - 446
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR023213">Chloramphenicol acetyltransferase-like domain</a><span> (IPR023213)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.161%;" title="50"></span>
                    <span class="grade" style="left:22.321%;" title="100"></span>
                    <span class="grade" style="left:33.482%;" title="150"></span>
                    <span class="grade" style="left:44.643%;" title="200"></span>
                    <span class="grade" style="left:55.804%;" title="250"></span>
                    <span class="grade" style="left:66.964%;" title="300"></span>
                    <span class="grade" style="left:78.125%;" title="350"></span>
                    <span class="grade" style="left:89.286%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="448"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-3"
      class="match c31 Domain"
      style="left:  17.411%;
              width: 20.536%;"
      title="Domain 79 - 170" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c31 Domain caption_puce"></span>79 - 170
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR011053">Single hybrid motif</a><span> (IPR011053)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c42 Domain"
      style="left:  48.438%;
              width: 51.116%;"
      title="Domain 218 - 446" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c42 Domain caption_puce"></span>218 - 446
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR001078">2-oxoacid dehydrogenase acyltransferase, catalytic domain</a><span> (IPR001078)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.161%;" title="50"></span>
                    <span class="grade" style="left:22.321%;" title="100"></span>
                    <span class="grade" style="left:33.482%;" title="150"></span>
                    <span class="grade" style="left:44.643%;" title="200"></span>
                    <span class="grade" style="left:55.804%;" title="250"></span>
                    <span class="grade" style="left:66.964%;" title="300"></span>
                    <span class="grade" style="left:78.125%;" title="350"></span>
                    <span class="grade" style="left:89.286%;" title="400"></span>
                    <span class="grade" style="left:100%;" title="448"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.161%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:11.161%;">50</span>
                            <span class="scale_bar" style="left:22.321%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:22.321%;">100</span>
                            <span class="scale_bar" style="left:33.482%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:33.482%;">150</span>
                            <span class="scale_bar" style="left:44.643%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:44.643%;">200</span>
                            <span class="scale_bar" style="left:55.804%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:55.804%;">250</span>
                            <span class="scale_bar" style="left:66.964%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:66.964%;">300</span>
                            <span class="scale_bar" style="left:78.125%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:78.125%;">350</span>
                            <span class="scale_bar" style="left:89.286%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:89.286%;">400</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="448"></span>
                                <span class="scale_numb"
                                      style="left:100%;">448</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006255">IPR006255</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006255"
                                                         class="neutral">Dihydrolipoamide succinyltransferase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006255-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="" title="TIGR01347"
           class="neutral">
        TIGR01347
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="TIGR01347-span-1"
      class="match unknown Family"
      style="left:  47.768%;
              width: 52.009%;"
      title="TIGR01347 215 - 447" >
</span>

    <script type="text/javascript">

    </script>

    <div id="TIGR01347-popup-1" style="display: none;">

        <div class="popup_topl"><span class="unknown Family caption_puce"></span>215 - 447</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>UNKNOWN</b> <abbr class="icon icon-generic" data-icon="i" title=""></abbr> <br/>
            <a href='' class="ext">TIGR01347 </a>
            <span>(TIGR01347)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000089">IPR000089</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000089"
                                                         class="neutral">Biotin/lipoyl attachment</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000089-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00364" title="PF00364 (Biotin_lipoyl)"
       class="neutral">
        PF00364
</a>

                <span>(Biotin_lipoyl)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00364-span-2"
      class="match pfam c26 Domain"
      style="left:  17.411%;
              width: 16.071%;"
      title="PF00364 79 - 150" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00364-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam c26 Domain caption_puce"></span>79 - 150</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00364' class="ext">PF00364 </a>
            <span>(Biotin_lipoyl)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR000089-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50968" title="PS50968 (BIOTINYL_LIPOYL)"
       class="neutral">
        PS50968
</a>

            <span>(BIOTINYL_L...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50968-span-3"
      class="match prosite-profiles c26 Domain"
      style="left:  16.964%;
              width: 16.964%;"
      title="PS50968 77 - 152" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50968-popup-3" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c26 Domain caption_puce"></span>77 - 152</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50968' class="ext">PS50968 </a>
            <span>(BIOTINYL_LIPOYL)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR011053">IPR011053</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR011053"
                                                         class="neutral">Single hybrid motif</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR011053-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51230" title="SSF51230 (Single hybrid motif)"
       class="neutral">
        SSF51230
</a>

            <span>(Single hy...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF51230-span-4"
      class="match superfamily c31 Domain"
      style="left:  17.411%;
              width: 20.536%;"
      title="SSF51230 79 - 170" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF51230-popup-4" style="display: none;">

        <div class="popup_topl"><span class="superfamily c31 Domain caption_puce"></span>79 - 170</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF51230' class="ext">SSF51230 </a>
            <span>(Single hybrid motif)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR023213">IPR023213</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR023213"
                                                         class="neutral">Chloramphenicol acetyltransferase-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR023213-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.559.10" title="G3DSA:3.30.559.10"
           class="neutral">
    G3DSA:3.30.55...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33055910-span-5"
      class="match gene3d c53 Domain"
      style="left:  46.429%;
              width: 53.125%;"
      title="G3DSA:3.30.559.10 209 - 446" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33055910-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c53 Domain caption_puce"></span>209 - 446</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.559.10' class="ext">G3DSA:3.30.559.10 </a>
            <span>(G3DSA:3.30.559.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR001078">IPR001078</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR001078"
                                                         class="neutral">2-oxoacid dehydrogenase acyltransferase, catalytic domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR001078-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00198" title="PF00198 (2-oxoacid_dh)"
       class="neutral">
        PF00198
</a>

                <span>(2-oxoacid_dh)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00198-span-6"
      class="match pfam c42 Domain"
      style="left:  48.438%;
              width: 51.116%;"
      title="PF00198 218 - 446" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00198-popup-6" style="display: none;">

        <div class="popup_topl"><span class="pfam c42 Domain caption_puce"></span>218 - 446</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00198' class="ext">PF00198 </a>
            <span>(2-oxoacid_dh)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR003016">IPR003016</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR003016"
                                                         class="neutral">2-oxo acid dehydrogenase, lipoyl-binding site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR003016-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00189" title="PS00189 (LIPOYL)"
       class="neutral">
        PS00189
</a>

                <span>(LIPOYL)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00189-span-7"
      class="match prosite-patterns SITE"
      style="left:  22.545%;
              width: 6.696%;"
      title="PS00189 102 - 131" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00189-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>102 - 131</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00189' class="ext">PS00189 </a>
            <span>(LIPOYL)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.40.50.100" title="G3DSA:2.40.50.100"
           class="neutral">
    G3DSA:2.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA24050100-span-8"
      class="match gene3d uni"
      style="left:  17.411%;
              width: 20.312%;"
      title="G3DSA:2.40.50.100 79 - 169" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24050100-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>79 - 169</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.50.100' class="ext">G3DSA:2.40.50.100 </a>
            <span>(G3DSA:2.40.50.100)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52777" title="SSF52777 (CoA-dependent acyltransferases)"
       class="neutral">
        SSF52777
</a>

            <span>(CoA-depen...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52777-span-9"
      class="match superfamily uni"
      style="left:  48.214%;
              width: 51.562%;"
      title="SSF52777 217 - 447" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52777-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>217 - 447</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52777' class="ext">SSF52777 </a>
            <span>(CoA-dependent acyltransferases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.161%;" title="50"></span>
            <span class="grade" style="left:22.321%;" title="100"></span>
            <span class="grade" style="left:33.482%;" title="150"></span>
            <span class="grade" style="left:44.643%;" title="200"></span>
            <span class="grade" style="left:55.804%;" title="250"></span>
            <span class="grade" style="left:66.964%;" title="300"></span>
            <span class="grade" style="left:78.125%;" title="350"></span>
            <span class="grade" style="left:89.286%;" title="400"></span>
            <span class="grade" style="left:100%;" title="448"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006099"
                   class="ext">GO:0006099</a> tricarboxylic acid cycle
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008152"
                   class="ext">GO:0008152</a> metabolic process
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004149"
                   class="ext">GO:0004149</a> dihydrolipoyllysine-residue succinyltransferase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016746"
                   class="ext">GO:0016746</a> transferase activity, transferring acyl groups
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p>
                <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0045252"
                   class="ext">GO:0045252</a> oxoglutarate dehydrogenase complex
                <br/>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 4);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
