<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp8602_c0_seq1|m.34797 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >

    <div class="grid_5 alpha">
<div id="menu" style="display: none;">
    <div class="menu-filter">

        <h1>Filter view on</h1>

        <div class="menu-filter-type"><h1>Entry type</h1>

            <fieldset>
                <div >
                    <input type="checkbox" class="type" id="check-2" value="Family-row"
                           checked="checked" />
                    <label for="check-2" class="family">Family</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-3" value="Domain-row"
                           checked="checked" />
                    <label for="check-3" class="domains">Domains</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-4" value="Repeat-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-4" class="repeats">Repeats</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-5"
                           value="SITE-row Conserved_site-row PTM-row Binding_site-row Active_site-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-5" class="site">Site</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-status"><h1>Status</h1>

            <fieldset>
                <div >
                    <input type="checkbox" name="type" id="check-6" value="unintegrated"
                           checked="checked" />
                    <label for="check-6" class="uni">Unintegrated</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-colour">
            <div class="filter-colour-head">
                <div class="filter-colour-title-l">
                    Colour by
                </div>

            </div>
            <fieldset>
                <input type="radio" name="blobColour" id="domainColour" value="domainColour" checked="checked"/>
                <label for="domainColour">domain relationship</label> <br/>

                <input type="radio" name="blobColour" id="databaseColour" value="databaseColour"/>
                <label for="databaseColour">source database</label>
            </fieldset>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
// Read colour preference from cookie (requires http://plugins.jquery.com/project/Cookie)

            // Retrieve existing cookies and set checkbox states accordingly
            var checkBoxIDs = ["#check-2", "#check-3", "#check-4", "#check-5", "#check-6"];
            for (i = 0; i < checkBoxIDs.length; i++) {
                var checkBoxId = checkBoxIDs[i];
                var cookieVal = $.cookie(checkBoxId);
                if (cookieVal != null) {
                    $(checkBoxId).prop("checked", cookieVal == "true");
                }
            }

            // and the radio button group
            var radioCookieVal = $.cookie("colour-by-domain");
            if (radioCookieVal != null) {
                if (radioCookieVal == "true") {
                    $('#domainColour').prop("checked", true);
                }
                else {
                    $('#databaseColour').prop("checked", true);
                }
            }

            // Keep the filter menu in view
//            $("#menu").jScroll();
            // CSS switching
            configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour'); // initialise

            $('input[name="blobColour"]').change(function() {
                configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour');
            });

            // Change event for type checkboxes (Family, Domain etc.)
            $(".type").change(function() {
                displayType(this);
            });

            // Initialise types
            $(".type").each(function() {
                displayType(this);
            });

            // Change event for un-integrated sig matches checkbox
            $("#check-6").change(function() {
                displayUnintegrated(this);
            });

            // Initialise un-integrated.
            // TODO Work out how to do this without each! Only one thing with an ID of "check-6"!
            $("#check-6").each(function() {
                displayUnintegrated(this);
            });

        // Make the menu visible - Javascript is enabled.
        $("#menu").css('display', 'block');
    });
</script>
    </div>

    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp8602_c0_seq1|m.34797 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">759 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR002092">DNA-directed RNA polymerase, phage-type</a><span> (IPR002092)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c30 Domain"
      style="left:  25.165%;
              width: 44.137%;"
      title="Domain 192 - 526" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c30 Domain caption_puce"></span>192 - 526
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029262">DNA-directed RNA polymerase N-terminal domain</a><span> (IPR029262)</span></li></ul></div>
    </div>




<span id="supermatch-span-2"
      class="match c58 Domain"
      style="left:  69.302%;
              width: 10.935%;"
      title="Domain 527 - 609" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c58 Domain caption_puce"></span>527 - 609
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR024075">DNA-directed RNA polymerase, helix hairpin domain</a><span> (IPR024075)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:13.175%;" title="100"></span>
                    <span class="grade" style="left:26.35%;" title="200"></span>
                    <span class="grade" style="left:39.526%;" title="300"></span>
                    <span class="grade" style="left:52.701%;" title="400"></span>
                    <span class="grade" style="left:65.876%;" title="500"></span>
                    <span class="grade" style="left:79.051%;" title="600"></span>
                    <span class="grade" style="left:92.227%;" title="700"></span>
                    <span class="grade" style="left:100%;" title="759"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:13.175%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:13.175%;">100</span>
                            <span class="scale_bar" style="left:26.35%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:26.35%;">200</span>
                            <span class="scale_bar" style="left:39.526%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:39.526%;">300</span>
                            <span class="scale_bar" style="left:52.701%;"
                                  title="400"></span>
                                <span class="scale_numb"
                                      style="left:52.701%;">400</span>
                            <span class="scale_bar" style="left:65.876%;"
                                  title="500"></span>
                                <span class="scale_numb"
                                      style="left:65.876%;">500</span>
                            <span class="scale_bar" style="left:79.051%;"
                                  title="600"></span>
                                <span class="scale_numb"
                                      style="left:79.051%;">600</span>
                            <span class="scale_bar" style="left:92.227%;"
                                  title="700"></span>
                                <span class="scale_numb"
                                      style="left:92.227%;">700</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="759"></span>
                                <span class="scale_numb"
                                      style="left:100%;">759</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002092">IPR002092</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002092"
                                                         class="neutral">DNA-directed RNA polymerase, phage-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002092-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00900" title="PS00900 (RNA_POL_PHAGE_1)"
       class="neutral">
        PS00900
</a>

            <span>(RNA_POL_PH...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00900-span-1"
      class="match prosite-patterns Family"
      style="left:  96.97%;
              width: 1.581%;"
      title="PS00900 737 - 748" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00900-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns Family caption_puce"></span>737 - 748</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00900' class="ext">PS00900 </a>
            <span>(RNA_POL_PHAGE_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002092-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00940" title="PF00940 (RNA_pol)"
       class="neutral">
        PF00940
</a>

                <span>(RNA_pol)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00940-span-2"
      class="match pfam Family"
      style="left:  85.507%;
              width: 14.229%;"
      title="PF00940 650 - 757" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00940-popup-2" style="display: none;">

        <div class="popup_topl"><span class="pfam Family caption_puce"></span>650 - 757</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00940' class="ext">PF00940 </a>
            <span>(RNA_pol)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029262">IPR029262</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029262"
                                                         class="neutral">DNA-directed RNA polymerase N-terminal domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029262-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.1320.10" title="G3DSA:1.10.1320.10"
           class="neutral">
    G3DSA:1.10.13...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110132010-span-3"
      class="match gene3d c30 Domain"
      style="left:  25.165%;
              width: 44.137%;"
      title="G3DSA:1.10.1320.10 192 - 526" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110132010-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c30 Domain caption_puce"></span>192 - 526</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.1320.10' class="ext">G3DSA:1.10.1320.10 </a>
            <span>(G3DSA:1.10.1320.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029262-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF14700" title="PF14700 (RPOL_N)"
       class="neutral">
        PF14700
</a>

                <span>(RPOL_N)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF14700-span-4"
      class="match pfam c30 Domain"
      style="left:  26.482%;
              width: 42.819%;"
      title="PF14700 202 - 526" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF14700-popup-4" style="display: none;">

        <div class="popup_topl"><span class="pfam c30 Domain caption_puce"></span>202 - 526</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF14700' class="ext">PF14700 </a>
            <span>(RPOL_N)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR024075">IPR024075</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR024075"
                                                         class="neutral">DNA-directed RNA polymerase, helix hairpin domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR024075-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.287.260" title="G3DSA:1.10.287.260"
           class="neutral">
    G3DSA:1.10.28...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110287260-span-5"
      class="match gene3d c58 Domain"
      style="left:  69.302%;
              width: 10.935%;"
      title="G3DSA:1.10.287.260 527 - 609" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110287260-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c58 Domain caption_puce"></span>527 - 609</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.287.260' class="ext">G3DSA:1.10.287.260 </a>
            <span>(G3DSA:1.10.287.260)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>


            <div class="prot_entries" id="uni_sign">
                <div class="top-row">
                    <div class="top-row-id"><img src="resources/images/ico_type_uni_small.png"
                                                 alt="Unintegrated signatures" title="Unintegrated signatures"/> no IPR
                    </div>
                    <div class="top-row-name">Unintegrated signatures</div>
                </div>
                <div class="bot-row">
                    <div class="bot-row-line-top"></div>
                    <ol class="signatures">
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/1.10.287.280" title="G3DSA:1.10.287.280"
           class="neutral">
    G3DSA:1.10.28...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA110287280-span-6"
      class="match gene3d uni"
      style="left:  85.507%;
              width: 10.408%;"
      title="G3DSA:1.10.287.280 650 - 728" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA110287280-popup-6" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>650 - 728</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/1.10.287.280' class="ext">G3DSA:1.10.287.280 </a>
            <span>(G3DSA:1.10.287.280)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.30.70.370" title="G3DSA:3.30.70.370"
           class="neutral">
    G3DSA:3.30.70...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA33070370-span-7"
      class="match gene3d uni"
      style="left:  96.311%;
              width: 3.426%;"
      title="G3DSA:3.30.70.370 732 - 757" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070370-popup-7" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>732 - 757</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.370' class="ext">G3DSA:3.30.70.370 </a>
            <span>(G3DSA:3.30.70.370)</span>
        </div>
    </div>


<span id="G3DSA33070370-span-8"
      class="match gene3d uni"
      style="left:  81.423%;
              width: 3.953%;"
      title="G3DSA:3.30.70.370 619 - 648" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA33070370-popup-8" style="display: none;">

        <div class="popup_topl"><span class="gene3d uni caption_puce"></span>619 - 648</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.30.70.370' class="ext">G3DSA:3.30.70.370 </a>
            <span>(G3DSA:3.30.70.370)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                            </li>
                            <li class="signature">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56672" title="SSF56672 (DNA/RNA polymerases)"
       class="neutral">
        SSF56672
</a>

            <span>(DNA/RNA p...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF56672-span-9"
      class="match superfamily uni"
      style="left:  25.296%;
              width: 74.44%;"
      title="SSF56672 193 - 757" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF56672-popup-9" style="display: none;">

        <div class="popup_topl"><span class="superfamily uni caption_puce"></span>193 - 757</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF56672' class="ext">SSF56672 </a>
            <span>(DNA/RNA polymerases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:13.175%;" title="100"></span>
            <span class="grade" style="left:26.35%;" title="200"></span>
            <span class="grade" style="left:39.526%;" title="300"></span>
            <span class="grade" style="left:52.701%;" title="400"></span>
            <span class="grade" style="left:65.876%;" title="500"></span>
            <span class="grade" style="left:79.051%;" title="600"></span>
            <span class="grade" style="left:92.227%;" title="700"></span>
            <span class="grade" style="left:100%;" title="759"></span>

    </div>

</div>
                            </li>
                    </ol>
                    <div class="bot-row-line-bot"></div>
                </div>
            </div>


<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006351"
                   class="ext">GO:0006351</a> transcription, DNA-templated
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003677"
                   class="ext">GO:0003677</a> DNA binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003899"
                   class="ext">GO:0003899</a> DNA-directed RNA polymerase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
