<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp10623_c0_seq1|m.39083 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >

    <div class="grid_5 alpha">
<div id="menu" style="display: none;">
    <div class="menu-filter">

        <h1>Filter view on</h1>

        <div class="menu-filter-type"><h1>Entry type</h1>

            <fieldset>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-2" value="Family-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-2" class="family">Family</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-3" value="Domain-row"
                           checked="checked" />
                    <label for="check-3" class="domains">Domains</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-4" value="Repeat-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-4" class="repeats">Repeats</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-5"
                           value="SITE-row Conserved_site-row PTM-row Binding_site-row Active_site-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-5" class="site">Site</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-status"><h1>Status</h1>

            <fieldset>
                <div class="disabled">
                    <input type="checkbox" name="type" id="check-6" value="unintegrated"
                           checked="checked" disabled="disabled"/>
                    <label for="check-6" class="uni">Unintegrated</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-colour">
            <div class="filter-colour-head">
                <div class="filter-colour-title-l">
                    Colour by
                </div>

            </div>
            <fieldset>
                <input type="radio" name="blobColour" id="domainColour" value="domainColour" checked="checked"/>
                <label for="domainColour">domain relationship</label> <br/>

                <input type="radio" name="blobColour" id="databaseColour" value="databaseColour"/>
                <label for="databaseColour">source database</label>
            </fieldset>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
// Read colour preference from cookie (requires http://plugins.jquery.com/project/Cookie)

            // Retrieve existing cookies and set checkbox states accordingly
            var checkBoxIDs = ["#check-2", "#check-3", "#check-4", "#check-5", "#check-6"];
            for (i = 0; i < checkBoxIDs.length; i++) {
                var checkBoxId = checkBoxIDs[i];
                var cookieVal = $.cookie(checkBoxId);
                if (cookieVal != null) {
                    $(checkBoxId).prop("checked", cookieVal == "true");
                }
            }

            // and the radio button group
            var radioCookieVal = $.cookie("colour-by-domain");
            if (radioCookieVal != null) {
                if (radioCookieVal == "true") {
                    $('#domainColour').prop("checked", true);
                }
                else {
                    $('#databaseColour').prop("checked", true);
                }
            }

            // Keep the filter menu in view
//            $("#menu").jScroll();
            // CSS switching
            configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour'); // initialise

            $('input[name="blobColour"]').change(function() {
                configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour');
            });

            // Change event for type checkboxes (Family, Domain etc.)
            $(".type").change(function() {
                displayType(this);
            });

            // Initialise types
            $(".type").each(function() {
                displayType(this);
            });

            // Change event for un-integrated sig matches checkbox
            $("#check-6").change(function() {
                displayUnintegrated(this);
            });

            // Initialise un-integrated.
            // TODO Work out how to do this without each! Only one thing with an ID of "check-6"!
            $("#check-6").each(function() {
                displayUnintegrated(this);
            });

        // Make the menu visible - Javascript is enabled.
        $("#menu").css('display', 'block');
    });
</script>
    </div>

    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp10623_c0_seq1|m.39083 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">397 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




        <h3>Protein family membership</h3>
        <p>None predicted.</p>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c53 Domain"
      style="left:  1.511%;
              width: 75.819%;"
      title="Domain 7 - 307" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c53 Domain caption_puce"></span>7 - 307
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR014013">Helicase superfamily 1/2, ATP-binding domain, DinG/Rad3-type</a><span> (IPR014013)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.594%;" title="50"></span>
                    <span class="grade" style="left:25.189%;" title="100"></span>
                    <span class="grade" style="left:37.783%;" title="150"></span>
                    <span class="grade" style="left:50.378%;" title="200"></span>
                    <span class="grade" style="left:62.972%;" title="250"></span>
                    <span class="grade" style="left:75.567%;" title="300"></span>
                    <span class="grade" style="left:88.161%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="397"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c7 Domain"
      style="left:  2.015%;
              width: 67.758%;"
      title="Domain 9 - 277" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c7 Domain caption_puce"></span>9 - 277
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR006554">Helicase-like, DEXD box c2 type</a><span> (IPR006554)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.594%;" title="50"></span>
                    <span class="grade" style="left:25.189%;" title="100"></span>
                    <span class="grade" style="left:37.783%;" title="150"></span>
                    <span class="grade" style="left:50.378%;" title="200"></span>
                    <span class="grade" style="left:62.972%;" title="250"></span>
                    <span class="grade" style="left:75.567%;" title="300"></span>
                    <span class="grade" style="left:88.161%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="397"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-3"
      class="match c4 Domain"
      style="left:  2.267%;
              width: 13.35%;"
      title="Domain 10 - 62" >
</span>
        <div id="supermatch-popup-3" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>10 - 62
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>




<span id="supermatch-span-4"
      class="match c4 Domain"
      style="left:  22.922%;
              width: 11.587%;"
      title="Domain 92 - 137" >
</span>
        <div id="supermatch-popup-4" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>92 - 137
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>




<span id="supermatch-span-5"
      class="match c4 Domain"
      style="left:  50.126%;
              width: 11.587%;"
      title="Domain 200 - 245" >
</span>
        <div id="supermatch-popup-5" style="display: none;">
        <div class="popup_topl">
            <span class="c4 Domain caption_puce"></span>200 - 245
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417">P-loop containing nucleoside triphosphate hydrolase</a><span> (IPR027417)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.594%;" title="50"></span>
                    <span class="grade" style="left:25.189%;" title="100"></span>
                    <span class="grade" style="left:37.783%;" title="150"></span>
                    <span class="grade" style="left:50.378%;" title="200"></span>
                    <span class="grade" style="left:62.972%;" title="250"></span>
                    <span class="grade" style="left:75.567%;" title="300"></span>
                    <span class="grade" style="left:88.161%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="397"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-6"
      class="match c7 Domain"
      style="left:  24.181%;
              width: 41.058%;"
      title="Domain 97 - 259" >
</span>
        <div id="supermatch-popup-6" style="display: none;">
        <div class="popup_topl">
            <span class="c7 Domain caption_puce"></span>97 - 259
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR010614">DEAD2</a><span> (IPR010614)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.594%;" title="50"></span>
                    <span class="grade" style="left:25.189%;" title="100"></span>
                    <span class="grade" style="left:37.783%;" title="150"></span>
                    <span class="grade" style="left:50.378%;" title="200"></span>
                    <span class="grade" style="left:62.972%;" title="250"></span>
                    <span class="grade" style="left:75.567%;" title="300"></span>
                    <span class="grade" style="left:88.161%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="397"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-7"
      class="match c49 Domain"
      style="left:  50.63%;
              width: 2.771%;"
      title="Domain 202 - 212" >
</span>
        <div id="supermatch-popup-7" style="display: none;">
        <div class="popup_topl">
            <span class="c49 Domain caption_puce"></span>202 - 212
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR000834">Peptidase M14, carboxypeptidase A</a><span> (IPR000834)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:12.594%;" title="50"></span>
                    <span class="grade" style="left:25.189%;" title="100"></span>
                    <span class="grade" style="left:37.783%;" title="150"></span>
                    <span class="grade" style="left:50.378%;" title="200"></span>
                    <span class="grade" style="left:62.972%;" title="250"></span>
                    <span class="grade" style="left:75.567%;" title="300"></span>
                    <span class="grade" style="left:88.161%;" title="350"></span>
                    <span class="grade" style="left:100%;" title="397"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:12.594%;"
                                  title="50"></span>
                                <span class="scale_numb"
                                      style="left:12.594%;">50</span>
                            <span class="scale_bar" style="left:25.189%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:25.189%;">100</span>
                            <span class="scale_bar" style="left:37.783%;"
                                  title="150"></span>
                                <span class="scale_numb"
                                      style="left:37.783%;">150</span>
                            <span class="scale_bar" style="left:50.378%;"
                                  title="200"></span>
                                <span class="scale_numb"
                                      style="left:50.378%;">200</span>
                            <span class="scale_bar" style="left:62.972%;"
                                  title="250"></span>
                                <span class="scale_numb"
                                      style="left:62.972%;">250</span>
                            <span class="scale_bar" style="left:75.567%;"
                                  title="300"></span>
                                <span class="scale_numb"
                                      style="left:75.567%;">300</span>
                            <span class="scale_bar" style="left:88.161%;"
                                  title="350"></span>
                                <span class="scale_numb"
                                      style="left:88.161%;">350</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="397"></span>
                                <span class="scale_numb"
                                      style="left:100%;">397</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR014013">IPR014013</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR014013"
                                                         class="neutral">Helicase superfamily 1/2, ATP-binding domain, DinG/Rad3-type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR014013-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS51193" title="PS51193 (HELICASE_ATP_BIND_2)"
       class="neutral">
        PS51193
</a>

            <span>(HELICASE_A...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS51193-span-1"
      class="match prosite-profiles c53 Domain"
      style="left:  1.511%;
              width: 75.819%;"
      title="PS51193 7 - 307" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS51193-popup-1" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c53 Domain caption_puce"></span>7 - 307</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS51193' class="ext">PS51193 </a>
            <span>(HELICASE_ATP_BIND_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.594%;" title="50"></span>
            <span class="grade" style="left:25.189%;" title="100"></span>
            <span class="grade" style="left:37.783%;" title="150"></span>
            <span class="grade" style="left:50.378%;" title="200"></span>
            <span class="grade" style="left:62.972%;" title="250"></span>
            <span class="grade" style="left:75.567%;" title="300"></span>
            <span class="grade" style="left:88.161%;" title="350"></span>
            <span class="grade" style="left:100%;" title="397"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR006554">IPR006554</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR006554"
                                                         class="neutral">Helicase-like, DEXD box c2 type</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR006554-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00488&amp;BLAST=DUMMY" title="SM00488 (DEXDc2)"
       class="neutral">
        SM00488
</a>

                <span>(DEXDc2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SM00488-span-2"
      class="match smart c7 Domain"
      style="left:  2.015%;
              width: 67.758%;"
      title="SM00488 9 - 277" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SM00488-popup-2" style="display: none;">

        <div class="popup_topl"><span class="smart c7 Domain caption_puce"></span>9 - 277</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SMART</b> <abbr class="icon icon-generic" data-icon="i" title="SMART (a Simple Modular Architecture Research Tool) uses hidden Markov models (HMMs) and allows the identification of genetically mobile domains and the analysis of domain architectures. These domains are extensively annotated with respect to phyletic distributions, functional class, tertiary structures and functionally important residues."></abbr> <br/>
            <a href='http://smart.embl-heidelberg.de/smart/do_annotation.pl?ACC=SM00488&amp;BLAST=DUMMY' class="ext">SM00488 </a>
            <span>(DEXDc2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.594%;" title="50"></span>
            <span class="grade" style="left:25.189%;" title="100"></span>
            <span class="grade" style="left:37.783%;" title="150"></span>
            <span class="grade" style="left:50.378%;" title="200"></span>
            <span class="grade" style="left:62.972%;" title="250"></span>
            <span class="grade" style="left:75.567%;" title="300"></span>
            <span class="grade" style="left:88.161%;" title="350"></span>
            <span class="grade" style="left:100%;" title="397"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR027417">IPR027417</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR027417"
                                                         class="neutral">P-loop containing nucleoside triphosphate hydrolase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR027417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/3.40.50.300" title="G3DSA:3.40.50.300"
           class="neutral">
    G3DSA:3.40.50...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA34050300-span-3"
      class="match gene3d c4 Domain"
      style="left:  6.297%;
              width: 8.564%;"
      title="G3DSA:3.40.50.300 26 - 59" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-3" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>26 - 59</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


<span id="G3DSA34050300-span-4"
      class="match gene3d c4 Domain"
      style="left:  22.922%;
              width: 11.587%;"
      title="G3DSA:3.40.50.300 92 - 137" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-4" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>92 - 137</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


<span id="G3DSA34050300-span-5"
      class="match gene3d c4 Domain"
      style="left:  50.63%;
              width: 11.083%;"
      title="G3DSA:3.40.50.300 202 - 245" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA34050300-popup-5" style="display: none;">

        <div class="popup_topl"><span class="gene3d c4 Domain caption_puce"></span>202 - 245</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/3.40.50.300' class="ext">G3DSA:3.40.50.300 </a>
            <span>(G3DSA:3.40.50.300)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.594%;" title="50"></span>
            <span class="grade" style="left:25.189%;" title="100"></span>
            <span class="grade" style="left:37.783%;" title="150"></span>
            <span class="grade" style="left:50.378%;" title="200"></span>
            <span class="grade" style="left:62.972%;" title="250"></span>
            <span class="grade" style="left:75.567%;" title="300"></span>
            <span class="grade" style="left:88.161%;" title="350"></span>
            <span class="grade" style="left:100%;" title="397"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR027417-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540" title="SSF52540 (P-loop containing nucleoside triphosphate hydrolases)"
       class="neutral">
        SSF52540
</a>

            <span>(P-loop co...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF52540-span-6"
      class="match superfamily c4 Domain"
      style="left:  2.267%;
              width: 13.35%;"
      title="SSF52540 10 - 62" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-6" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>10 - 62</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


<span id="SSF52540-span-7"
      class="match superfamily c4 Domain"
      style="left:  23.426%;
              width: 9.068%;"
      title="SSF52540 94 - 129" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-7" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>94 - 129</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


<span id="SSF52540-span-8"
      class="match superfamily c4 Domain"
      style="left:  50.126%;
              width: 11.083%;"
      title="SSF52540 200 - 243" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF52540-popup-8" style="display: none;">

        <div class="popup_topl"><span class="superfamily c4 Domain caption_puce"></span>200 - 243</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF52540' class="ext">SSF52540 </a>
            <span>(P-loop containing nucleoside triphosphate hydrolases)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.594%;" title="50"></span>
            <span class="grade" style="left:25.189%;" title="100"></span>
            <span class="grade" style="left:37.783%;" title="150"></span>
            <span class="grade" style="left:50.378%;" title="200"></span>
            <span class="grade" style="left:62.972%;" title="250"></span>
            <span class="grade" style="left:75.567%;" title="300"></span>
            <span class="grade" style="left:88.161%;" title="350"></span>
            <span class="grade" style="left:100%;" title="397"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR010614">IPR010614</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR010614"
                                                         class="neutral">DEAD2</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR010614-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF06733" title="PF06733 (DEAD_2)"
       class="neutral">
        PF06733
</a>

                <span>(DEAD_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF06733-span-9"
      class="match pfam c7 Domain"
      style="left:  24.181%;
              width: 41.058%;"
      title="PF06733 97 - 259" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF06733-popup-9" style="display: none;">

        <div class="popup_topl"><span class="pfam c7 Domain caption_puce"></span>97 - 259</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF06733' class="ext">PF06733 </a>
            <span>(DEAD_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.594%;" title="50"></span>
            <span class="grade" style="left:25.189%;" title="100"></span>
            <span class="grade" style="left:37.783%;" title="150"></span>
            <span class="grade" style="left:50.378%;" title="200"></span>
            <span class="grade" style="left:62.972%;" title="250"></span>
            <span class="grade" style="left:75.567%;" title="300"></span>
            <span class="grade" style="left:88.161%;" title="350"></span>
            <span class="grade" style="left:100%;" title="397"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR000834">IPR000834</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR000834"
                                                         class="neutral">Peptidase M14, carboxypeptidase A</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR000834-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00133" title="PS00133 (CARBOXYPEPT_ZN_2)"
       class="neutral">
        PS00133
</a>

            <span>(CARBOXYPEP...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00133-span-10"
      class="match prosite-patterns c49 Domain"
      style="left:  50.63%;
              width: 2.771%;"
      title="PS00133 202 - 212" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00133-popup-10" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns c49 Domain caption_puce"></span>202 - 212</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00133' class="ext">PS00133 </a>
            <span>(CARBOXYPEPT_ZN_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:12.594%;" title="50"></span>
            <span class="grade" style="left:25.189%;" title="100"></span>
            <span class="grade" style="left:37.783%;" title="150"></span>
            <span class="grade" style="left:50.378%;" title="200"></span>
            <span class="grade" style="left:62.972%;" title="250"></span>
            <span class="grade" style="left:75.567%;" title="300"></span>
            <span class="grade" style="left:88.161%;" title="350"></span>
            <span class="grade" style="left:100%;" title="397"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006508"
                   class="ext">GO:0006508</a> proteolysis
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003677"
                   class="ext">GO:0003677</a> DNA binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004003"
                   class="ext">GO:0004003</a> ATP-dependent DNA helicase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0004181"
                   class="ext">GO:0004181</a> metallocarboxypeptidase activity
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0005524"
                   class="ext">GO:0005524</a> ATP binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0008270"
                   class="ext">GO:0008270</a> zinc ion binding
                <br/>
            
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0016818"
                   class="ext">GO:0016818</a> hydrolase activity, acting on acid anhydrides, in phosphorus-containing anhydrides
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 7);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
