<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="text/html">
    <title>
    comp24_c0_seq0|m.138 - InterPro
    </title>
    <meta name="description" content="InterProScan result page: Protein matches and sequence features">
    <meta name="author" content="InterPro Team, European Bioinformatics Institute">


    <link href="resources/css/type_colours.css" rel="stylesheet" type="text/css"/>
    <link class="database" href="resources/css/database.css" rel="stylesheet" type="text/css"/>
    <link href="resources/javascript/qtip2/jquery.qtip.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/protein.css" rel="stylesheet" type="text/css"/>
    <script src="resources/javascript/jquery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="resources/javascript/qtip2/jquery.qtip.min.js" type="text/javascript"></script>
    <script src="resources/javascript/common.js" type="text/javascript"></script>
    <script src="resources/javascript/protein.js" type="text/javascript"></script>
    <script src="resources/javascript/protein-popups.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.cookie.js" type="text/javascript"></script>
    <script src="resources/javascript/jquery/jquery.jscroll.min.js" type="text/javascript"></script>

</head>
<body>
<div class="container_24">
<div class="grid_24 clearfix" id="content" >

    <div class="grid_5 alpha">
<div id="menu" style="display: none;">
    <div class="menu-filter">

        <h1>Filter view on</h1>

        <div class="menu-filter-type"><h1>Entry type</h1>

            <fieldset>
                <div >
                    <input type="checkbox" class="type" id="check-2" value="Family-row"
                           checked="checked" />
                    <label for="check-2" class="family">Family</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-3" value="Domain-row"
                           checked="checked" />
                    <label for="check-3" class="domains">Domains</label>
                </div>
                <div class="disabled">
                    <input type="checkbox" class="type" id="check-4" value="Repeat-row"
                           checked="checked" disabled="disabled"/>
                    <label for="check-4" class="repeats">Repeats</label>
                </div>
                <div >
                    <input type="checkbox" class="type" id="check-5"
                           value="SITE-row Conserved_site-row PTM-row Binding_site-row Active_site-row"
                           checked="checked" />
                    <label for="check-5" class="site">Site</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-status"><h1>Status</h1>

            <fieldset>
                <div class="disabled">
                    <input type="checkbox" name="type" id="check-6" value="unintegrated"
                           checked="checked" disabled="disabled"/>
                    <label for="check-6" class="uni">Unintegrated</label>
                </div>
            </fieldset>
        </div>

        <div class="menu-filter-colour">
            <div class="filter-colour-head">
                <div class="filter-colour-title-l">
                    Colour by
                </div>

            </div>
            <fieldset>
                <input type="radio" name="blobColour" id="domainColour" value="domainColour" checked="checked"/>
                <label for="domainColour">domain relationship</label> <br/>

                <input type="radio" name="blobColour" id="databaseColour" value="databaseColour"/>
                <label for="databaseColour">source database</label>
            </fieldset>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
// Read colour preference from cookie (requires http://plugins.jquery.com/project/Cookie)

            // Retrieve existing cookies and set checkbox states accordingly
            var checkBoxIDs = ["#check-2", "#check-3", "#check-4", "#check-5", "#check-6"];
            for (i = 0; i < checkBoxIDs.length; i++) {
                var checkBoxId = checkBoxIDs[i];
                var cookieVal = $.cookie(checkBoxId);
                if (cookieVal != null) {
                    $(checkBoxId).prop("checked", cookieVal == "true");
                }
            }

            // and the radio button group
            var radioCookieVal = $.cookie("colour-by-domain");
            if (radioCookieVal != null) {
                if (radioCookieVal == "true") {
                    $('#domainColour').prop("checked", true);
                }
                else {
                    $('#databaseColour').prop("checked", true);
                }
            }

            // Keep the filter menu in view
//            $("#menu").jScroll();
            // CSS switching
            configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour'); // initialise

            $('input[name="blobColour"]').change(function() {
                configureStylesheets($('input[name="blobColour"]:checked').attr('id') == 'domainColour');
            });

            // Change event for type checkboxes (Family, Domain etc.)
            $(".type").change(function() {
                displayType(this);
            });

            // Initialise types
            $(".type").each(function() {
                displayType(this);
            });

            // Change event for un-integrated sig matches checkbox
            $("#check-6").change(function() {
                displayUnintegrated(this);
            });

            // Initialise un-integrated.
            // TODO Work out how to do this without each! Only one thing with an ID of "check-6"!
            $("#check-6").each(function() {
                displayUnintegrated(this);
            });

        // Make the menu visible - Javascript is enabled.
        $("#menu").css('display', 'block');
    });
</script>
    </div>

    <div class="grid_19 omega main-content">
        <div class="tab">
            <div class="Protein_tab">Protein</div>
        </div>

        <div class="main-box">
                <h2 class="strapline">comp24_c0_seq0|m.138 </h2>
<div class="prot_gal">


    <div class="prot_gal_bloc">
        <div class="prot_gal_col"><b>Length</b></div>
        <div class="prot_gal_desc">175 amino acids
        </div>
    </div>

    <br/>
    <hr/>
</div>




          <h3>Protein family membership</h3>
          <div class="Family rel_tree"><ul><li><a href="http://www.ebi.ac.uk/interpro/entry/IPR024936">Cyclophilin-type peptidyl-prolyl cis-trans isomerase</a><span> (IPR024936)</span></li></ul></div>



    <h3>Domains and repeats</h3>


    <div class="prot_sum">
    <div class="bot-row">
        <div class="bot-row-line-top"></div>
        <ol class="signatures">



    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-1"
      class="match c11 Domain"
      style="left:  1.143%;
              width: 98.286%;"
      title="Domain 3 - 174" >
</span>
        <div id="supermatch-popup-1" style="display: none;">
        <div class="popup_topl">
            <span class="c11 Domain caption_puce"></span>3 - 174
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR029000">Cyclophilin-like domain</a><span> (IPR029000)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.429%;" title="20"></span>
                    <span class="grade" style="left:22.857%;" title="40"></span>
                    <span class="grade" style="left:34.286%;" title="60"></span>
                    <span class="grade" style="left:45.714%;" title="80"></span>
                    <span class="grade" style="left:57.143%;" title="100"></span>
                    <span class="grade" style="left:68.571%;" title="120"></span>
                    <span class="grade" style="left:80%;" title="140"></span>
                    <span class="grade" style="left:91.429%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="175"></span>

            </div>
        </div>
    </li>
    <li class="signature entry-signatures">
        <div class="bot-row-signame">Domain</div>
        <div class="bot-row-line">
            <div class="matches">


<span id="supermatch-span-2"
      class="match c22 Domain"
      style="left:  5.143%;
              width: 93.714%;"
      title="Domain 10 - 173" >
</span>
        <div id="supermatch-popup-2" style="display: none;">
        <div class="popup_topl">
            <span class="c22 Domain caption_puce"></span>10 - 173
        </div>
        <div class="rel_tree"><ul><li class="Domain" ><a href="http://www.ebi.ac.uk/interpro/entry/IPR002130">Cyclophilin-type peptidyl-prolyl cis-trans isomerase domain</a><span> (IPR002130)</span></li></ul></div>
    </div>



                    <span class="grade" style="left:0%;" title="0"></span>
                    <span class="grade" style="left:11.429%;" title="20"></span>
                    <span class="grade" style="left:22.857%;" title="40"></span>
                    <span class="grade" style="left:34.286%;" title="60"></span>
                    <span class="grade" style="left:45.714%;" title="80"></span>
                    <span class="grade" style="left:57.143%;" title="100"></span>
                    <span class="grade" style="left:68.571%;" title="120"></span>
                    <span class="grade" style="left:80%;" title="140"></span>
                    <span class="grade" style="left:91.429%;" title="160"></span>
                    <span class="grade" style="left:100%;" title="175"></span>

            </div>
        </div>
    </li>

        </ol>
        <div class="bot-row-line-bot"></div>
    </div>

    <div class="prot_scale">
        <div class="bot-row">

            <div class="bot-row-line">
                <div style="position:relative;">
                            <span class="scale_bar" style="left:0%;"
                                  title="1"></span>
                                <span class="scale_numb"
                                      style="left:1%;">1</span>
                            <span class="scale_bar" style="left:11.429%;"
                                  title="20"></span>
                                <span class="scale_numb"
                                      style="left:11.429%;">20</span>
                            <span class="scale_bar" style="left:22.857%;"
                                  title="40"></span>
                                <span class="scale_numb"
                                      style="left:22.857%;">40</span>
                            <span class="scale_bar" style="left:34.286%;"
                                  title="60"></span>
                                <span class="scale_numb"
                                      style="left:34.286%;">60</span>
                            <span class="scale_bar" style="left:45.714%;"
                                  title="80"></span>
                                <span class="scale_numb"
                                      style="left:45.714%;">80</span>
                            <span class="scale_bar" style="left:57.143%;"
                                  title="100"></span>
                                <span class="scale_numb"
                                      style="left:57.143%;">100</span>
                            <span class="scale_bar" style="left:68.571%;"
                                  title="120"></span>
                                <span class="scale_numb"
                                      style="left:68.571%;">120</span>
                            <span class="scale_bar" style="left:80%;"
                                  title="140"></span>
                                <span class="scale_numb"
                                      style="left:80%;">140</span>
                            <span class="scale_bar" style="left:91.429%;"
                                  title="160"></span>
                                <span class="scale_numb"
                                      style="left:91.429%;">160</span>
                            <span class="scale_bar" style="left:100%;"
                                  title="175"></span>
                                <span class="scale_numb"
                                      style="left:100%;">175</span>
                </div>
            </div>

        </div>
    </div>

    </div>



    <h3>Detailed signature matches</h3>


        <div class="prot_entries">
            <ol class="entries">
                    <li class="entry Family-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_family_small.png"
                                                         alt="Family" title="Family"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR024936">IPR024936</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR024936"
                                                         class="neutral">Cyclophilin-type peptidyl-prolyl cis-trans isomerase</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR024936-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF001467" title="PIRSF001467 (Peptidylpro_ismrse)"
       class="neutral">
        PIRSF001467
</a>

            <span>(Peptid...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PIRSF001467-span-1"
      class="match pirsf Family"
      style="left:  1.143%;
              width: 98.857%;"
      title="PIRSF001467 3 - 175" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PIRSF001467-popup-1" style="display: none;">

        <div class="popup_topl"><span class="pirsf Family caption_puce"></span>3 - 175</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PIRSF</b> <abbr class="icon icon-generic" data-icon="i" title="PIRSF is a hierarchical classification system based on the 'homeomorphic family' principle. Members are both homologous (evolved from a common ancestor) and homeomorphic (sharing full-length sequence similarity and common domain architecture). PIRSF subfamilies are clusters representing functional specialization and/or domain architecture variation within the family."></abbr> <br/>
            <a href='http://pir.georgetown.edu/cgi-bin/ipcSF?id=PIRSF001467' class="ext">PIRSF001467 </a>
            <span>(Peptidylpro_ismrse)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR029000">IPR029000</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR029000"
                                                         class="neutral">Cyclophilin-like domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR029000-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
        <a href="http://www.cathdb.info/superfamily/2.40.100.10" title="G3DSA:2.40.100.10"
           class="neutral">
    G3DSA:2.40.10...
</a>


</div>
<div class="bot-row-line">
    <div class="matches">



<span id="G3DSA24010010-span-2"
      class="match gene3d c11 Domain"
      style="left:  1.143%;
              width: 98.286%;"
      title="G3DSA:2.40.100.10 3 - 174" >
</span>

    <script type="text/javascript">

    </script>

    <div id="G3DSA24010010-popup-2" style="display: none;">

        <div class="popup_topl"><span class="gene3d c11 Domain caption_puce"></span>3 - 174</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>GENE3D</b> <abbr class="icon icon-generic" data-icon="i" title="Gene3D HMMs extended predictions of CATH protein structures."></abbr> <br/>
            <a href='http://www.cathdb.info/superfamily/2.40.100.10' class="ext">G3DSA:2.40.100.10 </a>
            <span>(G3DSA:2.40.100.10)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR029000-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50891" title="SSF50891 (Cyclophilin-like)"
       class="neutral">
        SSF50891
</a>

            <span>(Cyclophil...)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="SSF50891-span-3"
      class="match superfamily c11 Domain"
      style="left:  1.143%;
              width: 98.286%;"
      title="SSF50891 3 - 174" >
</span>

    <script type="text/javascript">

    </script>

    <div id="SSF50891-popup-3" style="display: none;">

        <div class="popup_topl"><span class="superfamily c11 Domain caption_puce"></span>3 - 174</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>SUPERFAMILY</b> <abbr class="icon icon-generic" data-icon="i" title="SUPERFAMILY is a library of profile hidden Markov models that represent all proteins of known structure. The library is based on the SCOP classification of proteins. Models correspond to SCOP domains at the superfamily level and a hybrid method subsequently sub-classifies domains at the family level. SUPERFAMILY provides its structural assignments at both levels to all completely sequenced genomes."></abbr> <br/>
            <a href='http://supfam.cs.bris.ac.uk/SUPERFAMILY/cgi-bin/scop.cgi?ipid=SSF50891' class="ext">SSF50891 </a>
            <span>(Cyclophilin-like)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry Domain-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_domain_small.png"
                                                         alt="Domain" title="Domain"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR002130">IPR002130</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR002130"
                                                         class="neutral">Cyclophilin-type peptidyl-prolyl cis-trans isomerase domain</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR002130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off" title="PR00153 (CSAPPISMRASE)"
       class="neutral">
        PR00153
</a>

                <span>(CSAPPISMRASE)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PR00153-span-4"
      class="match prints c22 Domain"
      style="left:  35.429%;
              width: 7.429%;"
      title="PR00153 63 - 75" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-4" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>63 - 75</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-5"
      class="match prints c22 Domain"
      style="left:  60%;
              width: 9.143%;"
      title="PR00153 106 - 121" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-5" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>106 - 121</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-6"
      class="match prints c22 Domain"
      style="left:  76%;
              width: 9.143%;"
      title="PR00153 134 - 149" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-6" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>134 - 149</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-7"
      class="match prints c22 Domain"
      style="left:  68.571%;
              width: 7.429%;"
      title="PR00153 121 - 133" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-7" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>121 - 133</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


<span id="PR00153-span-8"
      class="match prints c22 Domain"
      style="left:  14.857%;
              width: 9.143%;"
      title="PR00153 27 - 42" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PR00153-popup-8" style="display: none;">

        <div class="popup_topl"><span class="prints c22 Domain caption_puce"></span>27 - 42</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PRINTS</b> <abbr class="icon icon-generic" data-icon="i" title="PRINTS is a compendium of protein fingerprints. A fingerprint is a group of conserved motifs used to characterise a protein family; its diagnostic power is refined by iterative scanning of OWL. Usually the motifs do not overlap, but are separated along a sequence, though they may be contiguous in 3D-space. Fingerprints can encode protein folds and functionalities more flexibly and powerfully than can single motifs: the database thus provides a useful adjunct to PROSITE."></abbr> <br/>
            <a href='http://www.bioinf.manchester.ac.uk/cgi-bin/dbbrowser/sprint/searchprintss.cgi?prints_accn=PR00153&amp;display_opts=Prints&amp;category=None&amp;queryform=false&amp;regexpr=off' class="ext">PR00153 </a>
            <span>(CSAPPISMRASE)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS50072" title="PS50072 (CSA_PPIASE_2)"
       class="neutral">
        PS50072
</a>

                <span>(CSA_PPIASE_2)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS50072-span-9"
      class="match prosite-profiles c22 Domain"
      style="left:  5.143%;
              width: 93.714%;"
      title="PS50072 10 - 173" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS50072-popup-9" style="display: none;">

        <div class="popup_topl"><span class="prosite-profiles c22 Domain caption_puce"></span>10 - 173</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE profiles</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS50072' class="ext">PS50072 </a>
            <span>(CSA_PPIASE_2)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>

                                    <li id="IPR002130-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://pfam.sanger.ac.uk/family/PF00160" title="PF00160 (Pro_isomerase)"
       class="neutral">
        PF00160
</a>

                <span>(Pro_isomerase)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PF00160-span-10"
      class="match pfam c22 Domain"
      style="left:  5.714%;
              width: 92.571%;"
      title="PF00160 11 - 172" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PF00160-popup-10" style="display: none;">

        <div class="popup_topl"><span class="pfam c22 Domain caption_puce"></span>11 - 172</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>Pfam</b> <abbr class="icon icon-generic" data-icon="i" title="Pfam is a collection of protein family alignments which were constructed semi-automatically using hidden Markov models (HMMs). Sequences that were not covered by Pfam were clustered and aligned automatically, and are released as Pfam-B. Pfam families have permanent accession numbers and contain functional annotation and cross-references to other databases, while Pfam-B families are re-generated at each release and are unannotated."></abbr> <br/>
            <a href='http://pfam.sanger.ac.uk/family/PF00160' class="ext">PF00160 </a>
            <span>(Pro_isomerase)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
                    <li class="entry SITE-row">

                        <div class="top-row">
                            <div class="top-row-id"><img src="resources/images/ico_type_site_small.png"
                                                         alt="SITE" title="SITE"/> <a
                                    href="http://www.ebi.ac.uk/interpro/entry/IPR020892">IPR020892</a></div>
                            <div class="top-row-name"><a href="http://www.ebi.ac.uk/interpro/entry/IPR020892"
                                                         class="neutral">Cyclophilin-type peptidyl-prolyl cis-trans isomerase, conserved site</a></div>
                        </div>

                        <div class="bot-row">
                            <div class="bot-row-line-top"></div>
                            <ol class="signatures" style="border:0px solid pink;">


                                    <li id="IPR020892-signatures" class="signature entry-signatures">
<div class="bot-row-signame">
    <a href="http://www.expasy.org/prosite/PS00170" title="PS00170 (CSA_PPIASE_1)"
       class="neutral">
        PS00170
</a>

                <span>(CSA_PPIASE_1)</span>

</div>
<div class="bot-row-line">
    <div class="matches">



<span id="PS00170-span-11"
      class="match prosite-patterns SITE"
      style="left:  32.571%;
              width: 10.286%;"
      title="PS00170 58 - 75" >
</span>

    <script type="text/javascript">

    </script>

    <div id="PS00170-popup-11" style="display: none;">

        <div class="popup_topl"><span class="prosite-patterns SITE caption_puce"></span>58 - 75</div>
        <div class="popup_botl" style="font-size:88%;">
            <b>PROSITE patterns</b> <abbr class="icon icon-generic" data-icon="i" title="PROSITE consists of documentation entries describing protein domains, families and functional sites, as well as associated patterns and profiles to identify them. Profiles and patterns are constructed from manually edited seed alignments. PROSITE is complemented by ProRule, a collection of rules based on profiles and patterns, which increases the discriminatory power of profiles and patterns by providing additional information about functionally and/or structurally critical amino acids."></abbr> <br/>
            <a href='http://www.expasy.org/prosite/PS00170' class="ext">PS00170 </a>
            <span>(CSA_PPIASE_1)</span>
        </div>
    </div>


            <span class="grade" style="left:0%;" title="0"></span>
            <span class="grade" style="left:11.429%;" title="20"></span>
            <span class="grade" style="left:22.857%;" title="40"></span>
            <span class="grade" style="left:34.286%;" title="60"></span>
            <span class="grade" style="left:45.714%;" title="80"></span>
            <span class="grade" style="left:57.143%;" title="100"></span>
            <span class="grade" style="left:68.571%;" title="120"></span>
            <span class="grade" style="left:80%;" title="140"></span>
            <span class="grade" style="left:91.429%;" title="160"></span>
            <span class="grade" style="left:100%;" title="175"></span>

    </div>

</div>
                                    </li>
                            </ol>
                            <div class="bot-row-line-bot"></div>
                        </div>
                    </li>
            </ol>
        </div>



<h3>GO term prediction</h3>

<div class="prot_go">

    <div class="go_terms">
        <h4>Biological Process</h4>
        <div class="go_terms_box">

            <p>
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0000413"
                   class="ext">GO:0000413</a> protein peptidyl-prolyl isomerization
                <br/>
            
            <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0006457"
                   class="ext">GO:0006457</a> protein folding
                <br/>
            </p>
        </div>

        <h4>Molecular Function</h4>
        <div class="go_terms_box">

        <p>
              <a href="http://www.ebi.ac.uk/QuickGO/GTerm?id=GO:0003755"
                   class="ext">GO:0003755</a> peptidyl-prolyl cis-trans isomerase activity
                <br/>
            </p>
        </div>

        <h4>Cellular Component</h4>
        <div class="go_terms_box">

        <p></p>
                <p>None predicted.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
            // Use hidden DIVs to display popups
            $('span[id*="span-"]').each(
                    function(i) {
                            preparePopup(this.id, 2);
                    }
            );
    });
</script>

        </div>
    </div>


</div>
</div>
</body>
</html>
