@charset "utf-8";
/*
Marpodb Stylesheet
Author : Bernardo Pollak
*/


ul {
  margin: 0;
}

body{
	height:100%;
	  /*overflow-x: hidden;*/
	background: #444;
	color: #48a770;
}

.left{
	float: left;
	padding-left: 10px;
}

.right{
	float: right;
	padding-right: 10px;
}

#flashMessage{
	z-index: 100;
	height: 30px;
	padding-top: 0px;
	position: relative;
	width: 100%;
	color: white;
	background-color: #666;
	padding-left: 10px;
	-moz-animation: hideFlash 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideFlash 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideFlash 0s ease-in 5s forwards;
    /* Opera */
    animation: hideFlash 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flashes{
	padding-top: 5px;
}
@keyframes hideFlash {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideFlash {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

#container{
	min-height:100%;
	position: absolute;
	width: 100%;
	padding-bottom: 120px;
}

html,body,div,p,input,button,select,textarea,th,td,li,h1,h2,h3,h4,label {
  font-family: Lato, Helvetica, Arial, Sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
}

p { line-height: 160% }

h1{
  text-align: center;
}

.title{
    margin-top: 60px;
    color: #777;
	font-family: Lato, Helvetica, Arial, Sans-serif;
}


/* Sidebar */

.top-container{
	height: 100%;
	position: relative;
	overflow: hidden;
}

.pusher{
	height: 100%;
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.pusher::after{
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(1,1,1,1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.content{
	position: relative;
	height: 100%;
	overflow-y: scroll;
	background: #f3efe0;
}

.content-inner{
	position: relative;
}


/* Index and Search engine */

#blast-link{
	float:right;
	padding-right: 5px;
}

#form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#search-field{
	position:relative;
	width: 100%;
	height: 25px;
	border-radius: 5px; 
	outline:0;
	border: 1px solid #CCC; 
}

#search-button{
	position: relative;
	float: right;
	width: 100px;
	height: 26px;
	border: 1px solid #777;
	border-radius: 9px;
	top: -25px;
}

#search-button:hover{
	color : white;
	background-color: #777;
}

#search-scope{
	padding-left: 5px;
	font-size: 12px;
}

.logo{
  position: relative;
  left:50%;
  width: 200px;
  margin-top: 10px;
  margin-left: -100px;
}

#map{
	display:block;
	width: 1000px;
	margin: auto;
}

/* BLAST query */

#query-field{
	position:relative;
	width: 20%;
	height: 25px;
	border-radius: 5px; 
	outline:0;
	border: 1px solid #CCC; 
}
#blast-search{
	width: 100%;
	min-height : 100px;
    border-radius: 5px; 
    border: 1px solid #CCC; 
    outline:0;
	text-align: left;
	vertical-align: super;
	overflow-y: scroll;
	margin-bottom: 5px;
}

#blast-button{
	position: relative;
	width: 100px;
	height: 26px;
	top:-1px;
}
#parameters{
	width: 100%;
	margin-bottom: 14px;
}
#fields{
	width: 80px;
	font-size: 10px;
	padding-left: 4px;
	line-height: 4px;
	float: left; 
}
#fields_matrix{
	width: 105px;
	font-size: 10px;
	padding-left: 4px;
	line-height: 4px;
	float: left; 
}
#fields_perc{
	width: 80px;
	font-size: 10px;
	padding-left: 4px;
	line-height: 4px;
	float: left; 
}
#selector{
	width: 70px;
	margin-right: 10px;
	float: left;
}

#selector_matrix{
	width: 95px;
	margin-right: 10px;
	float: left;
}
#selector_perc{
	width: 70px;
	margin-right: 10px;
	float: left;
}

#blast-button:hover{
	color : white;
	background-color: #777;
}

#blast_results{
	width:680px;
	margin-left: auto;
	margin-right: auto;
}

/* Results table */

#table{
	padding-left: 100px;
	padding-right: 100px;
	font-size: 12px;
}

.tdheader {
	height: 30px;
	font-weight: bolder;
}

.header:hover {
	background-color: #EEE;
}

.header:hover #truncate{
	text-overflow:clip;
	white-space: normal;
	height: 50px;
}


#truncate{
	text-overflow: ellipsis;
	height: 30px;
	max-width: 0;
	white-space: nowrap;
    overflow: hidden;
}

/*Top*/

#top-table{
	margin: auto;
	width: 500px;
	font-size: 12px;
}

/* Details */


.geneView {
	position: relative;
	margin-top: 80px;
	text-align: center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.seqView{
	position: relative;
	margin-top: 10px;
	width: 940px;
	margin:auto;
}

#clipboard{
	width: 890px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	top: -40px;
	
}

#clipboard .btn{
	font-family: Lato, Helvetica, Arial, Sans-serif;
	border: 1px solid #777;
	float: right;
	margin-left: 10px;
	border-radius: 9px;
}

#clipboard .tooltipped {
    position: relative
}

#clipboard .tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px / 1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

#clipboard .tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

#clipboard .tooltipped:hover:before, #clipboard .tooltipped:hover:after,#clipboard .tooltipped:active:before,
#clipboard .tooltipped:active:after, #clipboard .tooltipped:focus:before,#clipboard .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

#clipboard .tooltipped-s:after,#clipboard .tooltipped-se:after,#clipboard .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px
}

#clipboard .tooltipped-s:before,#clipboard .tooltipped-se:before,#clipboard .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8)
}

.subtitle{
	margin-left: 100px;
	font-size: 24px;
}

#description{
  font: 14px;
  color: #777;
}

#canvas{
}

.blastCanvas{
	padding: 0;
    margin: auto;
    display: block;
    width: 1000px;
}


#code {
   border-radius:5px;
}

.code {
  margin-bottom: 10px;
}

/* Sequence-viewer */

#sequence-viewer{
	margin-left:auto;
	margin-right:auto;
	width:960px;	
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid;
}

.footer{
	position: relative;
	top: 400px;
	width: 100px;
	background-color: #000;
}

p.footer-text{
	color: #FFF;
	font-size: 14px;
}
/*#footer{
	position:absolute;
   	bottom:0;
	width: 100%;
	height: 100px;
	background-color: #222;
	color:white;
}
.footer-right {
	padding-top: 5px;
	padding-right: 10px;
	float:right;
}
.footer-left {
	padding-top: 5px;
	padding-left: 10px;
	float:left;
}*/

/* Login fields and registration form */
#login-header{
	height: 31px;
	width: 100%;
	text-align: right;
	padding-top: 3px;
	border-bottom: 1px solid #ccc; 
	background-color: #eee;
	
}

#login-header a{
	padding-top: 3px;
	margin-right: 10px;
}

#login-header form label{
	font-family: Lato, Helvetica, Arial, Sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-right: 3px;
}


form input#username, form input#password, form input#email, form input#affiliation {
	background-color: #fafafa;
	border-radius: 5px; 
	outline: 0;
	border: 1px solid #CCC; 
	margin-right: 10px;
}

#button{
	border: 1px solid #777;
	border-radius: 9px;
	height: 24px;
	width: 70px;
	margin-right: 10px;
}
#button:hover{
	color : white;
	background-color: #777;
}

#registration_form{
	position: relative;
	width: 245px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
#registration_form p{
	float: left;
	width: 100%;
}
#registration_form label{
	width: 80px;
	font-family: Lato, Helvetica, Arial, Sans-serif;
	font-weight: normal;
	font-style: normal;
}

.errors{
	font-size: 10px;
	list-style-type: none;
	color: red;
}

#star_img{
	height: 30px;
	width: 30px;
	margin-top: -6px;
}
