@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
/* General */

*::after,
*::before{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: Lato, Helvetica, Arial, Sans-serif;
	font-weight: normal;
	color: #777;
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	position: relative;
	width: auto !important; 
	height: 100%;
	margin:0;
	min-width: 1000px;
}

input.text-input{
	background-color: #fafafa;
	border-radius: 5px; 
	outline: 0;
	border: 1px solid #CCC;
	font-size: 14px;
}

h1{
	position: relative;
	text-align: center;
	margin:0 0 20px;
	font-size:36px;
	padding-bottom: 20px;
}

h2{
	margin-top: 20px;
	margin-bottom: 10px;
}

h2.subtitle{
	position: relative;
	text-align: center;
	margin:0 0 20px;
	font-size:25px;
	padding-bottom: 20px;
}

h2.section{
	font-size: 25px;
	color:#39c;
  font-weight:400;
}

h2.section a{
	color:#39c;
}

h2.section:hover a{
	color: black;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

table{
	border: 0;
	width: 100%;
	border-spacing: 0;
}

th, td {
	text-align:left;
	border: 0;
	border-bottom:1px solid #e5e5e5;
	font-size: 15px;

}

.left{
	float: left;
}

.right{
	float: right;
}

.center-form{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.hidden{
	display: none;
}

.small-label{
	font-size: 12px;
}

.big-label{
	font-size: 16px;
	margin-bottom: 7px;
}

.button{
	border: 1px solid #777;
	border-radius: 9px;
	background-color: #BBB;
	font-size: 12px;
	font-weight: 600;
	color: #555;
	width: auto;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
}

.button:disabled{
	color: #AAA;
}
.button:hover:disabled{
	color: #AAA;
	background-color: #BBB;
}

.button:hover{
	color : white;
	background-color: #777;
}

.logo{
  position: relative;
  left:50%;
  width: 200px;
  margin-top: 10px;
  margin-left: -100px;
}

.help{
	display: block;
    margin: 0 auto;
	width: 800px;
}

/* Layout */

.layout-test{
	position: relative;
	height: 100%;
	background-color: #777;
}

.container{
	padding-top: 40px;
	position: relative;
}

.top-container{
	position: relative;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
}

.pusher{
	position: relative;
	height: 100%;
	z-index: 99;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.pusher::after{
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.sidebar-open .pusher::after{
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.content{
	position: relative;
	height: 100%;
}

.content-inner{
	position: relative;
	height: 100%;
}

.sidebar{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 200px;
	height: 100%;
	background: #000;
	padding-top: 50px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.sidebar ul{
	position: relative;
	width: 100%;
	margin-left: auto;
	list-style: none;
	padding-right: 0;
	margin-top: 20px;
	margin-bottom: 20px
}

.sidebar h1{
	color: #FFF;
	font-size: 20px;
	padding-bottom: 0px;
}

.sidebar li{
	padding-right: 0;
	text-align: center;
}

.sidebar li:hover{
	background-color: #777;
}

.sidebar a{
	color: #FFF;
	width: 100%;
	display: block;
}

.sidebar-open .pusher{
	-webkit-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
}

.sidebar-open .sidebar{
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.sidebar-button{
	padding-right: 10px;
}

.footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 80px;
	background-color: #222;
	color:white;
	padding: 5px;
}

.footer-text {
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
	padding: 5px;
}

/* Flash messages */

#flashMessage{
	position: relative;
	z-index: 100;
	height: 30px;
	padding-top: 0px;
	width: 100%;
	background-color: #666;
	padding-left: 10px;
	-moz-animation: hideFlash 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: hideFlash 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: hideFlash 0s ease-in 5s forwards;
    /* Opera */
    animation: hideFlash 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.flashes{
	padding-top: 5px;
	color: white;
}

@keyframes hideFlash {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes hideFlash {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/* Header */

.login-header{
	height: 31px;
	width: 100%;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc; 
	background-color: #eee;
}


#login-button{
	position: relative;
	width:100px;
	height: 20px;
	padding-bottom: 1px;
	top: -2px;
}

/* Query */

.query-blast-link{
	float:right;
	padding-right: 5px;
}

.query-form label{
	padding-left: 5px;
}

#search-button{
	position: relative;
	width: 100px;
	height: 26px;
	top: -10px;
}

.query-search-field{
	position:relative;
	width: 100%;
	height: 25px;
	padding-left: 5px;
}

/* Tables */

.results-table{
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
}

.tdheader {
	height: 30px;
	font-weight: bolder;
}

.header:hover {
	background-color: #EEE;
}

.header:hover .truncate{
	text-overflow:clip;
	white-space: normal;
	height: 50px;
}


.truncate{
	text-overflow: ellipsis;
	height: 30px;
	max-width: 0;
	white-space: nowrap;
    overflow: hidden;
}

.hit,
.gene,
.part{
	display: none;
}

.hit .ident{
	width: 80px;
	display: inline-block;
}

.gene .ident{
	width: 20px;
	display: inline-block;
}

.part .ident{
	width: 40px;
	display: inline-block;
}

/* Details */

.gene-details{
	position: relative;
	width:940px;
	margin: auto;
	padding-bottom: 100px;
}

.geneView {
	margin-top: 80px;
	text-align: center;
	width: 80%;
	margin: auto;
}

.seqView{
	position: relative;
	margin-top: 10px;
	width: 940px;
	margin:auto;
	}

.seqView span{
	font-family: monospace;
	font-size: 13px inherit;
}

.geneStucture{
	margin-bottom: 50px;
}

#star_img{
	height: 30px;
	width: 30px;
	margin-top: -6px;
}
.clipboard{
	margin-right: 41px;
}

#clipboard .button{
	height: 20px;
	width: 100px;
}

#clipboard .tooltipped {
    position: relative;
}

#clipboard .tooltipped::after {
    position: absolute;
    z-index: 1000000;
    padding: 5px 8px;
    top:100%;
    right:50%;
    /*font: normal normal 11px / 1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";*/
    color: #fff;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.blast-canvas-container{
	width: 200px;
	height: 30px;
}

.blast-canvas-container canvas {
	width: 100%;
	height:20px;
}



/* HMMER */

.hmmer-input{
	display: inline-block;
}

.hmmer-button{
	position: relative;
	width: 100px;
	height: 26px;
}
.hmmer-form{
	text-align: center;
}

/* Blast */

.blast-form{
	position: relative;
	margin: auto;
	margin-top: 20px;
	width: 50%;
}

.blast-search{
	position: relative;
	width: 100%;
	min-height : 200px;
	border-radius: 5px;
	border: 1px solid #CCC; 
	outline:0;
	text-align: left;
	vertical-align: super;
	overflow-y: scroll;
	margin-bottom: 5px;
}

.blast-parameters{
	position: relative;
	width: 300px;
	border-spacing:5px;
}

.blast-parameters th, td{
	border-bottom: none;
}

.e-col{
	width: 50px;
}

.p-col{
	width: 75px;
}

.blast-button{
	position: relative;
	width: 100px;
	height: 26px;
	top:-30px;
}

#blast_results table tr tt{
	font-family: monospace;
}

/* Registration */

.registration-form{	
	width: 245px;
}

.registration-error li{
	color: red;
}

.registration-form label{
	display: inline-block;
	width: 80px;
}

#registration-button{
	position: relative;
	height: 25px;
	width: 60px;
	top: 5px;
	margin: auto;
}

/* MAP */

.map{
	position: relative;
	width: 80%;
	max-width: 1000px;
	display: block;
	margin: auto;
}


.sidebar_links{
	padding-top: 3px;
	padding-bottom: 5px;
}
.about_link{
	padding-left: 5px;
	padding-right: 10px;
}

a:hover{
	color:black;
}

.pull-right {
    float: right !important
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
	
}
.about{
	width: 800px;
	margin-left: auto;
	margin-right: auto;	
}

.about_text{
    
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify;
}
