biopython==1.64
Flask==0.10.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Session==0.3.0
Flask-SQLAlchemy==2.1
Flask-User==0.6.8
Flask-WTF==0.12
Jinja2==2.8
psycopg2==2.6.1
pillow==8.1.1
requests==2.11.1
bcbio-gff==0.6.4
